//
// Visibility by Devices (based on breakpoints)
//

@media (max-width: $screen-sm-max) {
	.elementor-hidden-phone, .elementor-visible-tablet, .elementor-visible-desktop {
		display: none;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
	.elementor-hidden-tablet, .elementor-visible-phone, .elementor-visible-desktop {
		display: none;
	}
}

@media (min-width: $screen-lg-min) {
	.elementor-hidden-desktop, .elementor-visible-phone, .elementor-visible-tablet {
		display: none;
	}
}

.elementor-hidden {
	display: none;
}
