//
// Visibility by Devices (based on breakpoints)
//

.elementor-screen-sm-max {
	.elementor-hidden-phone {
		display: none;
	}
}

.elementor-screen-md-min.elementor-screen-md-max {
	.elementor-hidden-tablet {
		display: none;
	}
}

.elementor-screen-lg-min {
	.elementor-hidden-desktop {
		display: none;
	}
}

.elementor-hidden {
	display: none;
}
