#wp-admin-bar-elementor_edit_page {

	> .ab-item::before {
		content: "\e813";
		font-family: eicons;
		top: 3px;
		font-size: 18px;
	}

	.ab-submenu {
		.ab-item {
			display: flex;
			width: 200px;
		}
	}

	.elementor-edit-link-title {
		@include ellipsis;
		width: 100%;
	}

	.elementor-edit-link-type {
		background: $gray-dark;
		font-size: 11px;
		line-height: 9px;
		margin-top: 6px;
		padding: 4px 8px;
		border-radius: 3px;
	}
}

#wp-admin-bar-elementor_inspector > .ab-item::before {
	content: "\f348";
	top: 2px;
}

//Reset WP Admin for Theme Style support
#wpadminbar * {
	font-style: normal;
}
