#elementor-device-mode {

	&:after {

		@media (min-width: $screen-widescreen-min) {
			content: 'widescreen';
		}

		@media (min-width: $screen-lg-min) {
			content: 'desktop';
		}

		@media (max-width: $screen-laptop-max) {
			content: 'laptop';
		}

		@media (max-width: $screen-tablet-extra-max) {
			content: 'tablet-extra';
		}

		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			content: 'tablet';
		}

		@media (max-width: $screen-mobile-extra-max) {
			content: 'mobile-extra';
		}

		@media (max-width: $screen-sm-max) {
			content: 'mobile';
		}
	}
}
