#elementor-device-mode {

	&:after {

		@media (min-width: $screen-widescreen-min) {
			content: 'widescreen';
		}

		@media (min-width: $screen-desktop-min) {
			content: 'desktop';
		}

		@media (max-width: $screen-laptop-max) {
			content: 'laptop';
		}

		@media (max-width: $screen-tablet-extra-max) {
			content: 'tablet_extra';
		}

		@media (max-width: $screen-tablet-max) {
			content: 'tablet';
		}

		@media (max-width: $screen-mobile-extra-max) {
			content: 'mobile_extra';
		}

		@media (max-width: $screen-mobile-max) {
			content: 'mobile';
		}
	}
}
