//
// Forms (Input, Textarea, Select Etc..)
//

.elementor-form-fields-wrapper {
	display: flex;
	flex-wrap: wrap;

	&.elementor-labels-above {

		> .elementor-field-group {

			> input, > textarea, > .elementor-select-wrapper, .elementor-field-subgroup {
				flex-basis: 100%;
			}
		}
	}

	&.elementor-labels-inline {

		> .elementor-field-group {

			> input, .elementor-select-wrapper {
				flex-grow: 1;
			}
		}
	}
}

.elementor-field-group {
	flex-wrap: wrap;
	align-items: center;

	&.elementor-button-vertical-align- {

		&start {
			align-items: flex-start;
		}

		&end {
			align-items: flex-end;
		}

		&stretch {
			align-items: stretch;
		}
	}

	.elementor-field-textual {
		width: auto;
		border: 1px solid $gray;
		background-color: transparent;
		color: $gray-darker;
		vertical-align: middle;
		flex-grow: 1;

		&:focus {
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
			outline: 0;
		}

		&::-moz-placeholder, &::-webkit-input-placeholder, :-ms-input-placeholder {
			color: inherit;
			opacity: 0.6;
		}
	}

	.elementor-select-wrapper {
		display: flex;
		position: relative;

		select {
			appearance: none;
			color: inherit;
			flex-basis: 100%;
			@include padding-end(20px);
		}

		&:before {
			content: '\f0d7';
			font-family: 'FontAwesome';
			font-size: 15px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@include end(10px);
		}
	}
}

.elementor-field-subgroup {
	display: flex;
	flex-wrap: wrap;

	&.elementor-subgroup-inline {

		.elementor-field-option {
			@include padding-end(10px);
		}
	}
	&:not(.elementor-subgroup-inline) {

		.elementor-field-option {
			flex-basis: 100%;
		}
	}
}

.elementor-field-label {
	cursor: pointer;
}

// Keep the following out from another parent selector!
.elementor-field-textual {

	&.elementor-size- {

		&xs {
			font-size: 13px;
			line-height: 1.4;
			padding: 6px 12px;
			border-radius: 2px;
		}

		&sm {
			font-size: 15px;
			line-height: 1.4;
			padding: 9px 16px;
			border-radius: 3px;
		}

		&md {
			font-size: 16px;
			line-height: 1.5;
			padding: 10px 16px;
			border-radius: 4px;
		}

		&lg {
			font-size: 18px;
			line-height: 1.5;
			padding: 14px 16px;
			border-radius: 5px;
		}

		&xl {
			font-size: 20px;
			line-height: 1.6;
			padding: 18px 20px;
			border-radius: 6px;
		}
	}
}

.elementor-button-align- {

	&center {
		justify-content: center;
	}

	&stretch {

		button {
			flex-basis: 100%;
		}
	}

	&start {
		justify-content: getValueByDirection(flex-start, flex-end);
	}

	&end {
		justify-content: getValueByDirection(flex-end, flex-start);
	}
}

// Form Messages
.elementor-error {

	.elementor-field {
		border-color: $danger;
	}

	.help-inline {
		color: $danger;
		font-size: 0.9em;
	}
}

.elementor-message {
	margin: 10px 0;
	font-size: 1em;
	line-height: 1;

	&:before {
		content: "\f00c";
		display: inline-block;
		font-family: fontawesome;
		font-weight: normal;
		font-style: normal;
		vertical-align: middle;
		margin-right: 5px;
	}

	&.elementor-message-danger {
		color: $danger;

		&:before {
			content: "\f00d";
		}
	}

	&.form-message-success {
		color: $success;
	}
}
