//
// Global selectors for Elementor Front-End
//

.elementor {

	* {
		&, &:before, &:after {
			box-sizing: border-box;
		}
	}

	// Reset Style for some themes and browsers
	hyphens: manual;

	a {
		box-shadow: none;
		text-decoration: none;
	}

	hr {
		margin: 0;
		background-color: transparent;
	}

	img {
		height: auto;
		max-width: 100%;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}

	.elementor-widget:not(.elementor-widget-text-editor) figure {
		margin: 0;
	}

	// Responsive Embed
	embed,
	iframe,
	object,
	video {
		max-width: 100%;
		width: 100%;
		margin: 0;
		line-height: 1;
		border: none;
	}

	.elementor-custom-embed {
		line-height: 0; //for google maps margin bottom
	}

	// Background Video
	.elementor-background-video-container,
	.elementor-background-holder,
	.elementor-background {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		overflow: hidden;
		z-index: $ground-layer;
	}

	.elementor-background-video-container {
		transition: opacity 1s;
		pointer-events: none; // This prevents the player from showing video info on hover

		&.elementor-loading {
			opacity: 0;
		}
	}

	.elementor-background-video-embed {
		max-width: none; //Stretch the background video on all section
	}

	.elementor-background-video-embed, .elementor-background-video-hosted {
		position: absolute;
		top: 50%;
		left: 50%; //reset when the parent has set text-align: center;
		transform: translateX(-50%) translateY(-50%);
	}

	.elementor-background-video {
		position: absolute;
		max-width: none;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}

	.elementor-html5-video {
		object-fit: cover; // For HTML5 portrait video
	}
	// End Background Video

	.elementor-background-overlay {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}


// Resizable
.ui-resizable {

	&-n {
		top: -5px;
	}

	&-e {
		right: -5px;
	}

	&-s {
		bottom: -5px;
	}

	&-w {
		left: -5px;
	}

	&-ne {
		top: -5px;
		right: -5px;
	}

	&-nw {
		top: -5px;
		left: -5px;
	}

	&-se {
		bottom: -5px;
		right: -5px;
	}

	&-sw {
		bottom: -5px;
		left: -5px;
	}

	&-n, &-s {
		left: 0;
		height: 10px;
		width: 100%;
		cursor: ns-resize;
	}

	&-e, &-w {
		top: 0;
		height: 100%;
		width: 10px;
		cursor: ew-resize;
	}

	&-ne, &-nw, &-se, &-sw {
		height: 15px;
		width: 15px;
	}

	&-nw, &-se {
		cursor: nwse-resize;
	}

	&-ne, &-sw {
		cursor: nesw-resize;
	}

	&-handle {
		position: absolute;
	}

	&-resizing {
		pointer-events: none;
	}
}

.elementor-element.elementor-absolute {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: inherit;

	.elementor-image img {
		width: auto;
	}

	.elementor-handle {
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		line-height: 27px;
		text-align: center;
		background-color: #41c9f4;
		color: #fff;
		cursor: grab;
		z-index: 9999;
		opacity: 0;
		&:active {
			cursor: grabbing;
		}
	}
	&:hover {
		.elementor-handle {
			opacity: 1;
		}
	}
}

.elementor-invisible {
	visibility: hidden;
}

// Alignment Classes
.elementor-align- {

	&center {
		text-align: center;

		.elementor-button {
			width: auto;
		}
	}

	&right {
		text-align: right;

		.elementor-button {
			width: auto;
		}
	}

	&left {
		text-align: left;

		.elementor-button {
			width: auto;
		}
	}

	&justify {

		.elementor-button {
			width: 100%;
		}
	}
}

.elementor-custom-embed-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	i {
		font-size: 100px;
		color: #fff;
		opacity: 0.8;
		text-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
		transition: all .5s;
	}

	&.elementor-playing {

		i {
			font-family: 'FontAwesome';
			animation: fa-spin 2s infinite linear;

			&:before {
				content: "\f1ce";
			}
		}
	}
}

.elementor-swiper-button {
	position: absolute;
	display: inline-flex; // Position exactly in center
	z-index: 1;
	cursor: pointer;
	font-size: 25px;
	color: $slides_gui;
	top: 50%;
	transform: translateY(-50%);

	&.swiper-button-disabled {
		opacity: 0.3;
	}
}

.elementor-tag {
	display: inline-flex;
}

// Alignment for Tablet
@media (max-width: $screen-md-max) {

	.elementor-tablet-align- {

		&center {
			text-align: center;

			.elementor-button {
				width: auto;
			}
		}

		&right {
			text-align: right;

			.elementor-button {
				width: auto;
			}
		}

		&left {
			text-align: left;

			.elementor-button {
				width: auto;
			}
		}

		&justify {

			.elementor-button {
				width: 100%;
			}
		}
	}
}

// Alignment for Mobile
@media (max-width: $screen-sm-max) {

	.elementor-mobile-align- {

		&center {
			text-align: center;

			.elementor-button {
				width: auto;
			}
		}

		&right {
			text-align: right;

			.elementor-button {
				width: auto;
			}
		}

		&left {
			text-align: left;

			.elementor-button {
				width: auto;
			}
		}

		&justify {

			.elementor-button {
				width: 100%;
			}
		}
	}
}

// Admin Bar - Icon (Front-End)
#wpadminbar {

	#wp-admin-bar-elementor_edit_page > .ab-item::before {
		content: "\e801";
		font-family: eicons;
		top: 3px;
		font-size: 18px;
	}

	#wp-admin-bar-elementor_inspector > .ab-item::before {
		content: "\f348";
		top: 2px;
	}
}
