//
// Global selectors for Elementor Front-End
//

.elementor {

	* {
		&, &:before, &:after {
			box-sizing: border-box;
		}
	}

	// Reset Style for some themes and browsers
	hyphens: manual;

	a {
		box-shadow: none;
		text-decoration: none;
	}

	hr {
		margin: 0;
		background-color: transparent;
	}

	img {
		height: auto;
		max-width: 100%;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}

	.elementor-widget:not(.elementor-widget-text-editor) figure {
			margin: 0;
	}

	// Responsive Embed
	embed,
	iframe,
	object,
	video {
		max-width: 100%;
		width: 100%;
		margin: 0;
		line-height: 1;
		border: none;
	}

	.elementor-custom-embed {
		line-height: 0; //for google maps margin bottom
	}

	// Background Video
	.elementor-background-video-container {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		overflow: hidden;
		z-index: $ground-layer;
		transition: opacity 1s;

		&.elementor-loading {
			opacity: 0;
		}
	}

	.elementor-background-video-embed {
		max-width: none; //Stretch the background video on all section
		position: absolute;
		top: 50%;
		left: 0; //reset when the parent has set text-align: center;
		transform: translateY(-50%);
	}

	.elementor-background-video {
		position: absolute;
		max-width: none;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}

	.elementor-html5-video {
		object-fit: cover; // For HTML5 portrait video
	}
	// End Background Video

	.elementor-background-overlay {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}

.elementor-invisible {
	visibility: hidden;
}

// Alignment Classes
.elementor-align- {

	&center {
		text-align: center;

		.elementor-button {
			width: auto;
		}
	}

	&right {
		text-align: right;

		.elementor-button {
			width: auto;
		}
	}

	&left {
		text-align: left;

		.elementor-button {
			width: auto;
		}
	}

	&justify {

		.elementor-button {
			width: 100%;
		}
	}
}

.elementor-custom-embed-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	i {
		font-size: 100px;
		color: #fff;
		opacity: 0.8;
		text-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
		transition: all .5s;
	}

	&.elementor-playing {

		i {
			font-family: 'FontAwesome';
			animation: fa-spin 2s infinite linear;

			&:before {
				content: "\f1ce";
			}
		}
	}
}

.elementor-swiper-button {
	position: absolute;
	display: inline-flex; // Position exactly in center
	z-index: 1;
	cursor: pointer;
	font-size: 25px;
	color: $slides_gui;
	top: 50%;
	transform: translateY(-50%);

	&.swiper-button-disabled {
		opacity: 0.3;
	}
}

.elementor-tag {
	display: inline-flex;
}

// Alignment for Tablet
@media (max-width: $screen-md-max) {

	.elementor-tablet-align- {

		&center {
			text-align: center;

			.elementor-button {
				width: auto;
			}
		}

		&right {
			text-align: right;

			.elementor-button {
				width: auto;
			}
		}

		&left {
			text-align: left;

			.elementor-button {
				width: auto;
			}
		}

		&justify {

			.elementor-button {
				width: 100%;
			}
		}
	}
}

// Alignment for Mobile
@media (max-width: $screen-sm-max) {

	.elementor-mobile-align- {

		&center {
			text-align: center;

			.elementor-button {
				width: auto;
			}
		}

		&right {
			text-align: right;

			.elementor-button {
				width: auto;
			}
		}

		&left {
			text-align: left;

			.elementor-button {
				width: auto;
			}
		}

		&justify {

			.elementor-button {
				width: 100%;
			}
		}
	}
}

// Admin Bar - Icon (Front-End)
#wpadminbar #wp-admin-bar-elementor_edit_page > .ab-item::before {
	content: "\e801";
	font-family: eicons;
	top: 3px;
	font-size: 18px;
}
