.elementor-lightbox-modal {

	.dialog- {

		&widget-header {
			display: none;
		}

		&widget-content {
			background: none;
			box-shadow: none;
			width: 100%;
			height: 100%;
		}

		&close-button {
			top: 40px;
			right: 40px;
			z-index: 2;
		}

		&message {

			&:not(.elementor-video-wrapper) {
				height: 100%;
			}
		}
	}

	.swiper- {

		&container {
			height: 100%;
		}
	}

	.elementor-lightbox-item {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 50px;
		box-sizing: border-box;
		height: 100%;
		margin: auto;
	}

	.elementor-lightbox-image {
		max-height: 100%;
	}

	.elementor-video-container {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}