.elementor-lightbox {

	.dialog- {

		&widget-header {
			display: none;
		}

		&widget-content {
			background: none;
			box-shadow: none;
			width: 100%;
			height: 100%;
		}

		&message {
			animation-duration: .4s; // Open lightbox transition

			&:not(.elementor-video-wrapper) {
				height: 100%;
			}
		}

		&lightbox-close-button {
			cursor: pointer;
			position: absolute;
			color: #ffffff;
			font-size: 25px;
			padding: 5px;
			z-index: 2;
			line-height: 1;
			opacity: 0.5;
			transition: $transition-hover;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	.swiper- {

		&container {
			height: 100%;
		}
	}

	.elementor-lightbox-item {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 80px;
		box-sizing: border-box;
		height: 100%;
		margin: auto;
	}

	.elementor-lightbox-image {
		max-height: 100%;
	}

	.elementor-video-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		@media (min-width: $screen-md-min) {
			width: 50%;
		}

		@media (max-width: $screen-sm-max) {
			width: 100%;
		}
	}


	.elementor-swiper-button {
		opacity: 0.5;
		transition: $transition-hover;

		&:hover {
			opacity: 0.9;
		}


		&-prev {
			left: 40px;
		}

		&-next {
			right: 40px;
		}
	}
}

@media (min-width: $screen-sm-max) {

	.elementor-lightbox {

		.dialog- {

			&lightbox-close-button {
				top: 35px;
				right: 35px;
			}
		}
	}
}

