.elementor {
	@media (max-width: $screen-sm-max) {
		.elementor-hidden-phone {
			display: none;
		}
	}

	@media (min-width: $screen-mobile-next) and (max-width: $screen-md-max) {
		.elementor-hidden-tablet {
			display: none;
		}
	}

	@media (min-width: $screen-tablet-next) {
		.elementor-hidden-desktop {
			display: none;
		}
	}
}
