.e-onboarding {

	&__choose-features {

		&-section {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 10px 20px;
			margin-block: 24px;

			&__label {
				display: flex;
				align-items: center;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: -0.01em;
				user-select: none;
				border: 1px solid #D5D8DC;
				padding: 12px 16px;
				width: 267px;
			}

			&__checkbox {
				justify-self: end;
				margin-inline-end: 8px;
				width: 16px;
				height: 16px;
			}

			&__plan {
				font-size: 18px;
				font-weight: 400;
				line-height: 27px;
				letter-spacing: -0.01em;
				padding-inline-end: 120px;
			}
		}
	}
}
