.e-onboarding {

	&__cards-grid {

		// Specificity.
		&.e-onboarding__page-content {
			margin-block-start: 48px;
			margin-block-end: 48px;
		}

		.e-onboarding__card {
			max-width: 555px;

			&:not(:last-child) {
				margin-inline-end: 20px;
			}
		}
	}

	&__page-goodToGo {

		.e-onboarding__page-content-section-title,
		.e-onboarding__page-content-section-text {
			text-align: center;
		}

		.e-onboarding__cards-grid {
			justify-content: center;
			flex-wrap: nowrap; 
		}

		.e-onboarding__card {
			max-width: 388px;
		}
	}

	&__good-to-go-footer {
		justify-content: end;
	}
}
