.e-onboarding {

	&__cards-grid {

		// Specificity.
		&.e-onboarding__page-content {
			margin-block-start: 48px;
			margin-block-end: 48px;
		}

		.e-onboarding__card {
			max-width: 555px;

			&:not(:last-child) {
				margin-inline-end: 20px;
			}
		}
	}

	&__page-goodToGo {

		.e-onboarding__page-content-section-title,
		.e-onboarding__page-content-section-text {
			text-align: center;
		}

		.e-onboarding__cards-grid {
			justify-content: center;
			flex-wrap: nowrap;
		}

		.e-onboarding__card {
			max-width: 388px;
		}
	}

	&__content:has(.e-onboarding__cards-grid--good-to-go-variant-b) {
		.e-onboarding__page-content-section-title {
			max-width: 440px;
			justify-self: center;
		}
	}

	&__good-to-go-footer {
		justify-content: end;
	}
}

.experiment401-variant-b {

	.e-onboarding__card-image {
		height: 112px;
		width: auto;
	}

	.e-onboarding__switch-method-text {
		color: #3A3F45;
		text-align: center;
		font-family: "DM Sans";
		font-size: 18px;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: -0.18px;
	}
}

@media screen and (min-width: 1024px) {
	.experiment401-variant-b {
		.e-onboarding__good-to-go-footer {
			justify-content: center;
		}

		.e-onboarding__button-skip {
			position: absolute;
			inset-inline-end: 0px;
		}
	}
}
