@keyframes load {
	0% {
		opacity: .3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .3;
	}
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes mover {
	0% { transform: translateY(0); }
	100% { transform: translateY(-5px); }
}

@keyframes slideDown {
	0% { transform: translateY(-30px); }
	100% { transform: translateY(0); }
}
