$editor-screen-xs-max: map_get($breakpoints, sm) - 1;
$editor-screen-sm-min: map_get($breakpoints, sm);
$editor-screen-sm-max: map_get($breakpoints, md) - 1;
$editor-screen-md-min: map_get($breakpoints, md);
$editor-screen-md-max: map_get($breakpoints, lg) - 1;
$editor-screen-lg-min: map_get($breakpoints, lg);
$editor-screen-lg-max: map_get($breakpoints, xl) - 1;
$editor-screen-xl-min: map_get($breakpoints, xl);
$editor-screen-xl-max: map_get($breakpoints, xxl) - 1;
$editor-screen-xxl-min: map_get($breakpoints, xxl);

$library_screen_breakpoint: $editor-screen-lg-max;
