//
// Buttons
//

.elementor-button {
	font-size: 11px;
	font-family: $admin-font-family;
	font-weight: 500;
	text-transform: uppercase;
	padding: 7px 21px;
	outline: none;
	border: none;
	border-radius: 3px;
	background-color: $e-btn;
	color: $white;
	transition-property: background, color, box-shadow, opacity;
	transition-duration: .3s;

	&:hover {
		background-color: $e-btn-hover;
		color: $white;
	}

	&:active {
		background-color: $e-btn-active;
	}

	&:not([disabled]) {
		cursor: pointer;
	}

	&:not(.elementor-button-state) {

		.elementor-state-icon {
			display: none;
		}
	}

	&.elementor-button-success {
		color: #fff;

		&[disabled] {
			background-color: $editor-lighter;
		}

		&:not([disabled]) {
			background-color: $editor-success;

			&:hover {
				opacity: 0.85;
			}
		}
	}

	&.elementor-button-brand {
		color: $white;

		&[disabled] {
			background-color: $editor-lighter;
		}

		&:not([disabled]) {
			background-color: $editor-accent;

			&:hover {
				opacity: 0.85;
			}
		}
	}

	&.elementor-button-warning {
		background-color: $editor-light;
		color: #fff;

		&[disabled] {
			background-color: $editor-lighter;
		}

		&:not([disabled]) {

			&:hover {
				background-color: $editor-warning;
				opacity: 0.85;
			}
		}
	}

	&.elementor-button-danger {
		background-color: $editor-danger;
		color: #fff;

		&[disabled] {
			background-color: $editor-lighter;
		}

		&:not([disabled]) {

			&:hover {
				opacity: 0.85;
			}
		}
	}

	&.elementor-edit-template {
		display: inline-block;
		margin-top: 15px;
		color: #fff;
	}

	&.go-pro {
		background-color: $e-go;

		&:hover {
			background-color: $e-go-hover;
		}

		&:active {
			background-color: $e-go-active;
		}
	}

	i {
		@include margin-end(10px);
	}
}
