//
// Buttons
//

.elementor-button {
	border: none;
	cursor: pointer;
	border-radius: 3px;
	transition: box-shadow .5s, opacity .5s;
	outline: none;

	&:not(.elementor-button-state) {

		.elementor-state-icon {
			display: none;
		}
	}

	.elementor-state-icon {
		@include padding-end(10px);
	}
}

.elementor-button-success {
	color: #fff;

	&[disabled] {
		background-color: $editor-lighter;
	}

	&:not([disabled]) {
		background-color: #38B54A;

		&:hover {
			opacity: 0.85;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
		}

		&:active {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.1);
		}
	}
}
