.elementor-color-picker {

	&__swatch-tool {
		position: relative;
		padding-bottom: 100%;
		cursor: pointer;
		box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
		border-radius: 3px;
		background-color: #fff;

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: $editor-dark;
			font-size: 13px;
		}
	}
}

.pcr-swatches {

	&:not(.elementor-color-picker-swatches--edit-mode) {

		.pcr-swatch {

			i {
				display: none;
			}
		}
	}
}

.pcr-swatch {

	&.pcr-active {

		~ .elementor-color-picker__add-swatch {
			display: none;
		}
	}

	i {
		$text-shadow: -1px -1px 6px rgba(0, 0, 0, 0.1);

		position: absolute;
		z-index: 1;
		color: #fff;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		line-height: 0;font-size: 12px;
		text-shadow: $text-shadow, $text-shadow, $text-shadow, $text-shadow;
	}
}
