.elementor-color-picker {

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	&__swatch-tool {
		position: relative;
		box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
		background-color: #fff;

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: $editor-dark;
			font-size: 13px;
		}
	}

	&__swatch-placeholder {
		border: 1px dashed $editor-lighter;
	}

	&__dropping-area {
		margin-top: 10px;
		padding: 15px;
		border: 1px dashed $editor-lightest;
		text-align: center;
		color: $editor-dark;
		display: none;

		&.elementor-active {
			border-color: $editor-light;

			i {
				color: $editor-warning;
			}
		}

		i {
			font-size: 15px;
		}

		&__drag-to-delete {
			margin-top: 10px;
		}

		.elementor-color-picker__swatch-placeholder {
			display: none;
		}
	}
}

.pcr-swatch {

	&.pcr-active {

		~ .elementor-color-picker__add-swatch {
			background-color: $editor-lightest;
			pointer-events: none;
			box-shadow: none;

			i {
				color: #fff;
			}
		}
	}
}
