.e-scrubbing {
	
	cursor: e-resize;

	* {
	   cursor: e-resize;
	}

	input.e-scrubbing-element, 
	input.e-scrubbing-element:focus {
		border-color: #{ darken($editor-info, 20%) } !important;
	}
	
	label.e-scrubbing-element {
		color: #{ darken($editor-info, 20%) };
		user-select: none;
	}
	
	// When scrubbing, enable scrubbing cursor effects also on the 'preview' iframe area.
	iframe {
		pointer-events: none;
	}
}

label.e-scrubbing-over {
	cursor: e-resize;
}
