.e-ui-state--document-scrubbing-mode__on {

	&, * {
		cursor: ew-resize;
	}

	input.e-scrubbing--active {
		&, &:focus {
			box-shadow: 0 0 0 1px #{ darken( $editor-info, 20% ) } inset;
		}
	}

	label.e-scrubbing--active {
		color: #{ darken( $editor-info, 20% ) };
		user-select: none;
	}

	// When scrubbing, enable scrubbing cursor effects also on the 'preview' iframe area.
	iframe {
		pointer-events: none;
	}
}

label.e-scrubbing-over {
	cursor: ew-resize;
}

