.elementor-context-menu {
	position: absolute;
	width: 200px;
	background-color: $editor-color-level-0;
	border: 1px solid $editor-color-level-30;
	border-radius: 3px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.09);
	user-select: none;
	z-index: $third-layer;

	&-list {

		&__group {
			padding: 5px 0;

			&:not(:last-child) {
				border-bottom: 1px solid $editor-color-level-30;
			}
		}

		&__item {
			padding: 5px 10px;
			@include padding-end(20px);
			display: flex;
			cursor: pointer;

			&--disabled {
				cursor: default;
				color: $editor-color-level-40;
			}

			&:not(.elementor-context-menu-list__item--disabled) {

				&:hover {
					background-color: $editor-info;

					> * {
						color: $editor-color-level-0;
					}
				}
			}

			&__icon {
				width: 20px;
				color: $editor-color-level-50;
			}

			&__title {
				flex-grow: 1;
				@include ellipsis;
			}

			&__shortcut {
				color: $editor-color-level-40;
			}

			&.elementor-context-menu-list__item-delete {

				&:not(.elementor-context-menu-list__item--disabled) {

					&:hover {
						background-color: $editor-red;
					}
				}
			}
		}
	}

	.eicon-pro-icon {
		color: $editor-orange;
	}
}
