.elementor-context-menu {
	position: absolute;
	width: 200px;
	background-color: var(--e-a-bg-default);
	border: var(--e-a-border);
	border-radius: 3px;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
	user-select: none;
	// To make sure the navigator item context menu is above the navigator, which has a z-index of 100
	z-index: 101;

	&-list {

		&__group {
			padding: 5px 0;

			&:not(:last-child) {
				border-bottom: var(--e-a-border);
			}
		}

		&__item {
			padding: 5px 10px;
			@include padding-end(20px);
			display: flex;
			cursor: pointer;
			transition: var(--e-a-transition-hover);

			&--disabled {
				cursor: default;
				color: var(--e-a-color-disabled);
			}

			&:not(.elementor-context-menu-list__item--disabled) {

				&:hover {
					background-color: var(--e-a-bg-hover);
					color: var(--e-a-color-hover);
				}
			}

			&__icon {
				width: 20px;
			}

			&__title {
				flex-grow: 1;
				@include ellipsis;
			}

			&__shortcut {
				color: var(--e-a-color-txt-muted);
			}

			&.elementor-context-menu-list__item-delete {

				&:not(.elementor-context-menu-list__item--disabled) {

					&:hover {

						> * {
							color: var(--e-global-color-danger);
						}
					}
				}
			}
		}
	}

	.eicon-pro-icon {
		color: var(--e-global-color-accent);
	}
}
