.e-scrubbing {
	
	&, * {
		cursor: e-resize;
	}

	input.e-scrubbing-element {
		&, &:focus {
			box-shadow: 0 0 0 1px #{ darken( $editor-info, 20% ) } inset;
		}
	}
	
	label.e-scrubbing-element {
		color: #{ darken( $editor-info, 20% ) };
		user-select: none;
	}
	
	// When scrubbing, enable scrubbing cursor effects also on the 'preview' iframe area.
	iframe {
		pointer-events: none;
	}
}

label.e-scrubbing-over {
	cursor: e-resize;
}
