//
// Switcher Preview by Devices
//

body {
	--e-preview-width: calc(100% - var(--e-editor-panel-width, 300px));
}

#elementor-preview {
	background-color: #333;
	position: absolute;
	height: 100%;
	right: 0;
	border: 0;
	width: var(--e-preview-width);
	top: calc(var(--e-is-device-mode) * 40px);

	.elementor-device-desktop & {
		overflow-y: hidden;
	}

	body:not(.elementor-device-desktop) & {
		overflow-y: auto;
	}
}

#elementor-preview-responsive-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	&:not(.ui-resizable-resizing) {
		transition: all .5s ease 0s;
	}

	.elementor-device-desktop & {
		min-width: map_get($breakpoints, lg);
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}

	.elementor-device-tablet & {
		max-width: $editor-screen-md-max;
		min-width: $editor-screen-md-min;
		width: var(--e-editor-preview-width, #{$editor-screen-md-min});
		height: var(--e-editor-preview-height, #{$editor-screen-lg-min});
		padding: 40px 10px 70px;
	}

	.elementor-device-mobile & {
		max-width: $editor-screen-sm-max;
		min-width: 320px;
		width: var(--e-editor-preview-width, 360px);
		height: var(--e-editor-preview-width, 640px);
		padding: 40px 10px 70px;
	}

	body:not(.elementor-device-desktop) & {
		border-radius: 30px;
		background-color: #111;
		margin: 30px auto 80px;
		box-sizing: content-box;
	}

	.ui-resizable-e, .ui-resizable-w {
		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			content: '';
			display: block;
			background-color: rgba(255, 255, 255, 0.2);
			width: 4px;
			height: 50px;
			border-radius: 3px;
			transition: all 0.2s ease-in-out;
		}

		&:hover:before {
			background-color: rgba(255, 255, 255, 0.6);
			height: 100px;
		}
	}

	&.ui-resizable-resizing {
		.ui-resizable-e, .ui-resizable-w {
			&:before {
				background-color: rgba(255, 255, 255, 0.9);
			}
		}
	}

	.ui-resizable-e {
		right: 0;
	}
	.ui-resizable-w {
		left: 0;
	}
}

#elementor-preview-iframe {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

