[class^="eicon-flex"], [class*=" eicon-flex"] {
	transition: .3s all;

	&.eicon-inline {
		max-height: 1em;
		max-width: 1em;
	}

	// Rotate flex icons based on direction.
	&:not( .eicon-wrap ):not( .eicon-nowrap ):not( .eicon-grow ) {
		// Container direction column / reversed column.
		:is( .e-ui-state--document-direction-mode__column, .e-ui-state--document-direction-mode__column-reverse ) & {
			transform: rotate( 90deg );

			&:is( .eicon-align-start-v, .eicon-align-end-v ) {
				transform: rotate( -90deg );
			}
		}

		// Container direction reversed column.
		.e-ui-state--document-direction-mode__column-reverse & {
			&:is( .eicon-justify-start-h, .eicon-justify-end-h ) {
				transform: rotate( -90deg );
			}
		}

		// Container direction reversed row
		.e-ui-state--document-direction-mode__row-reverse & {
			&:is( .eicon-justify-start-h, .eicon-justify-end-h ) {
				transform: rotate( 180deg );
			}
		}
	}
}
