//
// Forms
//

input, select, textarea, .select2-selection, .elementor-input-style {
	border-radius: 3px;
	width: 100%;
	background: $theme-color-input-bg;
	box-shadow: none;
	color: $theme-color-input-text;
	border: 1px solid;
	outline: none;

	&:not(:focus) {
		border-color: $theme-color-input-border;
	}

	&:focus {

		&, + .elementor-control-dynamic-switcher {
			border-color: $theme-color-input-border-focus;
		}
	}

	&::placeholder {
		color: $theme-color-input-placeholder;
	}
}

input, select, textarea, .elementor-input-style {
	font-size: 12px;
}

.elementor-error {

	input, select, textarea {
		border-color: $editor-warning;
	}
}

input {
	// This fixes an issue in Firefox, in cases where a container with `display: flex` has a defined width,
	// an input element inside this container cannot be given its own defined width.
	min-width: 0;
}

input, textarea, .elementor-input-style {
	padding: 5px;
}

textarea, .elementor-input-style {
	resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
	height: auto;
	width: auto;
}

input[disabled] {
	background-color: $theme-color-input-bg-disabled;
	cursor: not-allowed;
	opacity: 1;
}

select {
	outline: none;
	height: $control-unit;
}

.pickr {
	border-color: $theme-color-input-border;
	background: $theme-color-input-bg;
}
