//
// Forms
//

input, select, textarea, .elementor-input-style {
	border-radius: 3px;
	font-size: 12px;
	width: 100%;
	background: none;
	box-shadow: none;
	color: $editor-dark;
	border: 1px solid;
	outline: none;

	&:not(:focus) {
		border-color: $editor-lightest;
	}

	&:focus {
		border-color: $editor-light;
	}

	&::placeholder {
		color: $editor-light;
	}
}

.elementor-error {

	input, select, textarea {
		border-color: $editor-warning;
	}
}

input, textarea, .elementor-input-style {
	padding: 5px 8px;
}

textarea, .elementor-input-style {
	resize: vertical;
}

.check-wrapper {
	display: flex;
	align-items: center;

	&:not(:last-child){
		padding-bottom: 5px;
	}
	
	input,
	label {
		cursor: pointer;
	}

	input {
		&[type="checkbox"],
		&[type="radio"] {
			margin: 0;
			padding: 0;
			@include margin-end(5px);

			//hidden the browser input style
			-webkit-appearance: none;
			-moz-appearance: none;
			outline: none;
			content: none;

			//instead of the original style
			height: 16px;
			width: 16px;
			border: 1px solid $editor-lightest;

			//align the mark in the input
			display: inline-flex;
			align-items: center;
			justify-content: center;

			&:checked  {
				background: $editor-info;
				border: none;

				&:before  {
					display: block;
					content: "";
				}
			}
		}

		&[type="checkbox"] {
			border-radius: 2px;

			// check mark
			&:checked:before {
				width: 4px;
				height: 7px;
				border: solid white;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}

		&[type="radio"] {
			border-radius: 50%;

			&:checked:before  {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: white;
			}
		}
	}
}

input[disabled] {
	background-color: $editor-background;
	cursor: not-allowed;
	opacity: 1;
}

select {
	outline: none;
	height: 27px;
}
