//
// Forms
//

input, select, textarea, .elementor-input-style {
	border-radius: 3px;
	font-size: 12px;
	width: 100%;
	background: none;
	box-shadow: none;
	color: $editor-dark;
	border: 1px solid;
	outline: none;

	&:not(:focus) {
		border-color: $editor-lightest;
	}

	&:focus {
		border-color: $editor-light;
	}

	&::placeholder {
		color: $editor-light;
	}
}

.elementor-error {

	input, select, textarea {
		border-color: $editor-warning;
	}
}

input, textarea, .elementor-input-style {
	padding: 5px 8px;
}

textarea, .elementor-input-style {
	resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
	border: 1px solid $editor-lightest;
	background: #fff;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 16px;
	margin: -4px 4px 0 0;
	outline: 0;
	text-align: center;
	vertical-align: middle;
	width: 16px;
	min-width: 16px;
	transition: .05s border-color ease-in-out;

	&:focus {
		border-color: $editor-light;
	}
}

input[disabled] {
	background-color: $editor-background;
	cursor: not-allowed;
	opacity: 1;
}

select {
	height: 27px;
}
