
// Loading Editor screen

#elementor-loading {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $editor-background-light;
	z-index: $editor-layer;
}

.elementor-loader-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 200px;

	@import "loader";

	.elementor-loader {
		background-color: $editor-lightest;
	}

	.elementor-loader-box {
		background-color: $editor-darkest;
	}
}

// Loading after APPLY button

#elementor-preview-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	i {
		color: $editor-lightest;
		font-size: 50px;
	}
}

// Select2
.select2-container {
	z-index: $editor-layer;
}

.select2-dropdown {
	border-color: $editor-light;

	.select2-search__field {
		outline: none;
	}
}

// Resizable
.ui-resizable {

	&-n {
		top: -5px;
	}

	&-e {
		right: -5px;
	}

	&-s {
		bottom: -5px;
	}

	&-w {
		left: -5px;
	}

	&-ne {
		top: -5px;
		right: -5px;
	}

	&-nw {
		top: -5px;
		left: -5px;
	}

	&-se {
		bottom: -5px;
		right: -5px;
	}

	&-sw {
		bottom: -5px;
		left: -5px;
	}

	&-n, &-s {
		left: 0;
		height: 10px;
		width: 100%;
		cursor: ns-resize;
	}

	&-e, &-w {
		top: 0;
		height: 100%;
		width: 10px;
		cursor: ew-resize;
	}

	&-ne, &-nw, &-se, &-sw {
		height: 15px;
		width: 15px;
	}

	&-nw, &-se {
		cursor: nwse-resize;
	}

	&-ne, &-sw {
		cursor: nesw-resize;
	}

	&-handle {
		position: absolute;
	}

	&-resizing {
		pointer-events: none;
	}
}

// Modal Confirm (the_content missing)
#elementor-fatal-error-dialog {

	button.dialog-ok {
		color: $editor-info;
	}

	.dialog-header {
		font-size: 13px;
		color: $editor-dark;
	}
}

.elementor-nerd-box {
	padding: 30px;
	text-align: center;

	&-icon {
		font-size: 52px;
		color: $editor-light;
	}

	&-title {
		margin-top: 20px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.4;
	}

	&-message {
		margin-top: 20px;
		line-height: 1.8;
		font-size: 11px;
	}

	.elementor-button.elementor-nerd-box-link {
		background-color: $editor-orange;
		color: #ffffff;
		padding: 7px 25px;
		margin-top: 20px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
		transition: .5s;

		&:hover {
			background-color: lighten($editor-orange, 10%);
		}
	}
}

.eicon-nerd {

	&:hover {

		&:before {
			content: '\e965';
		}
	}

	&:active {

		&:before {
			content: '\e964';
		}
	}
}