
// Loading Editor screen

#elementor-loading {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $theme-color-loading-screen-bg;
	z-index: $editor-layer;
}

// Loading after APPLY button

#elementor-preview-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $theme-color-loading-preview-bg;

	i {
		color: $theme-color-loading-preview-icon;
		font-size: 50px;
	}
}

// Select2
.select2-container {
	width: 100% !important;
	outline: none;
	z-index: $editor-layer;

	&.select2-container--default {

		.select2-dropdown {
			background: $theme-color-input-bg;
			border-color: $theme-color-input-border-focus;
		}

		.select2-search__field {
			background: $theme-color-panel-front-bg;
			border-color: $theme-color-input-border;
			outline: none;
		}

		.select2-selection--single {
			background: $theme-color-input-bg;

			.select2-selection__rendered {
				color: $theme-color-input-text;
			}

			.select2-selection__arrow b {
				border-top-color: $theme-color-input-text;
			}
		}

		.select2-selection--multiple {
			background: $theme-color-input-bg;

			.select2-selection__clear {
				display: none;
			}

			.select2-selection__choice {
				line-height: 1.5;
				font-size: 0.9em;
				border: none;
				border-radius: 0;
				background-color: $theme-color-select2-multiple-selection-choice-bg;
			}

			.select2-search__field {
				background: transparent;
			}
		}
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: $theme-color-select2-highlighted-option-bg;
	}

	&:not(.select2-container--open):not(.select2-container--focus) {

		.select2-selection--single,
		.select2-selection--multiple {
			border-color: $theme-color-input-border;
		}
	}

	&.select2-container--open,
	&.select2-container--focus {

		.select2-selection--single,
		.select2-selection--multiple {
			border-color: $theme-color-input-border-focus;
		}
	}
}

.select2-selection {
	outline: none;

	&--single {
		height: $control-unit;
	}
}

.select2-selection__rendered {
	line-height: $control-unit;
}

.select2-selection__arrow {
	height: $control-unit;
	top: 0;
}

.select2-results__option[aria-selected=true] {
	color: $theme-color-panel-highlight;

	&:not(.select2-results__option--highlighted) {
		background-color: initial;
	}
}

// Modal Confirm (the_content missing)
#elementor-fatal-error-dialog {

	button.dialog-ok {
		color: $editor-info;
	}

	.dialog-header {
		color: $editor-color-level-70;
	}
}

#elementor-flexbox-attention-dialog {

	.dialog-cancel {
		color: $editor-success;
	}

	.dialog-ok {
		color: $editor-color-level-70;
	}
}

.elementor-nerd-box {
	padding: 30px;
	text-align: center;

	&-icon {
		width: 100px;
		margin-right: 10px;
	}

	&-title {
		margin-top: 20px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.4;
	}

	&-message {
		margin-top: 5px;
		line-height: 1.8;
		font-size: 11px;
	}

	.elementor-button.elementor-nerd-box-link {
		background-color: $editor-accent;
		color: $editor-color-level-0;
		padding: 7px 25px;
		margin-top: 20px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
		transition: .5s;

		&:hover {
			//background-color: lighten($editor-accent, 10%);
		}
	}
}

.eicon-nerd {

	&:hover {

		&:before {
			content: '\e8b7';
		}
	}

	&:active {

		&:before {
			content: '\e8b6';
		}
	}
}
