
// Loading Editor screen

#elementor-loading {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $editor-background-light;
	z-index: $editor-layer;
}

.elementor-loader-wrapper {
	$size: 100px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: $size;

	.elementor-loader {
		height: $size;
		position: relative;
	}

	.elementor-loader-box {
		background-color: $editor-darkest;
	}

	@import "loader";
}

.elementor-loading-title {

	@keyframes load-title {
		0% {
			opacity: 1;
		}
		50% {
			opacity: .6;
		}
		100% {
			opacity: 1;
		}
	}

	color: $editor-darkest;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	letter-spacing: 7px;
	font-size: 10px;
	animation: load-title 1.5s linear infinite;
}

// Loading after APPLY button

#elementor-preview-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;

	i {
		color: $editor-lightest;
		font-size: 50px;
	}
}

// Select2
.select2-container {
	z-index: $editor-layer;
}

.select2-dropdown {
	border-color: $editor-light;

	.select2-search__field {
		outline: none;
	}
}


// Modal Confirm (the_content missing)
#elementor-fatal-error-dialog {

	button.dialog-ok {
		color: $editor-info;
	}

	.dialog-header {
		font-size: 13px;
		color: $editor-dark;
	}
}

.eicon-nerd {

	&:hover {

		&:before {
			content: '\e965';
		}
	}

	&:active {

		&:before {
			content: '\e964';
		}
	}
}