//Hotkyes modal (Keyboard shortcuts)
#elementor-hotkeys {
	text-align: start;

	&__modal {

		.dialog-buttons-wrapper {
			display: none;
		}
	}

	&__content {
		display: flex;
		gap: 70px;
		padding: 10px 30px;
		width: 100%;
		overflow: hidden;

		@media (max-width: $editor-screen-md-max) {
			flex-direction: column;
			gap: 20px;
			padding: 20px;
		}
	}
}

.elementor-hotkeys {

	&__col {
		width: 50%;

		@media (max-width: $editor-screen-md-max) {
			width: 100%;
		}
	}

	&__header,
	&__list {
		width: 100%;
	}

	&__header{
		padding: 10px 0;
		font-weight: 500;
	}

	&__list {
		background-color: var(--e-a-bg-default);
		height: calc(100% - 42px);
		padding: 10px 0;

		@media (max-width: $editor-screen-xs-max) {
			padding: 0;
		}

		@media (max-width: $editor-screen-md-max) {
			height: auto;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 20px 10px;

		&:not(:last-child) {
			border-block-end: var(--e-a-border);
		}

		&--label {
			font-size: 13px;
			font-weight: 400;
			flex-grow: 1;
		}

		&--shortcut {
			flex-grow: 0;
			display: flex;

			@if $direction == rtl {
				flex-direction: row-reverse;
			}

			span {
				position: relative;
				background-color: var(--e-a-bg-active);
				padding: 5px 12px;
				margin-inline-end: 27px;
				border-radius: 3px;

				@media (max-width: $editor-screen-xs-max) {
					padding: 4px 9px;
					margin-inline-end: 23px;
				}

				&:after {
					content: ' + ';
					position: absolute;
					right: -18px;
					width: 9px;
					text-align: center;

					@media (max-width: $editor-screen-xs-max) {
						right: -16px;
					}
				}

				&:last-child {
					margin-inline-end: 0;

					&:after {
						display: none;
					}
				}
			}
		}
	}
}
