.elementor-introduction {
	position: absolute;
	width: 250px;
	padding: 30px 20px;
	background-color: #fff;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		border: solid transparent;
		border-width: 7px 5px;
		border-bottom-color: #fff;
		top: -14px;
		left: 50%;
		transform: translateX(-50%);
	}

	.dialog {

		&-header {
			color: $editor-dark;
			font-size: 16px;
		}

		&-message {
			font-size: 13px;
			line-height: 1.6;
			margin-top: 10px;
			color: $editor-light;
		}

		&-buttons-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 25px;
		}

		&-button {
			font-size: 11px;
		}

		&-ok {
			padding: 7px 27px;
			text-transform: capitalize;
		}

		&-learn-more {
			color: $editor-success;
			@include margin-end(15px);
			cursor: pointer;
		}
	}
}