//
// Mode Switcher
//

#elementor-mode-switcher {
	--e-a-mode-switcher-width: 15px;
	--e-a-mode-switcher-height: 50px;
	--e-a-mode-switcher-icon-size: 15px;
	position: absolute;
	@include start(100%);
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--e-a-bg-default);
	@include direction-box-shadow(3px, 1px 3px rgba(0, 0, 0, 0.05));

	&:hover {
		background-color: var(--e-a-bg-hover);
	}

	&:focus-within {
		background-color: var(--e-a-bg-active);
	}

	&-preview {
		i {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: var(--e-a-mode-switcher-width);
			height: var(--e-a-mode-switcher-height);
			font-size: var(--e-a-mode-switcher-icon-size);
			cursor: pointer;
		}
	
		&-input {
			display: none;
		}
	}
}
