//
// Mode Switcher
//

#elementor-mode-switcher {
	position: absolute;
	@include start(100%);
	top: 50%;
	width: 15px;
	height: 50px;
	transform: translateY(-50%);
	background-color: var(--e-a-bg-default);
	font-size: 15px;
	@include direction-box-shadow(3px, 1px 3px rgba(0, 0, 0, 0.05));
	cursor: pointer;

	&:hover {
		background-color: var(--e-a-bg-hover);
	}
}

#elementor-mode-switcher-inner,
#elementor-mode-switcher-preview {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#elementor-mode-switcher-preview {
	cursor: pointer;

	.eicon {
		@include absolute-center;
	}
}

#elementor-mode-switcher-preview-input {
	display: none;
}
