#elementor-toast {
	position: absolute;
	width: 280px;
	padding: 20px;
	border-radius: 5px;
	color: $editor-lightest;
	background-color: rgba(0, 0, 0, .8);
	z-index: $super-layer;

	.dialog-message {
		font-size: 13px;
	}

	.dialog-buttons-wrapper {
		display: flex;
		justify-content: flex-end;
		margin-top: 15px;
	}

	.dialog-button {
		color: $editor-orange;
		margin: 0 5px;
		text-transform: uppercase;
		cursor: pointer;

		&:last-child {
			@include margin-end(0);
		}
	}
}