#elementor-paste-area-dialog {

	.dialog-header {
		padding-top: 60px;
		font-size: 25px;
		color: $editor-light;
	}

	.dialog-message {
		padding: 0 15px 15px;
		font-size: 15px;
	}

	#elementor-paste-area-dialog__input {
		color: transparent;
		border-color: transparent;
		padding: 0;
		margin: 0;

		&:focus {
			border-color: transparent;
			outline: none;
		}
	}

	#elementor-paste-area-dialog__error {
		color: $editor-danger;
		font-size: 12px;

		&:before {
			content: '';
			border-top: 1px solid $editor-background-light;
			display: block;
			margin: 0 -15px 15px;
		}
	}
}
