#elementor-fatal-error-dialog {
	&.elementor-preview-loading-error {
		.dialog {
			&-header {
				color: $editor-color-level-90;
			}
			&-message a {
				color: $editor-color-level-70;
				text-decoration: underline;
				font-style: italic;
			}
		}
	}
}


#elementor-preview-debug-link-text {
	display: inline-block;
}
