:root {
	--e-is-device-mode: 0;
}

.e-is-device-mode {
	--e-is-device-mode: 1;
}

.e-responsive-top-bar {
	position: fixed;
	z-index: 1;
	left: var(--e-editor-panel-width, 300px);
	right: 0;
}

.e-mq { /* Just a prefix. There is no element with this className */
	&-bar {
		display: flex;
		width: calc(var(--e-editor-panel-width, 300px) - 100%);
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		height: 40px;
		color: $editor-light;
		background-color: $editor-darkest;

		&__col {
			display: flex;
			width: 25%;
			justify-content: center;

			&:last-child {
				justify-content: flex-end;
			}
		}

		&__close-button,
		&__options-button {
			padding: 4px;
		}

		button {
			appearance: none;
			background: none;
			border: 0 none;
			cursor: pointer;
			color: inherit;

			&:hover {
				color: $editor-lighter;
			}
		}
	}

	&-switcher {
		&__option {
			appearance: none;
			overflow: hidden;
			opacity: 0;
			width: 0 !important;
			height: 0 !important;
			border: 0 !important;
			padding: 0 !important;
			position: absolute;

			+ label {
				display: block;
				float: left;
				position: relative;
				cursor: pointer;

				i {
					width: 24px;
					line-height: 24px;
					text-align: center;
					font-size: 15px;
				}

				span {
					display: block;
					position: absolute;
					top: 100%;
					width: 224px;
					max-width: 0;
					max-height: 0;
					overflow: hidden;
					transition: 1ms 200ms;
					left: -100px;
					text-align: center;
					padding-bottom: 30px;

					em {
						display: inline-block;
						position: relative;
						border-radius: 3px;
						/* TODO: figure out which variable this needs to be. (dark-dark isn't available in light mode)*/
						background-color: #26292C;
						padding: 4px;
						font-style: normal;
						transform-origin: top center;
						transform: scale(0.3);
						opacity: 0;
						transition: 100ms ease-in;

						&:before {
							content: '';
							display: block;
							position: absolute;
							border-style: solid;
							border-width: 4px;
							border-color: transparent transparent #26292C;
							top: -8px;
							left: calc(50% - 4px);
						}
					}
				}

				i:hover {
					color: $editor-lighter;

					+ span {
						max-height: 400px;
						transition: 1ms;
						width: 220px;
						max-width: 220px;
						height: auto;

						em {
							transform: translateY(15px) scale(1);
							opacity: 1;
							animation: show-tooltip;
							transition: 150ms ease-in-out;
						}
					}
				}
			}

			&:checked + label {
				i {
					color: $editor-info;
				}
			}
		}
	}
}

