:root {
	--e-is-device-mode: 0;
}

.e-is-device-mode {
	--e-is-device-mode: 1;
}

#elementor-responsive-bar {
	position: sticky;
	height: calc(40px * var(--e-is-device-mode));
	align-self: stretch;
	flex-shrink: 0;
	transition: height .2s ease-in-out, opacity .1s ;
	#{ $start }: 0;
	top: 0;
	z-index: 100;
	opacity: var(--e-is-device-mode);
	box-shadow: 0 0 10px 2px rgba(0,0,0,.33), 0 0 2px 1px rgba(0,0,0,.25), 0 0 6px -3px rgba(255,255,255,.5);

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transform: scaleX( var( --e-preview-scale, 1 ) );
	}
}

.e-responsive-bar {

	&-switcher__option {
		cursor: pointer;
		text-align: center;
		width: 22px;
		height: 22px;
		margin: 0 4px;
		line-height: 22px;
		border-radius: 3px;
		font-size: 16px;
		transition: background-color .3s ease-out;

		&:hover, &[aria-selected="true"] {
			color: $editor-lighter;
			background-color: rgba(255, 255, 255, 0.1);
		}

		input {
			display: none;

			&:checked + i {
				color: $editor-info;
			}
		}

		&:not(:last-child) {
			margin-inline-end: 6px;
		}

	}

	&__button {
		appearance: none;
		background: none;
		border: 0 none;
		cursor: pointer;
		color: inherit;

		&:focus:not(:focus-visible) {
			outline: none;
		}

		&:hover {
			color: $editor-lighter;
			background-color: rgba(255, 255, 255, 0.1);
		}
	}

	&--pipe {
		position: relative;

		&::before {
			content: '';
			display: block;
			height: 20px;
			width: 1px;
			background-color: $editor-dark;
			position: absolute;
			@include end(-5px);
			top: calc(50% - 10px);
		}
	}

	&__input-size {
		background-color: transparent;
		color: $editor-light;
		border: 1px solid $editor-dark !important;
		padding: 0 3px;
		width: 60px;
		font-size: 12px;
		line-height: 16px;
		height: 18px;
		margin: auto 8px auto 4px;

		&-separator {
			color: $editor-dark;
		}
	}

}

#e-responsive-bar {
	width: 100%;
	margin-top: calc(-40px + (40px * var(--e-is-device-mode)));
	z-index: 1;
	transition: margin-top .2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $editor-light;
	background-color: $editor-darkest;

	&__center, &__end, &-scale, &-switcher {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13px;
		background-color: #495157;
		padding: 2px 0;
	}

	@media ( min-width:1400px ) {
		&__center {
			margin-#{ $start }: 50%;
			transform: translate( getValueByDirection( -50%, 50% ), 0 );
		}
	}

	&__close-button,
	&__settings-button {
		width: 22px;
		height: 22px;
		border-radius: 3px;
		margin: 7px 5px;
		font-size: 16px;
	}

	&__size-inputs-wrapper {
		display: flex;
		align-items: center;
		margin-inline-end: 8px;
		color: $editor-dark;
	}

	&-switcher {
		padding: 0 20px;
	}

	&-scale {
		padding: 0 20px;

		&__value-wrapper {
			margin: 0 14px;
			min-width: 32px;
			text-align: center;
		}

		&__plus, &__minus, &__reset {
			cursor: pointer;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__minus {
			&:before {
				content: "";
				display: block;
				width: 13px;
				height: 2px;
				background: #a4afb7;
				border-radius: 3px;
			}
		}

		&__reset {
			margin: 0px 8px;
		}

	}


}
