.elementor-revision-item {
	padding: 10px 10px 20px;
	border-bottom: 1px solid #a5a5a5;
	cursor: pointer;
	user-select: none;

	&:not(.elementor-state-show) {
		.elementor-state-icon {
			display: none;
		}
	}
}

.elementor-button-default {
	&.elementor-revisions-preview,
	&.elementor-revisions-revert{
		font-size: 10px;
		padding: 4.5px 6px;
	}
}

.elementor-revision-item-title {
	@include padding-end( 20px );
}

.elementor-revision-current-preview {
	background: #a8afb6;
	color: white;
}

.elementor-revision-current-published {
	background: #5a805f;
}