.elementor-revision- {

	&item {
		display: flex;
		align-items: center;
		border: 1px solid $editor-lightest;
		padding: 10px 15px;
		margin-bottom: 10px;
		cursor: pointer;

		&:hover:not(.elementor-revision-current-preview) {
			background-color: fade_out($editor-background, 0.7) ;
		}

		&:not(:hover) {

			.elementor-revision-item__tools-delete {
				display: none;
			}
		}

		&-loading {

			.elementor-revision-item__tools-delete {
				display: none;
			}
		}

		&:not(.elementor-revision-item-loading) {

			.elementor-revision-item__tools-spinner {
				display: none;
			}
		}

		&__gravatar {
			border-radius: 50%;
			overflow: hidden;
		}

		&__details {
			padding: 0 10px;
			flex-grow: 1;
		}
	}

	&date {
		font-size: 10px;
	}

	&meta {
		padding-top: 5px;
		font-size: 9px;
		font-weight: bold;
	}

	&current-preview {
		background-color: $editor-background;
	}


}
