.select2-container {
	width: 100% !important;
	outline: none;
	z-index: $editor-layer;
	font-size: 12px;

	.e-select2-placeholder {
		color: var(--e-a-color-txt-muted);
	}

	&.select2-container--default {

		.select2-selection--single {
			height: $control-unit;
			background-color: transparent;

			.select2-selection__rendered {
				color: var(--e-a-color-txt);
				line-height: $control-unit;
			}
		}

		.select2-results__option--highlighted[aria-selected] {
			background-color: var(--e-a-bg-hover);
			color: var(--e-a-color-txt-hover);
		}

		.select2-selection--multiple {
			background-color: var(--e-a-bg-default);
			min-height: $control-unit;
			line-height: 0;

			.select2-selection__clear {
				display: none;
			}

			.select2-selection__choice {
				background-color: var(--e-a-btn-bg);
				color: var(--e-a-btn-color-invert);
				line-height: 1.2;
				font-size: 10px;
				border: none;
				border-radius: 0;
				padding: 2px 3px;

				&.select2-selection__e-plus-button {
					cursor: pointer;
					width: 16.67px;
					text-indent: -9999px;
					position: relative;

					&:after {
						content: '\e815';
						font-family: "eicons";
						color: var(--e-a-btn-color-invert);
						text-indent: 0;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;

					}
				}
			}

			.select2-selection__rendered {
				padding-bottom: 5px;
			}

			.select2-selection__choice__remove{
				color: var(--e-a-btn-color-invert);
				@include margin-end(3px);
			}
		}
	}

	&:not(.select2-container--open):not(.select2-container--focus) {

		.select2-selection--single,
		.select2-selection--multiple {
			background-color: var(--e-a-bg-default);
			color: var(--e-a-color-txt);
			border-color: var(--e-a-border-color);
		}
	}

	&.select2-container--open,
	&.select2-container--focus {

		.select2-selection--single,
		.select2-selection--multiple {
			border-color: var(--e-a-border-color-bold);
		}
	}
}

.select2-selection {
	outline: none;

	&--single {
		height: $control-unit;
	}
}

.select2-selection__arrow {
	height: $control-unit;
	top: 0;
}

.select2-results__option[aria-selected=true] {
	background-color: var(--e-a-bg-active);
	color: var(--e-a-color-txt-active);

	&:not(.select2-results__option--highlighted) {
		background-color: var(--e-a-bg-active);
	}
}

.select2-dropdown {
	border-color: var(--e-a-border-color);
	background-color: var(--e-a-bg-default);
	color: var(--e-a-color-txt);
	box-shadow: var(--e-a-dropdown-shadow);

	.select2-search__field {
		outline: none;
	}
}
