.select2-container {
	width: 100% !important;
	outline: none;
	z-index: $editor-layer;
	font-size: 12px;

	&.select2-container--default {

		.select2-selection--single {
			height: 27px;

			.select2-selection__rendered {
				color: $editor-dark;
				line-height: 27px;
			}
		}

		.select2-selection--multiple {
			min-height: $control-unit;

			.select2-selection__clear {
				display: none;
			}

			.select2-selection__choice {
				line-height: 1.5;
				font-size: 0.9em;
				border: none;
				border-radius: 0;

				&.select2-selection__e-plus-button {
					cursor: pointer;
				}
			}
		}
	}

	&:not(.select2-container--open):not(.select2-container--focus) {

		.select2-selection--single,
		.select2-selection--multiple {
			border-color: $editor-lightest;
		}
	}

	&.select2-container--open,
	&.select2-container--focus {

		.select2-selection--single,
		.select2-selection--multiple {
			border-color: $editor-light;
		}
	}
}

.select2-selection {
	outline: none;

	&--single {
		height: $control-unit;
	}
}

.select2-selection__arrow {
	height: $control-unit;
	top: 0;
}

.select2-results__option[aria-selected=true] {
	color: $editor-darkest;

	&:not(.select2-results__option--highlighted) {
		background-color: initial;
	}
}

.select2-dropdown {
	border-color: $editor-light;

	.select2-search__field {
		outline: none;
	}
}
