$library_screen_breakpoint: $screen-lg-max;

.elementor-templates-modal {

	.dialog-widget-content {
		font-family: Roboto, Arial, Helvetica, Verdana, sans-serif; // Default fonts for admin
		background-color: $editor-background-light;
		width: 100%;

		@media (max-width: $library_screen_breakpoint) {
			max-width: 990px;
		}

		@media (min-width: $library_screen_breakpoint + 1) {
			max-width: 1200px;
		}
	}

	.dialog {

		&-widget-header {
			padding: 0;
			background-color: #fff;
			box-shadow: $panel-bottom-shadow;
			position: relative; // Show the shadow above the scrolled list
			z-index: 1;
		}

		&-buttons-wrapper {
			display: none;
		}

		&-message {
			height: 750px;
			max-height: 85vh;
			overflow: auto;
			padding: 25px 30px 30px;
		}

		&-content {
			height: 100%;
		}

		&-loading {
			display: none;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;

		&__logo {
			font-size: 15px;
			line-height: 1;
			text-transform: uppercase;
			color: $editor-darkest;
			font-weight: bold;
			cursor: pointer;

			&-area {
				text-align: $start;
				@include padding-start(15px);

				> * {
					display: flex;
					align-items: center;
				}
			}

			&__icon-wrapper {
				padding: 4px 7px 6px;
				background-image: linear-gradient(-135deg, $brand-color-light, $brand-color-dark);
				border-radius: 2px;
				@include margin-end(10px);
			}

			i {
				color: #fff;
				font-size: 10px;
			}
		}

		&__items-area {
			display: flex;
			flex-direction: row-reverse;
		}

		&__item {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: content-box;

			> i {
				font-size: 20px;
				transition: color .5s;
				cursor: pointer;

				&:not(:hover) {
					color: $editor-light;
				}
			}
		}

		&__close {

			&--normal {
				width: 45px;
				@include border-start(1px solid $editor-background);

				i {
					font-size: 18px;
				}
			}

			&--skip {
				padding: 10px;
				@include padding-start(20px);
				@include margin-end(10px);
				color: #fff;
				background-color: $editor-light;
				font-size: 11px;
				font-weight: normal;
				line-height: 1;
				text-transform: uppercase;
				border-radius: 2px;
				cursor: pointer;

				> i {
					font-size: inherit;
					@include padding-start(10px);
					@include margin-start(15px);
					@include border-start(1px solid);

					&:not(:hover) { // Overwrite the default
						color: #fff;
					}
				}
			}
		}
	}
}
