@for $i from 1 through 4 {
	.elementor-control-unit-#{$i} {
		width: $control-unit * $i;
	}
}

.elementor-control-unit-5 {
	max-width: 400px;
	width: 52%; //= Equal to 5 units in default panel width (300px)
}
