*, :before, :after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
    height: 100%;
}

html {
    background-color: #F1F1F1;
}

iframe,
img {
	border: 0 none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
    color: $editor-dark;
    font-family: $admin-font-family;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    text-transform: none;
    overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		@include end(0);
		height: 100%;
		width: 0;
		background-color: $editor-info;
		transition: width .5s;
	}

	a {
		color: $editor-info;

		&:hover {
			color: $editor-accent;
		}
	}

	&.elementor-editor-active {
		#elementor-mode-switcher-preview {
			.eicon {
				&:before {
					content: getValueByDirection('\e89f', '\e89e');
				}
			}
		}
	}

	&.elementor-editor-preview {
		--e-preview-width: 100%;

		#elementor-mode-switcher-preview {
			.eicon {
				&:before {
					content: getValueByDirection('\e89e', '\e89f');
				}
			}
		}
	}

	&.elementor-navigator--dock-hint {

		&:after {
			width: 30px;
		}
	}
}

#elementor-editor-wrapper {
	display: flex;
	width: 100%;
	height: 100vh;
}

#elementor-panel,
#elementor-preview {

	&:not(.ui-resizable-resizing) {
		transition: margin .5s ease-in-out, width .5s ease-in-out;
	}
}
