.e-flex {
  display: flex;

  &--dir {

	&-col {
	  flex-direction: column;
	}

	&-col-r {
	  flex-direction: column-reverse;
	}

	&-row {
	  flex-direction: row;
	}

	&-row-r {
	  flex-direction: row-reverse;
	}
  }
}

.e-align-items {

  &-start {
	align-items: flex-start;
  }

  &-end {
	align-items: flex-end;
  }

  &-center {
	align-items: center;
  }

  &-stretch {
	align-items: stretch;
  }
}
