.e-contact-buttons {
    --e-contact-buttons-chat-box-width: 360px;
    --e-contact-buttons-size-small: 65px;
    --e-contact-buttons-size-medium: 75px;
    --e-contact-buttons-size-large: 85px;
    --e-contact-buttons-dot: #FF0000;
    --e-contact-buttons-dot-size: 20px;
    --e-contact-buttons-profile-dot-bg: #39AA59;

    // Platform specific colors
    // Default used for email, sms, url
    --e-contact-buttons-button-bg: #467FF7;
    --e-contact-buttons-button-bg-hover: #1C2448;
    --e-contact-buttons-button-icon: #ffffff;
    --e-contact-buttons-button-icon-hover: #ffffff;
    --e-contact-buttons-top-bar-bg: #1C2448;
    --e-contact-buttons-top-bar-name: #ffffff;
    --e-contact-buttons-top-bar-title: #ffffff;
    --e-contact-buttons-close-button-color: #ffffff;
    --e-contact-buttons-message-bubble-name: #ffffff;
    --e-contact-buttons-message-bubble-message: #000000;
    --e-contact-buttons-message-bubble-time: #000000;
    --e-contact-buttons-message-bubble-name: #ffffff;
    --e-contact-buttons-message-bubble-bubble-bg: #ffffff;
    --e-contact-buttons-message-bubble-chat-bg: #C8D5DC;
    --e-contact-buttons-send-button-icon: #ffffff;
    --e-contact-buttons-send-button-bg: #467FF7;
    --e-contact-buttons-send-button-icon-hover: #ffffff;
    --e-contact-buttons-send-button-bg-hover: #1C2448;
    --e-contact-buttons-chat-box-bg: #FFFFFF;

    position: fixed;
    bottom: 20px;
    min-width: var(--e-contact-buttons-chat-box-width);
    right: 20px;
    z-index: 99;

    &.has-platform-whatsapp {
        --e-contact-buttons-button-bg: #25D366;
        --e-contact-buttons-button-bg-hover: #075E54;
        --e-contact-buttons-button-icon: #ffffff;
        --e-contact-buttons-button-icon-hover: #ffffff;
        --e-contact-buttons-top-bar-bg: #075E54;
        --e-contact-buttons-top-bar-name: #ffffff;
        --e-contact-buttons-top-bar-title: #ffffff;
        --e-contact-buttons-close-button-color: #ffffff;
        --e-contact-buttons-message-bubble-name: #ffffff;
        --e-contact-buttons-message-bubble-message: #000000;
        --e-contact-buttons-message-bubble-time: #000000;
        --e-contact-buttons-message-bubble-name: #ffffff;
        --e-contact-buttons-message-bubble-bubble-bg: #ffffff;
        --e-contact-buttons-message-bubble-chat-bg: #ECE5DD;
        --e-contact-buttons-send-button-icon: #ffffff;
        --e-contact-buttons-send-button-bg: #25D366;
        --e-contact-buttons-send-button-icon-hover: #ffffff;
        --e-contact-buttons-send-button-bg-hover: #075E54;
        --e-contact-buttons-chat-box-bg: #FFFFFF;
    }

    &.has-platform-skype {
        --e-contact-buttons-button-bg: #00AFF0;
        --e-contact-buttons-button-bg-hover: #0D72CF;
        --e-contact-buttons-button-icon: #ffffff;
        --e-contact-buttons-button-icon-hover: #ffffff;
        --e-contact-buttons-top-bar-bg: #0D72CF;
        --e-contact-buttons-top-bar-name: #ffffff;
        --e-contact-buttons-top-bar-title: #ffffff;
        --e-contact-buttons-close-button-color: #ffffff;
        --e-contact-buttons-message-bubble-name: #ffffff;
        --e-contact-buttons-message-bubble-message: #000000;
        --e-contact-buttons-message-bubble-time: #000000;
        --e-contact-buttons-message-bubble-name: #ffffff;
        --e-contact-buttons-message-bubble-bubble-bg: #ffffff;
        --e-contact-buttons-message-bubble-chat-bg: #CDF7FF;
        --e-contact-buttons-send-button-icon: #ffffff;
        --e-contact-buttons-send-button-bg: #00AFF0;
        --e-contact-buttons-send-button-icon-hover: #ffffff;
        --e-contact-buttons-send-button-bg-hover: #0D72CF;
        --e-contact-buttons-chat-box-bg: #FFFFFF;
    }

    &.has-platform-messenger {
        --e-contact-buttons-button-bg: #168AFF;
        --e-contact-buttons-button-bg-hover: #168AFF;
        --e-contact-buttons-button-icon: #ffffff;
        --e-contact-buttons-button-icon-hover: #ffffff;
        --e-contact-buttons-top-bar-bg: #168AFF;
        --e-contact-buttons-top-bar-name: #ffffff;
        --e-contact-buttons-top-bar-title: #ffffff;
        --e-contact-buttons-close-button-color: #ffffff;
        --e-contact-buttons-message-bubble-name: #ffffff;
        --e-contact-buttons-message-bubble-message: #000000;
        --e-contact-buttons-message-bubble-time: #000000;
        --e-contact-buttons-message-bubble-name: #ffffff;
        --e-contact-buttons-message-bubble-bubble-bg: #ffffff;
        --e-contact-buttons-message-bubble-chat-bg: #F0F0F0;
        --e-contact-buttons-send-button-icon: #ffffff;
        --e-contact-buttons-send-button-bg: #168AFF;
        --e-contact-buttons-send-button-icon-hover: #ffffff;
        --e-contact-buttons-send-button-bg-hover: #168AFF;
        --e-contact-buttons-chat-box-bg: #FFFFFF;
    }

    &.has-platform-viber {
        --e-contact-buttons-button-bg: #7360F2;
        --e-contact-buttons-button-bg-hover: #4E4879;
        --e-contact-buttons-button-icon: #ffffff;
        --e-contact-buttons-button-icon-hover: #ffffff;
        --e-contact-buttons-top-bar-bg: #4E4879;
        --e-contact-buttons-top-bar-name: #ffffff;
        --e-contact-buttons-top-bar-title: #ffffff;
        --e-contact-buttons-close-button-color: #ffffff;
        --e-contact-buttons-message-bubble-name: #ffffff;
        --e-contact-buttons-message-bubble-message: #000000;
        --e-contact-buttons-message-bubble-time: #000000;
        --e-contact-buttons-message-bubble-name: #ffffff;
        --e-contact-buttons-message-bubble-bubble-bg: #ffffff;
        --e-contact-buttons-message-bubble-chat-bg: #E5E1FF;
        --e-contact-buttons-send-button-icon: #ffffff;
        --e-contact-buttons-send-button-bg: #7360F2;
        --e-contact-buttons-send-button-icon-hover: #ffffff;
        --e-contact-buttons-send-button-bg-hover: #4E4879;
        --e-contact-buttons-chat-box-bg: #FFFFFF;
    }

    &__content {
        display: none;
        font-family: var(--e-global-typography-text-font-family, 'Poppins'), Sans-serif;

        &.is-visible {
            display: block; // will be replaced with animation
        }
    }

    &__top-bar {
        align-items: center;
        background-color: var(--e-contact-buttons-top-bar-bg);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    &__top-bar-name {
        color: var(--e-contact-buttons-top-bar-name);
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0;
    }

    &__top-bar-title {
        color: var(--e-contact-buttons-top-bar-title);
        font-size: 20px;
        margin-bottom: 0;
    }

    &__profile-image {
        align-items: center;
        display: flex;
        position: relative;

        img {
            border-radius: 50%;
            object-fit: cover;
        }

        &.has-size-small img {
            height: var(--e-contact-buttons-size-small);
            width: var(--e-contact-buttons-size-small);
        }

        &.has-size-medium img {
            height: var(--e-contact-buttons-size-medium);
            width: var(--e-contact-buttons-size-medium);
        }

        &.has-size-large img {
            height: var(--e-contact-buttons-size-large);
            width: var(--e-contact-buttons-size-large);
        }

        &.has-dot::after {
            background-color: var(--e-contact-buttons-profile-dot-bg);
            border: 3px solid var(--e-contact-buttons-top-bar-bg);
            border-radius: 50%;
            bottom: 5px;
            content: "";
            height: 20px;
            position: absolute;
            right: 0;
            width: 20px;
        }
    }

    &__close-button {
        background: none;
        border: 0;
        color: var(--e-contact-buttons-close-button-color);
        padding: 0;
        position: absolute;
        right: 20px;
        top: 20px;

        svg {
            height: 20px;
            width: 20px;
        }

        &:hover,
        &:focus {
            background: none;
            border: 0;
            color: var(--e-contact-buttons-close-button-color);
        }
    }

    &__chat-button-container {
        display: flex;
        justify-content: flex-end;
    }
    
    &__chat-button {
        align-items: center;
        background-color: var(--e-contact-buttons-button-bg);
        border-radius: 50%;
        border: 0;
        color: var(--e-contact-buttons-button-icon);
        display: flex;
        justify-content: center;
        position: relative;
        
        &:hover,
        &:focus {
            background-color: var(--e-contact-buttons-button-bg-hover);
            color: var(--e-contact-buttons-button-icon-hover);
        }

        &.has-dot::after {
            background-color: var(--e-contact-buttons-dot);
            border-radius: 50%;
            content: "";
            height: var(--e-contact-buttons-dot-size);
            position: absolute;
            right: 0;
            top: 0;
            width: var(--e-contact-buttons-dot-size);
        }

        &.has-size-small {
            height: var(--e-contact-buttons-size-small);
            width: var(--e-contact-buttons-size-small);
        }

        &.has-size-medium {
            height: var(--e-contact-buttons-size-medium);
            width: var(--e-contact-buttons-size-medium);
        }

        &.has-size-large {
            height: var(--e-contact-buttons-size-large);
            width: var(--e-contact-buttons-size-large);
        }
	}
}
