.e-contact-buttons-var-4 {
	--e-contact-buttons-size-small: 45px;
	--e-contact-buttons-size-medium: 50px;
	--e-contact-buttons-size-large: 55px;
	--e-contact-buttons-button-bg-hover: #324A6D;
	--e-contact-buttons-close-button-color: #1C2448;
	--e-contact-buttons-contact-button-icon-hover: #467FF7;
	--e-contact-buttons-contact-button-bg-hover: #FFFFFF;

	.e-contact-buttons__chat-button,
	.e-contact-buttons__contact-icon-link {

		&.has-size-small {

			svg {
				height: 26px;
				width: 26px;
			}
		}

		&.has-size-medium {

			svg {
				height: 30px;
				width: 30px;
			}
		}

		&.has-size-large {

			svg {
				height: 32px;
				width: 32px;
			}
		}
	}

	.e-contact-buttons__chat-buttons-container {
		display: flex;
	}

	.e-contact-buttons__close-button {
		background-color: var(--e-contact-buttons-close-button-bg);
		border-radius: 50%;
		inset-inline-end: unset;
		inset-inline-start: unset;
		position: relative;
		top: unset;

		&.has-size-small {
			height: var(--e-contact-buttons-size-small);
			width: var(--e-contact-buttons-size-small);
		}

		&.has-size-medium {
			height: var(--e-contact-buttons-size-medium);
			width: var(--e-contact-buttons-size-medium);
		}

		&.has-size-large {
			height: var(--e-contact-buttons-size-large);
			width: var(--e-contact-buttons-size-large);
		}
	}

	.e-contact-buttons__close-button,
	.e-contact-buttons__chat-button {

		&[aria-hidden="true"] {
			display: none;
		}
	}

	.e-contact-buttons__content {
		border-radius: 0;
		box-shadow: none;
		margin: 0;
		overflow: visible;
	}

	.e-contact-buttons__contact-links {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		gap: var(--e-contact-buttons-contact-gap);
		margin-bottom: var(--e-contact-buttons-contact-gap);
	}

	.e-contact-buttons__contact-icon-container {
		align-items: center;
		background-color: var(--e-contact-buttons-contact-button-bg);
		border-radius: 50px;
		display: inline-flex;
		justify-content: center;
		transition: $transition-hover;
	}

	.e-contact-buttons__contact-icon-link {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 14px;

		svg {
			fill: var(--e-contact-buttons-contact-button-icon);
		}

		&:hover,
		&:focus {

			.e-contact-buttons__contact-icon-container {
				background-color: var(--e-contact-buttons-contact-button-bg-hover);
				transition: $transition-hover;
			}

			svg {
				fill: var(--e-contact-buttons-contact-button-icon-hover);
			}
		}

		&.has-size-small .e-contact-buttons__contact-icon-container {
			height: var(--e-contact-buttons-icon-size-small);
			width: var(--e-contact-buttons-icon-size-small);
		}

		&.has-size-medium .e-contact-buttons__contact-icon-container {
			height: var(--e-contact-buttons-icon-size-medium);
			width: var(--e-contact-buttons-icon-size-medium);
		}

		&.has-size-large .e-contact-buttons__contact-icon-container {
			height: var(--e-contact-buttons-icon-size-large);
			width: var(--e-contact-buttons-icon-size-large);
		}
	}

	.e-contact-buttons__contact-tooltip {
		background-color: var(--e-contact-buttons-tooltip-bg);
		border-radius: 16px;
		box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);
		color: var(--e-contact-buttons-tooltip-text);
		font-size: 13px;
		line-height: 25px;
		padding: 4px 14px;
		position: relative;

		&::after {
			border-style: solid;
			border-inline-start-width: 10px;
			border-inline-end-width: 0;
			border-block-start-width: 8px;
			border-block-end-width: 8px;
			border-inline-start-color: var(--e-contact-buttons-tooltip-bg);
			border-inline-end-color: transparent;
			border-block-start-color: transparent;
			border-block-end-color: transparent;
			content: "";
			height: 0;
			position: absolute;
			inset-inline-end: -8px;
			top: 50%;
			transform: translateY(-50%);
			width: 0;
		}
	}
}