.e-contact-buttons-var-1 {
	--e-contact-buttons-button-bg: #324A6D;
	--e-contact-buttons-button-bg-hover: #1C2448;
	--e-contact-buttons-top-bar-bg: #324A6D;
	--e-contact-buttons-message-bubble-name: #1C2448;
	--e-contact-buttons-message-bubble-body: #1C2448;
	--e-contact-buttons-message-bubble-time: #1C2448;
	--e-contact-buttons-message-bubble-bubble-bg: #C8D5DC;
	--e-contact-buttons-message-bubble-chat-bg: #FFFFFF;
	--e-contact-buttons-contact-text: #1C2448;

	.e-contact-buttons__contact {
		align-items: center;
		background-color: var(--e-contact-buttons-chat-box-bg);
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		padding: 0 20px 20px 20px;
	}

	.e-contact-buttons__message-bubble {
		background-color: var(--e-contact-buttons-chat-box-bg);
	}

	.e-contact-buttons__contact-text {
		color: var(--e-contact-buttons-contact-text);
		font-size: 20px;
		font-weight: 400;
		line-height: 25px;
		margin-bottom: 0;
	}

	.e-contact-buttons__contact-links {
		display: flex;
		gap: 12px;
	}

	.e-contact-buttons__contact-icon-link {
		align-items: center;
		background-color: var(--e-contact-buttons-contact-button-bg);
		border-radius: 50px;
		display: inline-flex;
		justify-content: center;
		transition: $transition-hover;

		svg {
			fill: var(--e-contact-buttons-contact-button-icon);
			height: 28px;
			width: 28px;
		}

		&:hover,
		&:focus {
			background-color: var(--e-contact-buttons-contact-button-bg-hover);
			transition: $transition-hover;

			svg {
				fill: var(--e-contact-buttons-contact-button-icon-hover);
			}
		}

		&.has-size-small {
			height: var(--e-contact-buttons-icon-size-small);
			width: var(--e-contact-buttons-icon-size-small);
		}

		&.has-size-medium {
			height: var(--e-contact-buttons-icon-size-medium);
			width: var(--e-contact-buttons-icon-size-medium);
		}

		&.has-size-large {
			height: var(--e-contact-buttons-icon-size-large);
			width: var(--e-contact-buttons-icon-size-large);
		}
	}
}