.e-contact-buttons-var-8 {
	--e-contact-buttons-size-small: 48px;
	--e-contact-buttons-size-medium: 56px;
	--e-contact-buttons-size-large: 64px;
	--e-contact-buttons-svg-size-small: 24px;
	--e-contact-buttons-svg-size-medium: 28px;
	--e-contact-buttons-svg-size-large: 32px;

	--e-contact-buttons-button-bg: #324A6D;
	--e-contact-buttons-button-bg-hover: #1C2448;
	--e-contact-buttons-close-button-color: #F3F5F8;

	.has-size-small.e-contact-buttons__close-button {
		height: var(--e-contact-buttons-size-small);
		width: var(--e-contact-buttons-size-small);

		svg {
			height: var(--e-contact-buttons-svg-size-small);
			width: var(--e-contact-buttons-svg-size-small);
		}
	}

	.has-size-medium.e-contact-buttons__close-button {
		height: var(--e-contact-buttons-size-medium);
		width: var(--e-contact-buttons-size-medium);

		svg {
			height: var(--e-contact-buttons-svg-size-medium);
			width: var(--e-contact-buttons-svg-size-medium);
		}
	}

	.has-size-large.e-contact-buttons__close-button {
		height: var(--e-contact-buttons-size-large);
		width: var(--e-contact-buttons-size-large);

		svg {
			height: var(--e-contact-buttons-svg-size-large);
			width: var(--e-contact-buttons-svg-size-large);
		}
	}

	.e-contact-buttons__chat-buttons-container {
		display: flex;
	}

	.e-contact-buttons__close-button {
		background-color: var(--e-contact-buttons-close-button-bg);
		border-radius: 50%;
		inset-inline-end: unset;
		inset-inline-start: unset;
		position: relative;
		top: unset;
	}

	.e-contact-buttons__close-button,
	.e-contact-buttons__chat-button {

		&[aria-hidden="true"] {
			display: none;
		}
	}
}