.e-link-in-bio-var-4 {
	--e-link-in-bio-ctas-text-color: $link-in-bio-text-color-default;
	--e-link-in-bio-ctas-background-color: transparent;
	--e-link-in-bio-ctas-divider-color: $link-in-bio-text-color-default;
	--e-link-in-bio-ctas-divider-width: 1px;

	.e-link-in-bio__ctas {
		.e-link-in-bio__cta {
			border-bottom: var(--e-link-in-bio-ctas-divider-width) solid var(--e-link-in-bio-ctas-divider-color);
			font-size: 24px;
			font-weight: 600;

			&.is-type-button.has-corners-rounded {
				--e-link-in-bio-ctas-border-radius: 0;
			}
		}
	}
}
