// Panel elements categories
#elementor-panel-elements-categories {
	padding-block-end: 10px;
	position: relative;
}

.elementor-panel-category {
	position: relative;
	border-block-end: var(--e-a-border);

	.elementor-panel-heading {
		padding: 0 15px;
		border: none;
		background-color: transparent;
		position: relative;

		&:focus {
			// background-color: var(--e-a-bg-hover);
		}

		.elementor-panel-heading-button {
			border: none;
			background-color: transparent;
			cursor: pointer;
			display: flex;
			gap: 5px;
		}

		.elementor-panel-heading-button::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			cursor: pointer;
			z-index: -1;
		}
	}

	&.elementor-active {

		.elementor-panel-heading {
			border: none;
		}

		&-title {
			display: flex;
		}
	}

	&-items {
		padding-block-end: 20px;

		&-empty {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}
