// Panel elements categories
#elementor-panel-elements-categories {
	padding-block-end: 10px;
	position: relative;
	flex: 1;
	overflow-y: auto;

}

//#elementor-panel-get-pro-elements-sticky {
//	position: sticky;
//	bottom: 0;
//	font-family: Roboto;
//	font-size: 13px;
//	font-weight: 500;
//	line-height: 22px;
//	letter-spacing: 0.10000000149011612px;
//	text-align: center;
//}


.elementor-panel-category {
	position: relative;
	border-block-end: var(--e-a-border);

	.elementor-panel-heading {
		padding: 0 15px;
		border: none;
		background-color: transparent;

		&:focus {
			// background-color: var(--e-a-bg-hover);
		}
	}

	.elementor-upgrade-sticky {
		position: sticky;
		bottom:0;

	}

	&.elementor-active {

		.elementor-panel-heading {
			border: none;
		}
	}

	&-items {
		padding-block-end: 20px;

		&-empty {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}
