// Panel elements categories
#elementor-panel-elements-categories {
	padding-bottom: 10px;
}

.elementor-panel-category {
	position: relative;
	border-bottom: var(--e-a-border);

	.elementor-panel-heading {
		padding: 0 15px;
		border: none;
		background-color: transparent;

		&:focus {
			// background-color: var(--e-a-bg-hover);
		}
	}

	&.elementor-active {

		.elementor-panel-heading {
			border: none;
		}
	}

	&-items {
		padding-bottom: 20px;

		&-empty {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}
