.wp-picker-container {

	&.wp-picker-active {
		position: absolute;
		z-index: 1;
		top: 0;
		@include end(7px);
		background-color: #fff;
		border: solid #fff;
		border-width: 0 10px 0 5px;
		padding-top: 10px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

		.wp-color-result {
			float: right;
		}

		.wp-picker-input-wrap {
			padding-left: 10px;
			float: left;
		}
	}

	* {
		box-sizing: content-box;
	}

	.color-alpha {
		$margin: 2px;

		width: calc( 100% - #{$margin} * 2 );
		height: calc( 100% - #{$margin} * 2 );
		margin: $margin;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 2px;
		box-sizing: border-box;
	}

	.iris-picker {
		border: none;
	}

	&:not(.wp-picker-active) {
		float: $end;

		.wp-color-result {
			margin: 0;
		}
	}

	&.wp-picker-active {
		transform: translateY(6px);

		[class*="wp-version-4-9"] #elementor-controls &, [class*="wp-version-5"] #elementor-controls & {
			padding-top: 9px;
		}

		.wp-color-result {
			margin-right: 3px;
		}
	}
}

.wp-color-result {
	margin: 0;
	width: 48px;
	height: 25px;
	transition: border .5s;
	padding: 0;
	background-color: #fafafa;
	border-radius: 3px;
	border: 1px solid $editor-lightest;

	&, &:focus {
		box-shadow: inset 0 0 0 3px white;
	}

	&, &.wp-picker-open {

		&:after {
			content: none;
		}
	}

	&:hover {
		border: 1px solid $editor-light;
	}

	&:focus,
	&:active {
		outline: 0;
	}
}

.wp-picker-default,
.wp-picker-clear {

	&.button {
		height: 26px;
		width: 48px;
		padding: 0;
		background-color: $editor-lightest;
		border-radius: 0 3px 3px 0;
		margin: 0;
	}
}

input[type="text"].wp-color-picker {
	float: left;
	width: 100px;
	max-width: 136px;
	border-radius: 3px 0 0 3px;
	font-size: 11px;
	line-height: 12px;
	padding: 7px 3px;
}

.wp-picker-holder {

	* {
		box-sizing: content-box;
	}

	.iris-square-value {
		transition: none;
	}
}

.wp-picker-open {

	~ .wp-picker-holder {
		clear: both;
		margin-bottom: 15px;
	}
}
