//
// Compatibility
//

// WP Media Modal Compatibility
.media-modal.wp-core-ui {

	input {
		width: auto;
	}

	// Normalize form elements in WP's core media management modal
	select {
		width: initial;
	}

	fieldset {
		padding: 0;
		border: 0;
	}

	.wp-clearfix::after {
		content: '';
		display: table;
		clear: both;
	}

	// Hack to remove unwanted elements from the modal
	.e-wp-media-elements-removed {
		.embed-link-settings,
		.embed-media-settings > :not( .wp-clearfix ):not( .alt-text ):not( #alt-text-description ){
			display: none;
		}

		#embed-url-field {
			width: 70%;
		}

		.media-embed {
			.thumbnail {
				margin-top: 20px;

				&,
				img {
					max-height: initial;
				}

				&::after {
					box-shadow: none;
				}
			}
		}

		/* Hack to change the media button selection text, because for some reason the text gets changed when switching tabs. */
		.media-button-select {
			font-size: 0;

			&::before {
				content: var( --button-text );
				font-size: 13px;
			}
		}
	}
}
