//
// Panel Controls
//

.elementor-control {
	--control-title-size: 12px;
	background-color: #fff;
	position: relative;
	padding: 0 20px 15px;

	a {
		font-weight: 500;
		text-decoration: none;
		border-bottom: 1px dotted transparent;
		transition: all ease-in-out .3s;

		&:hover {
			border-bottom-color: inherit;
		}

		&.elementor-responsive-switcher {
			border-bottom: 0;
		}
	}

	//Avoid collapsing margin in the repeater control
	.elementor-control-content {
		display: flex;
		flex-direction: column;
	}

	.elementor-control-title {
		font-size: var(--control-title-size);
		line-height: 1;
		@include margin-end(5px);
	}

	.elementor-control-spinner {
		display: flex;
		align-items: center;
	}

	&.elementor-control-type-divider {
		padding: 0;
		background-color: transparent;

		.elementor-control-content {
			border-width: 0;
			border-color: $editor-background;
			border-style: solid;
			border-top-width: 1px;

			//For the next control in the panel
			background-color: #ffffff;
			height: 15px;
		}
	}

	&.elementor-control-separator- {

		&default:not(.elementor-control-type-divider) {

			// WP Widgets
			&.elementor-control-wp {
				margin-top: 15px;

				&:before {
					content: '';
					height: 1px;
					display: block;
					margin-bottom: 15px;
					background-color: transparent;
				}
			}
		}

		&before {
			padding-top: 15px;

			&:before {
				content: '';
				position: absolute;
				height: 1px;
				width: 100%;
				top: 0;
				left: 0;
				background-color: $editor-background;
			}
		}

		&after {

			&:after {
				content: '';
				position: absolute;
				height: 1px;
				width: 100%;
				bottom: 0;
				left: 0;
				background-color: $editor-background;
			}

			+ .elementor-control-type-tabs,
			&:not(.elementor-hidden-control) {
				+ .elementor-control-separator-default {
					padding-top: 15px;
				}
			}
		}
	}

	&.elementor-control-deprecated {
		color: $editor-warning;

		.elementor-control-field-description {
			color: $editor-warning;
		}
	}

	&.elementor-control-hidden-label {

		> * > .elementor-control-title, > * > * > .elementor-control-title { // Avoid repeater titles to be affected from above
			display: none;
		}
	}

	&.elementor-hidden-control {
		display: none;
	}

	&.elementor-control-type-heading {

		.elementor-control-title {
			font-weight: bold;
			margin: 0;
		}
	}

	&.elementor-control-responsive- {

		@each $device in $devices {

			&#{ $device } {
				body:not(.elementor-device-#{ $device }) & {
					display: none;
				}
			}
		}
	}

	//Select
	&.elementor-control-type-select {

		.elementor-control-input-wrapper {
			position: relative;

			select {
				appearance: none;
				font-size: 12px;
				font-family: inherit;
				font-weight: inherit;
				font-style: inherit;
				text-transform: inherit;
				letter-spacing: inherit;
				line-height: inherit;
				flex-basis: 100%;
				@include padding-start(5px); //fix for Chrome
				@include padding-end(20px);
				cursor: pointer;

				&.e-select-placeholder {
					color: $editor-light;
				}
			}

			option.e-option-placeholder {
				display: none;
			}

			&:after {
				font-family: eicons;
				content: '\e8ad';
				font-size: 12px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				@include end(5px);
				pointer-events: none;
			}
		}
	}

	&-custom_css_pro,
	&-custom_attributes_pro {

		.elementor-nerd-box {

			&-message {
				margin-top: 5px;
			}
		}
	}

	&.elementor-control-custom_css_title {
		font-size: 12px;
	}
}

.elementor-control,
.elementor-panel-scheme-item {

	&.elementor-open {

		.elementor-panel-heading-toggle {

			.eicon {

				&:before {
					content: '\e92a';
				}
			}
		}
	}

	&:not(.elementor-open) {

		.elementor-panel-heading-toggle {

			.eicon {

				&:before {
					content: getValueByDirection('\e90a', '\e909');
				}
			}
		}
	}
}

.elementor-panel-heading {
	display: table;
	table-layout: fixed;
	height: 40px;
	padding: 0 20px;
	width: 100%;
	border-bottom: 1px solid $editor-background;
	cursor: pointer;

	> * {
		display: table-cell;
		vertical-align: middle;
	}

	&-toggle {
		width: 20px;
		color: $editor-darkest;
	}

	&-title {
		color: $editor-darkest;
		font-weight: bold;
	}
}

// WP Widgets
.elementor-control-wp {
	line-height: 1.5;

	p {
		margin: 15px 0;
	}
}

.elementor-control-field {
	display: flex;
	align-items: center;
}

.elementor-label-block {

	> .elementor-control-content {

		> .elementor-control-field {
			flex-wrap: wrap;

			> .elementor-control-input-wrapper {
				width: 100%;
				max-width: 100%;
				margin-top: 10px;

				// TODO: Hack to make choices full width when label is block.
				> .elementor-choices {
					label {
						width: auto;
						flex: 1 1 27px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}
	}

	&.elementor-control-hidden-label:not(.elementor-control-dynamic) {

		> .elementor-control-content {

			> .elementor-control-field {

				> .elementor-control-input-wrapper {
					margin-top: 0;
				}
			}
		}
	}

	&.elementor-control-hidden-label.elementor-label-block {

		> .elementor-control-content {

			> .elementor-control-field {

				> .elementor-control-input-wrapper {
					margin-top: 0;
				}
			}
		}
	}
}

.elementor-label-inline {

	> .elementor-control-content {

		> .elementor-control-field {

			> .elementor-control-title {
				flex-shrink: 0;
				max-width: 60%;
			}

			> .elementor-control-input-wrapper {
				@include margin-start(auto);
			}
		}
	}
}

.elementor-control-field-description {
	@extend .elementor-descriptor;
	margin-top: 10px;
}

.elementor-group-control-attachment_alert {

	.elementor-control-field-description {
		margin-top: 0;
	}
}

.elementor-required {
	color: $editor-warning;
}

.elementor-units-choices {
	flex-grow: 1;
	text-align: $end;
	z-index: 3;

	input {
		display: none;

		&:not(:checked) + label {
			color: $editor-light;
		}

		&.e-units-placeholder + label {
			color: $editor-lighter;
			text-decoration: underline;
		}

		&:checked + label {
			text-decoration: underline;
		}
	}

	label {
		cursor: pointer;
		padding: 0 2px;
		text-transform: uppercase;
		font-size: 9px;
	}
}

@if $direction == rtl {

	.elementor-control-start-end {

		.eicon-h-align-left, .eicon-h-align-right {
			transform: rotate(180deg);
		}
	}
}

$item-size: 2em;

.elementor-control-responsive-switchers {
	--selected-option: 0;
	--pointer-position: var(--selected-option);

	position: relative;
	width: $item-size;
	height: $item-size;
	margin: calc( -#{$item-size} + var(--control-title-size)) 0;
	@include margin-end(5px);

	&__holder {
		position: absolute;
		width: 100%;
		top: 0;
		background-color: #fff;
		border-radius: 3px;
		transition: 0.15s;
		border: 1px transparent solid;
	}

	&.elementor-responsive-switchers-open {
		z-index: 11000;

		.elementor-responsive-switcher {
			height: $item-size;
			transform: scale(1);
			opacity: 1;

			&:hover {
				color: $editor-info;
			}
		}

		.elementor-control-responsive-switchers__holder {
			top: calc(-1 * var(--selected-option) * #{$item-size});
			box-shadow: 0 0 3px rgba(0,0,0,0.2);
		}
	}
}

.elementor-responsive-switcher {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
	cursor: pointer;
	height: 0;
	transform: scale(0);
	opacity: 0;
	transition: 0.15s;
	font-size: 12px;
}

a.elementor-responsive-switcher {
	color: $editor-light;

	&:hover {
		color: $editor-info;
	}
}

@each $device in $devices {
	.elementor-device-#{ $device } {
		.elementor-responsive-switcher.elementor-responsive-switcher-#{ $device } {
			height: $item-size;
			transform: scale(1);
			opacity: 1;
		}
		.elementor-responsive-switchers-open:not(:hover) {
			.elementor-responsive-switcher.elementor-responsive-switcher-#{ $device }{
				color: $editor-info;
			}
		}
	}
}

.elementor-update-preview {
	margin: 15px 15px 0;
	display: flex;
	align-items: center;
}

.elementor-update-preview-button-wrapper {
	flex-grow: 1;
	text-align: $end;
}

.elementor-update-preview-button {
	padding: 8px 15px;
	text-transform: uppercase;
}

// = Set direction control by class
.elementor-control-direction- {

	&ltr {

 		input,
		textarea {
			direction: ltr;
		}
	}

	&rtl {

		input,
		textarea {
			direction: rtl;
		}
	}
}

@import "controls/button";

@import "controls/choose";

@import "controls/color";

@import "controls/control-group-css-filters";

@import "controls/dimensions";

@import "controls/icons";

@import "controls/gallery";

@import "controls/globals";

@import "controls/hidden";

@import "controls/icon";

@import "controls/image-dimensions";

@import "controls/media";

@import "controls/number";

@import "controls/order";

@import "controls/popover-toggle";

@import "controls/repeater";

@import "controls/section";

@import "controls/shadow";

@import "controls/slider";

@import "controls/structure";

@import "controls/switcher";

@import "controls/tabs";

@import "controls/textarea_and_code";

@import "controls/url";

@import "controls/wp-widget";

@import "controls/wysiwyg";

@import "controls/text";
