//
// Panel Controls
//

#elementor-panel-page-editor {

	#elementor-controls {

		> .elementor-control {

			&:not(.elementor-active-tab) {
				display: none;
			}
		}
	}

	.elementor-control {
		background-color: #fff;
		position: relative;
		padding: 0 20px 15px;

		&.elementor-control-separator- {

			&default {

				&:before {
					content: '';
					height: 1px;
					display: block;
					margin-bottom: 15px;
					background-color: $editor-background;
				}

				// WP Widgets
				&.elementor-control-wp {
					margin-top: 15px;

					&:before {
						background-color: transparent;
					}
				}
			}

			&before {
				padding-top: 15px;

				&:before {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					top: 0;
					left: 0;
					background-color: $editor-lightest;
				}
			}
		}

		&.elementor-control-deprecated {
			color: $editor-warning;

			.elementor-control-description {
				color: $editor-warning;
			}
		}

		&.elementor-control-hidden-label {

			.elementor-control-title {
				display: none;
			}
		}

		&.elementor-hidden-control {
			display: none;
		}

		&.elementor-control-under-section {

			&:not(.elementor-open) {
				display: none;
			}
		}

		&.elementor-control-type-heading {

			.elementor-control-title {
				font-weight: bold;
				margin: 0;
			}
		}

		&.elementor-control-responsive- {

			&desktop {

				body:not(.elementor-device-desktop) & {
					display: none;
				}
			}

			&tablet {

				body:not(.elementor-device-tablet) & {
					display: none;
				}
			}

			&mobile {

				body:not(.elementor-device-mobile) & {
					display: none;
				}
			}
		}
	}

	// WP Widgets
	.elementor-control-wp {
		line-height: 1.5;

		p {
			margin: 15px 0;
		}
	}

	.elementor-label-block {

		&:not(.elementor-control-hidden-label):not(.elementor-control-type-heading) {

			.elementor-control-title {

			}
		}

		.elementor-control-field {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		.elementor-control-input-wrapper {
			flex-basis: 100%;
			margin-top: 10px;
		}
	}

	.elementor-label-inline {

		.elementor-control-field {
			display: table;
			width: 100%;

			> * {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.elementor-control-title {
			width: 45%;
		}
	}

	.elementor-control-description {
		@extend .elementor-descriptor;

		margin-top: 10px;
	}

	.elementor-choices {
		display: table;
		width: 100%;
		height: 27px;
		background-color: $editor-light;
		text-align: center;
		border-spacing: 1px;
		border-radius: 3px;

		input {
			display: none;

			&:checked + .elementor-choices-label {
				color: #fff;
			}

			&:not(:checked) + .elementor-choices-label {
				background-color: #fff;
				color: $editor-light;
			}
		}

		.elementor-choices-label {
			display: table-cell;
			vertical-align: middle;
			font-size: 12px;
			transition: all .5s;
			cursor: pointer;
		}
	}

	.elementor-slider {
		display: inline-block;
		margin-top: 10px;
		height: 4px;
		background-color: $editor-light;
		border-radius: 5px;
		position: relative;
		width: 67%;

		.ui-slider-handle {
			height: 16px;
			width: 16px;
			background-color: #fff;
			display: inline-block;
			top: 50%;
			transform: translateY(-50%) translateX(-8px);
			position: absolute;
			box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
			border-radius: 50%;
			cursor: pointer;
		}
	}

	.elementor-slider-input {
		width: 33%;
		float: $end;

		input {
			width: 80%;
			float: $end;
		}
	}

	.elementor-units-choices {
		flex-grow: 1;
		text-align: $end;

		input {
			display: none;

			&:not(:checked) + label {
				color: $editor-lighter;
			}

			&:checked + label {
				text-decoration: underline;
			}
		}

		label {
			cursor: pointer;
			padding: 0 2px;
			text-transform: uppercase;
			font-size: 9px;
		}
	}

	.elementor-control-responsive-switchers {
		display: flex;
		@include margin-start(5px);
	}

	.elementor-responsive-switcher {
		$icon-size: 18px;

		display: inline-block;
		border-radius: 50%;
		height: $icon-size;
		width: $icon-size;
		background-color: $editor-light;
		cursor: pointer;
		position: relative;
		@include margin-start(5px);
		color: #fff;
		font-size: 8px;
		text-align: center;
		transition: background-color .5s;

		&:hover {
			background-color: $editor-lighter;
		}

		i {
			line-height: $icon-size;
		}
	}

	@at-root .elementor-device-desktop #elementor-panel #elementor-panel-page-editor:not(.elementor-responsive-switchers-open) .elementor-responsive-switcher {
		background: $editor-lighter;

		&:not(.elementor-responsive-switcher-desktop) {
			display: none;
		}
	}

	.elementor-responsive-switcher-mobile {

		.elementor-device-mobile & {
			background-color: $editor-info;
		}
	}

	.elementor-responsive-switcher-tablet {

		.elementor-device-tablet & {
			background-color: $editor-info;
		}
	}

	#elementor-update-preview {
		margin: 15px 15px 0;
		background-color: $editor-background;
		display: flex;
		align-items: center;
	}

	#elementor-update-preview-button-wrapper {
		flex-grow: 1;
		text-align: $end;
	}

	#elementor-update-preview-button {
		padding: 8px 15px;
		text-transform: uppercase;
	}

	// Media Control
	.elementor-control-type-media {

		.elementor-control-media {
			padding: 7px;
			border: 1px solid;
			height: 150px;

			&:not(:hover) {
				border-color: $editor-lightest;

				.elementor-control-media-upload-button {
					background-color: $editor-lightest;
				}
			}

			&:hover {
				border-color: $editor-light;

				.elementor-control-media-upload-button {
					background-color: $editor-light;
				}
			}

			&.media-empty {

				.elementor-control-media-image-area {
					display: none;
				}
			}

			&:not(.media-empty) {

				.elementor-control-media-upload-button {
					display: none;
				}
			}

			> * {
				height: 100%;
				cursor: pointer;
				position: relative;
			}
		}

		.fa-plus-circle {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: #fff;
			font-size: 20px;
		}

		.elementor-control-media-image-area {

			&:not(:hover) {

				.elementor-control-media-delete {
					display: none;
				}
			}

			&:hover {

				.elementor-control-media-image {
					opacity: .5;
				}
			}
		}

		.elementor-control-media-delete {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			padding: 9.5px;
			font-size: 11px;
			color: #fff;
			background-color: $editor-light;
			text-transform: uppercase;
		}

		.elementor-control-media-image {
			height: 100%;
			background-size: cover;
		}
	}
	// Dimensions Control
	.elementor-control-type-dimensions {

		.elementor-control-dimensions {
			overflow: hidden;
		}

		li {
			float: left;
			width: 20%;

			input,
			.elementor-link-dimensions {
				display: block;
				text-align: center;
				width: 100%;
				border-color: $editor-light;
				height: 27px;
			}

			input {
				border-left: none;
				border-radius: 0;
				padding: 4px 0;

				+ span {
					display: block;
					text-align: center;
					color: $editor-lightest;
					font-size: 9px;
					text-transform: uppercase;
					padding-top: 5px;
				}

				&:focus {

					+ span {
						color: $editor-light;
					}
				}
			}

			.elementor-link-dimensions {
				border: 1px solid $editor-light;
				border-left: none;
				background-color: #fff;
				padding: 0;
				outline: none;
				border-radius: 0 3px 3px 0;
				cursor: pointer;
			}

			&:first-child {

				input {
					border-left: 1px solid $editor-light;
					border-radius: 3px 0 0 3px;
				}
			}
		}

		.elementor-link-dimensions {

			&.unlinked {
				background-color: #fff;

				.elementor-linked {
					display: none;
				}
			}

			&:not(.unlinked) {
				background-color: $editor-light;

				.elementor-unlinked {
					display: none;
				}
			}

			.elementor-linked {
				color: #fff;
			}

		}
	}

	// URL Control
	.elementor-control-type-url {

		.elementor-control-url-external-hide {

			.elementor-control-url-target {
				display: none;
			}
		}

		.elementor-control-url-external-show {

			input {
				padding-right: 46px;
			}
		}

		.elementor-control-input-wrapper {
			position: relative;
		}

		.elementor-control-url-target {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
			height: 100%;
			width: 40px;
			border: none;
			border-left: 1px solid;
			background: none;
			cursor: pointer;
			font-size: 10px;
			border-radius: 0 3px 3px 0;

			&.active {
				background-color: $editor-light;

				.elementor-control-url-external {
					color: #fff;
				}
			}

			&:not(.active) {

				.elementor-control-url-external {
					opacity: .5;
				}
			}
		}

		input {
			direction: ltr; // Force ltr also in RTL languages

			&:not(:focus) {

				+ .elementor-control-url-target {
					border-color: $editor-lightest;

					&.active {
						background-color: $editor-lightest;
					}
				}
			}

			&:focus {

				+ .elementor-control-url-target {
					border-color: $editor-light;

					&.active {
						background-color: $editor-light;
					}
				}
			}
		}
	}

	// = Choices control for alignment
	.elementor-control-text_align, .elementor-control-align, .elementor-control-position {

		.elementor-choices {
			direction: ltr; // Force ltr also in RTL languages
		}
	}

	// Section control
	.elementor-control-type-section {
		margin-top: 10px;
		padding: 0;

		& + .elementor-control {

			&:not(.elementor-control-type-section) {
				padding-top: 15px;

				&:before {
					display: none;
				}
			}
		}
	}

	// Color Picker control
	.wp-picker-container {

		&:not(.wp-picker-active) {
			float: $end;
		}

		&.wp-picker-active {
			transform: translateY(-18px);

			.wp-color-result {
				margin-right: 3px;
			}
		}
	}

	// Wysiwyg control
	.elementor-control-type-wysiwyg {

		* {
			box-sizing: content-box;
		}

		.wp-editor-container {
			border: 1px solid $editor-background;
			border-radius: 3px;
		}

		#insert-media-button {
			margin-top: 7px;
			height: initial;
			line-height: 1;
			font-size: 11px;
			padding: 3px 9px;
			background-color: $editor-background;
		}

		.ed_button {
			height: 22px;
			width: initial;
		}

		.wp-media-buttons-icon {
			height: 14px;
			margin: 0;

			&:before {
				font-size: 14px;
			}
		}

		.wp-switch-editor {
			border: none;
			color: $editor-dark;
			font-size: 11px;
			padding: 3px 12px 4px;
			border-radius: 3px 3px 0 0;
		}

		.html-active {

			.switch-tmce {
				background-color: transparent;
			}

			.switch-html {
				background-color: $editor-background;
			}
		}

		.tmce-active {

			.switch-tmce {
				background-color: $editor-background;
			}

			.switch-html {
				background-color: transparent;
			}
		}

		.mce-toolbar-grp, .quicktags-toolbar {
			background-color: $editor-background;
		}

		.mce-toolbar-grp {

			> div {
				padding: 0 3px;
			}
		}

		.elementor-wp-editor {
			box-sizing: border-box;
		}

		.mce-ico {
			color: $editor-dark;
			font-size: 16px;
		}

		.mce-btn {

			&:hover, &:active, &.mce-active {
				border-color: $editor-lightest;
			}
		}

		.mce-path {
			padding: 5px 10px;
		}

		.mce-path-item {
			font-size: 12px;
			color: $editor-dark;
		}
	}

	// Icon control
	.elementor-control-type-icon {

		.select2-selection__rendered {

			.fa {
				margin-right: 3px;
			}
		}
	}

	// Gallery control
	.elementor-control-type-gallery {

		&.elementor-gallery-empty {

			.elementor-control-gallery-clear, .elementor-control-gallery-thumbnails {
				display: none;
			}
		}

		.elementor-control-media {
		//	padding-top: 20px; //temp remove for some space in gallery widget
		}

		.elementor-control-gallery-thumbnails {
			overflow: hidden;
			margin-top: 20px;
			cursor: pointer;
		}

		.elementor-control-gallery-thumbnail {
			width: 40px;
			height: 40px;
			background-size: cover;
			background-position: 50% 50%;
			float: $start;
			margin-bottom: 10px;

			&:not(:nth-child(5n)) {
				@include margin-end(10px);
			}
		}

		.elementor-control-gallery-add {
			width: 100%;
			height: 30px;
			color: #fff;
			background-color: $editor-light;
			margin-top: 10px;
			text-transform: uppercase;
		}

		.elementor-control-gallery-clear {
			color: $editor-warning;
			cursor: pointer;
		}
	}

	// Structure control
	.elementor-control-type-structure {

		.elementor-control-structure-preset {
			border: 1px solid $editor-background;
			padding: 3px;
			border-radius: 3px;

			&:not(.elementor-control-structure-current-preset) {
				display: inline-block;
				cursor: pointer;
				height: 50px;

				svg {
					height: 100%;
				}
			}

			path {
				fill: $editor-background;
			}
		}

		.elementor-control-structure-current-preset {
			margin-top: 15px;

			// For Safari
			svg {
				display: block;
				width: 100%;
			}
		}

		.elementor-control-structure-reset {
			padding: 10px 0 0 2px;
			font-size: 11px;
			cursor: pointer;
			color: $editor-light;

			i {
				@include margin-end(8px);
			}
		}

		.elementor-control-structure-title, .elementor-control-structure-more-presets-title {
			color: $editor-darkest;
			font-weight: bold;
			padding: 13.5px 20px;
			position: relative;

			&:before, &:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
			}

			&:before {
				top: 0;
				background-color: $editor-background;
				transform: translateY(-100%);
			}

			&:after {
				bottom: 0;
				height: 1px;
				background-color: $editor-background;
			}
		}

		.elementor-control-structure-title {
			margin: 10px -20px 0;

			&:before {
				height: 10px;
				box-shadow: inset 0 2px 4px rgba(127,127,127,.1);
			}
		}

		.elementor-control-structure-more-presets-title {
			margin: 15px -20px 0;

			&:before {
				height: 3px;
			}
		}

		.elementor-control-structure-more-presets {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			input {
				display: none;

				&:checked + .elementor-control-structure-preset {
					border: 1px solid $editor-light;

					path {
						fill: $editor-light;
					}
				}
			}
		}

		.elementor-control-structure-preset-wrapper {
			margin-top: 15px;
		}

		.elementor-control-structure-preset-title {
			text-align: center;
			padding-top: 5px;
			font-style: italic;
			font-size: 11px;
			color: $editor-light;
		}
	}

	// Image dimensions control
	.elementor-control-type-image_dimensions {

		.elementor-control-description {
			margin: 0 0 15px;
			line-height: 1.4;
		}

		.elementor-control-input-wrapper {
			overflow: hidden;
		}

		.elementor-image-dimensions-field {
			width: 70px;
			float: $start;

			input {

				&:focus {

					+ .elementor-image-dimensions-field-description {
						color: $editor-light;
					}
				}
			}
		}

		.elementor-image-dimensions-separator {
			width: 20px;
			text-align: center;
			float: $start;
			padding-top: 4px;
		}

		.elementor-image-dimensions-field-description {
			text-transform: uppercase;
			margin-top: 5px;
			color: $editor-lightest;
			font-size: 9px;
			text-align: center;
		}

		.elementor-image-dimensions-apply-button {
			float: $end;
			height: 27px;
			width: 70px;
		}
	}

	// Hidden control
	.elementor-control-type-hidden {
		display: none !important;
	}

	// Repeater control
	@import "controls/repeater";

	// Textarea control
	@import "controls/textarea";

	// Box-shadow control
	@import "controls/box-shadow";

	// Switcher control
	@import "controls/switcher";

	// Order control
	@import "controls/order";
}
