//
// Panel Controls
//

.elementor-control {
	--control-title-size: 12px;
	position: relative;
	padding: 0 20px 15px;

	a {
		font-weight: 500;
		text-decoration: none;
		border-bottom: 1px dotted transparent;
		transition: all ease-in-out .3s;

		&:hover {
			border-bottom-color: inherit;
		}
	}

	//Avoid collapsing margin in the repeater control
	.elementor-control-content {
		display: flex;
		flex-direction: column;
	}

	.elementor-control-title {
		font-size: var(--control-title-size);
		line-height: 1;
		@include margin-end(5px);
	}

	.elementor-control-spinner {
		display: flex;
		align-items: center;
	}

	&.elementor-control-type-divider {
		padding: 0;


		.elementor-control-content {
			border-width: 0;
			border-top: var(--e-a-border);

			//For the next control in the panel
			background-color: var(--e-a-bg-default);
			height: 15px;
		}
	}

	&.elementor-control-separator- {

		&before {
			padding-top: 15px;

			&:before {
				content: '';
				position: absolute;
				height: 1px;
				width: calc(100% - 40px);
				top: 0;
				@include start(20px);
				background-color: var(--e-a-border-color);
			}
		}

		&after {

			&:after {
				content: '';
				position: absolute;
				height: 1px;
				width: calc(100% - 40px);
				bottom: 0;
				@include start(20px);
				background-color: var(--e-a-border-color);
			}

			+ .elementor-control-type-tabs,
			&:not(.elementor-hidden-control) {
				+ .elementor-control-separator-default {
					padding-top: 15px;
				}
			}
		}
	}

	&.elementor-control-deprecated {
		color: $editor-warning;

		.elementor-control-field-description {
			color: $editor-warning;
		}
	}

	&.elementor-control-hidden-label {

		> * > .elementor-control-title, > * > * > .elementor-control-title { // Avoid repeater titles to be affected from above
			display: none;
		}
	}

	&.elementor-hidden-control {
		display: none;
	}

	&.elementor-control-type-heading {

		.elementor-control-title {
			font-weight: bold;
			margin: 0;
		}
	}

	&.elementor-control-responsive- {

		@each $device in $devices {

			&#{ $device } {
				body:not(.elementor-device-#{ $device }) & {
					display: none;
				}
			}
		}
	}


	&-custom_css_pro,
	&-custom_attributes_pro {

		.elementor-nerd-box {

			&-message {
				margin-top: 5px;
			}
		}
	}

	&.elementor-control-custom_css_title {
		font-size: 12px;
	}
}

.elementor-control,
.elementor-panel-category,
.elementor-panel-scheme-item {

	&.e-open,
	&.elementor-active{

		.elementor-panel-heading-toggle {

			.eicon {

				&:before {
					content: '\e92a';
				}
			}
		}
	}

	&:not(.e-open):not(.elementor-active) {

		.elementor-panel-heading-toggle {

			.eicon {

				&:before {
					content: getValueByDirection('\e90a', '\e909');
				}
			}
		}
	}
}

.elementor-panel-heading {
	display: flex;
	align-items: center;
	gap: 5px;
	height: 48px;
	padding-inline: 20px;
	width: 100%;
	border-top: var(--e-a-border); //todo: remove
	border-top-width: 2px;
	color: var(--e-a-color-txt-accent);
	cursor: pointer;

	&-toggle {
		width: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-title {
		font-weight: bold;
	}
}

#elementor-controls {

	.elementor-control-type-section:first-child {

		.elementor-panel-heading {
			border-top: none;
		}
	}
}

.elementor-control-field {
	display: flex;
	align-items: center;
}

.elementor-label-block {

	> .elementor-control-content {

		> .elementor-control-field {
			flex-wrap: wrap;

			> .elementor-control-input-wrapper {
				width: 100%;
				max-width: 100%;
				margin-top: 10px;

				// TODO: Hack to make choices full width when label is block.
				> .elementor-choices {
					label {
						width: auto;
						flex: 1 1 27px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}
	}

	&.elementor-control-hidden-label:not(.elementor-control-dynamic) {

		> .elementor-control-content {

			> .elementor-control-field {

				> .elementor-control-input-wrapper {
					margin-top: 0;
				}
			}
		}
	}

	&.elementor-control-hidden-label.elementor-label-block {

		> .elementor-control-content {

			> .elementor-control-field {

				> .elementor-control-input-wrapper {
					margin-top: 0;
				}
			}
		}
	}
}

.elementor-label-inline {

	> .elementor-control-content {

		> .elementor-control-field {

			> .elementor-control-title {
				flex-shrink: 0;
				max-width: 60%;
			}

			> .elementor-control-input-wrapper {
				@include margin-start(auto);
			}
		}
	}
}

.elementor-control-field-description {
	@extend .elementor-descriptor;
	margin-top: 10px;
}

.elementor-group-control-attachment_alert {

	.elementor-control-field-description {
		margin-top: 0;
	}
}

@if $direction == rtl {

	.elementor-control-start-end {

		.eicon-h-align-left,
		.eicon-h-align-right {
			transform: rotate(180deg);
		}
	}
}

.elementor-update-preview {
	margin: 15px 15px 0;
	display: flex;
	align-items: center;
}

.elementor-update-preview-button-wrapper {
	flex-grow: 1;
	text-align: $end;
}

.elementor-update-preview-button {
	padding: 8px 15px;
	text-transform: uppercase;
}

// = Set direction control by class
.elementor-control-direction- {

	&ltr {

 		input,
		textarea {
			direction: ltr;
		}
	}

	&rtl {

		input,
		textarea {
			direction: rtl;
		}
	}
}

@import "controls-utility";

@import "controls/button";

@import "controls/choose";

@import "controls/color";

@import "controls/control-group-css-filters";

@import "controls/dimensions";

@import "controls/gaps";

@import "controls/icons";

@import "controls/gallery";

@import "controls/globals";

@import "controls/hidden";

@import "controls/icon";

@import "controls/image-dimensions";

@import "controls/media";

@import "controls/popover-toggle";

@import "controls/repeater";

@import "controls/section";

@import "controls/select";

@import "controls/shadow";

@import "controls/slider";

@import "controls/structure";

@import "controls/switcher";

@import "controls/tabs";

@import "controls/textarea_and_code";

@import "controls/url";

@import "controls/wp-widget";

@import "controls/wysiwyg";
