//
// Document Settings Panel (Former Page Settings)
//

.elementor-control {

	&.elementor-control-clear_page {
		background-color: transparent;

		.elementor-control-raw-html{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		button {
			width: 80px;
			height: 26px;
		}
	}
}
