//
// Panel Footer
//

#elementor-panel-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: $editor-darkest;
}

#elementor-panel-footer-tools {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.elementor-panel-footer-tool {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	color: $editor-light;
	cursor: pointer;
	transition: $transition-hover;

	i {
		font-size: 15px;
	}

	#elementor-panel-saver-button-update {

		i {
			@include margin-end(5px);
		}
	}

	#elementor-panel-saver-button-save-options {
		float: $start;

		i {
			margin: auto;
		}
	}

	&.e-open {
		color: $white;
	}

	&:not(.e-open) {

		&:hover {
			color: $editor-lightest;
		}

		.elementor-panel-footer-sub-menu-wrapper {
			display: none;
		}
	}
}

#elementor-panel-footer-help-title {
	text-align: $start;
	padding: 10px 0;
	color: $editor-lightest;
}

#elementor-panel-footer-saver-publish {
	width: 25%;
	@include margin-start(auto);

	.elementor-button-state {

		i {
			@include margin-end(0);
		}

		#elementor-panel-saver-button-publish-label {
			display: none;
		}
	}
}

#elementor-panel-footer-saver-options {
	width: auto;

	.elementor-last-edited-wrapper {
		font-size: 11px;
		font-style: italic;
		color: $editor-light;
		padding: 5px 0 15px;

		&:not(.elementor-state-active) {

			.elementor-state-icon {
				display: none;
			}
		}

		time {
			border-bottom: 1px dotted transparent;
			transition: all ease-in-out .3s;
			cursor: pointer;

			&:hover {
				border-bottom-color: inherit;
			}
		}
	}
}

.elementor-disabled {
	cursor: default;
}

#elementor-panel-saver- {

	&button-{
		&preview {
			a {
				color: $editor-light;
			}
		}

		&publish,
		&save-options {
			font-size: 11px;
			text-transform: uppercase;
			height: 100%;
			border-radius: 0;

			&.elementor-disabled {
				background-color: $editor-darker;
				color: $editor-light;
			}
		}

		&publish {
			width: 100%;
		}

		&save-options {
			width: 25px;
		}
	}
}


.elementor-panel-footer-sub-menu-wrapper {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	background-color: $editor-darker;
	padding: 10px;
	box-shadow: $panel-top-shadow;
	cursor: default;
	z-index: $super-layer;
}

.elementor-panel-footer-sub-menu {
	border-radius: 5px;
	overflow: hidden;
}

.elementor-panel-footer-sub-menu-item {
	background-color: $editor-darkest;
	display: flex;
	height: 40px;
	align-items: center;
	column-gap: 10px;
	padding: 0 20px;
	cursor: pointer;

	&.elementor-disabled {

		.elementor-icon,
		.elementor-title {
			color: $editor-dark;
		}
	}

	&:not(:last-child) {
		margin-bottom: 1px;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
	}

	&.active {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.elementor-icon {
		color: $editor-light;
	}

	.elementor-title {
		color: $editor-lightest;
	}

	.elementor-description {
		width: 95px;
		text-align: $start;
		font-size: 11px;
		font-style: italic;
		color: $editor-light;
	}
}
