//
// Panel Global
//

.elementor-panel-box {
	margin-top: 10px;
	background-color: #fff;
}

.elementor-panel-box-content {
	padding: 20px 20px 10px;
}

.elementor-button {
	display: inline-block;
}

// Alert
.elementor-panel-alert {
    background-color: $editor-background-lighter;
	padding: 15px;
    @include border-start(3px solid transparent);
	position: relative;
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.5;
	text-align: $start;
	border-radius: getValueByDirection(0 3px 3px 0, 3px 0 0 3px);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.07);

	a {
		color: inherit;
	}

	&.elementor-panel-alert- {

		&info {
			border-color: $editor-alert-info;
			background-color: $editor-alert-info-bg;
		}

		&success {
			border-color: $editor-success;
		}

		&warning {
			border-color: $editor-alert-warning;
		}

		&danger {
			border-color: $editor-danger;
		}
	}
}

.elementor-label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	text-transform: capitalize;

	&.elementor-label-default {
		background-color: $editor-light;
	}

	&.elementor-label-info {
		background-color: $info;
	}

	&.elementor-label-success {
		background-color: $success;
	}

	&.elementor-label-warning {
		background-color: $warning;
	}

	&.elementor-label-danger {
		background-color: $danger;
	}
}

.elementor-descriptor {
	font-size: 11px;
	font-style: italic;
	line-height: 1.4;
	color: $editor-light;
}

.elementor-controls-popover {
	display: none;
	position: absolute;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	left: 0;
	right: 0;
	margin: -4px auto 5px;
	padding-top: 15px;
	width: 90%;
	z-index: $super-layer; // Above the select2 select boxes
	background-color: #fff;

	$triangle-size: 8px;

	&:before {
		content: '';
		position: absolute;
		top: -$triangle-size * 2;
		@include end(22px);
		border: $triangle-size solid transparent;
		border-bottom-color: #fff;
	}

	div.elementor-control { // Harder selector to override default settings
		background-color: transparent; // Makes the popover's border-radius visible

		&:before {
			content: none;
		}
	}

	&.e-typography-popover {
		padding-top: 0;
	}
}

// Pojo Theme Support
#elementor-controls {
	.pojo-widget-button-collapse {
		display: none;
	}
}

#elementor-panel-global {

	.elementor-nerd-box {

		.elementor-nerd-box-icon {
			margin-top: 20px;
		}
	}
}
