//
// Panel Global
//

.elementor-panel-box-content {
	padding: 20px 20px 10px;
}

.elementor-button {
	display: inline-block;
}

// Alert
.elementor-panel-alert {
    background-color: var(--e-a-bg-primary);
	padding: 15px;
    @include border-start(3px solid var(--e-a-color-primary));
	position: relative;
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.5;
	text-align: $start;
	border-radius: getValueByDirection(0 3px 3px 0, 3px 0 0 3px);

	a {
		color: inherit;
	}

	&.elementor-panel-alert- {

		&info {
			border-color: var(--e-a-color-info);
			background: var(--e-a-bg-info);
		}

		&success {
			border-color: var(--e-a-color-success);
			background: var(--e-a-bg-success);
		}

		&warning {
			@include border-start(3px solid var(--e-a-color-warning));
			background: var(--e-a-bg-warning);
		}

		&danger {
			border-color: var(--e-a-color-danger);
			background: var(--e-a-bg-danger);
		}
	}
}

.elementor-descriptor {
	font-size: 11px;
	font-style: italic;
	line-height: 1.4;
	color: var(--e-a-color-txt-muted);
}

.elementor-controls-popover {
	display: none;
	position: absolute;
	box-shadow: var(--e-a-popover-shadow);
	border-radius: var(--e-a-border-radius);
	left: 0;
	right: 0;
	margin: -4px auto 5px;
	padding-top: 15px;
	width: 90%;
	z-index: $super-layer; // Above the select2 select boxes
	background-color: var(--e-a-bg-default);

	$triangle-size: 8px;

	&:before {
		content: '';
		position: absolute;
		top: -$triangle-size * 2;
		@include end(22px);
		border: $triangle-size solid transparent;
		border-bottom-color: var(--e-a-bg-default);
	}

	div.elementor-control { // Harder selector to override default settings
		background-color: transparent; // Makes the popover's border-radius visible

		&:before {
			content: none;
		}
	}
}

#elementor-panel-global {

	.elementor-nerd-box {

		.elementor-nerd-box-icon {
			margin-top: 20px;
		}
	}
}
