//
// Panel Global
//

.elementor-panel-heading {
	display: table;
	table-layout: fixed;
	height: 40px;
	padding: 0 20px;
	width: 100%;
	border-bottom: 1px solid $editor-background;
	cursor: pointer;

	&:not(.elementor-open) {

		.elementor-panel-heading-toggle {

			.fa {

				&:before {
					content: getValueByDirection('\f0da', '\f0d9');
				}
			}
		}
	}

	&.elementor-open {

		.elementor-panel-heading-toggle {

			.fa {

				&:before {
					content: '\f0d7';
				}
			}
		}
	}

	> * {
		display: table-cell;
		vertical-align: middle;
	}
}

.elementor-panel-heading-toggle {
	width: 20px;
	color: $editor-darkest;
}

.elementor-panel-heading-title {
	color: $editor-darkest;
	font-weight: bold;
}

.elementor-panel-box {
	margin-top: 10px;
	background-color: #fff;
}

.elementor-panel-box-content {
	padding: 20px 20px 10px;
}

.elementor-control-title {
	font-size: 12px;
}

// select2
.select2-container {
	width: 100% !important;

	&:not(.select2-container--open):not(.select2-container--focus) {

		.select2-selection--single {
			border-color: $editor-lightest;
		}
	}

	&.select2-container--open, &.select2-container--focus {

		.select2-selection--single {
			border-color: $editor-light;
		}
	}

}

.select2-selection--single {
	height: 27px;
}

.select2-selection__rendered {
	line-height: 27px;
}

.select2-selection__arrow {
	height: 27px;
	top: 0;
}

// Pojo Theme Support

#elementor-controls {
	.pojo-widget-button-collapse {
		display: none;
	}
}

// Alert
.panel-alert {
	padding: 15px;
	border-left: 5px solid transparent;
	position: relative;
	font-size: 12px;
	line-height: 1.5;
	text-align: $start;

	&.panel-alert-info {
		color: $info-text;
		background-color: $info-bg;
		border-color: $info-border;
	}

	&.panel-alert-success {
		color: $success-text;
		background-color: $success-bg;
		border-color: $success-border;
	}

	&.panel-alert-warning {
		color: $warning-text;
		background-color: $warning-bg;
		border-color: $warning-border;
	}

	&.panel-alert-danger {
		color: $danger-text;
		background-color: $danger-bg;
		border-color: $danger-border;
	}
}

.elementor-label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	text-transform: capitalize;
	&.elementor-label-default {
		background-color: $editor-light;
	}
	&.elementor-label-info {
		background-color: $info;
	}
	&.elementor-label-success {
		background-color: $success;
	}
	&.elementor-label-warning {
		background-color: $warning;
	}
	&.elementor-label-danger {
		background-color: $danger;
	}
}

.elementor-descriptor {
	font-size: 11px;
	font-style: italic;
	line-height: 1.2;
	color: $editor-light;
}
//
// Variables
//

// Info
$info:			#5bc0de;
$info-text:		#31708f;
$info-bg:		#d9edf7;
$info-border:	darken($info-bg, 7%);

// Success
$success:		#5cb85c;
$success-text:	#3c763d;
$success-bg:	#dff0d8;
$success-border:darken($success-bg, 7%);

// Warning
$warning:		#f0ad4e;
$warning-text:	#8a6d3b;
$warning-bg:	#fcf8e3;
$warning-border:darken($warning-bg, 7%);

// Danger
$danger:		#d9534f;
$danger-text:	#a94442;
$danger-bg:		#f2dede;
$danger-border:	darken($danger-bg, 7%);
