//
// Panel Header
//

#elementor-panel__header {
	display: table;
	height: 40px;
	width: 100%;
	// background-color: $editor-accent;
	// color: #fff;

	body:not(.elementor-panel-docked) & {
		border-radius: 5px 5px 0 0;
	}
	
	> * {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.elementor-header-button {
	width: 40px;

	.elementor-icon {
		cursor: pointer;
		display: block;
		font-size: 19px;
		height: 40px;
		line-height: 40px;
		transition: $transition-hover;

		&.eicon-menu-bar {
			font-size: 18px;
		}

		&:hover {
			color: $editor-lightest;
		}
	}
}

#elementor-panel-header-title {
	font-size: 15px;
	cursor: move;

	img {
		width: 90px;
	}
}
