//
// Panel Header
//

#elementor-panel-header {
	display: table;
	height: 40px;
	width: 100%;
	background-color: $theme-color-header-bg;
	color: $theme-color-header-text;

	> * {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.elementor-header-button {
	width: 40px;

	.elementor-icon {
		cursor: pointer;
		display: block;
		font-size: 19px;
		height: 40px;
		line-height: 40px;
		transition: $transition-hover;

		&.eicon-menu-bar {
			font-size: 18px;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

#elementor-panel-header-title {
	font-size: 15px;

	img {
		width: 66px;
	}
}
