//
// Panel Page Settings
//

.elementor-control-clear_page {

	.elementor-control-raw-html{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	button {
		width: 80px;
		height: 26px;
	}
}