//
// Panel
//

:root {
	--e-is-preview-mode: 0;

	@media (max-width: $editor-screen-lg-max) {
		--e-editor-panel-width: #{$panel-width};
	}

	@media (min-width: $editor-screen-xl-min) {
		--e-editor-panel-width: #{$panel-xl-width};
	}
}

#elementor-editor-wrapper {
}


.elementor-panel {
	position: relative;
	height: 100%;
	margin-inline-start: calc(-1 * var(--e-editor-panel-width) * var(--e-is-preview-mode));
	width: var(--e-editor-panel-width);
	overflow: visible;
	background-color: $editor-background;
	z-index: $first-layer;
	font-family: $admin-font-family;
	font-size: 13px;
	@include start(0);

	.elementor-editor-preview & {
		--e-is-preview-mode: 1;

		> .ui-resizable-e, > .ui-resizable-w {
			display: none;
		}
	}

	.ps__rail-y {
		z-index: 2; // Avoid panel elements (like divider control) from appearing above the scrollbar
	}

	.elementor-responsive-panel {
		overflow: hidden;
		padding: 5px 10px;
		display: grid;
		gap: 10px;
		// The uppercase M in `Min` is used in order to avoid SASS conflicts with CSS `min` function.
		// Ref: https://css-tricks.com/when-sass-and-new-css-features-collide/
		// Because the gap is 10px, half of the total container width is ( 100% - 10px ) / 2 === ( 50% - 5px ).
		grid-template-columns: repeat( auto-fill, minmax( Min( 135px, calc( 50% - 5px ) ), 1fr ) );
	}

	@import "reset";

	// Global
	@import "global";

    // Header
    @import "header";

    // Categories
    @import "categories";

    // Schemes
    @import "schemes";

	// Menu
	@import "menu";

	// Document Settings
	@import "document-settings";

	// Element Edit
    @import "element-settings";

    //Footer
    @import "footer";
}

// Panel Elements
@import "elements";

#elementor-panel-inner {
	position: relative;
	height: 100%;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

// Main Panel
#elementor-panel-content-wrapper {
	position: absolute;
	bottom: 40px;
	top: 40px;
	left: 0;
	width: 100%;
}

.elementor-panel-container {
	clear: both;
	padding-left: 15px;
	padding-right: 15px;
}

// WP Media Modal Compatibility
.media-modal.wp-core-ui {

	input {
		width: auto;
	}

	// Normalize form elements in WP's core media management modal
	select {
		width: initial;
	}

	fieldset {
		padding: 0;
		border: 0;
	}

	.wp-clearfix::after {
		content: '';
		display: table;
		clear: both;
	}
}

#elementor-panel-get-pro-elements {

	.elementor-nerd-box-message {
		margin-top: 10px;
	}

	.elementor-nerd-box-icon {
		margin-top: 20px;
	}
}
