//
// Reset Panel
//

:is(h1, h2, h3, h4, h5, h6):not(:is(.MuiDrawer-root *)) {
	font-size: 100%;
	font-weight: normal;
}

:is(abbr,acronym):not(:is(.MuiDrawer-root *)) {
	border: 0;
	font-variant: normal;
}

sup:not(:is(.MuiDrawer-root *)) {
	vertical-align: text-top;
}

sub:not(:is(.MuiDrawer-root *)) {
	vertical-align: text-bottom;
}

img:not(:is(.MuiDrawer-root *)) {
	max-width: 100%;
	height: auto;
	border: 0;
}

:focus:not(:is(.MuiDrawer-root *)) {
	outline: 0;
}
