//
// Reset Panel
//

::selection {
	background: $blue-light;
	color: $white;
}

a {
	color: $editor-accent;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
	transition: all ease-in-out .3s;

	&:hover {
		border-bottom-color: inherit;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

:focus {
	outline: 0;
}
