//
// Reset Panel
//

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

:focus {
	outline: 0;
}
