//
// Schemes //TODO: deprecated v3.0.0
//
.elementor-panel-scheme-title {
	padding: 10px 20px;
	margin-top: 10px;
}

.elementor-panel-scheme-description {
	padding: 20px 20px 0;
}

.elementor-panel-scheme-buttons {
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-bottom: var(--e-a-border);
}

.elementor-panel-scheme-button-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	&:first-child {
		text-align: $start;
	}

	&:last-child {
		text-align: $end;
	}
}

.elementor-panel-scheme-color {

	.elementor-panel-scheme-items {
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, $control-unit);
		justify-content: space-between;
	}
}

.elementor-panel-scheme-color-title {
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0;
	color: $editor-lighter;
	font-size: 8px;
}

.elementor-panel-scheme-typography-item {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 15px;

	 > * {
		 display: table-cell;
		 vertical-align: middle;
	 }
}

.elementor-panel-scheme-typography-item-value {

	select,
	input {
		width: 100%;
	}
}

.elementor-panel-scheme-item {

	&:not(.e-open) {

		.elementor-panel-scheme-typography-items {
			display: none;
		}
	}
}

.elementor-panel-scheme-color-system-scheme {
	margin-bottom: 10px;

	.elementor-title {
		font-size: 11px;
		color: $editor-light;
		font-style: italic;
		margin-top: 5px;
	}
}

.elementor-panel-scheme-color-system-items {
	display: flex;
	transition: border .5s;
	overflow: hidden;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid $editor-lightest;
	cursor: pointer;

	&:hover {
		border: 1px solid $editor-light;
	}
}

.elementor-panel-scheme-color-system-item {
	height: 20px;
	flex-grow: 1;
}

#elementor-panel-schemes-disabled {

	a {
		color: $editor-success;

		&:hover {
			text-decoration: underline;
		}
	}

	.elementor-nerd-box-icon {
		margin-top: 20px;
	}
}
