//
// Site Settings
//

.elementor-button.e-logo-maker {
	color: $success;
	padding: 7px 21px;
	font-style: normal;
	margin-top: 7px;
	width: 100%;
	text-align: center;
	background: white;
	border: 1px solid transparent;
	outline: 1px solid $success;

	&:hover {
		border-color: $success;
	}
}
