// Dark Theme
// - Gray Semantics
$eps-dark-gray-800: $color-gray-anthracite;
$eps-dark-gray-700: $color-gray-metalise;
$eps-dark-gray-600: $color-gray-napoleon;
$eps-dark-gray-500: $color-gray-abbey;
$eps-dark-gray-400: $color-gray-stone-hearth;
$eps-dark-gray-300: $color-gray-silver-filigree;
$eps-dark-gray-200: $color-gray-brainstem;
$eps-dark-gray-100: $color-gray-yin-bai-silver;

// Brand semantics
$eps-dark-theme-light: $color-black;
$eps-dark-theme-dark: $color-white;
$eps-dark-theme-info: null;
$eps-dark-theme-error: $color-red-carnelian;
$eps-dark-theme-warning: null;
$eps-dark-theme-success: null;
