//
// Accordion
//

.elementor-accordion {
	text-align: $start;

	.elementor-accordion-item {
		border: 1px solid $gray-light;

		+ .elementor-accordion-item {
			border-top: none;
		}
	}

	.elementor-tab-title {
		margin: 0;
		padding: 15px 20px;
		font-weight: bold;
		line-height: 1;
		cursor: pointer;
		outline: none;

		.elementor-accordion-icon {
			display: inline-block;
			width: 1.5em;

			svg {
				width: 1em;
				height: 1em;
			}

			&.elementor-accordion-icon- {

				&right {
					float: right;
					text-align: right;
				}

				&left {
					float: left;
					text-align: left;
				}
			}

			.elementor-accordion-icon-closed {
				display: block;
			}
			.elementor-accordion-icon-opened {
				display: none;
			}
		}

		&.elementor-active {

			.elementor-accordion-icon-closed {
				display: none;
			}
			.elementor-accordion-icon-opened {
				display: block;
			}
		}
	}

	.elementor-tab-content {
		display: none;
		padding: 15px 20px;
		border-top: 1px solid $gray-light;
	}

}

// Responsive mode
@media (max-width: $screen-mobile-max) {

	.elementor-accordion {

		.elementor-tab-title {
			padding: 12px 15px;

			.elementor-accordion-icon {
				width: 1.2em;
			}
		}

		.elementor-tab-content {
			padding: 7px 15px;
		}
	}
}

.e-con,
.e-con-inner {

	> .elementor-widget-accordion {
		// Fix - Accordion widget disappears because the 'flex column' setting causes an undefined width inside the flex container (ED-7524).
		width: var( --container-widget-width );
		--flex-grow: var( --container-widget-flex-grow );
	}
}
