//
// Button
//

.elementor-button {
	display: inline-block;
	line-height: 1;
	border-radius: 3px;
	padding: 12px 24px;
	background-color: $gray;
	color: #fff;
	text-align: center;
	transition: $transition-hover;

	&:hover,
	&:focus,
	&:visited {
		color: #fff;
		opacity: .9;
	}

	&.elementor-size- {
		&small {
			font-size: 13px;
			padding: 10px 20px;
		}
		&medium {
			font-size: 15px;
		}
		&large {
			font-size: 16px;
			padding: 15px 30px;
		}
		&xl {
			font-size: 18px;
			padding: 20px 40px;
		}
		&xxl {
			font-size: 20px;
			padding: 25px 50px;
		}
	}

	.elementor-align-icon- {

		&right {
			float: right;
			margin-left: 5px;
		}
		&left {
			float: left;
			margin-right: 5px;
		}
	}

	.elementor-button-text {
		display: inline-block;
	}
}

.elementor-widget-button {
	.elementor-button {
		&.elementor-button- {

			&info {
				background-color: $info;
			}
			&success {
				background-color: $success;
			}
			&warning {
				background-color: $warning;
			}
			&danger {
				background-color: $danger;
			}
		}
	}
}
