.elementor-widget-button {

    .elementor-button{

        span {
            align-self: center;
        }

        &-icon {
            
            i {
                color: var(--button-icon-color, inherit);
            }
            
            svg {
                fill: var(--button-icon-color, inherit);               
            }

            svg:hover {
                fill: var(--button-icon-color, inherit);
            }
        }

        .e-font-icon-svg {
            font-size: var(--button-icon-size);
        }
       
    }

    .elementor-button:hover{

        .elementor-button-icon {

            i {
                color: var(--button-icon-color-hover);
                transition: all 0.3s;
            }
        
            svg {
                fill: var(--button-icon-color-hover);
                transition: all 0.3s;
            }
        }
    }
}