//
// Counter
//

.elementor-counter {
	text-align: center;

	.elementor-counter-number-wrapper {
		font-size: 69px;
		font-weight: 600;
		color: #222222;
		line-height: 1;
	}

	.elementor-counter-title {
		font-size: 19px;
		font-weight: 400;
		color: #666666;
		line-height: 2.5;
	}
}
