//
// Divider
//

:root {
	--divider-border-style: solid;
	--divider-border-width: 1px;
	--divider-border-color: $gray-darkest;
	--divider-icon-size: 20px;
}

.elementor-widget-divider {

	.elementor-divider {
		line-height: 0;
		font-size: 0;

		&__text {
			font-size: 15px;
			line-height: 1;
		}
	}

	.elementor-icon {
		font-size: var(--divider-icon-size);
	}

	.elementor-divider-separator {
		display: flex;
		margin: 0 auto;
	}

	&--view {

		&-line_text, &-line_icon {
			.elementor-divider-separator{
				display: flex;
				align-items: center;

				&:before, &:after {
					display: block;
					content: '';
					border-bottom: 0;
					flex-grow: 1;
					border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-border-color);
				}
			}
		}
	}

	&:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) {
		.elementor-divider-separator {
			border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-border-color);
		}
	}
}
