//
// WordPress Gallery
//

.elementor-image-gallery {

	.gallery {

		.gallery-item {
			display: inline-block;
			text-align: center;
			vertical-align: top;
			width: 100%;
			max-width: 100%;
			margin: 0 auto;

			img {
				margin: 0 auto;
			}
		}

		&.gallery-columns-2 .gallery-item {
			max-width: 50%;
		}
		&.gallery-columns-3 .gallery-item {
			max-width: 33.33%;
		}
		&.gallery-columns-4 .gallery-item {
			max-width: 25%;
		}
		&.gallery-columns-5 .gallery-item {
			max-width: 20%;
		}
		&.gallery-columns-6 .gallery-item {
			max-width: 16.66%;
		}
		&.gallery-columns-7 .gallery-item {
			max-width: 14.28%;
		}
		&.gallery-columns-8 .gallery-item {
			max-width: 12.5%;
		}
		&.gallery-columns-9 .gallery-item {
			max-width: 11.11%;
		}
		&.gallery-columns-10 .gallery-item {
			max-width: 10%;
		}

		.gallery-caption {
			margin: 0;
		}
	}
}

// Responsive mode
@media (max-width: $screen-sm-max) {

	.elementor-image-gallery {

		.gallery {

			&.gallery-columns-3,
			&.gallery-columns-4,
			&.gallery-columns-5,
			&.gallery-columns-6,
			&.gallery-columns-7,
			&.gallery-columns-8,
			&.gallery-columns-9,
			&.gallery-columns-10 {

				.gallery-item {
					max-width: 50%;
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {

	.elementor-image-gallery {

		.gallery {

			&.gallery-columns-2,
			&.gallery-columns-3,
			&.gallery-columns-4,
			&.gallery-columns-5,
			&.gallery-columns-6,
			&.gallery-columns-7,
			&.gallery-columns-8,
			&.gallery-columns-9 {

				.gallery-item {
					max-width: 100%;
				}
			}
		}
	}
}
