//
// Google Map
//

.elementor-widget-google_maps {

	.elementor-widget-container {
		overflow: hidden; // Allow border-radius
	}

	.elementor-custom-embed {
		line-height: 0; // Remove space
	}

	iframe {
		height: 300px;
	}
}
