//
// Google Map
//

.elementor-widget-google_maps {

	.elementor-widget-container {
		overflow: hidden; // Allow border-radius
		transform: translate3d(0, 0, 0); // Allow border-radius in Safari
	}

	iframe {
		height: 300px;
	}
}
