//
// Google Map
//

.elementor-widget-google_maps {

	.elementor-widget-container {
		overflow: hidden; // Allow border-radius
	}

	iframe {
		height: 300px;
		transition: all var(--google-maps-transition, 0.3s);
	}
}
