// Animation: Pulse
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
.elementor-pulse {
    animation: pulse 0.7s infinite alternate;
    animation-timing-function: ease;
}

// Animation: Pulse Fade Out
@keyframes pulse-fade-out {
    from {
        transform: scale(0.5);
        opacity: 1;
    }
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}
.elementor-pulse-fade-out .outer-circle {
    animation: pulse-fade-out 2s infinite;
}
.elementor-hotspot:not(.elementor-hotspot-circle) .elementor-hotspot-trigger.elementor-pulse-fade-out:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    animation: pulse-fade-out 2s infinite;
}
// Animation: Sequenced
@keyframes sequenced {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.elementor-sequenced-animation {
    animation: sequenced 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both; //
}
// End Animations

.elementor-widget-hotspot {
    .elementor-widget-container {
        position: relative;
        display: inline-block;
        & > img {
            display: inline-block;
        }
    }

    .elementor-hotspot {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        &.active{
            z-index: 2;
        }

        &.elementor-hotspot-circle .outer-circle,
        &.elementor-hotspot-circle .inner-circle {
            content: "";
            cursor: pointer;
            display: inline-block;
            box-sizing: content-box;
            border-radius: 50%;
        }

        &.elementor-hotspot-circle .inner-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.elementor-hotspot-only-icon .elementor-hotspot-trigger {
            line-height: 0;
            box-sizing: content-box;
        }

        .elementor-hotspot-trigger {
            cursor: pointer;
            position: relative;
            display: grid;
            grid-auto-flow: column;
            &:before {
                z-index: -2;
                content: "";
                width: 100%;
                height: 100%;
                left: -5px;
                top: -5px;
                position: absolute;
                padding: 5px;
                box-sizing: content-box;
            }
        }

        & .elementor-hotspot-trigger.hotspot-overlay {
            opacity: 0.7;
            transition: opacity 0.2s;
        }

        & .elementor-hotspot-trigger.hotspot-overlay:hover,
        &.active .elementor-hotspot-trigger.hotspot-overlay{
            opacity: 1;
        }

        .animation-direction-mask {
            overflow: hidden;
            position: absolute;
            .elementor-tooltip {
                box-shadow: none !important; //Ask Kobi
                position: static;
                cursor: auto;
                transition: transform 0.3s, opacity 0.3s;
            }
        }

        .elementor-tooltip {
            transition: opacity 0.3s, transform 0.3s;
            transform-origin: center center;
            cursor: default;
            position: absolute;
            //visibility: hidden;
			pointer-events: none;
            &.show-tooltip {
                cursor: auto;
                transition: none;
                opacity: 1;
                //visibility: visible;
			  pointer-events: visible;
            }
        }

		&.active .elementor-tooltip{
		  pointer-events: visible;
		}
    }

    // fade-in-out
    &.elementor-fade-in-out .elementor-hotspot .elementor-tooltip {
        opacity: 0;
    }
    &.elementor-fade-in-out .elementor-hotspot.active .elementor-tooltip {
        cursor: auto;
        opacity: 1;
    }

    // slide direction / fade direction
    .elementor-hotspot .animation-slide-from-top .elementor-tooltip,
    .elementor-hotspot .animation-direction-mask.overide-animation-slide-from-top .elementor-tooltip {
        transform: translate(0, -100%);
    }
    .elementor-hotspot .animation-slide-from-left .elementor-tooltip,
    .elementor-hotspot .animation-direction-mask.overide-animation-slide-from-left .elementor-tooltip {
        transform: translate(-100%, 0);
    }
    .elementor-hotspot .animation-slide-from-right .elementor-tooltip,
    .elementor-hotspot .animation-direction-mask.overide-animation-slide-from-right .elementor-tooltip {
        transform: translate(100%, 0);
    }
    .elementor-hotspot .animation-slide-from-bottom .elementor-tooltip,
    .elementor-hotspot .animation-direction-mask.overide-animation-slide-from-bottom .elementor-tooltip {
        transform: translate(0, 100%);
    }
    &.elementor-fade-direction .elementor-hotspot .animation-direction-mask .elementor-tooltip {
        opacity: 0;
    }

    &.elementor-slide-direction .elementor-hotspot.active .animation-direction-mask .elementor-tooltip,
    &.elementor-fade-direction .elementor-hotspot.active .animation-direction-mask .elementor-tooltip {
        transform: translate(0, 0);
        opacity: 1;
    }

}
