/* Animations */
@keyframes e-hotspot-soft-beat {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes e-hotspot-expand {
    from {
        transform: scale(0.5);
        opacity: 1;
    }
    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* Hotspot Container */
.elementor-widget-hotspot .elementor-widget-container {
    position: relative;
    display: inline-block;
    & > img {
        display: inline-block;
    }
}

/* Each Hotspot */
.e-hotspot {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    &--active {
        z-index: 2;
    }

    &__outer-circle,
    &__inner-circle {
        content: "";
        display: inline-block;
        box-sizing: content-box;
        border-radius: 50%;
    }

    &__inner-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--icon &__button {
        line-height: 0;
        box-sizing: content-box;
    }

    &__button {
        cursor: pointer;
        position: relative;
        display: grid;
        grid-auto-flow: column;
        &:before {
            z-index: -2;
            content: "";
            width: 100%;
            height: 100%;
            left: -5px;
            top: -5px;
            position: absolute;
            padding: 5px;
            box-sizing: content-box;
        }
    }

    /* Hotspot Button Animations */
    &--overlay {
        opacity: 0.7;
        transition: opacity 0.2s;
    }

    &--overlay:hover,
    &--active &--overlay {
        opacity: 1;
    }

    &--soft-beat {
        animation: e-hotspot-soft-beat 0.7s infinite alternate;
        animation-timing-function: ease;
    }

    &--expand &__outer-circle {
        animation: e-hotspot-expand 2s infinite;
    }

    &:not( &--circle ) &--expand::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        opacity: 0;
        animation: e-hotspot-expand 2s infinite;
    }
    /* End: Hotspot Button Animations */

    &--sequenced {
        animation: fadeIn 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

    &__direction-mask {
        overflow: hidden;
        position: absolute;
        pointer-events: none;
    }

    &__tooltip {
        transition: opacity 0.3s, transform 0.3s;
        transform-origin: center center;
        position: absolute;
        pointer-events: none;
    }

    &__tooltip p:last-of-type {
        margin-bottom: 0;
    }

    &__direction-mask &__tooltip{
        box-shadow: none !important; //Ask Kobi
        position: static;
        transition: transform 0.3s, opacity 0.3s;
    }

    &--active &__tooltip {
        pointer-events: visible;
    }

    // Tooltip - fade-in-out
    &--fade-in-out {
        opacity: 0;
    }
    &--active &--fade-in-out {
        opacity: 1; 
    }

    // Tooltip - slide direction / fade direction
    &--animation-slide-from-top,
    &--overidde-animation-slide-from-top {
        transform: translate(0, calc(-100% - 1px));    transform: translate(0, calc(-100% - 1px));
    }
    &--animation-slide-from-left,
    &--overidde-animation-slide-from-left {
        transform: translate(calc(-100% - 1px), 0);
    }
    &--animation-slide-from-right,
    &--overidde-animation-slide-from-right {
        transform: translate(calc(100% + 1px), 0);
    }
    &--animation-slide-from-bottom,
    &--overidde-animation-slide-from-bottom {
        transform: translate(0, calc(100% + 1px));
    }
    &--fade-direction {
        opacity: 0;
    }

    &--active &--slide-direction,
    &--active &--fade-direction {
        transform: translate(0, 0);
        opacity: 1;
    }

    &--show-tooltip {
        transition: none;
        opacity: 1;
        pointer-events: visible;
        transform: translate(0, 0);
    }
}
