//
// Icon
//

// For the all elements with icon options

.elementor-icon {
	display: inline-block;
	line-height: 1;
	transition: $transition-hover;
	color: $gray;

	&:hover {
		color: $gray;
	}

	i {
		font-size: 50px;
		width: 1em;
		height: 1em;
	}
}

.elementor-view-stacked {

	.elementor-icon {
		background-color: $gray;
		color: #fff;
	}
}

.elementor-view-framed {

	.elementor-icon {
		color: $gray;
		border: 3px solid $gray;
		background-color: transparent;
	}
}

.elementor-shape- {

	&circle {

		.elementor-icon {
			border-radius: 50%;
		}
	}
}
