//
// Icon List
//
.elementor-widget-icon-list {

	.elementor-icon-list-items {
		list-style-type: none;
		margin: 0;
		padding: 0;

	}

	.elementor-icon-list-item {
		margin: 0;
		padding: 0;

		a {
			display: inline;
		}
	}

	.elementor-icon-list-text {
		display: inline;
		vertical-align: middle;
	}

	.elementor-icon-list-icon {
		width: 1em;
		line-height: 1;
		vertical-align: middle;
		display: inline-block; // fix issue #620
		text-align: center; // fix issue #620
	}
}
