//
// Image Box
//
.elementor-widget-image-box {

	.elementor-image-box {

		&-content {
			width: 100%; // Hack for Chrome in flex mode
		}

		&-wrapper {
			display: var(--wrapper-display, block);
			text-align: getValueByDirection( var(--wrapper-align-ltr, center), var(--wrapper-align-rtl, center) );
			flex-direction: getValueByDirection( var(--wrapper-direction-ltr), var(--wrapper-direction-ltr) );
		}
	}

	@media (min-width: $screen-mobile-next) {

		&.elementor-vertical-align- {

			&top {

				.elementor-image-box-wrapper {
					align-items: flex-start;
				}
			}

			&middle {

				.elementor-image-box-wrapper {
					align-items: center;
				}
			}

			&bottom {

				.elementor-image-box-wrapper {
					align-items: flex-end;
				}
			}
		}
	}

	.elementor-image-box-img {
		display: inline-block; // For alignment content
	}

	&.elementor-element .elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-img {
		margin-left: var(--image-margin-left, var(--image-spacing, 15px));
		margin-right: var(--image-margin-right, var(--image-spacing, 15px));
		margin-bottom: var(--image-margin-bottom, var(--image-spacing, 15px));
	}

	.elementor-image-box-title {

		a {
			color: inherit;
		}
	}

	.elementor-image-box-description {
		margin: 0;
	}

	@media (max-width: $screen-mobile-max) {

		&.elementor-position {

			&-left, &-right {

				// BC compatibility code since 3.7.0
				.elementor-widget-container .elementor-image-box-wrapper .elementor-image-box-img {
					margin-bottom: 0;
				}
			}
		}
	}
}
