//
// Image Carousel
//
.elementor-widget-image-carousel {

	.swiper-container {
		position: static; // Allow navigation arrows to stay outside

		.swiper-slide {

			figure {
				line-height: inherit;
			}
		}
	}

	.swiper-slide {
		text-align: center;
	}
	
	.swiper-pagination-bullet {
		dots-spacing: 10px;
	}
}
