//
// Image Carousel
//
.elementor-widget-image-carousel {

	.swiper-container,
	.swiper {
		position: static; // Allow navigation arrows to stay outside

		.swiper-slide {

			figure {
				line-height: inherit;
			}
		}
	}

	.swiper-slide {
		text-align: center;
	}
}

// Before the image-carousel layout is calculated by JS. //
.elementor-image-carousel-wrapper:not(.swiper-container-initialized):not(.swiper-initialized) {

	.swiper-slide {
		max-width: calc(100% / var(--e-image-carousel-slides-to-show, 3));
	}
}
