//
// Image
//
.elementor-widget-image {
	text-align: center;

	.elementor-image {

		> a,
		figure > a {
			display: block; // For alignment image with link
		}

		img {
			vertical-align: middle;
		}

		&.elementor-image-shape- {

			&circle {
				border-radius: 50%;
			}
		}
	}
}
