//
// Image
//

.elementor-widget-image {

	figure {
		margin: 0;
	}

	.elementor-image {

		> a,
		figure > a {
			display: block; // For alignment image with link
		}

		img {
			vertical-align: middle;
		}

		&.elementor-image-shape- {

			&circle {
				border-radius: 50%;
			}
		}
	}
}
