//
// Image Gallery
//
.elementor-image-gallery {

	figure {
		margin: 0;

		img {
			display: block;
		}

		figcaption {
			width: 100%;
		}
	}

	.gallery-spacing-custom & {
		.gallery-icon {
			padding: 0; // Reset Style for some themes
		}
	}
}