.elementor-widget-link-in-bio {
	--align-self: center;

}

.e-link-in-bio {
	--e-link-in-bio-gutter: 40px;

	margin-inline: auto;
	max-width: 100%;
	outline: 1px solid blue;
	padding: var(--e-link-in-bio-gutter);
	width: 100%;

	&__content-container {
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin-inline: auto;
		text-align: center;

		* {
			word-wrap: break-word;
		}
	}

	&__identity {

		.e-link-in-bio__identity-image {
			display: flex;
		}

		.e-link-in-bio__identity-image-el {
			display: block;
			flex: 1 1 100%;
			object-fit: cover;
		}

		.e-link-in-bio__identity-image-profile {
			aspect-ratio: 1;
			border-color: blue;
			border-radius: 50%;
			border-style: none;
			border-width: 1px;
			overflow: hidden;
			margin-inline: auto;
			max-width: 100%;
			width: 115px;

			.e-link-in-bio__identity-image-el {
				aspect-ratio: inherit;
			}
		}

		.e-link-in-bio__identity-image-cover {
			border-color: blue;
			border-style: none;
			border-bottom-width: 1px;
			margin-block-start: calc(var(--e-link-in-bio-gutter) * -1);
			margin-inline: calc(var(--e-link-in-bio-gutter) * -1);
			max-height: 170px;
			max-width: unset;
			width: calc(100% + calc(var(--e-link-in-bio-gutter) * 2));
		}
	}

	&__icons {
		display: flex;
		gap: 1em;
		justify-content: center;
	}

	&__icon {
		display: flex;
		width: 2em;
	}

	&__icon-link {
		color: inherit;
		display: flex;
		flex: 1 0 auto;

		&:where(:hover, :focus, :active) {
			color: inherit;
		}
	}

	&__ctas {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		gap: 22px;
	}

	&__cta {
		border-radius: 20px;
		background: blue;
		color: white;
		display: block;
		padding: 20px;

		&:where(:hover, :focus, :active) {
			color: inherit;
		}
	}
}
