//
// Progress Bar
//

.elementor-widget-progress {
	text-align: $start;
}

.elementor-progress-wrapper {
	position: relative;
	background-color: $progress-bg;
	color: $progress-text;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;

	.elementor-progress-bar {
		display: inline-block;
		background-color: $gray;
		height: 100%;
		width: 0;
		border-radius: 2px;
		transition: width 1s ease-in-out;
	}

	.elementor-progress-inner-text {
		display: inline-block;
		position: absolute;
		@include start(0);
		padding: 0 15px;
		font-size: 11px;
		width: 0;
		transition: width 1s ease-in-out;

		.elementor-progress-percentage {
			position: relative;
			float: $end;
		}
	}
}

.elementor-widget-progress {
	.elementor-progress-wrapper {

		&.progress-info {

			.elementor-progress-bar {
				background-color: $info;
			}
		}

		&.progress-success {

			.elementor-progress-bar {
				background-color: $success;
			}
		}

		&.progress-warning {

			.elementor-progress-bar {
				background-color: $warning;
			}
		}

		&.progress-danger {

			.elementor-progress-bar {
				background-color: $danger;
			}
		}
	}
}

.elementor-progress .elementor-title {
	display: block;
}

// Responsive mode
@media (max-width: $screen-sm-max) {

	.elementor-progress-wrapper {
		height: 25px;
		line-height: 25px;

		.elementor-progress-inner-text {
			padding: 0 10px;
		}
	}
}
