//
// Progress Bar
//

.elementor-widget-progress {
	text-align: start;
}

.elementor-progress-wrapper {
	position: relative;
	background-color: $progress-bg;
	color: $progress-text;
	height: initial;
	border-radius: 2px;
}

.elementor-progress-bar {
	display: flex;
	background-color: $gray;
	width: 0;
	font-size: 11px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	transition: width 1s ease-in-out;
}

.elementor-progress-text {
	flex-grow: 1;
	@include ellipsis;
	padding-inline-start: 15px;
}

.elementor-progress-percentage {
	padding-inline-end: 15px;
}

.elementor-widget-progress {
	.elementor-progress-wrapper {

		&.progress-info {

			.elementor-progress-bar {
				background-color: $info;
			}
		}

		&.progress-success {

			.elementor-progress-bar {
				background-color: $success;
			}
		}

		&.progress-warning {

			.elementor-progress-bar {
				background-color: $warning;
			}
		}

		&.progress-danger {

			.elementor-progress-bar {
				background-color: $danger;
			}
		}
	}
}

.elementor-progress .elementor-title {
	display: block;
}

// Responsive mode
@media (max-width: $screen-mobile-max) {

	.elementor-progress-text {
		padding-inline-start: 10px;
	}
}

.e-con,
.e-con-inner {

	.elementor-progress-wrapper {
		height: initial;
	}
}
