.e-rating {
	--e-rating-gap: 0px;
	--e-rating-star-font-size: 16px;
	--e-rating-star-color: #{$gray-mouse};
	--e-rating-star-color-value: #{$orange};
	--e-rating-star-marked-width: 0%;

	&-wrapper {
		display: flex;
		gap: var(--e-rating-gap);
		flex-direction: row;
		width: fit-content;
	}

	.e-star {
		position: relative;

		&-wrapper {

			&.e-star-marked {
				--e-rating-star-color: var(--e-rating-star-color-value);
				width: var(--e-rating-star-marked-width);
				position: absolute;
				z-index: $first-layer;
				height: 100%;
				left: 0;
				top: 0;
				overflow: hidden;
			}

			:is( i, svg ) {
				display: flex;
				flex-shrink: 0;
			}

			i {
				font-size: var(--e-rating-star-font-size);
				color: var(--e-rating-star-color);
			}

			svg {
				width: var(--e-rating-star-font-size);
				height: var(--e-rating-star-font-size);
				fill: var(--e-rating-star-color);
			}
		}
	}
}
