.elementor-widget-spacer {
    --spacer-size: 50px;
	--container-widget-width: 100%;
}

.elementor-column {

	& > .elementor-widget-spacer {

		& > .elementor-spacer-inner {
			height: var( --spacer-size );
		}
	}
}

.e-container {

	& > .elementor-widget-spacer {
		width: var( --container-widget-width, var( --spacer-size ) );
		align-self: stretch;
		flex-shrink: 0;

		& > .elementor-widget-container {
			height: 100%;

			& > .elementor-spacer {
			
				& > .elementor-spacer-inner {
					height: var( --container-widget-height, var( --spacer-size ) );
				}
			}
		}
	}
}
