.elementor-column {

	.elementor-spacer-inner {
		height: var( --spacer-size );
	}
}

.e-con {
	--container-widget-width: 100%;
}

.e-con,
.e-con-inner {

	& > .elementor-widget-spacer {
		position: relative;
		width: var( --container-widget-width, var( --spacer-size ) );
		--align-self: var( --container-widget-align-self, initial );
		--flex-shrink: 0;

		& > .elementor-widget-container {
			height: 100%;
			width: 100%;
			display: flex;
			justify-items: center;
			align-items: center;

			& > .elementor-spacer {
				height: 100%;

				& > .elementor-spacer-inner {
					height: var( --container-widget-height, var( --spacer-size ) );
				}
			}
		}

		.elementor-widget-empty-icon {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 22px;
			margin: auto 0 !important;
			padding: 0 !important;
		}
	}

	& > .ui-resizable {
		overflow: hidden;
	}
}
