.elementor-widget-spacer {
    --spacer-size: 50px;
}

.elementor-column {

	& > .elementor-widget-spacer {

		& > .elementor-spacer-inner {
			height: var( --spacer-size );
		}
	}
}

.e-container {

	& > .elementor-widget-spacer {
		// Fix - Spacer widget has undefined width and height issues inside the flex container (ED-7720).
		width: var( --container-widget-width, var( --spacer-size ) );
		flex-shrink: 0;

		& > .elementor-widget-container {
			height: 100%;
			align-self: stretch;

			& > .elementor-spacer {
			
				& > .elementor-spacer-inner {
					height: var( --container-widget-height, var( --spacer-size ) );
				}
			}
		}
	}
}
