.elementor-star-rating {
	color: #ccc;
	font-family: FontAwesome;
	display: inline-block;
	position: relative;

	&:before {
		content: '';
		display: block;
		font-size: inherit;
		font-family: inherit;
		position: absolute;
		overflow: hidden;
		color: #ffc72f;
		top: 0;
		left: 0;
	}
}

.elementor--star-style-unicode {
	.elementor-star-rating {
		font-family: 'Arial', 'Helvetica', sans-serif;
		&:before {
			content: '★★★★★' ;
		}
	}
}