//
// Tabs
//

.elementor-tabs {
	text-align: $start;

	.elementor-tabs-wrapper {
		overflow: hidden;

		.elementor-tab-title {
			display: table-cell;

			> span {
				position: relative;
				display: block;
				padding: 20px 25px;
				line-height: 1;
				font-weight: bold;
				cursor: pointer;
			}

			&.active {

				> span {
					border: 1px solid $gray-light;
					border-bottom: none;

					&:before,
					&:after {
						display: block;
						content: '';
						position: absolute;
						bottom: 0;
						height: 0;
						width: 999em;
						border-bottom: 1px solid $gray-light;
					}

					&:before {
						right: 100%;
					}

					&:after {
						left: 100%;
					}
				}
			}
		}
	}

	.elementor-tab-content {
	    padding: 20px;
	    display: none;
		border: 1px solid $gray-light;
		border-top: none;
	}
}

// Responsive mode
@media (max-width: $screen-sm-max) {

	.elementor-tabs {

		.elementor-tabs-wrapper {

			.elementor-tab-title {

				> span {
					padding: 12px 15px;
				}
			}
		}

		.elementor-tab-content {
			padding: 10px;
		}
	}
}
