.elementor-widget-text-editor {

	&.elementor-drop-cap {

		&-view- {

			&stacked {

				.elementor-drop-cap {
					background-color: $gray;
					color: #fff;
				}
			}

			&framed {

				.elementor-drop-cap {
					color: $gray;
					border: 3px solid;
					background-color: transparent;
				}
			}
		}
	}

	&:not(.elementor-drop-cap-view-default) {

		.elementor-drop-cap {
			margin-block-start: 8px;

			&-letter {
				width: 1em;
				height: 1em;
			}
		}
	}

	.elementor-drop-cap {
		float: inline-start;
		text-align: center;
		line-height: 1;
		font-size: 50px;

		&-letter {
			display: inline-block;
		}
	}
}