//
// Toggle
//

.elementor-toggle {
	text-align: $start;

	.elementor-tab-title {
		font-weight: bold;
		line-height: 1;
		padding: 15px;
		border-bottom: 1px solid $gray-light;
		cursor: pointer;

		.elementor-toggle-icon {
			display: inline-block;
			width: 1em;

			.fa {

				&:before {
					content: getValueByDirection('\f0da', '\f0d9');
				}
			}
		}

		&.elementor-active {
			border-bottom: none;

			.elementor-toggle-icon {

				.fa {

					&:before {
						content: '\f0d7';
					}
				}
			}
		}
	}

	.elementor-tab-content {
	    padding: 0 15px 15px;
		border-bottom: 1px solid $gray-light;
	    display: none;
	}
}

// Responsive mode
@media (max-width: $screen-sm-max) {

	.elementor-toggle {

		.elementor-tab-title {
			padding: 12px;
		}

		.elementor-tab-content {
			padding: 0 12px 10px;
		}
	}
}
