//
// Video
//
.elementor-widget-video {

	.elementor-widget-container {
		overflow: hidden;
		transform: translate3d(0, 0, 0); // Allow border-radius in Safari
	}

	.elementor-open-inline {

		.elementor-custom-embed-image-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: 50%;
		}
	}

	.elementor-custom-embed-image-overlay {
		cursor: pointer;
		text-align: center;

		&:hover {

			.elementor-custom-embed-play {

				i {
					opacity: 1;
				}
			}
		}

		img {
			display: block;
			width: 100%;
		}
	}

	.e-hosted-video {
		.elementor-video {
			object-fit: cover;
		}
	}
}

.e-con,
.e-con-inner {

	> .elementor-widget-video {
		// Fix - Video widget has an undefined height on mobile using 'flex column wrap' inside the flex container (ED-7604).
		width: var( --container-widget-width );
		--flex-grow: var( --container-widget-flex-grow );
	}
}
