//
// Video
//
.elementor-widget-video {

	&.elementor-aspect-ratio- {

		&169 {

			.elementor-video-wrapper {
				padding-bottom: 56.25%;
			}
		}

		&43 {

			.elementor-video-wrapper {
				padding-bottom: 75%;
			}
		}

		&32 {

			.elementor-video-wrapper {
				padding-bottom: 66.6666%;
			}
		}
	}

	.elementor-custom-embed-image-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50%;
		cursor: pointer;

		&:hover {

			.elementor-custom-embed-play {

				i {
					opacity: 0.9;
					text-shadow: 3px 2px 30px rgba(0,0,0,0.6);
				}
			}
		}
	}

	.elementor-custom-embed-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		i {
			font-size: 100px;
			color: #fff;
			opacity: 0.7;
			text-shadow: 3px 2px 24px rgba(0, 0, 0, 0.5);
			transition: all .5s;
		}
	}
}