.eps-search-input {
	width: 100%;
	font-size: type(size, "15");
	padding: spacing(10) spacing(44);
	border: none;
	background: tints(100);
	outline: none;
	color: tints(700);

	&:focus {
		background: theme-colors(light);
	}

	&::placeholder {
		color: tints(500);
		font-style: italic;
	}

	&__container {
		position: relative;
	}

	&__icon {
		font-size: type(size, "20");
		padding: spacing(10);
		color: tints(500);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
