@import "sidebar-variables";

#editor-one-sidebar-navigation {
	position: fixed;
	top: calc(var(--editor-one-sidebar-admin-top-bar-height) + var(--editor-one-wordpress-admin-bar-height));
	bottom: 0;
	inset-inline-start: var(--editor-one-sidebar-left-offset);
	inset-inline-end: auto;
	z-index: var(--editor-one-sidebar-z-index);
	background-color: var(--editor-one-sidebar-bg);
	overflow: visible;

	nav {
		width: var(--editor-one-sidebar-navigation-width);
		max-width: var(--editor-one-sidebar-navigation-width);
	}

	&.e-sidebar-collapsed {
		nav {
			width: var(--editor-one-sidebar-navigation-width-collapsed);
		}
	}
}

.e-sidebar-transitioning {
	#editor-one-sidebar-navigation > nav {
		transition: var(--editor-one-sidebar-transition);
		overflow: hidden;
	}

	#wpcontent,
	#wpbody-content,
	#wpfooter {
		transition: var(--editor-one-sidebar-transition);
	}
}

.e-has-sidebar-navigation {
	#wpcontent {
		padding-inline-start: var(--editor-one-sidebar-navigation-width);
	}

	#wpfooter {
		margin-inline-start: var(--editor-one-sidebar-navigation-width);

		#footer-left {
			float: none;
			text-align: center;
			margin: 0 auto;
		}
	}

	&.e-sidebar-is-collapsed {
		#wpcontent {
			padding-inline-start: var(--editor-one-sidebar-navigation-width-collapsed);
		}

		#wpfooter {
			margin-inline-start: var(--editor-one-sidebar-navigation-width-collapsed);
		}
	}

	#adminmenu {
		li {
			&.wp-has-current-submenu a.wp-has-current-submenu::after,
			&.wp-has-submenu.wp-not-current-submenu:hover > a::after {
				display: none;
			}

			&.wp-has-current-submenu,
			&.wp-has-submenu:hover {
				background: transparent;
			}

			&.menu-top:hover,
			&.opensub > a.menu-top,
			> a.menu-top:focus {
				background: transparent;
			}

			&.elementor-has-flyout .elementor-submenu-flyout {
				display: none;
			}
		}

		.wp-submenu-head {
			display: none;
		}
	}
}
