@import "sidebar-variables";

#editor-one-top-bar {
	> * {
		inset-block-start: var(--editor-one-wordpress-admin-bar-height, 32px);
		inset-inline-start: var(--editor-one-sidebar-left-offset, 160px);
		inset-inline-end: 0;
		width: calc(100% - var(--editor-one-sidebar-left-offset, 160px));
		position: fixed;
	}

	body.folded & {
		> * {
			inset-inline-start: var(--editor-one-sidebar-left-offset-collapsed, 36px);
			width: calc(100% - var(--editor-one-sidebar-left-offset-collapsed, 36px));
		}
	}

	@media screen and (max-width: 960px) {
		> * {
			inset-inline-start: var(--editor-one-wordpress-admin-bar-height, 32px);
			width: calc(100% - var(--editor-one-wordpress-admin-bar-height, 32px));
		}
	}

	@media screen and (max-width: 782px) {
		--editor-one-sidebar-admin-top-bar-height: 46px;

		> * {
			inset-inline-start: 0;
			inset-block-start: var(--editor-one-sidebar-admin-top-bar-height, 46px);
			width: 100%;
		}
	}
}
