#e-editor-top-bar {
	position: fixed;
	top: 32px;
	left: 160px;
	right: 0;
	height: 48px;
	z-index: 100;
	background-color: #0c0d0e;

	.folded & {
		left: 36px;
	}

	@media screen and (max-width: 960px) {
		left: 36px;
	}

	@media screen and (max-width: 782px) {
		top: 46px;
		left: 0;
	}
}

.e-has-top-bar {
	#e-editor-sidebar-navigation {
		top: 80px;
	}

	@media screen and (max-width: 782px) {
		#e-editor-sidebar-navigation {
			top: 94px;
		}
	}

	#wpcontent {
		padding-top: 48px;
	}

	#e-admin-top-bar-root {
		display: none !important;
	}
}
