:root {
	--e-one-typography-display1-fontSize: 0rem;
	--e-one-typography-display2-fontSize: 0rem;
	--e-one-typography-display3-fontSize: 0rem;
	--e-one-typography-display4-fontSize: 0rem;
	--e-one-typography-display5-fontSize: 0rem;
	--e-one-typography-display6-fontSize: 0rem;
	--e-one-typography-button-textTransform: none;
	--e-one-typography-button-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-button-fontWeight: 500;
	--e-one-typography-button-fontSize: 0.875rem;
	--e-one-typography-button-lineHeight: 1.75;
	--e-one-typography-button-letterSpacing: 0.02857em;
	--e-one-typography-h1-fontWeight: 700;
	--e-one-typography-h1-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-h1-fontSize: 6rem;
	--e-one-typography-h1-lineHeight: 1.167;
	--e-one-typography-h1-letterSpacing: -0.01562em;
	--e-one-typography-h2-fontWeight: 700;
	--e-one-typography-h2-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-h2-fontSize: 3.75rem;
	--e-one-typography-h2-lineHeight: 1.2;
	--e-one-typography-h2-letterSpacing: -0.00833em;
	--e-one-typography-h3-fontSize: 2.75rem;
	--e-one-typography-h3-fontWeight: 700;
	--e-one-typography-h3-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-h3-lineHeight: 1.167;
	--e-one-typography-h3-letterSpacing: 0em;
	--e-one-typography-h4-fontSize: 2rem;
	--e-one-typography-h4-fontWeight: 700;
	--e-one-typography-h4-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-h4-lineHeight: 1.235;
	--e-one-typography-h4-letterSpacing: 0.00735em;
	--e-one-typography-h5-fontWeight: 700;
	--e-one-typography-h5-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-h5-fontSize: 1.5rem;
	--e-one-typography-h5-lineHeight: 1.334;
	--e-one-typography-h5-letterSpacing: 0em;
	--e-one-typography-subtitle1-fontWeight: 500;
	--e-one-typography-subtitle1-lineHeight: 1.3;
	--e-one-typography-subtitle1-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-subtitle1-fontSize: 1rem;
	--e-one-typography-subtitle1-letterSpacing: 0.00938em;
	--e-one-typography-subtitle2-lineHeight: 1.3;
	--e-one-typography-subtitle2-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-subtitle2-fontWeight: 500;
	--e-one-typography-subtitle2-fontSize: 0.875rem;
	--e-one-typography-subtitle2-letterSpacing: 0.00714em;
	--e-one-typography-htmlFontSize: 16;
	--e-one-typography-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-fontSize: 14;
	--e-one-typography-fontWeightLight: 300;
	--e-one-typography-fontWeightRegular: 400;
	--e-one-typography-fontWeightMedium: 500;
	--e-one-typography-fontWeightBold: 700;
	--e-one-typography-h6-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-h6-fontWeight: 500;
	--e-one-typography-h6-fontSize: 1.25rem;
	--e-one-typography-h6-lineHeight: 1.6;
	--e-one-typography-h6-letterSpacing: 0.0075em;
	--e-one-typography-body1-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-body1-fontWeight: 400;
	--e-one-typography-body1-fontSize: 1rem;
	--e-one-typography-body1-lineHeight: 1.5;
	--e-one-typography-body1-letterSpacing: 0.00938em;
	--e-one-typography-body2-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-body2-fontWeight: 400;
	--e-one-typography-body2-fontSize: 0.875rem;
	--e-one-typography-body2-lineHeight: 1.43;
	--e-one-typography-body2-letterSpacing: 0.01071em;
	--e-one-typography-caption-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-caption-fontWeight: 400;
	--e-one-typography-caption-fontSize: 0.75rem;
	--e-one-typography-caption-lineHeight: 1.66;
	--e-one-typography-caption-letterSpacing: 0.03333em;
	--e-one-typography-overline-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--e-one-typography-overline-fontWeight: 400;
	--e-one-typography-overline-fontSize: 0.75rem;
	--e-one-typography-overline-lineHeight: 2.66;
	--e-one-typography-overline-letterSpacing: 0.08333em;
	--e-one-typography-overline-textTransform: uppercase;
	--e-one-typography-inherit-fontFamily: inherit;
	--e-one-typography-inherit-fontWeight: inherit;
	--e-one-typography-inherit-fontSize: inherit;
	--e-one-typography-inherit-lineHeight: inherit;
	--e-one-typography-inherit-letterSpacing: inherit;
}

