# Default
# To stay with fixed indent use spaces always.
*                                                                @kingyes
*.js                                                             @kobizz @matipojo
*.php                                                            @matipojo @kobizz
*.json                                                           @kingyes
*.xml                                                            @kingyes

# Assets
/assets/dev/js/editor/commands                                   @matipojo @inewlegend
/assets/dev/js/editor/component.js                               @kobizz @matipojo @inewlegend
/assets/dev/js/editor/container                                  @kobizz @matipojo @inewlegend
/assets/dev/js/editor/data                                       @kobizz @matipojo @inewlegend
/assets/dev/js/editor/document                                   @kobizz @matipojo @inewlegend
/assets/dev/js/editor/document.js                                @kobizz @matipojo @inewlegend
/assets/dev/js/editor/editor-document.js                         @kobizz @matipojo @inewlegend
/assets/dev/js/editor/editor.js                                  @kobizz @matipojo @inewlegend
/assets/dev/js/modules/imports/args-object.js                    @kobizz @matipojo @inewlegend
/assets/dev/js/modules/imports/force-method-implementation.js    @kobizz @matipojo @inewlegend
/assets/dev/js/modules/imports/instance-type.js                  @kobizz @matipojo @inewlegend

/assets/dev/scss                                                 @kobizz

# External Libraries
/assets/lib                                                      @kingyes
/assets/shapes                                                   @joshmarom

# Tools
/bin                                                             @kingyes
/Gruntfile.js                                                    @kingyes
/.grunt-config                                                   @kingyes

# Core
/core                                                            @kingyes
/core/admin/notices                                              @nevoss
/core/app                                                        @matipojo @kobizz
/core/base                                                       @matipojo @kobizz
/core/base/db-upgrades-manager.php                               @matipojo
/core/base/background-task.php                                   @matipojo
/core/base/background-task-manager.php                           @matipojo
/core/common                                                     @kobizz
/core/common/assets/js/api                                       @kobizz @inewlegend
/core/common/modules/ajax                                        @kobizz @matipojo
/core/common/modules/connect                                     @matipojo
/core/common/modules/finder                                      @kobizz
/core/debug                                                      @matipojo
/core/document-types                                             @matipojo
/core/dynamic-tags                                               @kobizz
/core/editor                                                     @kobizz
/core/editor/data                                                @kobizz @inewlegend
/core/experiments                                                @kobizz
/core/kits                                                       @matipojo @kobizz
/core/files                                                      @kobizz @matipojo
/core/logger                                                     @matipojo
/core/responsive                                                 @kobizz
/core/role-manager                                               @kobizz
/core/settings                                                   @matipojo
/core/upgrade                                                    @matipojo
/core/utils                                                      @matipojo @kobizz
/core/utils/collection.php                                       @nevoss
/core/utils/version.php                                          @nevoss

# Data
/data                                                            @matipojo @kobizz @inewlegend

# Docs
/docs/core/common/assets/js/api                                  @kobizz @matipojo @inewlegend

# Includes
/includes/admin-templates                                        @kobizz
/includes/controls                                               @kobizz
/includes/editor-templates                                       @kobizz
/includes/libraries                                              @kingyes @matipojo
/includes/managers                                               @matipojo @kobizz
/includes/schemes                                                @kobizz
/includes/settings                                               @kobizz
/includes/settings/system-info                                   @kobizz

/includes/api.php                                                @kingyes
/includes/autoloader.php                                         @kobizz
/includes/base/controls-stack.php                                @kobizz
/includes/base/element-base.php                                  @kingyes @kobizz
/includes/base/skin-base.php                                     @matipojo
/includes/base/widget-base.php                                   @kingyes @kobizz
/includes/base/controls-stack.php                                @kobizz
/includes/compatibility.php                                      @matipojo
/includes/conditions.php                                         @kobizz
/includes/db.php                                                 @kingyes @matipojo
/includes/elements/column.php                                    @kobizz
/includes/elements/repeater.php                                  @matipojo
/includes/elements/section.php                                   @kobizz
/includes/embed.php                                              @kobizz
/includes/fonts.php                                              @matipojo
/includes/frontend.php                                           @kobizz @matipojo
/includes/heartbeat.php                                          @matipojo
/includes/maintenance.php                                        @matipojo
/includes/maintenance-mode.php                                   @matipojo
/includes/plugin.php                                             @kingyes @kobizz @matipojo
/includes/preview.php                                            @kingyes @kobizz @matipojo
/includes/rollback.php                                           @kingyes
/includes/shapes.php                                             @kobizz
/includes/stylesheet.php                                         @kobizz
/includes/tracker.php                                            @kingyes @matipojo
/includes/user.php                                               @kobizz
/includes/utils.php                                              @kobizz @matipojo

# Template Library
/includes/template-library                                       @kingyes @kobizz

# Widgets
/includes/widgets                                                @kobizz

# Modules
/modules                                                         @matipojo
/modules/admin-bar                                               @nevoss
/modules/compatibility-tag                                       @nevoss
/modules/dev-tools                                               @matipojo @inewlegend
/modules/dynamic-tags                                            @matipojo @kobizz
/modules/landing-pages                                           @kobizz @udidol
/modules/library                                                 @matipojo @kobizz
/modules/system-info                                             @matipojo @kobizz
/modules/gutenberg                                               @kingyes
/modules/usage                                                   @matipojo @inewlegend

# Tests
/tests                                                           @matipojo
/tests/qunit                                                     @matipojo @inewlegend
