# Default
*                                 		@kingyes
*.js                              		@kobizz
*.php                             		@matipojo

# Assets
/assets/dev/js							@kobizz
/assets/dev/js/editor					@kobizz @matipojo
/assets/dev/js/editor/commands    		@matipojo
/assets/dev/js/editor/controls    		@kobizz
/assets/dev/js/editor/document    		@matipojo
/assets/dev/js/editor/document/dynamic	@matipojo @kobizz
/assets/dev/js/editor/document/elements	@matipojo @kobizz
/assets/dev/js/editor/document/hooks	@matipojo @kobizz
/assets/dev/js/editor/document/repeater	@matipojo @kobizz
/assets/dev/js/editor/document/ui    	@matipojo @kobizz
/assets/dev/scss                  		@kobizz

# External Libraries
/assets/lib                       		@kingyes
/assets/shapes                    		@joshmarom

# Tools
/bin                              		@kingyes
/Gruntfile.js                     		@kingyes
/.grunt-config                    		@kingyes

# Core
/core                             		@kingyes
/core/app                             	@matipojo @kobizz
/core/admin                       		@kingyes
/core/base                        		@kingyes @matipojo @kobizz
/core/base/db-upgrades-manager.php		@kingyes @matipojo
/core/base/background-task.php			@kingyes @matipojo
/core/base/background-task-manager.php	@kingyes @matipojo
/core/common                      		@kobizz
/core/common/modules/ajax         		@kobizz @matipojo
/core/common/modules/connect      		@matipojo
/core/common/modules/finder       		@kobizz
/core/debug                       		@matipojo
/core/document-types              		@matipojo
/core/dynamic-tags                		@kobizz
/core/editor                      		@kobizz
/core/kits                        		@matipojo @kobizz
/core/files                       		@kobizz @matipojo
/core/logger                      		@matipojo
/core/responsive                  		@kobizz
/core/role-manager                		@kobizz
/core/settings                    		@matipojo
/core/upgrade                     		@kingyes @matipojo
/core/utils                       		@kingyes @matipojo @kobizz

# Includes
/includes/admin-templates         		@kingyes @kobizz
/includes/controls                		@kingyes @kobizz
/includes/editor-templates        		@kobizz
/includes/libraries               		@kingyes @matipojo
/includes/managers                		@kingyes @matipojo @kobizz
/includes/schemes                 		@kobizz
/includes/settings                		@kingyes @kobizz
/includes/settings/system-info    		@kobizz

/includes/api.php                 		@kingyes
/includes/autoloader.php          		@kobizz
/includes/base/controls-stack.php 		@kobizz
/includes/base/element-base.php   		@kingyes @kobizz
/includes/base/skin-base.php      		@matipojo
/includes/base/widget-base.php    		@kingyes @kobizz
/includes/base/controls-stack.php 		@kobizz
/includes/beta-tester.php         		@kingyes
/includes/compatibility.php       		@matipojo
/includes/conditions.php          		@kobizz
/includes/db.php                  		@kingyes @matipojo
/includes/elements/column.php     		@kingyes @kobizz
/includes/elements/repeater.php   		@kingyes @matipojo
/includes/elements/section.php    		@kingyes @kobizz
/includes/embed.php               		@kobizz
/includes/fonts.php               		@kingyes
/includes/frontend.php            		@kingyes @kobizz @matipojo
/includes/heartbeat.php           		@kingyes
/includes/maintenance.php         		@kingyes
/includes/maintenance-mode.php    		@matipojo
/includes/plugin.php              		@kingyes @kobizz @matipojo
/includes/preview.php             		@kingyes @kobizz @matipojo
/includes/rollback.php            		@kingyes
/includes/shapes.php              		@kobizz
/includes/stylesheet.php          		@kobizz
/includes/tracker.php             		@kingyes @matipojo
/includes/user.php                		@kobizz
/includes/utils.php               		@kobizz @matipojo

# Template Library
/includes/template-library        		@kingyes @kobizz

# Widgets
/includes/widgets                 		@kingyes @kobizz

# Modules
/modules                          		@matipojo
/modules/dynamic-tags             		@matipojo @kobizz
/modules/library             			@matipojo @kobizz
/modules/system-info             		@matipojo @kobizz
/modules/gutenberg                		@kingyes

# Tests
/tests                            		@kingyes @matipojo
