$root: e-app-export-kit;

.#{$root} {
	padding-block-end: spacing(20);

	&-information {

		&__field-header {
			margin-block-end: spacing(10);
		}

		&__label {
			margin: 0;
		}

		&__info-icon {
			margin-inline-start: spacing(10);
		}

		&__content {
			gap: 16px;
		}

		&__field--error {
			border-color: var(--e-a-color-danger);
		}

		&__error-container {
			height: 20px;
			display: flex;
			align-items: flex-start;
			margin-top: 4px;
		}

		&__validation-error {
			color: var(--e-a-color-danger);
		}
	}

	&__content {
		gap: 20px;
	}
}

.eps-theme-dark {
	.#{$root} {
	}
}
