$root: e-app-export-kit;

.#{$root} {
	padding-block-end: spacing(20);

	&-information {
		margin-block-start: spacing(20);

		&__field-header {
			margin-block-end: spacing(10);
		}

		&__label {
			margin: 0;
		}

		&__info-icon {
			margin-inline-start: spacing(10);
		}

		&__content {
			gap: 20px;
		}
	}
}

.eps-theme-dark {
	.#{$root} {
	}
}
