.e-floating-bars-var-3 {
	--e-floating-bars-announcement-bg-color: #CDD9DF;
	--e-floating-bars-announcement-text-color: #1C2448;
	--e-floating-bars-announcement-icon-color: #1C2448;
	--e-floating-bars-close-button-color: #1C2448;

	.e-floating-bars {

	}
}