.eps-badge {
	display: inline-block;
	background: $eps-theme-light;
	padding: 0 spacing(8);
	line-height: type(line-height, lg);
	box-shadow: shadow("1");
	border-radius: 4px;
	font-size: type(size, "12");
}
