$eps-1px: spacing(10) / 10;
$eps-grid-gap: calc(var(--eps-grid-spacing) * #{$eps-1px});
$eps-grid-columns: repeat(var(--eps-grid-columns), 1fr);

.eps-css-grid {
	display: grid;
	grid-template-columns: $eps-grid-columns;
	grid-gap: $eps-grid-gap;
}
