$eps-grid-gap: calc(var(--eps-grid-spacing) * #{px-to-rem(1)});
$eps-grid-columns: repeat(var(--eps-grid-columns), 1fr);

.eps-css-grid {
	display: grid;
	grid-template-columns: $eps-grid-columns;
	grid-gap: $eps-grid-gap;
}
