$eps-text-field-color: tints(600);
$eps-text-field-dark-color: dark-tints(300);
$eps-text-field-border-color: tints(300);
$eps-text-field-dark-border-color: dark-tints(500);
$eps-text-field-focus-border-color: tints(400);
$eps-text-field-focus-border-dark-color: dark-tints(300);
$eps-text-field-placeholder-color: tints(500);
$eps-text-field-placeholder-dark-color: dark-tints(500);

@mixin font-style {
	font-family: $eps-font-family;
	font-size: $eps-body-font-size;
	font-weight: $eps-font-weight-base;
	line-height: $eps-line-height-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin placeholder {
	color: var(--eps-text-field-placeholder-color);
}

$root: eps-text-field;

.#{$root} {
	--eps-text-field-color: #{$eps-text-field-color};
	--eps-text-field-border-color: #{$eps-text-field-border-color};
	--eps-text-field-focus-border-color: #{$eps-text-field-focus-border-color};
	--eps-text-field-placeholder-color: #{$eps-text-field-placeholder-color};

	width: 100%;
	border-radius: $eps-radius;
	border: $eps-border-width-md $eps-border-style var(--eps-text-field-border-color);
	color: var(--eps-text-field-color);
	padding: spacing(10);
	outline: none;
	@include font-style;

	&:focus {
		border-color: var(--eps-text-field-focus-border-color);
	}

	&::-webkit-input-placeholder {
		@include font-style;
		@include placeholder;
	}

	&:-moz-placeholder {
		@include font-style;
		@include placeholder;
	}

	&::-moz-placeholder {
		@include font-style;
		@include placeholder;
	}

	&:-ms-input-placeholder {
		@include font-style;
		@include placeholder;
	}

	&::placeholder {
		@include font-style;
		@include placeholder;
	}
}

.eps-theme-dark {
	.#{$root} {
		--eps-text-field-color: #{$eps-text-field-dark-color};
		--eps-text-field-border-color: #{$eps-text-field-dark-border-color};
		--eps-text-field-focus-border-color: #{$eps-text-field-focus-border-dark-color};
		--eps-text-field-placeholder-color: #{$eps-text-field-placeholder-dark-color};
	}
}


