.idea/
node_modules/
.sass-cache/
build/
log/
vendor/
composer.lock
package-lock.json
.project
.vscode
Thumbs.db
*.DS_Store

*.log
*.map

assets/css/
assets/css-templates/
assets/dev/scss/frontend/breakpoints/proxy.scss

assets/js/
