<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory>.github</directory>
      <directory>assets</directory>
      <directory>bin</directory>
      <directory>build</directory>
      <directory>docs</directory>
      <directory>node_modules</directory>
      <directory>tests</directory>
      <directory>includes/libraries</directory>
      <directory>vendor</directory>
    </exclude>
  </coverage>
  <php>
    <env name="PLUGIN_FILE" value="elementor.php"/>
    <env name="WP_TESTS_DIR" value="./tmp/wordpress-tests-lib"/>
  </php>
  <testsuites>
    <testsuite name="elementor">
      <directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
