$screen-xs-max: map_get($breakpoints, sm) - 1;
$screen-mobile-min: map_get($breakpoints, sm);

// Start editable breakpoints area
@import "proxy";
// End

$screen-xl-min: map_get($breakpoints, xl);
$screen-xl-max: map_get($breakpoints, xxl) - 1;
$screen-xxl-min: map_get($breakpoints, xxl);
