$screen-sm-max: ELEMENTOR_SCREEN_MOBILE_MAX;
$screen-md-min: ELEMENTOR_SCREEN_TABLET_MIN;
$screen-md-max: ELEMENTOR_SCREEN_TABLET_MAX;
$screen-lg-min: ELEMENTOR_SCREEN_DESKTOP_MIN;
$screen-mobile-extra: ELEMENTOR_SCREEN_MOBILE_EXTRA_MAX;
$screen-tablet-extra: ELEMENTOR_SCREEN_TABLET_EXTRA_MAX;
$screen-laptop: ELEMENTOR_SCREEN_LAPTOP_MAX;
$screen-widescreen: ELEMENTOR_SCREEN_WIDESCREEN_MIN;
