$screen-mobile-min: map_get($breakpoints, sm);
$screen-mobile-max: map_get($breakpoints, md) - 1;
$screen-tablet-min: map_get($breakpoints, md);
$screen-mobile-next: map_get($breakpoints, md);
$screen-tablet-max: map_get($breakpoints, lg) - 1;
$screen-desktop-min: map_get($breakpoints, lg);
$screen-desktop-max: 99999px;
$screen-tablet-next: map_get($breakpoints, lg);

// Additional Custom Breakpoints - SCSS placeholders
$screen-mobile-extra-min: -1;
$screen-mobile-extra-max: -1;
$screen-mobile-extra-next: -1;
$screen-tablet-extra-min: -1;
$screen-tablet-extra-max: -1;
$screen-tablet-extra-next: -1;
$screen-laptop-min: -1;
$screen-laptop-max: -1;
$screen-widescreen-min: -1;

// Aliases
$screen-sm-min: $screen-mobile-min;
$screen-sm-max: $screen-mobile-max;
$screen-md-min: $screen-tablet-min;
$screen-md-max: $screen-tablet-max;
$screen-lg-min: $screen-desktop-min;

$screen-xl-min: map_get($breakpoints, xl);
$screen-xl-max: map_get($breakpoints, xxl) - 1;
$screen-xxl-min: map_get($breakpoints, xxl);
