$screen-sm-max: map_get($breakpoints, md) - 1;
$screen-md-min: map_get($breakpoints, md);
$screen-mobile-next: $screen-md-min;
$screen-md-max: map_get($breakpoints, lg) - 1;
$screen-lg-min: map_get($breakpoints, lg);
$screen-tablet-next: $screen-lg-min;

// Additional Custom Breakpoints - SCSS placeholders
$screen-mobile-extra-min: -1;
$screen-mobile-extra-max: -1;
$screen-tablet-extra-min: -1;
$screen-tablet-extra-max: -1;
$screen-laptop-min: -1;
$screen-laptop-max: -1;
$screen-widescreen-min: -1;
