//// color presets
$eps-box-shadow-color: $eps-theme-dark;
$eps-box-shadow-color-hover: null;
$eps-box-shadow-size: 0 4px 6px;
$eps-box-shadow-size-2: 0 4px 10px;
$eps-box-shadow-size-sm: null;
$eps-shadow-size-lg: null;

$eps-box-shadow-alpha-unit: $opacity-005;
$eps-box-shadow-alpha-hover: null;

// shadow presets
$eps-box-shadow: $eps-box-shadow-size rgba($eps-box-shadow-color, $eps-box-shadow-alpha-unit);
// todo: temp values, map to semantics when semantics (use casing) is concluded.
$eps-box-shadow-2: $eps-box-shadow-size rgba($eps-box-shadow-color, $eps-box-shadow-alpha-unit);

$eps-box-shadow-sm: null;
$eps-box-shadow-lg: null;
$eps-box-shadow-hover: null;
