$e-app-wizard-footer-border-color: tints(300);
$e-app-wizard-footer-dark-border-color: dark-tints(500);

$root: e-app-wizard-footer;

.#{$root} {
	--e-app-wizard-footer-border-color: #{$e-app-wizard-footer-border-color};

	padding: spacing(8);

	&__separator {
		border-top: 1px solid var(--e-app-wizard-footer-border-color);
	}
}

.eps-theme-dark {
	.#{$root} {
		--e-app-wizard-footer-border-color: #{$e-app-wizard-footer-dark-border-color};
	}
}
