#wp-admin-bar-{

	&elementor-maintenance-on {

		.ab-item:before {
			content: "\f160";
			top: 2px;
		}
	}

	&elementor-maintenance-edit {

		.ab-item:before {
			content: "\f464";
			top: 2px;
		}
	}
}