// Dialog
@import "dialog";

// Responsive Aspect Ratio
.elementor-aspect-ratio- {

	&219 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 42.8571%;
		}
	}

	&169 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 56.25%;
		}
	}

	&43 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 75%;
		}
	}

	&32 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 66.6666%;
		}
	}

	&11 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 100%;
		}
	}
}

.elementor-fit-aspect-ratio {
	position: relative;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}

.elementor-hidden {
	display: none;
}

// Flatpickr Calendar (Date & Time Picker) compatibility
.flatpickr-calendar {
	width: 280px;

	.flatpickr-current-month {

		span.cur-month {
			font-weight: 300;
		}
	}

	.dayContainer {
		width: 280px;
		min-width: 280px;
		max-width: 280px;
	}

	.flatpickr-days {
		width: 280px;
	}

	.flatpickr-day {
		max-width: 37px;
		height: 37px;
		line-height: 37px;
	}
}
