// Global for all (editor, admin, preview, front-end ADMIN)
@import "../../../../assets/dev/scss/helpers/variables";
@import "../../../../assets/dev/scss/editor/breakpoints";
@import "../global/global";
@import "../global/dialog-base";
@import "../global/dialog-lightbox";
@import "../global/dialog-confirm";
@import "dialog-common";
@import "dialog-templates";
@import "notifications";
@import "app/modules/site-editor/assets/scss/admin/admin-bar";

// Elementor icon logo wrapper
.e-logo-wrapper {
	display: inline-block;
	line-height: 1;

	i {
		color: var(--e-a-color-circle-logo);
		font-size: 2.5em;
	}
}

