.import-plugins-list {
	&__item {
		padding: spacing(20);
		border-bottom: 1px solid var(--kit-content-list-item-border-color);
	}

	&__checkbox {
		flex-shrink: 0;
		margin-inline-end: spacing(10);
	}
}
