// EDS border tokens
$border-style-solid: solid;
$border-style-dashed: dashed;
$border-style-dotted: dotted;

$eps-border-style: $border-style-solid;
$eps-border-width: 1px;
$eps-border-width-md: 2px;
$eps-border-width-lg: 3px;

$eps-border-color: var(--e-a-border-color);
$eps-border-color-light: $eps-gray-50;
$eps-border-color-dark: $eps-gray-200;

$eps-border: $eps-border-width $eps-border-style $eps-border-color;
