.e-playing-cards-container {
  --e-card-width: 300px;
  --e-cards-flex-direction: row;
  --e-cards-flex-justify-content: start;
  --e-cards-flex-align-items: start;
  --e-cards-transition-time: 300ms;
  --e-cards-row-gap: 10px;
  --e-cards-col-gap: 10px;
  --e-card-border-radius: 20px;
  --e-card-font-family: initial;
  --e-card-font-size: 1em;
  --e-card-font-weight: 300;
  --e-card-diamond-color: red;
  --e-card-heart-color: red;
  --e-card-spade-color: black;
  --e-card-club-color: black;
  --e-card-suit-font-size: 1.5em;
  --e-card-royal-suit-offset-h: 10%;
  --e-card-royal-suit-offset-v: 0%;
  --e-card-background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--e-cards-flex-direction);
  justify-content: var(--e-cards-flex-justify-content);
  align-items: var(--e-cards-flex-align-items);
  row-gap: var(--e-cards-row-gap);
  column-gap: var(--e-cards-col-gap);
  transition: var(--e-cards-transition-time);

  .e-playing-cards-item {
	transition: var(--e-cards-transition-time);
	display: grid;
	grid-template-columns: 1.2fr repeat( 5, 1fr ) 1.2fr;
	grid-template-rows: 1.2fr repeat( 7, 1fr ) 1.2fr;
	justify-items: center;
	align-items: center;
	width: var(--e-card-width);
	height: calc(var(--e-card-width) / 0.7);
	border-radius: var(--e-card-border-radius);
	border: 2px solid black;
	background-color: var(--e-card-background-color);

	&.heart {
	  .suit {
		color: var(--e-card-heart-color);
	  }

	  .value {
		color: var(--e-card-heart-color);
	  }
	}

	&.club {
	  .suit {
		color: var(--e-card-club-color);
	  }

	  .value {
		color: var(--e-card-club-color);
	  }
	}

	&.diamond {
	  .suit {
		color: var(--e-card-diamond-color);
	  }

	  .value {
		color: var(--e-card-diamond-color);
	  }
	}

	&.spade {
	  .suit {
		color: var(--e-card-spade-color);
	  }

	  .value {
		color: var(--e-card-spade-color);
	  }
	}

	.e-card-content {
	  font-family: var(--e-card-font-family) Sans-serif;
	  font-size: var(--e-card-font-size);
	  font-weight: var(--e-card-font-weight);
	}

	.flip {
	  rotate: .5turn;
	}

	.self-start {
	  align-self: start;
	}

	.self-end {
	  align-self: end;
	}

	.suit {
	  font-size: var(--e-card-suit-font-size);
	  line-height: 1;
	}

	.e-card-content.value {
	  font-size: var(--e-card-font-size);
	}

	.e-card-content-royal-image {
	  grid-row: 2/-2;
	  grid-column: 2/-2;
	  border: 2px solid black;
	  width: 100%;
	  height: 100%;
	  background-size: cover;
	  background-position: center;
	}

	.suit {
	  position: relative;

	  &.end {
		align-self: end;
		justify-self: end;
		left: var(--e-card-royal-suit-offset-h);
		top: var(--e-card-royal-suit-offset-v);
	  }

	  &.start {
		align-self: start;
		justify-self: start;
		right: var(--e-card-royal-suit-offset-h);
		bottom: var(--e-card-royal-suit-offset-v);
	  }
	}

	.row_-5 {
	  grid-row: -5;
	}

	.row_-5-double {
	  grid-row: -5/-3;
	}

	.col_-5 {
	  grid-column: -5;
	}

	.col_-5-double {
	  grid-column: -5/-3;
	}

	.row_-4 {
	  grid-row: -4;
	}

	.row_-4-double {
	  grid-row: -4/-2;
	}

	.col_-4 {
	  grid-column: -4;
	}

	.col_-4-double {
	  grid-column: -4/-2;
	}

	.row_-3 {
	  grid-row: -3;
	}

	.row_-3-double {
	  grid-row: -3/-1;
	}

	.col_-3 {
	  grid-column: -3;
	}

	.col_-3-double {
	  grid-column: -3/-1;
	}

	.row_-2 {
	  grid-row: -2;
	}

	.row_-2-double {
	  grid-row: -2/0;
	}

	.col_-2 {
	  grid-column: -2;
	}

	.col_-2-double {
	  grid-column: -2/0;
	}

	.row_-1 {
	  grid-row: -1;
	}

	.row_-1-double {
	  grid-row: -1/1;
	}

	.col_-1 {
	  grid-column: -1;
	}

	.col_-1-double {
	  grid-column: -1/1;
	}

	.row_1 {
	  grid-row: 1;
	}

	.row_1-double {
	  grid-row: 1/3;
	}

	.col_1 {
	  grid-column: 1;
	}

	.col_1-double {
	  grid-column: 1/3;
	}

	.row_2 {
	  grid-row: 2;
	}

	.row_2-double {
	  grid-row: 2/4;
	}

	.col_2 {
	  grid-column: 2;
	}

	.col_2-double {
	  grid-column: 2/4;
	}

	.row_3 {
	  grid-row: 3;
	}

	.row_3-double {
	  grid-row: 3/5;
	}

	.col_3 {
	  grid-column: 3;
	}

	.col_3-double {
	  grid-column: 3/5;
	}

	.row_4 {
	  grid-row: 4;
	}

	.row_4-double {
	  grid-row: 4/6;
	}

	.col_4 {
	  grid-column: 4;
	}

	.col_4-double {
	  grid-column: 4/6;
	}

	.row_5 {
	  grid-row: 5;
	}

	.row_5-double {
	  grid-row: 5/7;
	}

	.col_5 {
	  grid-column: 5;
	}

	.col_5-double {
	  grid-column: 5/7;
	}

	//@for $i from -5 through 5 {
	//  .row_#{$i} {
	//	grid-row: $i;
	//
	//	&.double {
	//	  grid-row: $i/calc($i + 2);
	//	}
	//  }
	//
	//  .col_#{$i} {
	//	grid-column: $i;
	//
	//	&.double {
	//	  grid-column: $i/calc($i + 2);
	//	}
	//  }
	//}
  }
}

