body.e-styleguide-shown {
	overflow: hidden;
}

#e-styleguide-preview-dialog.dialog-styleguide-widget {

	&.e-hidden {
		&, & * {
			visibility: hidden;
			pointer-events: none;
		}
	}

	.dialog-styleguide-widget-content {
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		border-radius: 0;
		top: 0 !important;
		left: 0 !important;
		overflow: scroll;
	}

	.dialog-message {
		padding: 0;
		text-align: initial;
	}

	.elementor-widget-wrap {
		padding: 0;
	}

	.elementor-global-styleguide-widget {
		min-height: 100vh;
	}

	.e-styleguide-loader {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.eicon-loading {
			font-size: 25px;
			color: var(--e-a-color-txt-muted);
		}
	}
}
