.elementor-widget-n-accordion {
	--n-accordion-title-font-size: 15px;
	--n-accordion-border-width: 1px;
	--n-accordion-border-color: #{$gray-light};
	--n-accordion-border-style: solid;
	--n-accordion-item-title-flex-grow: initial;
	--n-accordion-item-title-justify-content: initial;
	--n-accordion-item-title-justify-content-mobile: initial;
	--n-accordion-title-icon-order: -1;
	--n-accordion-title-icon-padding-inline: 0 15px;
  	--n-accordion-item-title-space-between: 0px;
  	--n-accordion-item-title-distance-from-content: 0px;
  	--n-accordion-padding: 10px;
  	--n-accordion-border-radius: 0px;

	.e-n-accordion {

		&-item {
			display: flex;
			flex-direction: column;
			position: relative;

			&:not(:last-child) {
					margin-bottom: var(--n-accordion-item-title-space-between);
			}

			> .e-con {
				border-width: var(--n-accordion-border-width);
				border-color: var(--n-accordion-border-color);
				border-style: var(--n-accordion-border-style);
			}

			&-title {
				display: flex;
				flex-direction: row;
				list-style: none;
				font-size: var(--n-accordion-title-font-size);
			  	padding: var(--n-accordion-padding);
			  	border-width: var(--n-accordion-border-width);
				border-color: var(--n-accordion-border-color);
				border-style: var(--n-accordion-border-style);
				justify-content: var(--n-accordion-item-title-justify-content);
				border-radius: var(--n-accordion-border-radius);
			  	flex-grow: var(--n-menu-item-title-flex-grow);

				&-icon {
					display: flex;
					flex-direction: row;
					align-items: center;
					padding-inline: var( --n-accordion-title-icon-padding-inline );
					order: var( --n-accordion-title-icon-order );

					span > i {
						color: var(--n-accordion-icon-color);
					}

					span > svg {
						fill: var(--n-accordion-icon-color);
					}
				}

				& > span {
					cursor: pointer;
				}
			}

			&[open] {

			  	.e-n-accordion-item-title {
					margin-bottom: var(--n-accordion-item-title-distance-from-content);
			  	}

				.e-n-accordion-item-title-icon-opened {
					display: flex;
				}

				.e-n-accordion-item-title-icon-closed {
					display: none;
				}
			}

			&:not([open]) {

				.e-n-accordion-item-title-icon-opened {
					display: none;
				}

				.e-n-accordion-item-title-icon-closed {
					display: flex;
				}
			}
		}
	}
}
