.e-kit-library__preview {
	&-loader {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		z-index: $ground-layer;
	}

	&-iframe {
		border: none;
		transition: $transition-hover;
		box-shadow: shadow( "2" );
	}

	&-iframe-container {
		overflow-y: auto;
		position: relative;
		z-index: $first-layer;
	}
}
