$colors: (
	info: #58D0F5,
	pink: #D30C5C,
	error: #B01B1B,
	warning: #FCB92C,
	green: #39B54A,
);

$light: (
	editor-darkest:  #495157,
	editor-darker:   #556068,
	editor-dark: 	  #6d7882,
	editor-light: 	  #A4AFB7,
	editor-lighter:  #C2CBD2,
	editor-lightest: #D5DADF,
	editor-background-light: #F1F3F5,
	editor-background-lighter: #FCFCFC,
);


$dark: (

);
