// Shared button style.
.elementor-widget-button {
	--button-flex-direction: row;
	--button-align-self: initial;
	--button-icon-transition: all 0.3s;
	--button-icon-display: initial;
}

.elementor-button {
	display: inline-block;
	line-height: 1;
	background-color: $gray;
	font-size: 15px; //size-sm
	padding: 12px 24px; //size-sm
	border-radius: 3px; //size-sm
	color: #fff;
	fill: #fff;
	text-align: center;
	transition: var(--button-icon-transition);

	&:hover,
	&:focus,
	&:visited {
		color: #fff;
	}

	&-content-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: var(--button-flex-direction);
		gap: 5px;
	}

	&-icon {
		display: var(--button-icon-display);

		i {
			color: var(--button-icon-color, inherit);
	        font-size: var(--button-icon-size);
			transition: var(--button-icon-transition);
		}

		svg {
			height: var(--button-icon-size, 1em);
			width: auto;
			fill: var(--button-icon-color, inherit);
			transition: var(--button-icon-transition);
		}
	}

	&-text {
		display: inline-block;
	}

	&.elementor-size- {
		&xs {
			font-size: 13px;
			padding: 10px 20px;
			border-radius: 2px;
		}

		&sm {
			//default size
		}

		&md {
			font-size: 16px;
			padding: 15px 30px;
			border-radius: 4px;
		}

		&lg {
			font-size: 18px;
			padding: 20px 40px;
			border-radius: 5px;
		}

		&xl {
			font-size: 20px;
			padding: 25px 50px;
			border-radius: 6px;
		}
	}

	// TODO: Delete in Elementor 3.24 when all buttons migrated from `order` to `flex-direction`.
	// For now, it's here for BC, for sites that upgrade Elementor, but not Elementor Pro.
	.elementor-align-icon- {
		&right {
			order: getValueByDirection( 15, 5 );
		}

		&left {
			order: getValueByDirection( 5, 15 );
		}
	}

	span {
		text-decoration: inherit; //fix for conflict with text-decoration & inline-block
		align-self: var(--button-align-self);
	}

	&:hover {

		.elementor-button-icon {

			i {
				color: var(--button-icon-color-hover);
			}

			svg {
				fill: var(--button-icon-color-hover);
			}
		}
	}
}

.elementor-element.elementor-button- {
	@include button-types( '.elementor-button' );

}

.elementor-widget-button {
	.elementor-button {
		.elementor-button- {

			@include button-types( '' );
		}
	}
}
