$indicator-bullet-border-color: theme-colors(light);
$indicator-bullet-dark-border-color: dark-tints(600);
$dark-svg-filter: invert(0.8) sepia(1) saturate(0.1) hue-rotate(180deg) contrast(2) brightness(1.2);

:root {
	--indicator-bullet-border-color: #{$indicator-bullet-border-color};
}

.dark {
	--indicator-bullet-border-color: #{$indicator-bullet-dark-border-color};
	.card__image {
		filter: $dark-svg-filter;
		mix-blend-mode: screen;
	}
}

$indicator-bullet-size: spacing(16) * 0.75;
$indicator-bullet-color: tints(300);
$indicator-bullet-color-active: theme-colors(success);
$indicator-bullet-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$indicator-bullet-radius: 100%;
$indicator-bullet-border: 2px solid var(--indicator-bullet-border-color);
$indicator-bullet-spacing: spacing(10);

.indicator-bullet {
	display: block;
	width: $indicator-bullet-size;
	height: $indicator-bullet-size;
	box-shadow: $indicator-bullet-box-shadow;
	background-color: $indicator-bullet-color;
	border: $indicator-bullet-border;
	border-radius: $indicator-bullet-radius;
	margin-inline-end: $indicator-bullet-spacing;

	&--active {
		background-color: $indicator-bullet-color-active;
	}
}

$info-toggle-color: tints(300);
$info-toggle-hover-color: tints(500);

:root {
	--info-toggle-color: #{$info-toggle-color};
	--info-toggle-hover-color: #{$info-toggle-hover-color};
}

$info-toggle-dark-color: dark-tints(400);
$info-toggle-dark-hover-color: dark-tints(200);

.dark {
	--info-toggle-color: #{$info-toggle-dark-color};
	--info-toggle-hover-color: #{$info-toggle-dark-hover-color};
}

.info-toggle {
	color: var(--info-toggle-color);

	&:hover {
		--info-toggle-color: var(--info-toggle-hover-color);
	}
}
