.elementor-app__site-editor__site-part {
	width: 220px;
	height: 200px;
}

$types: (
	"archive"
	"error-404"
	"footer"
	"header"
	"product"
	"products"
	"search-results"
	"single-page"
	"single-post"
);

@each $type in $types {
	#site-part__type-#{$type} {
		background: url( '../images/app/site-editor/' + $type + '.svg' );
	}
}
