$eps-atoms: (
	typography:(
		display:(
			1:(
				font-size: $eps-display-1-font-size,
				line-height:null,
				color: var(--display-1-color),
				margin-block-start: $eps-spacer,
				margin-block-end: $eps-spacer,
				font-family:null,
				font-weight:null,
				text-transform: null,
			),
			2:(
				font-size: $eps-display-2-font-size,
				line-height:null,
				color: var(--display-2-color),
				margin-block-start: $eps-spacer,
				margin-block-end: $eps-spacer,
				font-family:null,
				font-weight:null,
				font-style: null,
				text-transform: null,
			),
			3:(
				font-size: $eps-display-3-font-size,
				line-height:null,
				color: var(--display-3-color),
				margin-block-start: 0,
				margin-block-end: 2.5 * $eps-spacer,
				font-family:null,
				font-weight:null,
				font-style: null,
				text-transform: null,
			),
			4:(
				font-size: $eps-display-4-font-size,
				line-height:null,
				color: var(--display-4-color),
				margin-block-start: $eps-spacer,
				margin-block-end: $eps-spacer,
				font-family:null,
				font-weight:null,
				font-style: null,
				text-transform: null,
			),
		),
		heading:(
			1:(
				font-size: $eps-h-1-font-size,
				line-height: $eps-line-height-flat,
				color: var(--h1-color),
				margin-block-start: null,
				margin-block-end: 2.5 * $eps-spacer,
				font-family:null,
				font-weight: $eps-font-weight-medium,
				font-style: null,
				text-transform: null,
			),
			2:(
				font-size: $eps-h-2-font-size,
				line-height: $eps-line-height-sm,
				color: var(--h2-color),
				margin-block-start: 0,
				margin-block-end: 2.5 * $eps-spacer,
				font-family: null,
				font-weight: $eps-font-weight-medium,
				font-style: null,
				text-transform: null,
			),
			3:(
				font-size: $eps-h-3-font-size,
				line-height: $eps-line-height-sm,
				color: var(--h3-color),
				margin-block-start: 0,
				margin-block-end: $eps-spacer,
				font-family:null,
				font-weight:$eps-font-weight-medium,
				font-style: null,
				text-transform: null,
			),
			4:(
				font-size: $eps-h-4-font-size,
				line-height:null,
				color: var(--h4-color),
				margin-block-start: 0,
				margin-block-end: $eps-spacer,
				font-family:null,
				font-weight:null,
				font-style: null,
				text-transform: null,
			),
			5:(
				font-size: $eps-h-5-font-size,
				line-height:null,
				color: var(--h5-color),
				margin-block-start: 0,
				margin-block-end: $eps-spacer,
				font-family:null,
				font-weight:null,
				text-transform: null,
			),
			6:(
				font-size: $eps-h-6-font-size,
				line-height:null,
				color: var(--h-6-color),
				margin-block-start: 0,
				margin-block-end: $eps-spacer,
				font-family:null,
				font-weight:$eps-font-weight-bold,
				text-transform: null,
			),
		),
		text:(
			base:(
				font-size:$eps-body-font-size,
				line-height:$eps-line-height-base,
				color: var(--text-base-color),
				margin-block-start: null,
				margin-block-end:null,
				font-family:null,
				font-weight:$eps-font-weight-normal,
			),
			xl:(
				font-size:$eps-text-xl-font-size,
				line-height:$eps-line-height-base,
				color: var(--text-xl-color),
				margin-block-start: null,
				margin-block-end:null,
				font-family:null,
				font-weight:$eps-font-weight-normal,
			),
			lg:(
				font-size:$eps-text-lg-font-size,
				line-height:$eps-line-height-base,
				color: var(--text-lg-color),
				margin-block-start: null,
				margin-block-end:null,
				font-family:null,
				font-weight:$eps-font-weight-normal,
			),
			md:(
				font-size:$eps-text-md-font-size,
				line-height:$eps-line-height-base,
				color: var(--text-md-color),
				margin-block-start: null,
				margin-block-end:null,
				font-family:null,
				font-weight:$eps-font-weight-normal,
			),
			sm:(
				font-size:$eps-text-sm-font-size,
				line-height:$eps-line-height-base,
				color: var(--text-sm-color),
				margin-block-start: null,
				margin-block-end:null,
				font-family:null,
				font-weight:$eps-font-weight-normal,
			),
			xs:(
				font-size:$eps-text-xs-font-size,
				line-height:$eps-line-height-base,
				color: var(--text-xs-color),
				margin-block-start: null,
				margin-block-end:null,
				font-family:null,
				font-weight:$eps-font-weight-normal,
			),
			xxs:(
				font-size:$eps-text-xs-font-size,
				line-height:$eps-line-height-sm,
				color: var(--text-xxs-color),
				margin-block-start: null,
				margin-block-end:null,
				font-family:null,
				font-weight:$eps-font-weight-normal,
			),
		),
	)
);

