$eps-theme-colors: (
		text-muted:$eps-theme-text-muted,
		disabled: $eps-theme-disabled,
		light: $eps-theme-light,
		dark: $eps-theme-dark,
		info: $eps-theme-info,
		cta: $eps-theme-cta,
		danger: $eps-theme-danger,
		success: $eps-theme-success,
		warning: $eps-theme-warning,
);

$eps-theme-elements-colors: (
		body-color: $eps-body-color,
		body-bg:$eps-body-bg,
		link-color: $eps-link-color,
		link-hover-color: $eps-link-hover-color,
		hr-color: $eps-hr-color,
		box-shadow-color: $eps-box-shadow-color,
		display-1-color:$eps-display-1-color,
		display-2-color:$eps-display-2-color,
		display-3-color:$eps-display-3-color,
		display-4-color:$eps-display-4-color,
		h1-color:$eps-h1-color,
		h2-color:$eps-h2-color,
		h3-color:$eps-h3-color,
		h4-color:$eps-h4-color,
		h5-color:$eps-h5-color,
		h6-color:$eps-h6-color,
		text-base-color:$eps-text-base-color,
		text-xl-color:$eps-text-xl-color,
		text-lg-color:$eps-text-lg-color,
		text-sm-color:$eps-text-sm-color,
		text-xs-color:$eps-text-xs-color,
		text-xxs-color:$eps-text-xxs-color,
)
