$eps-type-map: (
		size:(
				base: $eps-font-size-base,
				"10": $font-size-10,
				"11": $font-size-11,
				"12": $font-size-12,
				"13": $font-size-13,
				"14": $font-size-14,
				"15": $font-size-15,
				"18": $font-size-18,
				"20": $font-size-20,
				"26": $font-size-26,
				"30": $font-size-30,
		),
		line-height:(
				"2":$line-height-2,
				flat:$eps-line-height-flat,
				base:$eps-line-height-base,
				sm:$eps-line-height-sm,
				lg:$eps-line-height-lg,
		),
		display:(
				"1":$eps-display-1-font-size,
				"2":$eps-display-2-font-size,
				"3":$eps-display-3-font-size,
				"4":$eps-display-4-font-size,
		),
		h:(
				"1":$eps-h-1-font-size,
				"2":$eps-h-2-font-size,
				"3":$eps-h-3-font-size,
				"4":$eps-h-4-font-size,
				"5":$eps-h-5-font-size,
				"6":$eps-h-6-font-size,
		),
		text:(
				base:$eps-font-size-base,
				xxs:$eps-text-xxs-font-size,
				xs:$eps-text-xs-font-size,
				sm:$eps-text-sm-font-size,
				md:$eps-text-md-font-size,
				lg:$eps-text-lg-font-size,
				xl:$eps-text-xl-font-size,
		),
		caption: $eps-font-size-caption,
		micro: $eps-font-size-micro,
);
