//
// Variables
//

$start: left;
$end: right;

@if ($direction == rtl) {
	$start: right;
	$end: left;
}

//
// Mixins
//

@mixin start($value) {

	@if $direction == rtl {
		right: $value;
	} @else {
		left: $value;
	}
}

@mixin end($value) {

	@if $direction == rtl {
		left: $value;
	} @else {
		right: $value;
	}
}

// Box-Shadow Mixins

@mixin direction-box-shadow($x, $extra-values) {

	@if $direction == rtl {
		$x: -$x;
	}

	box-shadow: $x $extra-values;
}

// Direction based value function

@function getValueByDirection($value-for-left, $value-for-right) {

	@if ($direction == rtl) {
		@return $value-for-right;
	}

	@return $value-for-left;
}
