//
// Mixins
//

// Forms > Input Placeholder
@mixin placeholder-style() {
	color: inherit;
	font-family: inherit;
	opacity: 0.6;
}

@mixin input-placeholder() {

	// Keep the following rules each alone (Auto Prefix Bug)!
	&::-webkit-input-placeholder {
		@include placeholder-style();
	}

	&:-ms-input-placeholder {
		@include placeholder-style();
	}

	&::-moz-placeholder {
		@include placeholder-style();
	}

	&:-moz-placeholder {
		@include placeholder-style();
	}

	&::placeholder {
		@include placeholder-style();
	}
}

@mixin button-types( $selector ) {

	@each $type, $color in (
		info: $info,
		success: $success,
		warning: $warning,
		danger: $danger
	) {
		&#{$type} #{$selector} {
			background-color: $color;
		}
	}
}
