//
// Variables
//

//Editor Facelift 2023 - Grays
$black:         #000000;
$white:         #ffffff;
$e-gray-25:		#F9FAFA;
$e-gray-50:		#F1F2F3;
$e-gray-75:		#E6E8EA;
$e-gray-100:	#D5D8DC;
$e-gray-200:	#BABFC5;
$e-gray-300:	#9DA5AE;
$e-gray-400:	#818A96;
$e-gray-500:	#69727D;
$e-gray-600:	#515962;
$e-gray-700:	#3f444b;
$e-gray-725:	#333438;
$e-gray-750:	#2b2c31;
$e-gray-800:	#1f2124;
$e-gray-900:	#0C0D0E;

//Editor Facelift 2023 - Teal
$e-teal-50: 	#ECFDF5;
$e-teal-300:	#5EEAD4;
$e-teal-400:	#1DDDBF;
$e-teal-500:	#12AA9A;
$e-teal-600:	#0A875A;
$e-teal-900:	#032317;

//Editor Facelift 2023 - Pink
$e-pink-50:		#FAE8FF;
$e-pink-100:	#F5D0FE;
$e-pink-200:	#F3BAFD;
$e-pink-300:	#F0ABFC;
$e-pink-400:	#EB8EFB;
$e-pink-600:	#E73CF6;
$e-pink-700:	#E315F5;
$e-pink-800:	#D004D4;
$e-pink-900:	#C00BB9;
$e-pink-a100:	#310132;

//Editor Facelift 2023 - Indigo
$e-indigo-600:	#524CFF;
$e-indigo-700:	#4C43E5;
$e-indigo-800:	#4338CA;
$e-purple:		$e-indigo-600;

//Editor Facelift 2023 - Semantic Colors
$e-primary:				$e-pink-200;
$e-primary-bold:		$e-pink-800;
$e-secondary: 			$e-gray-600;
$e-success:				$e-teal-600;
$e-info: 				#2563EB;
$e-danger:				#DC2626;
$e-warning: 			#F59E0B;
$e-accent: 				$e-purple;
$e-primary-bg:			$e-pink-50;
$e-success-bg:			#F2FDF5;
$e-danger-bg:			#FEF1F4;
$e-info-bg: 			#F0F7FF;
$e-warning-bg: 			#FFFBEB;
$e-primary-dark-bg:		$e-pink-a100;
$e-success-dark-bg:		$e-teal-900;
$e-info-dark-bg: 		#0A1A3D;
$e-danger-dark-bg:		#390A0A;
$e-warning-dark-bg: 	#311808;

// Editor Facelift 2023 - Aliases for backwards compatible
$editor-danger: $e-danger;
$editor-warning: $e-warning;
$editor-success: $e-success;
$editor-info: $e-info;
$editor-alert-danger: $e-danger;
$editor-alert-warning: $e-warning;
$editor-alert-info: $e-info;
$editor-alert-success: $e-success;
$editor-alert-danger-bg: $e-danger-bg;
$editor-alert-warning-bg: $e-warning-bg;
$editor-alert-info-bg: $e-info-bg;
$editor-alert-success-bg: $e-success-bg;

// Primary Colors
$gray-darkest:  $e-gray-900;
$gray-darker:   $e-gray-800;
$gray-dark:     $e-gray-700;
$gray:          $e-gray-500;
$gray-light:    $e-gray-100;
$gray-lighter:  $e-gray-50;
$gray-lightest: $e-gray-25;
$gray-mouse:    #CCD6DF;
$gray-bg:		$e-gray-25;
$blue:          #0275d8;
$blue-flat:     #1b607f;
$blue-light:    #5bc0de;
$green:         #39b54a;
$cyan:          #58D0F5;
$green-light:   #2ecc71;
$orange:        #f0ad4e;
$red:           #d9534f;
$purple:		$e-purple;

// WordPress Admin
$wp-primary: #0085ba;
$admin-font-family: Roboto, Arial, Helvetica, sans-serif; // Default fonts for admin

//Brand Colors
$brand-color-dark-pink: $e-purple;
$brand-color-royal-blue: #010150;
$brand-color-dark: #434363;

// Editor colors
$editor-darkest:$e-gray-900;
$editor-darker: $e-gray-800;
$editor-dark: 	$e-gray-700;

$editor-light: $e-gray-300;
$editor-lighter: $e-gray-200;
$editor-lightest: $e-gray-100;

$editor-accent: $e-accent;
$editor-background: $white;
$editor-background-light: $e-gray-50;
$editor-background-lighter: $e-gray-100;

$editor-orange: $e-warning;
$editor-red: $e-danger;

// WordPress colors
$wp-warning: #ffb900;
$wp-warning-text: #f56e28;
$wp-success: #46b450;
$wp-success-text: #79ba49;
//BC for wp-admin (previous version)
$wp-admin-brand-color: #93003c;

// Panel style
$panel-top-shadow: -2px -5px 8px rgba(0, 0, 0, 0.1);
$panel-bottom-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

$slides_gui: rgba(238, 238, 238, .9);

$transition-hover: all .3s;
$default-border-radius: 3px;
$control-unit: 27px;
$panel-width: 280px;
$panel-xl-width: 300px;

// Platform
$platform-primary: #040080;
$platform-secondary: #6A727C;
$platform-text: #46F2B6;
$platform-accent: #871A40;
$platform-darkest-gray: #0C0D0E;
$platform-darker-gray: #3A3F45;
$platform-dark-gray: #525861;
$platform-mid-gray: #69727D;
$platform-gray-light: #9EA5AD;
$platform-gray-lighter: #C2C7CC;
$platform-gray-lightest: #D5D8DC;
$platform-bg-light: #F9FAFA;
$platform-danger-bg: #FDE8EC;
$platform-danger-text: #B92136;
$platform-success-bg: #ECF9F2;
$platform-success-text: #117740;

//Font-size
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;

//
// ========================= FRONT-END =========================
//

// Layers (Z-indexes)
$under-layer: -1;
$ground-layer: 0;
$first-layer: 1;
$second-layer: 2;
$third-layer: 3;
$fourth-layer: 4;

$element-overlay: 9998;
$editor-layer: 9999;
$super-layer: 10000;

// Info Alert
$info:			#5bc0de;
$info-text:		#31708f;
$info-bg:		#d9edf7;
$info-border:	darken($info-bg, 7%);
$info-wc-bg:	#F6F9FB;
$info-wc-primary-text: #3f84b9;

// Success Alert
$success:		#5cb85c;
$success-text:	#3c763d;
$success-bg:	#dff0d8;
$success-border:darken($success-bg, 7%);
$success-wc-bg:	#FAFBF5;

// Warning Alert
$warning:		#f0ad4e;
$warning-text:	#8a6d3b;
$warning-bg:	#fcf8e3;
$warning-border:darken($warning-bg, 7%);

// Danger Alert
$danger:		#d9534f;
$danger-text:	#a94442;
$danger-bg:		#f2dede;
$danger-border:	darken($danger-bg, 7%);
$danger-wc-bg:	#F9F2F5;

// Progress Bar
$progress-bg:	#eeeeee;
$progress-text:	#ffffff;

//Official Social / Sharing Colors
$android:		#A4C639;
$apple:			#999999;
$behance:		#1769ff;
$bitbucket: 	#205081;
$codepen:		#000000;
$delicious: 	#3399ff;
$deviantart: 	#05cc47;
$digg:			#005be2;
$dribbble:		#ea4c89;
$elementor:		#D30C5C;
$envelope:		#ea4335;
$facebook:		#3b5998;
$flickr:		#0063dc;
$foursquare:	#2d5be3;
$freecodecamp:	#006400;
$github:		#333333;
$gitlab:		#e24329;
$google-plus:	#dd4b39;
$houzz:			#7ac142;
$instagram:		#262626;
$jsfiddle:		#487AA2;
$link:			#818a91;
$linkedin:		#0077b5;
$medium:		#00ab6b;
$meetup:		#ec1c40;
$mix:			#f3782b;
$mixcloud:		#273a4b;
$odnoklassniki:	#F4731C;
$pinterest:		#bd081c;
$pocket:		#EF3F56;
$print:			#aaaaaa;
$product-hunt:	#da552f;
$reddit:		#ff4500;
$rss:			#f26522;
$shopping-cart:	#4CAF50;
$skype:			#00AFF0;
$slideshare:	#0077b5;
$snapchat:		#fffc00;
$soundcloud:	#ff8800;
$spotify:		#2ebd59;
$stack-overflow:#fe7a15;
$steam:			#00adee;
$stumbleupon:	#EB4924;
$telegram:		#2CA5E0;
$thumbtack:		#1aa1d8;
$tripadvisor:	#589442;
$tumblr:		#35465c;
$twitch:		#6441A5;
$twitter:		#1DA1F2;
$viber:			#665cac;
$vimeo:			#1ab7ea;
$vk:			#45668e;
$weibo:			#DD2430;
$weixin:		#31A918; //WeChat
$whatsapp:		#25d366;
$wordpress:		#21759b;
$xing:			#026466;
$yelp:			#af0606;
$youtube:		#cd201f;
$five-h-px:		#0099e5; //500px

// Grid Columns
$column-sizes: (
		10: 10%,
		11: 11.111%,
		12: 12.5%,
		14: 14.285%,
		16: 16.666%,
		20: 20%,
		25: 25%,
		30: 30%,
		33: 33.333%,
		40: 40%,
		50: 50%,
		60: 60%,
		66: 66.666%,
		70: 70%,
		75: 75%,
		80: 80%,
		83: 83.333%,
		90: 90%,
		100: 100%
);

// Grid Breakpoints
$breakpoints: (
		sm: 480px, // Mobile landscape
		md: 768px, // Tablet
		lg: 1025px, // Desktop
		xl: 1440px, // Larger devices
		xxl: 1600px // Largest devices
);

$devices: 'widescreen', 'desktop', 'laptop', 'tablet_extra', 'tablet', 'mobile_extra', 'mobile';
