$kit-content-list-locked-features-color: tints(500);
$kit-content-list-locked-features-dark-color: dark-tints(300);

:root {
	--kit-content-list-locked-features-color: #{$kit-content-list-locked-features-color};
}

.eps-theme-dark {
	--kit-content-list-locked-features-color: #{$kit-content-list-locked-features-dark-color};
}

.kit-content-list {
	&__checkbox {
		flex-shrink: 0;
		margin-inline-end: spacing(12);
	}

	&__title {
		color: tints(700);
	}

	&__description {
		color: tints(600);
	}

	&__pro-indication {
		margin-inline-start: spacing(20);
		color: theme-colors(cta);
	}

	&__locked-features {
		color: var(--kit-content-list-locked-features-color);
	}

	&__notice {
		margin-top: spacing(16);
	}

	.kit-content-list-grid {
		&--expand {
			flex-grow: 1;
		}
	}
}
