.import-success-list {
	&__item {
		border-top: 1px solid tints(400);
		padding: spacing(16) 0;

		&:last-child {
			border-bottom: 1px solid tints(400);
		}
	}

	&__title {
		margin-inline-end: spacing(12);
	}
}
