$import-export-box-background-color: theme-colors(light);
$import-export-box-dark-background-color: dark-tints(600);
$import-export-box-color: tints(800);
$import-export-box-dark-color: dark-tints(100);
$import-export-box-input-color: tints(800);
$import-export-box-input-dark-color: dark-tints(100);

:root {
	--import-export-box-background-color: #{$import-export-box-background-color};
	--import-export-box-color: #{$import-export-box-color};
	--import-export-box-input-color: #{$import-export-box-input-color};
}

.dark {
	--import-export-box-background-color: #{$import-export-box-dark-background-color};
	--import-export-box-color: #{$import-export-box-dark-color};
	--import-export-box-input-color: #{$import-export-box-input-dark-color};
}

.import-export-box {
	padding: var(--import-export-box-spacing);
	border-radius: $eps-radius;
	background: var(--import-export-box-background-color);
	color: var(--import-export-box-color);

	> input {
		width: 100%;
		outline: 0;
		border: 0;
		background: var(--import-export-box-background-color);
		color: var(--import-export-box-input-color);
	}
}
