.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

@each $breakpoint in map-keys($breakpoints) {
	@media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
		.text-start-#{$breakpoint} {
			text-align: start;
		}
	}

	@media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
		.text-center-#{$breakpoint} {
			text-align: center;
		}
	}

	@media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
		.text-end-#{$breakpoint} {
			text-align: end;
		}
	}

	@media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
		.text-uppercase-#{$breakpoint} {
			text-transform: uppercase;
		}
	}

	@media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
		.text-capitalize-#{$breakpoint} {
			text-transform: capitalize;
		}
	}
}
