//
// Switcher Preview by Devices
//
#elementor-preview {
	background-color: #333;
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	border: 0;

	&.elementor-device- {

		&desktop {

			#elementor-preview-responsive-wrapper {
				min-width: map_get($breakpoints, lg);
				width: 100%;
				height: 100%;
			}
		}

		&laptop {

			#elementor-preview-responsive-wrapper {
				width: $screen-lg-min;
				height: $screen-md-min;
				padding: 10px 70px 10px 40px;
			}
		}

		&tablet {

			#elementor-preview-responsive-wrapper {
				width: $screen-md-min;
				height: $screen-lg-min;
				padding: 40px 10px 70px;
			}
		}

		&mobile-landscape {

			#elementor-preview-responsive-wrapper {
				width: 640px;
				height: 360px;
				padding: 10px 70px 10px 40px;
			}
		}

		&mobile {

			#elementor-preview-responsive-wrapper {
				width: 360px;
				height: 640px;
				padding: 40px 10px 70px;
			}
		}
	}

	&:not(.elementor-device-desktop) {
		overflow: auto;

		#elementor-preview-responsive-wrapper {
			border-radius: 30px;
			background-color: #111;
			margin: 30px auto 80px;
		}
	}
}

#elementor-preview-responsive-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all .5s ease 0s;
}

#elementor-preview-iframe {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
