#elementor-introduction {

	.dialog-widget-header {
		padding: 50px 0 0;
	}

	.elementor-video-wrapper {
		padding-bottom: 56.2%;
	}

	.dialog-message {
		margin-top: 50px;
	}
}

#elementor-introduction-title {
	color: $editor-accent;
	font-size: 27px;
	font-weight: bold;
}

#elementor-introduction-subtitle {
	margin-top: 12px;
	font-size: 16px;
	color: $editor-light;
}