//
// Modal
//

.elementor-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  z-index: $elementor-modal;
}

.elementor-modal {
  position: absolute;
  height: 100%;
  width: 800px;
  top: 0;
  left: -800px;
}

.elementor-modal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.elementor-modal-header {
  overflow: hidden;
  padding: 10px 10PX 0;
  background-color: #E64D43;
  box-shadow: inset 0px -4px 7px rgba(0, 0, 0, 0.3);
}

.elementor-modal-tabs {
  float: left;
}

.elementor-modal-tools {
  float: right;
  margin-top: 15px;

  > div {
    float: right;
    background-color: #fff;
    border-radius: 50%;
    line-height: 15px;
    width: 15px;
    text-align: center;
    opacity: 0.5;
    color: #E64D43;
    margin: 0 3px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.elementor-modal-body {
  position: absolute;
  top: 65px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  background-color: #F8F8F6;

  > div {
    float: left;
    height: 100%;
  }
}

.elementor-modal-sidebar {
  width: 25%;
  position: relative;
}

.elementor-modal-elements {
  width: 75%;

  .elementor-element-wrapper {
    float: left;
    width: calc(100% / 3);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {

      .icon, .title {
        color: #2aabd2;
      }
    }

    .icon {
      font-size: 27px;
      padding: 20px 0;
      line-height: 1;
    }

    .title {
      font-size: 14px;
    }
  }

  .elementor-element {
    border: 1px solid #CECECE;
    padding-bottom: 10px;
    background-color: #fff;
  }
}

.elementor-modal-search-area {
  text-align: center;

  .elementor-modal-title-wrapper {
    width: 100%;
  }

  .elementor-modal-search-input {
    line-height: 1;
    padding: 10px;
    border: 1px solid #E8E9EA;
    width: 80%;
    border-radius: 17px;
    outline: none;
    font-size: 14px;
    font-style: italic;
  }
}

.elementor-elements {
  height: 100%;
  position: relative;
  padding-right: 10px;
}

.elementor-modal-tabs {
  overflow: hidden;
}

.elementor-modal-logo {
  float: left;
  margin: 5px 20px;
}

.elementor-modal-title {
  font-size: 23px;
  text-align: center;
  line-height: 1;
  padding: 25px 0;
}

.elementor-category, .elementor-modal-filter {
  line-height: 1;
  font-size: 15px;
  padding: 10px 0;
  cursor: pointer;
  color: #636769;

  &.active {
    font-weight: bold;
  }
}

.elementor-modal-divider {
  margin: 15px 0;
  height: 1px;
  border-bottom: 1px solid #ddd;
}

.elementor-modal-filters-area {
  padding: 15px;
}

.elementor-modal-categories-all {
  font-size: 16px;
  cursor: pointer;
}

.elementor-modal-tab {
  float: left;
  padding: 15px 15px 20px;
  font-size: 16px;
  font-weight: bold;
}

.elementor-modal-tab-input {
  display: none;

  &:checked {

    + .elementor-modal-tab {
      background-color: #F8F8F6;
      border-radius: 10px 10px 0 0;
      color: #E64D43;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
    }
  }

  &:not(:checked){

    + .elementor-modal-tab {
      color: #F8F8F6;
      cursor: pointer;
    }
  }
}
