#elementor-templates-modal {

	.dialog-widget-content {
		width: 990px;
		background-color: $editor-background;
	}

	.dialog-widget-header {
		padding: 0;
		background-color: #fff;
		box-shadow: $panel-bottom-shadow;
	}

	.dialog-buttons-wrapper {
		display: none;
	}

	.dialog-message {
		height: 600px;
		max-height: 85vh;
		overflow: auto;
		padding: 15px;
	}
}

#elementor-templates-header {
	display: table;
	table-layout: fixed;
	width: 100%;

	> * {
		display: table-cell;
		vertical-align: middle;
	}
}

#elementor-templates-header-logo-area {
	width: 35%;
	text-align: getStartDirection();
	@include padding-start(15px);

	> * {
		float: getStartDirection();
	}
}

#elementor-templates-header-logo {
	font-size: 20px;
	text-transform: uppercase;
	color: $editor-darkest;
	font-weight: bold;

	i {
		@include padding-end(10px);
		color: $editor-accent;
	}
}

#elementor-templates-header-menu {
	text-align: center;
}

.elementor-templates-menu-item {
	display: inline-block;
	padding: 20px;
	cursor: pointer;

	&.elementor-active {
		background-image: linear-gradient(to bottom, #f3f3f3, #fff);
		border-bottom: 3px solid #9b0a46;
	}
}

#elementor-templates-header-items-area {
	width: 35%;

	> * {
		float: getEndDirection();
	}
}

#elementor-templates-header-tools {

	> * {
		float: getEndDirection();
	}
}

.elementor-templates-header-item {
	position: relative;
	color: $editor-light;
	@include border-start(2px solid $editor-background);
	height: 56px;
	box-sizing: content-box;

	> * {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		cursor: pointer;
	}

	> i {
		font-size: 18px;
	}
}

#elementor-templates-header-close-modal, #elementor-templates-header-settings {
	width: 56px;
}

#elementor-templates-header-preview {

	> * {
		float: getEndDirection();
	}
}

#elementor-templates-header-preview-insert-wrapper {
	width: 100px;
}

#elementor-templates-header-preview-insert {
	width: 80%;
}

#elementor-templates-header-preview-back-wrapper {
	cursor: pointer;
}

#elementor-templates-header-preview-back {
	width: 100%;

	i {
		@include padding-end(10px);

		&:before {
			content: getValueByDirection( '\f053', '\f054' );
		}
	}
}

#elementor-templates-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	i {
		font-size: 30px;
	}
}

#elementor-templates-templates-container {
	overflow: hidden;
}

.elementor-templates-template {
	float: getStartDirection();
	width: 25%;
	padding: 0 15px;
	margin-top: 15px;
}

.elementor-templates-template-body {
	height: 250px;
	border: 3px solid #fff;
	position: relative;
	box-shadow: 0 1px 6px rgba(0,0,0,0.2);

	&:not(:hover) {

		.elementor-templates-template-controls {
			display: none;
		}
	}
}

.elementor-templates-template-screenshot {
	height: 100%;
	background-size: cover;
	background-position-x: 50%;
}

.elementor-templates-template-controls {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.65);

	.elementor-templates-template-insert {
		font-size: 11px;
		width: 150px;
	}
}

.elementor-templates-template-preview {
	position: relative;
	height: 180px;

	i {
		font-size: 20px;
		color: $editor-lightest;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		cursor: pointer;
	}
}

.elementor-templates-template-insert {
	text-transform: uppercase;
	padding: 11px;

	i {
		@include padding-end(5px);
	}
}

.elementor-templates-template-name {
	padding-top: 8px;
	font-size: 12px;
	text-align: center;
	color: $editor-dark;
	line-height: 1;
}

#elementor-templates-preview {
	width: 100%;
	height: 99%;
}

#elementor-templates-error-dialog {

	.dialog-message {
		text-align: left;
	}
}

#elementor-templates-error-info {
	margin-top: 10px;
}