$e-app-import-process-icon-color: tints(500);
$e-app-import-process-icon-dark-color: dark-tints(200);
$e-app-import-process-text-color: tints(500);
$e-app-import-process-text-dark-color: dark-tints(200);

$root: e-app-import-process;

.#{$root} {
	--e-app-import-process-icon-color: #{$e-app-import-process-icon-color};
	--e-app-import-process-text-color: #{$e-app-import-process-text-color};

	&__icon {
		color: var(--e-app-import-process-icon-color);
		font-size: type( size, '30' );
		margin-bottom: spacing(44);
	}

	&__title {
		margin-bottom: spacing(24);
	}

	&__text {
		color: var(--e-app-import-process-text-color);
	}
}

.eps-theme-dark {
	.#{$root} {
		--e-app-import-process-icon-color: #{$e-app-import-process-icon-dark-color};
		--e-app-import-process-text-color: #{$e-app-import-process-text-dark-color};
	}
}
