.e-onboarding__button {
	font-size: 18px;
	cursor: pointer;
	transition: var(--e-a-transition-hover);


	&-action {
		color: var(--e-a-btn-color);
		background-color: var(--e-a-btn-bg-primary);
		min-width: 325px;
		padding: 15px 30px;
		text-align: center;

		&:hover {
			background-color: var(--e-a-btn-bg-primary-hover);
		}
	}

	&-skip {
		padding: 8px 16px;
		color: $e-gray-600;

		&:hover {
			background-color: $e-gray-25;
		}
	}

	&--disabled {
		pointer-events: none;
		background-color: $platform-gray-lightest;
		color: $platform-gray-light;

		&:hover {
			cursor: progress;
		}
	}

	&--processing {
		pointer-events: none;
		filter: brightness(90%);
	}
}
