.e-onboarding {

	&__card {
		border: 1px solid $platform-darker-gray;
		border-radius: 8px;
		padding: 40px 40px;
		background-color: $white;
		cursor: pointer;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-image,
		&-text {
			width: 345px;
		}

		&-image {
			margin-bottom: 44px;
		}

		&-text {
			font-size: 20px;
			font-weight: 700;
			text-align: center;
			color: $platform-darkest-gray;
		}

		&:hover {
			box-shadow: 4px 4px 0 0 $black;
		}

		&:active {
			box-shadow: initial;
		}
	}
}
