.kit-content-selection-container {
	padding: spacing(5) calc( 15px + #{ spacing(12) } );
}

.kit-content-select {
	width: 100%;
	border-radius: $eps-radius;
	padding: spacing(8) spacing(5);
	border: 1px solid tints(300);
	color: tints(600);
}
