$kit-content-select-border-color: tints(300);
$kit-content-select-dark-border-color: dark-tints(600);
$kit-content-select-color: tints(600);
$kit-content-select-dark-color: dark-tints(600);
$kit-content-select-background-color: tints(300);
$kit-content-select-dark-background-color: dark-tints(700);

:root {
	--kit-content-select-border-color: #{$kit-content-select-border-color};
	--kit-content-select-color: #{$kit-content-select-color};
	--kit-content-select-background-color: $kit-content-select-background-color;
}

.dark {
	--kit-content-select-border-color: #{$kit-content-select-dark-border-color};
	--kit-content-select-color: #{$kit-content-select-dark-color};
	--kit-content-select-background-color: $kit-content-select-dark-background-color;
}

.kit-content-select {
	width: 100%;
	margin-top: spacing(16);
	border-radius: $eps-radius;
	border: 1px solid var(--kit-content-select-border-color);
	color: var(--kit-content-select-color);
	background: var(--kit-content-select-background-color);

	input {
		width: 100%!important;
	}
}
