$floating-bars-border-radius-round: 50px;
$floating-bars-border-radius-rounded: 20px;
$floating-bars-border-radius-sharp: 0;

$floating-bars-animation-duration-slow: 2s;
$floating-bars-animation-duration-normal: 1s;
$floating-bars-animation-duration-fast: 800ms;

$floating-bars-close-button-offset: 30px;
