.elementor-panel {
	#elementor-panel-header {
		#elementor-panel-header-kit-close,
		#elementor-panel-header-kit-back {
			display: none;
		}
	}
}

.elementor-editor-kit {
	.elementor-panel {
	#elementor-panel-header {
		background-color: #4AB7F4;

			#elementor-panel-header-kit-close,
			#elementor-panel-header-kit-back {
				display: table-cell;
			}

		}

		#elementor-panel-page-settings {
			.elementor-panel-navigation {
				display: none;
			}
		}
	}

	#elementor-panel-header-add-button,
	#elementor-panel-header-menu-button
		display: none;
	}
}
