.elementor-panel {

	#elementor-panel-header {

		#elementor-panel-header-kit-close,
		#elementor-panel-header-kit-back {
			display: none;
		}
	}
}

.elementor-editor-kit {

	.elementor-panel {

		#elementor-panel-header {

			#elementor-panel-header-kit-close,
			#elementor-panel-header-kit-back {
				display: flex;
			}

			@at-root body:not(.e-routes-has-history) #elementor-panel-header-kit-back {
				pointer-events: none;
				opacity: 0.4;

				&:hover {
					.elementor-icon {
						cursor: inherit;
						color: inherit;
					}
				}
			}
		}

		#elementor-panel-page-settings {

			.elementor-panel-navigation {
				display: none;
			}
		}

		#elementor-panel-page-menu {
			padding: 25px 15px 0;
		}
	}

	#elementor-panel-header-add-button,
	#elementor-panel-header-menu-button,
	#elementor-panel-footer-sub-menu-item-save-template,
	#elementor-panel-footer-navigator {
		display: none;
	}
}

.elementor-control {

	&-type-global-style-repeater {

		.elementor-repeater {

			&-fields {
				margin-bottom: 15px;
				position: relative;

				&.ui-sortable-helper {
					background-color: var(--e-a-bg-default);
				}
			}

			&-row-controls {
				display: flex;
				align-items: center;
			}

			&-row-tool {
				cursor: pointer;
				color: var(--e-a-color-txt);
				padding: 5px;

				&:hover {
					color: var(--e-a-color-txt-hover);
				}
			}
		}

		.elementor-control {
			padding: 0;

			&-title {
				flex-grow: 1;

				input {
					max-width: $control-unit * 5;

					&:not(:focus) {
						background: none;
						border: none;
					}
				}
			}

			&-input-wrapper {
				display: flex;
				align-items: center;
				// Fix HEX values flickering when moving the mouse over them.
				min-width: $control-unit * 3;

				&:hover {

					.e-global-colors__color-value {
						display: none;
					}
				}

				&:not(:hover) {

				  	.elementor-repeater-tool {

						&-remove,
						&-remove--disabled,
						&-sort {
						  display: none;
						}
					}
				}
			}
		}

		// Hard selector to override default margin
		.elementor-repeater-row-controls {

			> .elementor-control {

				> .elementor-control-content {

					> .elementor-control-field {

						> .elementor-control-input-wrapper {
							margin-top: 0;
						}
					}
				}
			}
		}


		.elementor-controls-popover {
			align-self: end;
			margin-top: 35px;
			top: 0;
			width: 100%;

			&:before {
				@include end(5px);
			}

			.elementor-control {
				padding: 0 20px 15px;

				&-title {
					flex-grow: initial;
				}
			}
		}

		.elementor-button-wrapper {
			text-align: center;
			border-top: var(--e-a-border);
			padding-top: 15px;
		}

		.pickr,
		.elementor-control-popover-toggle-toggle-label {
			@include margin-start(5px);
		}

		.e-sortable-placeholder {
			background-color: var(--e-a-color-info);
			opacity: .9;
			width: 100%;
			margin: 8px 0;
			height: 2px;
		}
	}

	&-system_colors,
	&-system_typography {
		padding-bottom: 0;
	}
}

.e-global-colors__color-value {
	font-size: 10px;
	padding: 0 5px;
	text-align: $end;
	@include ellipsis;
}
