.elementor-panel:not( .e-panel-docked ) #elementor-panel__header-float {
	transform: rotate( 180deg );
}

.elementor-panel {

	border-radius: 0 !important;
	transition: opacity .3s;

	&.e-panel-docked {
		height: 100% !important;
	}

	&.e-panel-dockable {
		&-left {
			#elementor-panel__header-float {
				transform: rotate( 90deg );
			}
		}

		&-left.e-panel-docked {
			#elementor-panel__header-float {
				transform: rotate( -90deg );
			}
		}
	}

	&.e-panel-faded {
		opacity: .4;
	}

	#elementor-panel__header {
		position: relative;
		background: #FFF;

		#elementor-panel-header-kit-close,
		#elementor-panel-header-kit-back {
			display: none;
		}

		#elementor-panel-header-kit-back {
			background: #FFF;
		}

		&.e-panel-floatable {
			#elementor-panel__header-buttons {
				cursor: move;
			}
		}

		&-buttons {
			position: absolute;
			display: flex;
			align-items: center;
			font-size: 15px;
			inset-inline: 0;
			top: 50%;
			transform: translateY( -50% );
		}

		&-float, &-close {
			cursor: pointer;
			padding: 16px;
		}

		.e-panel-left-buttons {
			display: flex;
			align-items: center;
			margin-inline-end: auto;
		}

		&-close {
			margin-inline-start: auto;
		}
	}
}

.elementor-editor-kit {

	.elementor-panel {

		#elementor-panel__header {
			//background-color: $editor-kit-accent;

			#elementor-panel-header-title {
				cursor: default !important;
			}

			#elementor-panel__header-buttons {
				display: none;
			}

			#elementor-panel-header-kit-close,
			#elementor-panel-header-kit-back {
				display: table-cell;
				background: #FFF;
			}

			@at-root body:not(.e-routes-has-history) #elementor-panel-header-kit-back {
				pointer-events: none;
				opacity: 0.4;

				&:hover {
					.elementor-icon {
						cursor: inherit;
						color: inherit;
					}
				}
			}
		}

		.elementor-panel-navigation {

			.elementor-panel-navigation-tab{

				&.elementor-active{
					border-bottom-color: $editor-kit-accent;
				}
			}
		}

		#elementor-panel-page-settings {

			.elementor-panel-navigation {
				display: none;
			}
		}

		#elementor-panel-saver-button-publish,
		#elementor-panel-saver-button-save-options {

			&.elementor-button.elementor-button-success:not(.elementor-disabled) {
				background-color: $editor-kit-accent;
			}
		}

		#elementor-panel-page-menu {
			padding: 25px 15px 0;
		}
	}

	#elementor-panel-header-add-button,
	#elementor-panel-footer-add-widgets,
	#elementor-panel-footer-history,
	// #elementor-panel-header-menu-button,
	#elementor-panel-footer-global-styles .elementor-panel-footer-sub-menu-item:not( #elementor-panel-footer-sub-menu-item-site-settings ),
	#elementor-panel-footer-sub-menu-item-save-template,
	#elementor-panel-footer-navigator {
		opacity: .4;
		pointer-events: none;
	}
}

.elementor-control {

	&-type-global-style-repeater {

		.elementor-repeater {

			&-fields {
				margin-bottom: 15px;
				position: relative;

				&.ui-sortable-helper {
					background-color: $white;
				}
			}

			&-row-controls {
				display: flex;
				align-items: center;
			}

			&-row-tool {
				cursor: pointer;
				color: $editor-lightest;
				padding: 5px;
			}
		}

		.elementor-control {
			padding: 0;

			&-title {
				flex-grow: 1;

				input {
					max-width: $control-unit * 5;

					&:not(:focus) {
						background: none;
						border: none;
					}
				}
			}

			&-input-wrapper {
				display: flex;
				align-items: center;
				// Fix HEX values flickering when moving the mouse over them.
				min-width: $control-unit * 3;

				&:hover {

					.e-global-colors__color-value {
						display: none;
					}
				}

				&:not(:hover) {

				  	.elementor-repeater-tool {

						&-remove,
						&-remove--disabled,
						&-sort {
						  display: none;
						}
					}
				}
			}
		}

		// Hard selector to override default margin
		.elementor-control-content {

			> .elementor-control-field {

				> .elementor-control-input-wrapper {
					margin-top: 0;
				}
			}
		}

		.elementor-controls-popover {
			align-self: end;
			margin-top: 35px;
			top: 0;
			width: 100%;

			&:before {
				@include end(5px);
			}

			.elementor-control {
				padding: 0 20px 15px;

				&-title {
					flex-grow: initial;
				}
			}
		}

		.elementor-button-wrapper {
			text-align: center;
			border-top: 1px solid $editor-background;
			max-width: 260px;
			padding-top: 15px;
		}

		.pickr,
		.elementor-control-popover-toggle-toggle-label {
			@include margin-start(5px);
		}

		.e-sortable-placeholder {
			background-color: $editor-info;
			opacity: .9;
			width: 100%;
			margin: 8px 0;
			height: 2px;
		}
	}

	&-system_colors,
	&-system_typography {
		padding-bottom: 0;
	}
}

.e-global-colors__color-value {
	color: $editor-lightest;
	font-size: 10px;
	padding: 0 5px;
	text-align: $end;
	@include ellipsis;
}
