.eps-collapse {
	&__title {
		cursor: pointer;
		padding: spacing(5) 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		background: transparent;
		border: none;
		color: inherit;

		&:focus {
			outline: none;
		}
	}

	&__icon {
		transition: all 150ms;
		transform: rotate(getValueByDirection( 0deg, 180deg ));
	}

	&__content {
		margin-top: spacing(10);
		display: none;
	}

	&[data-open] &__content {
		display: block;
	}

	&[data-open] &__icon {
		transform: rotate(90deg);
	}
}
