.e-kit-library__preview {
	&-loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: type( size, '30' );
		color: tints( 500 );
		z-index: 0;
	}

	&-iframe {
		border: none;
		transition: $transition-hover;
		box-shadow: shadow("2");
	}

	&-iframe-container {
		overflow-y: auto;
		position: relative;
		z-index: 1;
	}
}
