#elementor-beta-tester-modal {
	.dialog-lightbox-widget-content {
		top: 20%;
		left: 30%;
		max-width: 550px;
		max-height: 30em;
	}

	.dialog-message.dialog-lightbox-message{
		height: auto;
		padding: 4em;
	}

	#elementor-beta-tester-dialog-form-caption {
		font-weight: bold;
		font-size: 1.4em;
	}

	.elementor-beta-tester-dialog-input-wrapper{
		margin: 1em auto 1em auto;
		display:flex;
		border: $editor-lightest 1px solid;

		input {
			margin: 0;
		}

		.elementor-button {
			border-radius: 0;
		}
	}
	#elementor-beta-tester-email{
		flex: 4;
	}
}
