
//Dashboard Widgets

#dashboard-widgets {

	.e-dashboard-widget {

		h3.e-heading {
			font-weight: 600;
			margin-bottom: 13px;
		}

		.e-divider_bottom {
			border-bottom: 1px solid #eee;
			margin: 0 -12px;
			padding: 6px 12px;
		}

		.e-divider_top {
			border-top: 1px solid #eee;
			margin: 0 -12px;
			padding: 6px 12px;
		}

		.e-quick-actions-wrap,
		.e-news-feed-wrap {

			.e-divider_top {
				padding-top: 18px;
				margin-top: 18px;
			}
		}
	}
}

.e-dashboard-widget {

	.dashicons {
		color: #606a73;
	}

	ul.e-action-list {

		li {
			margin-top: 14px;

			a {
				@include margin-start(5px);
			}
		}
	}
}

//Overview Widget
#e-dashboard-overview {

	.dashicons {
		vertical-align: middle;
		font-size: 17px;
	}

	.e-overview {

		&__header {
			display: table;
			width: 100%;
			box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
			margin: 0 -12px 8px;
			padding: 0 12px 12px;
		}

		&__logo,
		&__versions,
		&__create {
			display: table-cell;
			vertical-align: middle;
		}

		&__logo {
			width: 30px;
		}

		&__versions {
			padding: 0 10px;
			font-size: 0.9em;
			line-height: 1.5;
		}

		&__version {
			display: block;
		}

		&__create {
			text-align: $end;
		}

		&__feed {
			font-size: 14px;
			font-weight: 500;
		}

		&__post {
			margin-top: 10px;
		}

		&__post-link {
			display: inline-block;
		}

		&__badge {
			background: $editor-success;
			color: white;
			font-size: 0.75em;
			padding: 3px 6px;
			border-radius: 3px;
			text-transform: uppercase;
		}

		&__post-description {
			margin: 0 0 1.5em;
		}

		&__recently-edited {

			li {
				color: #72777c;
			}
		}

		&__footer{

			&.e-divider_top {
				padding-top: 12px;
				padding-bottom: 0;
			}

			ul {
				display: flex;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					padding: 0 10px;
					margin: 0;
					@include border-start(1px solid #ddd);

					&:first-child {
						@include padding-start(0);
						border: none;
					}
				}
			}
		}

		&__go-pro {

			a {
				color: $editor-accent;
				font-weight: 500;
			}
		}
	}
}

// Welcome Widget
#welcome-panel {

	@media only screen and (max-width: 600px) {

		.welcome-panel-content {
			margin: 0;
		}
	}

	.e-dashboard-widget {

		@media only screen and (max-width: 1200px) {
			font-size: 11px;
		}

		@media only screen and (max-width: 600px) {

			.flex {
				flex-wrap: wrap;

				.video {
					padding-bottom: 56%;
					width: 100%;
				}

				.intro {
					padding: 0;
					width: 100%;
				}
			}
		}

		h2 {
			font-weight: 600;
		}

		.video {
			position: relative;
			padding-bottom: 17.8%;

			iframe {
				position: absolute;
				top: 0;
				@include end(0);
				width: 100%;
				height: 100%;
			}
		}

		.intro {
			padding: 0 40px;

			@media only screen and (max-width: 1200px) {
				padding: 0 20px;
			}

			@media only screen and (max-width: 900px) {
				padding: 0 15px;
			}

			p {
				font-size: 1.15em;
			}

			.button {
				font-size: 1em;
				font-weight: 500;
				padding: 9px 20px;
			}

			h3 {
				font-size: 1.3em;
				line-height: 1.2;
				font-weight: 700;
			}

		}

		.next-steps {

			@media only screen and (max-width: 900px) {
				display: none;
			}

			li {
				font-size: 1.1em;
			}
		}
	}
}

#e-dashboard-widget-welcome {
	width: 100%;
	padding-bottom: 23px;

	.toggle-indicator:before {
		content: "\f335";
	}

	.handlediv.close-hndle {
		position: relative;
		padding: 0;
		top: unset;
		@include end(unset);

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translate(0,-50%);
			left: 0;
			width: 2px;
			height: 15px;
			background: #e6e9ec;
		}
	}
}

// Resources Widget
.e-dashboard-widget {

	.flex {
		display: flex;

		.flex-child {
			width: 50%;
			flex-grow: 1;
		}
	}
}

// Videos Widget
#e-dashboard-widget-videos {

	.embed {
		position: relative;
		padding-bottom: 52.25%;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
		}
	}

	.links {

		ul {
			margin: 0;
			padding: 12px 0 0;

			li {
				border-top: 1px solid #f1f3f5;
				margin: 0;
				padding: 10px 0 10px 30px;
				font-size: 13px;
				line-height: 20px;
				color: #007CBA;
				position: relative;

				.dashicons {
					position: absolute;
					top: 10px;
					left: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 17px;
				}
			}
		}
	}
}

// Quick Actions Widget
.e-quick-actions-wrap {

	.e-version-updates {

		span {
			display: block;
			font-size: 0.9em;
			line-height: 1.5;
		}
	}

	.e-recently-edited {

		li {
			margin-top: 10px;
			color: #72777c;
		}
	}
}

// News Feed Widget
.e-news-feed-wrap {

	.e-feed {
		font-size: 14px;
		font-weight: 500;

		.e-post-link {
			padding-bottom: 5px;
		}
	}

	.e-post {
		margin-top: 10px;
	}

	.e-post-link {
		display: inline-block;
	}

	.e-badge {
		background: $editor-success;
		color: white;
		font-size: 0.75em;
		padding: 3px 6px;
		border-radius: 3px;
		text-transform: uppercase;
	}

	.e-post-description {
		margin: 0 0 1.5em;
	}

	.e-footer {
		display: flex;

		a {
			flex: 1;
			text-decoration: none;
		}
	}
}

.resource-link {
	display: flex;

	.icon {
		width: 30px;
	}
}
