// Experiments
.e-experiment {

	&__title {
		display: flex;
		align-items: flex-start;

		&__indicator {
			height: 10px;
			width: 10px;
			border-radius: 50%;
			border: 2px solid white;
			box-shadow: 0 2px 4px rgba(0,0,0,0.1);
			flex-shrink: 0;
			margin-top: 2px;

			&--active {
				background: $editor-success;
			}
		}

		&__label {
			@include margin-start(10px);
		}
	}

	&__table-title {
		margin:30px 0;
	}

	&__description {
		max-width: 820px;
	}

	&__status {
		margin-top: 5px;
		font-size: 13px;
		font-weight: bold;
		font-style: italic;
	}

	&__button.button {
		@include margin(18px, 14px, 22px, 0);
	}

	&__dependency {

		&__title {
			color: $editor-darkest;

		}

		&__item {
			margin: 0 1px;
			border: 1px solid;
			padding: 2px;
			font-size: 13px;
			color: $editor-dark;
			font-weight: bold;
			background: $editor-background-light;
		}
	}
}
