#elementor-get-started-modal {

	.dialog-message {
		height: 625px;
		max-height: 70vh;
		padding: 25px 45px;
	}

	@media (max-width: $screen-md-max) {
		display: none !important;
	}
}

#elementor-get-started {
	height: 100%;

	&__content-area {
		display: flex;
		align-items: center;
		text-align: $start;
		height: 90%;
	}

	&__sidebar {
		flex-grow: 1;
	}

	&__title {
		color: $editor-darker;
		font-size: 23px;
		font-weight: 500;
		line-height: 1;
	}

	&__menu {
		margin-top: 30px;
	}

	&__content {
		width: 77%;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__video-button {
		color: $editor-dark;
		display: flex;
		align-items: center;
		cursor: pointer;

		i {
			color: $brand-color-light;
			font-size: 35px;
		}

		&__text {
			@include padding-start(10px);
			font-weight: 500;
			font-size: 14px;
		}
	}

	&__item {

		&-video-tour {
			max-width: 110vh;
			@include margin-start(auto);

			.elementor-fit-aspect-ratio {
				width: 100%;
			}
		}
	}
}

.elementor-get-started {

	&__menu {

		&__item {
			color: $editor-light;
			padding: 10px 0;
			@include padding-start(5px);
			cursor: pointer;

			i {
				font-size: 19px;
			}

			&__text {
				font-size: 14px;
				@include padding-start(15px);
			}

			&.elementor-active {

				i {
					color: $brand-color-light;
				}

				.elementor-get-started__menu__item__text {
					color: $editor-darker;
					font-weight: 500;
				}
			}
		}
	}

	&__item {
		display: flex;
		align-items: center;

		&:not(.elementor-active) {
			display: none;
		}

		&__title {
			color: $editor-darker;
			font-size: 32px;
			line-height: 1.3;
			font-weight: 500;
		}

		&__content {
			color: $editor-dark;
			margin-top: 15px;
			font-size: 16px;
			line-height: 1.8;
			font-weight: 300;

			&-area {
				@include padding-end(65px);
			}
		}

		&__image {
			width: 58%;
			flex-shrink: 0;

			img {
				max-width: 100%;
				box-shadow: 0 1px 6px 0 rgba(0,0,0,0.14);
			}
		}
	}
}