
// Dashboard Icon
#adminmenu {

	#toplevel_page_elementor {

		div.wp-menu-image:before {
			content: "\e813";
			font-family: eicons;
			font-size: 18px;
			margin-top: 1px;
		}

		// Menu Go Pro
		a[href="admin.php?page=go_elementor_pro"] {
			font-weight: 700;

			&:hover {
				color: lighten($editor-accent, 15%);
			}
		}

		.dashicons.dashicons-star-filled {
			height: auto;
		}
	}

	#menu-posts-elementor_library {

		.wp-menu-image {

			&:before {
				content: '\e8ff';
				font-family: eicons;
				font-size: 18px;
			}
		}
	}
}

#e-admin-menu__kit-library {
	color: $success;
}

body.admin-color-fresh {

	#adminmenu {

		#toplevel_page_elementor {

			// Menu Go Pro
			a[href="admin.php?page=go_elementor_pro"] {
				color: lighten($editor-accent, 10%);
			}
		}
	}
}

.elementor-plugins-gopro {
	color: $editor-accent;
	text-shadow: 1px 1px 1px #eee;
	font-weight: bold;
}

// Switcher Editor
#elementor-switch-mode {
	margin: 15px 0;
}

#elementor-switch-mode-button,
#elementor-editor-button {
	outline: none;
	cursor: pointer;

	i {
		@include margin-end(3px);
		font-size: 125%;
		font-style: normal;
	}
}

body {

	&.elementor-editor-active {

		.elementor-switch-mode-off {
			display: none;
		}

		#elementor-switch-mode-button {
			background-color: #f7f7f7;
			color: #555;
			border-color: #ccc;
			box-shadow: 0 1px 0 #ccc !important;
			text-shadow: unset;

			&:hover {
				background-color: #e9e9e9;
			}

			&:active {
				box-shadow: inset 0 1px 0 #ccc;
				transform: translateY(1px);
			}
		}

		#postdivrich {
			display: none !important;
		}

		// Gutenberg Support
		.editor-block-list__layout, // TODO: Remove after drop WP < 5.3
		.block-editor-block-list__layout {
			display: none;
		}
	}

	&.elementor-editor-inactive {

		.elementor-switch-mode-on {
			display: none;
		}

		#elementor-editor {
			display: none;
		}
	}
}

// Gutenberg Support
body {

	&.elementor-editor-active {

		.editor-block-list__layout {
			display: none;
		}

		.edit-post-layout__content .edit-post-visual-editor {
			flex-basis: auto;
		}

		#elementor-editor {
			margin-bottom: 50px;
		}

		.edit-post-text-editor__body {
			.editor-post-text-editor {
				display: none;
			}
		}
	}

	.block-editor {

		#elementor-switch-mode {
			margin: 0 15px;

			.button {
				margin: 2px;
				height: 33px;
				font-size: 13px;
				line-height: 1;

				i {
					@include padding-end(5px);
				}
			}
		}
	}
}

// General Elementor Buttons
.elementor-button {
	font-size: 13px;
	text-decoration: none;
	padding: 15px 40px;
}

#elementor-editor {
	height: 300px;
	width: 100%;
	transition: all 0.5s ease;

	@import "../editor/loader";
}

#elementor-go-to-edit-page-link {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #DDD;
	background-color: #F7F7F7;
	text-decoration: none;
	position: relative;
	font-family: Sans-serif;

	&:hover {
		background-color: #ffffff;
	}

	&:focus {
		box-shadow: none;
	}

	&.elementor-animate {

		#elementor-editor-button {
			display: none;
		}
	}

	&:not(.elementor-animate) {

		.elementor-loader-wrapper {
			display: none;
		}
	}
}

// Tools
.elementor-button-spinner {
	&:before {
		font: normal 20px/.5 dashicons;
		speak: none;
		display: inline-block;
		padding: 0;
		top: 8px;
		@include start(-4px);
		position: relative;
		vertical-align: top;
		content: "\f463";
	}

	&.loading:before {
		animation: rotation 1s infinite linear;
	}

	&.success:before {
		content: "\f147";
		color: #46b450;
	}
}


// Blank State (Admin Settings)
.elementor-blank_state {
	padding: 5em 0;
	margin: auto;
	max-width: 520px;
	text-align: center;
	color: $editor-dark;
	font-family: Roboto, sans-serif;

	i {
		font-size: 50px;
		color: $editor-light;
	}

	h3 {
		font-size: 32px;
		font-weight: 300;
		color: inherit;
		margin: 40px 0 10px;
		line-height: 1.2;
	}

	p {
		font-size: 16px;
		font-weight: normal;
		color: $editor-light;
		margin-bottom: 40px;
	}

	.elementor-button {
		display: inline-block;
	}
}

// Customizer widget icon
#available-widgets [class*="elementor-template"] .widget-title:before {
	content: "\e813";
	font-family: eicons;
	font-size: 17px;
}

// Settings
.elementor-settings-form-page {
	padding-top: 30px;

	&:not(.elementor-active) {
		display: none;
	}
}

._elementor_settings_update_time {
	display: none;
}

#confirm_fa_migration_admin_modal {
	.dialog-confirm-ok {
		color:  $editor-dark;
	}
}

// Fix SVG preview in admin media listing alternate view
body {
	&.post-type-attachment {
		table.media .column-title .media-icon img[src$=".svg"] {
			width: 100%;
		}
	}
}

.e-major-update-warning {
	margin-bottom: 5px;
	max-width: 1000px;
	display: flex;

	&__separator {
		margin: 15px -12px;
	}

	&__icon {
		font-size: 17px;
		@include margin-end(9px);
		@include margin-start(2px);
	}

	&__title {
		font-weight: 600;
		margin-bottom: 10px;
	}

	+ p {
		display: none;
	}
}

.notice-success .e-major-update-warning {
	&__separator {
		border: 1px solid $wp-success;
	}

	&__icon {
		color: $wp-success-text;
	}
}

.notice-warning .e-major-update-warning {
	&__separator {
		border: 1px solid $wp-warning;
	}

	&__icon {
		color: $wp-warning-text;
	}
}

.plugins table.e-compatibility-update-table {
	tr {
		background: transparent;

		th {
			font-weight: 600;
		}

		th, td {
			min-width: 250px;
			font-size: 13px;
			background: transparent;
			box-shadow: none;
			border: none;
			padding-top: 5px;
			padding-bottom: 5px;
			@include padding-end(15px);
			@include padding-start(0);
		}
	}
}
