#elementor-new-template {

	&-modal {

		.dialog-message {
			max-height: 70vh;
		}

		// Add specificity only here to avoid changing the global code selector.
		.e-hidden {
			display: none !important;
		}
	}

	&-dialog-content {
		display: flex;
		align-items: center;
		height: 100%;
		text-align: $start;
		color: $editor-dark;
		
		@media (max-width: $library_screen_breakpoint) {
			padding: 0 50px;
		}

		@media (min-width: $library_screen_breakpoint + 1) {
			padding: 0 120px;
		}
	}

	&__description {
		width: 35%;
		max-width: 300px;
		@include padding-end(100px);

		&__title {
			font-size: 30px;
			color: $editor-darker;

			span {
				font-weight: bold;
			}
		}

		&__content {
			font-size: 16px;
			padding: 30px 0;
		}
	}

	&__take_a_tour {
		display: flex;
		align-items: center;
		font-size: 15px;

		i {
			color: $brand-color-light;
			font-size: 30px;
		}

		a {
			color: $editor-dark;
			@include padding-start(10px);
			text-decoration: none;
			font-weight: 500;
		}
	}

	&__form {
		flex-grow: 1;
		max-width: 440px;
		padding: 55px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0 2px 30px 0 rgba(0,0,0,0.08);

		&__title {
			font-size: 23px;
			color: $editor-darker;
		}

		&__template-type.elementor-form-field__select {
			// Override new wp-core-ui class <select> width starting WP v5.3/5.4
			max-width: initial;
		}

		&__template-type-badge {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 2px;
			border-radius: 2px;
			background-color: $editor-background-light;
			padding: 4px;
			font-size: 8px;
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
			top: 50%;
			inset-inline-end: 28px;
			transform: translateY( -50% );
		}

		.elementor-form-field {

			&__label {
				display: block;
				margin: 25px 0 7px;
				font-size: 14px;
				line-height: 1;
			}

			input,
			select {
				width: 100%;
				height: 50px;
				padding: 10px;
				font-size: 14px;
				box-shadow: none;
				border-radius: 3px;
				background: none;
				color: $editor-darkest;
				border: 1px solid;
				outline: none;

				&:not(:focus) {
					border-color: $editor-lightest;
				}

				&:focus {
					border-color: $editor-light;
				}
			}

			&__select {
				appearance: none;
				cursor: pointer;

				&__wrapper {
					position: relative;

					&:after {
						font-family: eicons;
						content: '\e8ad';
						position: absolute;
						top: 50%;
						@include end(10px);
						transform: translateY(-50%);
					}
				}
			}
		}

		&__submit,
		&__lock_button {
			display: block;
			width: 100%;
			height: 50px;
			margin-top: 24px;
			box-sizing: border-box;
			text-align: center;
			text-transform: none;
		}
	}
}

@media (max-width: $editor-screen-md-max) {

	#elementor-new-template {

		&__description {
			max-width: 250px;
			@include padding-end(30px);
		}
	}
}

@media (max-width: $editor-screen-sm-max) {

	#elementor-new-template__description {
		display: none;
	}
}
