
.post-type-elementor_library {

	#elementor-template-library-tabs-wrapper {
		padding-top: 2em;
		margin-bottom: 2em;
	}

	.elementor-template_library-blank_state {

		.blank_state-inner {
			padding: 5em 0;
			margin: auto;
			max-width: 520px;
			text-align: center;
			color: $editor-dark;

			i {
				font-size: 50px;
				color: $editor-light;
			}

			h2 {
				font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
				font-size: 32px;
				font-weight: 300;
				color: inherit;
				margin: 50px 0 35px;
			}

			p {
				font-size: 16px;
				font-weight: normal;
				color: $editor-light;
				margin-bottom: 50px;
			}

			.elementor-button {
				display: inline-block;
			}
		}
	}
}
