//
// Admin CSS for Elementor
//

// Core variables and mixins
@import "../helpers/variables";
@import "../editor/breakpoints";
@import "../helpers/mixins";
@import "../editor/buttons";

// Admin Global
@import "global";
@import "../global/dialog-base";
@import "../global/dialog-lightbox";
@import "../global/dialog-confirm";

@import "css-variables";
@import "getting-started";
@import "button";
@import "notice";
@import "alert";
@import "system_info";
@import "feedback";
@import "import-template";
@import "maintenance-mode";
@import "tools";
@import "dashboard-widget";
@import "template-library";
@import "new-template-dialog";
@import "role-manager";
@import "beta-tester";
@import "experiments";
@import "landing-pages";
@import "promotion";
@import "../editor/panel/controls/_notice";

// License Page
.wrap.elementor-admin-page-license {

	.elementor-license-box {
		max-width: 600px;
		background: white;
		margin: 20px 0;
		padding: 20px 20px;

		h3 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			padding: 0;
			padding-block-end: 20px;
			border-block-end: 1px solid #eee;

			span {
				flex-grow: 1;
				padding-inline-start: 5px;
			}

			small {
				font-size: 13px;
				font-weight: normal;
			}
		}

		label {
			display: block;
			font-size: 1.3em;
			font-weight: 600;
			margin: 1em 0;
		}

		.button {
			height: 30px;
			margin-inline-start: 15px;
			margin-block-end: 0;
		}

		p.description {
			margin: 10px 0;
		}

		.e-row-stretch,
		&.e-row-stretch {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.e-row-divider-bottom {
			padding-block-end: 15px;
			border-block-end: 1px solid #eeeeee;
		}

		.elementor-upgrade-link {
			color: $wp-admin-brand-color;
			border-color: $wp-admin-brand-color;

			&:hover {
				color: #fff;
				background-color: $wp-admin-brand-color;

			}
		}

		&.elementor-pro-connect-promotion {
			display: flex;
			flex-direction: row;
			gap: 40px;
			justify-content: start;
			align-items: center;

			> img {
				width: 50%;
			}
		}
	}

	.elementor-box-action {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin-block-start: 30px;

		.elementor-manually-link {
			color: #72777c;
			margin-inline-end: 15px;

			&:hover {
				color: inherit;
			}
		}
	}
}
