.elementor-aspect-ratio- {

	&219 {

		.elementor-fit-aspect-ratio {
			aspect-ratio: 21 / 9;
		}
	}

	&169 {

		.elementor-fit-aspect-ratio {
			aspect-ratio: 16 / 9;
		}
	}

	&43 {

		.elementor-fit-aspect-ratio {
			aspect-ratio: 4 / 3;
		}
	}

	&32 {

		.elementor-fit-aspect-ratio {
			aspect-ratio: 3 / 2;
		}
	}

	&11 {

		.elementor-fit-aspect-ratio {
			aspect-ratio: 1 / 1;
		}
	}

	&916 {

		.elementor-fit-aspect-ratio {
			aspect-ratio: 9 / 16;
		}
	}
}

.elementor-fit-aspect-ratio {

	.elementor-video,
	.elementor-video-iframe,
	iframe,
	video {
		height: 100%;
		width: 100%;
		border: none;
		background-color: $black;
	}
}
