
// TODO: Remove this method because it has been replaced by native aspect ratio property in v3.11
.elementor-aspect-ratio- {

	&219 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 42.8571%;
		}
	}

	&169 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 56.25%;
		}
	}

	&43 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 75%;
		}
	}

	&32 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 66.6666%;
		}
	}

	&11 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 100%;
		}
	}

	&916 {

		.elementor-fit-aspect-ratio {
			padding-bottom: 177.8%;
		}
	}
}

.elementor-fit-aspect-ratio {
	position: relative;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border: 0;
		background-color: #000;
	}

	video {
		width: 100%;
	}
}
