@import "../editor/buttons";

//
// Dialog Confirm
//
.dialog-type-confirm {

	.dialog-widget-content {
		margin: auto;
		width: 375px;
	}

	.dialog-header {
		font-size: 15px;
		padding: 30px 0 10px;
		font-weight: 500;
	}

	.dialog-message {
		padding: 0 30px 30px;
		min-height: 50px;
	}

	.dialog-buttons-wrapper {
		border-top: var(--e-admin-border);
		padding: 10px;
		display: flex;
		justify-content: end;
		gap: 15px;

		.dialog-button {
			@extend .elementor-button;

			&.dialog-ok {
				@extend .e-primary;
			}

			&.dialog-cancel {
				@extend .e-btn-txt;
			}

			&.dialog-take_over {
				@extend .e-primary;
			}
		}
	}
}
