//
// Dialog
//

.dialog-widget-content {
	background-color: #fff;
	position: absolute;
	border-radius: 3px;
	box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.dialog-message {
	font-size: 12px;
	line-height: 1.5;
	box-sizing: border-box;
}

.dialog-type-lightbox {
	position: fixed;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	user-select: none;

	.dialog-widget-content {
		margin: auto;
		width: 375px;
	}

	.dialog-header {
		font-size: 15px;
		color: $editor-darkest;
		padding: 30px 0 10px;
		font-weight: 500;
	}

	.dialog-message {
		padding: 0 30px 30px;
		min-height: 50px;
	}

	&:not(.elementor-popup-modal) {

		.dialog-header,
		.dialog-message {
			text-align: center;
		}
	}

	.dialog-buttons-wrapper {
		border-top: 1px solid $editor-background;
		text-align: center;

		> .dialog-button {
			font-family: $admin-font-family;
			width: 50%;
			border: none;
			background: none;
			color: $editor-dark;
			font-size: 15px;
			cursor: pointer;
			padding: 13px 0;
			outline: 0;

			&:hover {
				background-color: lighten($editor-background, 5%);
			}

			&.dialog-ok {
				color: $editor-warning;
			}

			&.dialog-take_over {
				color: $editor-success;
			}

			&:active {
				background-color: fade-out($editor-background, .5);
			}

			&::-moz-focus-inner {
				border: 0;
			}
		}
	}
}

.dialog-close-button {
	cursor: pointer;
	position: absolute;
	margin-top: 15px;
	@include end(15px);
	font-size: 15px;
	line-height: 1;

	&:not(:hover) {
		opacity: .4;
	}
}

.dialog-alert-widget {

	.dialog-buttons-wrapper {

		> button {
			width: 100%;
		}
	}
}

.dialog-confirm-widget {

	.dialog-button {

		&:first-child {
			@include border-end(1px solid $editor-background);
		}
	}
}

#elementor-change-exit-preference-dialog {

	.dialog-message {

		a {
			cursor: pointer;
		}

		& > div {
			margin-bottom: 10px;
		}
	}

	.dialog-ok {
		color: $editor-success;
	}
}

#e-experiments-dependency-dialog {
	.dialog-confirm-header {
		font-weight: 600;
	}

	.dialog-ok {
		color: $editor-success;
	}
}

#e-kit-elements-defaults-create-dialog {
	.dialog-ok {
		color: $editor-success;
	}

	label {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		margin-top: 20px;
	}
}

.dialog-prevent-scroll {
	overflow: hidden;
	max-height: 100vh;
}

@media (min-width: $editor-screen-md-max) {
	body.admin-bar {
		.dialog-lightbox-widget {
			height: calc(100vh - 32px);
		}
	}
}

@media (max-width: $editor-screen-md-max) {
	body.admin-bar {
		.dialog-type-lightbox {
			position: sticky;
			height: 100vh;
		}
	}
}
