@import "../editor/buttons";

//
// Dialog
//

.dialog-widget-content {
	background-color: $white;
	position: absolute;
	border-radius: 3px;
	box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.dialog-message {
	font-size: 12px;
	line-height: 1.5;
	box-sizing: border-box;
}

.dialog-type-lightbox {
	position: fixed;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	user-select: none;

	.dialog-widget-content {
		margin: auto;
		width: 375px;
	}

	.dialog-header {
		font-size: 15px;
		padding: 30px 0 10px;
		font-weight: 500;
	}

	.dialog-message {
		padding: 0 30px 30px;
		min-height: 50px;
	}


	&:not(.elementor-popup-modal) {

		.dialog-header,
		.dialog-message {
			text-align: center;
		}
	}

	.dialog-buttons-wrapper {
		border-top: $e-border;
		padding: 10px;
		display: flex;
		justify-content: space-between;

		.dialog-button {
			@extend .elementor-button;

			&.dialog-ok {
				@extend .e-btn-primary;
			}

			&.dialog-cancel {
				@extend .e-btn-txt;
			}

			&.dialog-take_over {
				@extend .e-btn-primary;
			}
		}
	}
}

.dialog-close-button {
	cursor: pointer;
	position: absolute;
	margin-top: 15px;
	@include end(15px);
	font-size: 15px;
	line-height: 1;

	&:not(:hover) {
		opacity: .4;
	}
}

#elementor-change-exit-preference-dialog {

	.dialog-message {

		a {
			cursor: pointer;
		}

		& > div {
			margin-bottom: 10px;
		}
	}
}

#e-experiments-dependency-dialog {
	.dialog-confirm-header {
		font-weight: 600;
	}
}

#e-kit-elements-defaults-create-dialog {

	label {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		margin-top: 20px;
	}
}

.dialog-prevent-scroll {
	overflow: hidden;
	max-height: 100vh;
}

@media (min-width: $editor-screen-md-max) {
	body.admin-bar {
		.dialog-lightbox-widget {
			height: calc(100vh - 32px);
		}
	}
}

@media (max-width: $editor-screen-md-max) {
	body.admin-bar {
		.dialog-type-lightbox {
			position: sticky;
			height: 100vh;
		}
	}
}
