.flatpickr-calendar {
	width: 280px;

	.flatpickr-current-month {

		span.cur-month {
			font-weight: 300;
		}
	}

	.dayContainer {
		width: 280px;
		min-width: 280px;
		max-width: 280px;
	}

	.flatpickr-days {
		width: 280px;
	}

	.flatpickr-day {
		max-width: 37px;
		height: 37px;
		line-height: 37px;
	}
}
