@font-face {
	font-family: 'eicons';
	src: url("../fonts/eicons.eot?5.9.1");
	src: url("../fonts/eicons.eot?5.9.1#iefix") format("embedded-opentype"), url("../fonts/eicons.woff2?5.9.1") format("woff2"), url("../fonts/eicons.woff?5.9.1") format("woff"), url("../fonts/eicons.ttf?5.9.1") format("truetype"), url("../fonts/eicons.svg?5.9.1#eicon") format("svg");
	font-weight: normal;
	font-style: normal;
}
