.elementor-templates-modal {

	.dialog-widget-content {
		font-family: $admin-font-family;
		background-color: $editor-background-light;
		width: 100%;

		@media (max-width: $library_screen_breakpoint) {
			max-width: 990px;
		}

		@media (min-width: $library_screen_breakpoint + 1) {
			max-width: 1200px;
		}
	}

	.dialog {

		&-header {
			padding: 0;
			background-color: #fff;
			box-shadow: $panel-bottom-shadow;
			position: relative; // Show the shadow above the scrolled list
			z-index: 1;
		}

		&-buttons-wrapper {
			background-color: #fff;
			border: none;
			display: none;
			justify-content: flex-end;
			padding: 5px;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
			position: relative;

			.elementor-button {
				height: 40px;
				@include margin-start(5px);

				&-success {
					padding: 12px 36px;
					color: #fff;
					width: initial;
					font-size: 15px;

					&:hover {
						background-color: $editor-success;
					}
				}
			}
		}

		&-message {
			height: 750px;
			max-height: 85vh;
			overflow: auto;
			padding-top: 25px;
		}

		&-content {
			height: 100%;
		}

		&-loading {
			display: none;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;

		&__logo {
			line-height: 1;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;

			&-area {
				text-align: $start;
				@include padding-start(15px);

				> * {
					display: flex;
					align-items: center;
				}
			}

			&__icon-wrapper {
				@include margin-end(10px);
				font-size: 12px;
			}

			&__title {
				padding-top: 2px;
			}
		}

		&__items-area {
			display: flex;
			flex-direction: row-reverse;
		}

		&__item {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: content-box;

			> i {
				font-size: 20px;
				transition: $transition-hover;
				cursor: pointer;

				&:not(:hover) {
					color: $editor-light;
				}
			}
		}

		&__close {

			&--normal {
				width: 47px;
				@include border-start(1px solid $editor-background);

				i {
					font-size: 18px;
				}
			}

			&--skip {
				padding: 10px;
				@include padding-start(20px);
				@include margin-end(10px);
				color: #fff;
				background-color: $editor-light;
				font-size: 11px;
				font-weight: normal;
				line-height: 1;
				text-transform: uppercase;
				border-radius: 2px;
				cursor: pointer;

				> i {
					font-size: inherit;
					@include padding-start(10px);
					@include margin-start(15px);
					@include border-start(1px solid);

					&:not(:hover) { // Overwrite the default
						color: #fff;
					}
				}
			}
		}
	}

	&__sidebar {
		flex-shrink: 0;
		width: 25%;
		background-color: rgba(255, 255, 255, 0.3);
	}

	&__content {
		flex-grow: 1;
		box-shadow: 0 0 13px inset rgba(0, 0, 0, 0.05);
	}
}
