@import '../helpers/variables.scss';
@import '../editor/_breakpoints.scss';

.e-app {
	&__view {
		&__content {
			width: 100%;
			box-sizing: border-box;
			background-color: $editor-background-light;
			line-height: 1.5;
			font-size: 12px;
			font-family: $admin-font-family;
		}

		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 50px;

			&__logo {
				line-height: 1;
				text-transform: uppercase;
				font-weight: bold;
				cursor: pointer;

				&-area {
					/*text-align: $start;*/
					text-align: left;

					/*@include padding-start(15px);*/
					padding-left: 15px;

					> * {
						display: flex;
						align-items: center;
					}
				}

				&__icon {
					/*@include margin-end(10px);*/
					margin-right: 10px;
				}

				&__title {
					padding-top: 2px;
				}

				i {
					font-size: 10px;
				}
			}

			&__buttons {
				display: flex;
				flex-direction: row-reverse;

				&__button {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					box-sizing: content-box;

					&-close {
						&--normal {
							width: 45px;
							/*@include border-start(1px solid $editor-background);*/
							border-left: 1px solid $editor-background;

							i {
								font-size: 18px;
							}
						}

						&--skip {
							padding: 10px;
							/*
							@include padding-start(20px);
							@include margin-end(10px);
							 */
							padding-left: 20px;
							margin-right: 10px;

							color: #fff;
							background-color: $editor-light;
							font-size: 11px;
							font-weight: normal;
							line-height: 1;
							text-transform: uppercase;
							border-radius: 2px;
							cursor: pointer;

							> i {
								font-size: inherit;
								/*
								@include padding-start(10px);
								@include margin-start(15px);
								@include border-start(1px solid);
								*/
								padding-left: 10px;
								margin-left: 15px;
								border-left: 1px solid;

								&:not(:hover) { // Overwrite the default
									color: #fff;
								}
							}
						}
					}
				}
			}

			&__actions {
				display: flex;

				&__button {
					/*@include padding-end(16px);*/
					padding-right: 16px;
				}
			}

			&__buttons,
			&__actions {
				&__button {
					i {
						font-size: 20px;
						transition: $transition-hover;
						cursor: pointer;

						&:not(:hover) {
							color: $editor-light;
						}
					}
				}
			}
		}
	}

	&__sidebar {
		flex-shrink: 0;
		width: 25%;
		background-color: rgba(255, 255, 255, 0.3);
	}

	&__content {
		flex-grow: 1;
		box-shadow: 0 0 13px inset rgba(0, 0, 0, 0.05);
	}
}
