// Global for all (editor, admin, preview, front-end USER)
@import "../../../../assets/dev/scss/helpers/variables";
@import "../../../../assets/dev/scss/editor/breakpoints";
@import "dialog-base";
@import "dialog-lightbox";
@import "flatpicker";

.elementor-hidden {
	display: none;
}

.elementor-screen-only,
.screen-reader-text, // wp - common.css
.screen-reader-text span, // wp - common.css
.ui-helper-hidden-accessible // wp - common.css
{
	position: absolute;
	top: -10000em; //for safari browser compatibility
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.elementor-clearfix:after{
	content: '';
	display: block;
	clear: both;
	width: 0;
	height: 0;
}

//Elementor icon logo wrapper
.e-logo-wrapper {
	background: var(--e-a-bg-logo);
	display: inline-block;
	padding: 0.75em;
	border-radius: 50%;
	line-height: 1;

	i {
		color: var(--e-a-color-logo);
		font-size: 1em;
	}
}
