body.elementor-editor-active .elementor-switch-mode-off {
  display: none; }
body.elementor-editor-active #elementor-editor {
  display: table; }
body.elementor-editor-active #postdivrich {
  display: none; }
body.elementor-editor-inactive .elementor-switch-mode-on {
  display: none; }
body.elementor-editor-inactive .elementor-switch-mode-button {
  background-color: #B40B51;
  color: #ffffff;
  border-color: #7D1036;
  box-shadow: 0 2px 0 #7D1036;
  text-shadow: none; }
body.elementor-editor-inactive #elementor-editor {
  display: none; }

#adminmenu #toplevel_page_elementor div.wp-menu-image:before {
  content: "\e800";
  font-family: eicon;
  font-size: 14px;
  margin-top: 3px; }

#elementor-switch-mode {
  margin: 15px 0; }
  #elementor-switch-mode .elementor-switch-mode-button {
    padding: 0 30px;
    height: 40px;
    line-height: 1; }

#elementor-editor {
  background-color: #F7F7F7;
  border: 1px solid #DDD;
  height: auto;
  width: 100%;
  transition: all 0.5s ease; }
  #elementor-editor:hover {
    background-color: #ffffff; }
  #elementor-editor .elementor-loader-box {
    position: absolute;
    animation: load 1.8s linear infinite; }
    #elementor-editor .elementor-loader-box:nth-of-type(1) {
      width: 20%;
      height: 100%;
      left: 0;
      top: 0; }
    #elementor-editor .elementor-loader-box:not(:nth-of-type(1)) {
      right: 0;
      height: 20%;
      width: 60%; }
    #elementor-editor .elementor-loader-box:nth-of-type(2) {
      top: 0;
      animation-delay: -0.45s; }
    #elementor-editor .elementor-loader-box:nth-of-type(3) {
      top: 40%;
      animation-delay: -0.9s; }
    #elementor-editor .elementor-loader-box:nth-of-type(4) {
      bottom: 0;
      animation-delay: -1.35s; }
@keyframes load {
  0% {
    opacity: .3; }
  50% {
    opacity: 1; }
  100% {
    opacity: .3; } }
  #elementor-editor .elementor-loader-box {
    background-color: #a4afb7; }

#elementor-go-to-edit-page {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#elementor-go-to-edit-page-link {
  padding: 70px 0;
  display: block;
  text-decoration: none; }

#elementor-go-to-edit-text {
  font-size: 13px;
  text-transform: uppercase;
  color: #B40B51;
  margin-top: 15px; }

#elementor-loader {
  height: 100px;
  width: 100px;
  position: relative;
  margin: auto; }
  #elementor-loader:not(.elementor-animate) .elementor-loader-box {
    animation: none; }

/*= Elementor System Info
---------------------------------------*/
#elementor-system-info {
  padding: 15px; }
  #elementor-system-info .elementor-system-info-section {
    margin-bottom: 10px; }
    #elementor-system-info .elementor-system-info-section > .elementor-system-info-report-name {
      padding-left: 10px;
      border-bottom: 1px solid #e1e1e1; }
  #elementor-system-info .elementor-system-info-report-name {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    line-height: 2; }
  #elementor-system-info .elementor-system-info-report-row {
    overflow: hidden;
    padding: 5px 0; }
    #elementor-system-info .elementor-system-info-report-row > * {
      float: left; }
  #elementor-system-info .elementor-system-info-report-field, #elementor-system-info .elementor-system-info-field-recommendation {
    padding-left: 10px;
    color: #7F7F7F; }
  #elementor-system-info .elementor-system-info-report-fields {
    padding-left: 20px; }
  #elementor-system-info .elementor-system-info-plugin-name {
    color: #000; }
  #elementor-system-info .elementor-system-info-plugin-properties {
    padding: 10px; }
  #elementor-system-info #elementor-system-info-raw-code {
    width: 100%;
    height: 200px; }
  #elementor-system-info #elementor-system-info-raw-code-label {
    padding: 5px;
    display: block; }

/*# sourceMappingURL=admin.css.map */