$dark-svg-filter: invert(0.8) sepia(1) saturate(0.2) hue-rotate(180deg) contrast(1.25) brightness(1.2);

$info-toggle-color: tints(300);
$info-toggle-hover-color: tints(500);

:root {
	--info-toggle-color: #{$info-toggle-color};
	--info-toggle-hover-color: #{$info-toggle-hover-color};
}

$info-toggle-dark-color: dark-tints(400);
$info-toggle-dark-hover-color: dark-tints(200);

.eps-theme-dark {
	--placeholder-filter: #{$dark-svg-filter};
	--info-toggle-color: #{$info-toggle-dark-color};
	--info-toggle-hover-color: #{$info-toggle-dark-hover-color};
}

.e-site-part {
	.#{$eps-prefix}card__image {
		filter: var(--placeholder-filter, none);
	}

	&__info-toggle {
		color: var(--info-toggle-color);

		&:hover {
			--info-toggle-color: var(--info-toggle-hover-color);
		}
	}
}
