:root {
	--e-kit-library-header-back-border: #{1px solid $eps-border-color};
	--e-kit-library-header-back-color: #{tints(500)};
}

.eps-theme-dark {
	--e-kit-library-header-back-border: #{1px solid $eps-dark-gray-400};
	--e-kit-library-header-back-color: #{dark-tints(200)};
}

.e-kit-library__header-back {
	color: var(--e-kit-library-header-back-color);
	@include padding-end( spacing( 20 ) );
	@include padding-start( spacing( 5 ) );
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	@include border-end( var(--e-kit-library-header-back-border) );

	&-container {
		flex: 1;
		height: 100%;
	}

	.#{$eps-prefix}icon {
		transform: getValueByDirection(rotate(0deg), rotate(180deg));
	}
}
