// Maps
$eps-colors: (
		cyan:(
				ionized-air-glow: $color-cyan-ionized-air-glow
		),
		red:(
				debian:$color-red-debian,
				carnelian: $color-red-carnelian
		),
		yellow:(
				lightning: $color-yellow-hot-sun
		),
		green:(
				spandex: $color-green-spandex
		),
);
