$eps-theme-colors: (
		body-color: $eps-body-color,
		body-bg:$eps-body-bg,
		link-color: $eps-link-color,
		link-hover-color: $eps-link-hover-color,
		text-muted:$eps-theme-text-muted,
		disabled: $eps-theme-disabled,
		light: $eps-theme-light,
		dark: $eps-theme-dark,
		info: $eps-theme-info,
		cta: $eps-theme-cta,
		danger: $eps-theme-danger,
		success: $eps-theme-success,
		warning: $eps-theme-warning,
);
