$eps-type-map: (
		size:(
				10: $font-size-10,
				12: $font-size-12,
				13: $font-size-13,
				14: $font-size-14,
				17: $font-size-17,
				18: $font-size-18,
				20: $font-size-20,
				22: $font-size-22,
				24: $font-size-24,
				26: $font-size-26,
				28: $font-size-28,
				32: $font-size-32,
				36: $font-size-36,
				40: $font-size-40,
				48: $font-size-48,
				56: $font-size-56,
				60: $font-size-60,
				64: $font-size-64,
				70: $font-size-70,
		),
		line-height: (
				2:$line-height-2,
				flat:$eps-line-height-flat,
				base: $eps-line-height-base,
				sm:$eps-line-height-sm,
				lg:$eps-line-height-lg,
		),
		display-1:$eps-font-size-display-1,
		display-2:$eps-font-size-display-2,
		display-3:$eps-font-size-display-3,
		display-4:$eps-font-size-display-4,
		h-1:$eps-font-size-h-1,
		h-2:$eps-font-size-h-2,
		h-3:$eps-font-size-h-3,
		h-4:$eps-font-size-h-4,
		h-5:$eps-font-size-h-5,
		h-6:$eps-font-size-h-6,
		text-sm:$eps-font-size-text-sm,
		text-xs:$eps-font-size-text-xs,
		caption:$eps-font-size-caption,
		micro:$eps-font-size-micro,
);
