#e-editor-sidebar-navigation {
	position: fixed;
	top: 32px;
	left: 160px;
	bottom: 0;
	width: 237px;
	z-index: 99;
	background-color: #fff;
	overflow: visible;
}

.folded #e-editor-sidebar-navigation {
	left: 36px;
}

@media screen and (max-width: 960px) {
	#e-editor-sidebar-navigation {
		left: 36px;
	}
}

@media screen and (max-width: 782px) {
	#e-editor-sidebar-navigation {
		display: none;
	}
}

#e-editor-sidebar-navigation.e-sidebar-collapsed {
	width: 56px;
}

.e-has-sidebar-navigation #wpcontent {
	padding-left: 237px;
}

.e-has-sidebar-navigation.folded #wpcontent {
	padding-left: 237px;
}

.e-has-sidebar-navigation.e-sidebar-is-collapsed #wpcontent {
	padding-left: 56px;
}

.e-has-sidebar-navigation.e-sidebar-is-collapsed.folded #wpcontent {
	padding-left: 56px;
}

@media screen and (max-width: 782px) {
	.e-has-sidebar-navigation #wpcontent {
		padding-left: 0;
	}
}

.e-has-sidebar-navigation #wpbody-content {
	padding-left: 20px;
}

.e-has-sidebar-navigation.e-sidebar-is-collapsed #wpbody-content {
	padding-left: 20px;
}

.e-has-sidebar-navigation #wpfooter {
	margin-left: 237px;
}

.e-has-sidebar-navigation.e-sidebar-is-collapsed #wpfooter {
	margin-left: 56px;
}

@media screen and (max-width: 782px) {
	.e-has-sidebar-navigation #wpfooter {
		margin-left: 0;
	}
}

.e-has-sidebar-navigation #adminmenu .wp-submenu {
	display: none !important;
}

.e-has-sidebar-navigation #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu::after,
.e-has-sidebar-navigation #adminmenu li.wp-has-submenu.wp-not-current-submenu:hover > a::after {
	display: none !important;
}

.e-has-sidebar-navigation #adminmenu li.wp-has-current-submenu,
.e-has-sidebar-navigation #adminmenu li.wp-has-submenu:hover {
	background: transparent;
}

.e-has-sidebar-navigation #adminmenu li.menu-top:hover,
.e-has-sidebar-navigation #adminmenu li.opensub > a.menu-top,
.e-has-sidebar-navigation #adminmenu li > a.menu-top:focus {
	background: transparent;
}

.e-has-sidebar-navigation #adminmenu .wp-submenu-head {
	display: none !important;
}

.e-has-sidebar-navigation #adminmenu li.elementor-has-flyout .elementor-submenu-flyout {
	display: none !important;
}
