@import "assets/dev/scss/helpers/variables.scss";

.e-ai-button {
	background: none;
	border: none;
	font-size: var(--control-title-size);
	cursor: pointer;
	transition: var(--e-a-transition-hover);

	&:not(.e-active) {
		color: var(--e-a-color-primary-bold);
	}

	&:hover {
		color: $e-pink-600;
	}
}

.e-ai-promotion {
	font-size: var(--control-title-size);

	i {
		margin-inline-end: 5px;
	}
}

.elementor-label-block {

	.e-ai-promotion,
	.e-ai-button {
		margin-inline-start: auto;
	}
}

.elementor-context-menu {
	&-list__item {
		&__ai-badge {
			background-color: $e-indigo-600;
			border-radius: 25px;
			display: flex;
			justify-content: center;
			padding: 4px;

			svg {
				width: 12px;
				height: 12px;

				path {
					fill: $white;
				}
			}
		}
	}
}

.e-ai-border-button {
	border-radius: var(--e-a-border-radius);
	border: var(--e-a-border-bold);
	display: flex;
	align-items: center;
	justify-content: center;
	width: $control-unit;
	height: $control-unit;
}
