.elementor-panel {
	.elementor-element {
		.e-element-favorite-button {
			visibility: hidden;
			background-color: $editor-light;
			width: 25px;
			height: 25px;
			border-radius: 3px;
			position: absolute;
			display: table;
			top: 3px;
			right: 3px;
			color: $white;
			text-align: center;
			cursor: pointer;

			> * {
				display: table-cell;
				vertical-align: middle;
			}

			&.e-element-favorite-button-active {
				background-color: $brand-color-dark-pink;
			}
		}
		&:hover {
			.e-element-favorite-button {
				visibility: visible;
			}
		}
	}
}
