.e-app-import-success {
	height: 100%;

	&__main-image {
		margin-bottom: spacing(44);
	}

	&__button-container {
		margin-top: spacing(30);
	}

	&__bottom_sentence {
		margin-bottom: spacing(44);
		font-style: italic;
	}

	&__click-here {
		margin-inline-end: spacing(5);
	}
}
