$contact-buttons-default-text-color: #000000;
$contact-buttons-default-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
$contact-buttons-default-drop-shadow: drop-shadow(4px 4px 10px rgba(0,0,0,0.15));
$contact-buttons-default-width: 360px;
$contact-buttons-offset-preset: 25px;

$contact-buttons-border-radius-round: 50px;
$contact-buttons-border-radius-rounded: 20px;
$contact-buttons-border-radius-sharp: 0;

$contact-buttons-size-small: 55px;
$contact-buttons-size-medium: 65px;
$contact-buttons-size-large: 75px;

$contact-buttons-svg-size-small: 32px;
$contact-buttons-svg-size-medium: 38px;
$contact-buttons-svg-size-large: 42px;

$contact-buttons-profile-image-size-small: 65px;
$contact-buttons-profile-image-size-medium: 75px;
$contact-buttons-profile-image-size-large: 85px;

$contact-buttons-icon-size-small: 45px;
$contact-buttons-icon-size-medium: 50px;
$contact-buttons-icon-size-large: 55px;

$contact-buttons-dots-color: #FF0000;
$contact-buttons-dots-size: 16px;
$contact-buttons-profile-dot-bg: #39AA59;

$contact-buttons-animation-duration-slow: 2s;
$contact-buttons-animation-duration-normal: 1s;
$contact-buttons-animation-duration-fast: 800ms;
$contact-buttons-animation-delay: 0;

$contact-buttons-chat-box-bg: #FFFFFF;

$contact-buttons-contact-gap: 15px;
