:root {
	--kit-content-list-item-background-color: theme-colors(light);
}

.dark {
	--kit-content-list-item-background-color: dark-tints(600);
}

.kit-content-list {
	&__item {
		padding: spacing(20);
		background: var( --kit-content-list-item-background-color );
	}

	&__checkbox {
		margin-inline-end: spacing(12);
	}

	&__title {
		font-size: type( size, base );
		color: tints(800);
		line-height: 1;
	}

	&__description {
		font-size: type( size, "13" );
		color: tints(600);
	}
}
