$kit-content-list-item-background-color: theme-colors(light);
$kit-content-list-item-dark-background-color: dark-tints(600);

:root {
	--kit-content-list-item-background-color: #{$kit-content-list-item-background-color};
}

.dark {
	--kit-content-list-item-background-color: #{$kit-content-list-item-dark-background-color};
}

.kit-content-list {
	&__item {
		padding: spacing(20);
		background: var( --kit-content-list-item-background-color );
	}

	&__checkbox {
		margin-inline-end: spacing(12);
	}

	&__title {
		font-size: type( size, base );
		color: tints(800);
		line-height: 1;
	}

	&__description {
		font-size: type( size, "13" );
		color: tints(600);
	}

	&__pro-indication {
		margin-inline-start: spacing(30);
		color: theme-colors(cta);
	}

	&__locked-features {
		color: tints(400);
	}
}
