/**
 * Here should be only styles that related to the Editor v1, and should be overridden when using the Editor v2.
 */

body {
	--editor-v2-top-bar-height: 48px;
}

#elementor-editor-wrapper {
	height: calc(100vh - var(--editor-v2-top-bar-height));
}

body.elementor-navigator-docked #elementor-navigator {
	height: calc(100% - var(--editor-v2-top-bar-height));
}
