/**
 * Here should be only styles that related to the Editor v1, and should be overridden when using the Editor v2.
 */

body {
	--editor-v2-top-bar-height: 48px;
}

#elementor-editor-wrapper {
	height: calc(100vh - var(--editor-v2-top-bar-height));
}

body.elementor-navigator-docked #elementor-navigator {
	height: calc(100% - var(--editor-v2-top-bar-height));
	top: var(--editor-v2-top-bar-height);
}

#elementor-panel-header-menu-button,
#elementor-panel-header-add-button,
#elementor-panel-footer {
	// TODO: Uncomment when we have enough buttons, to avoid going insane.
	//display: none !important;
}

#elementor-panel-content-wrapper {
	bottom: 0;
}
