$eps-dark-theme-colors: (
		body-color: $eps-dark-theme-body-color,
		body-bg:$eps-dark-theme-body-bg,
		link-color: $eps-dark-theme-link-color,
		link-hover-color: $eps-dark-theme-link-hover-color,
		text-muted:$eps-dark-theme-text-muted,
		disabled: $eps-dark-theme-disabled,
		light: $eps-dark-theme-dark,
		dark: $eps-dark-theme-light,
		info:$eps-dark-theme-info,
		accent:$eps-dark-theme-accent,
		danger: $eps-dark-theme-danger,
		cta: $eps-dark-theme-cta,
		success: $eps-dark-theme-success,
		warning: $eps-dark-theme-warning,
);
