$eps-dark-theme-colors: (
		text-muted:$eps-dark-theme-text-muted,
		disabled: $eps-dark-theme-disabled,
		light: $eps-dark-theme-light,
		dark: $eps-dark-theme-dark,
		info:$eps-dark-theme-info,
		accent:$eps-dark-theme-accent,
		danger: $eps-dark-theme-danger,
		cta: $eps-dark-theme-cta,
		success: $eps-dark-theme-success,
		warning: $eps-dark-theme-warning,
);

$eps-dark-theme-elements-colors: (
		body-color: $eps-dark-theme-body-color,
		body-bg:$eps-dark-theme-body-bg,
		link-color: $eps-dark-theme-link-color,
		link-hover-color: $eps-dark-theme-link-hover-color,
		hr-color: $eps-dark-theme-hr-color,
		box-shadow-color: $eps-dark-box-shadow-color,
		display-1-color:$eps-dark-theme-display-1-color,
		display-2-color:$eps-dark-theme-display-2-color,
		display-3-color:$eps-dark-theme-display-3-color,
		display-4-color:$eps-dark-theme-display-4-color,
		h1-color:$eps-dark-theme-h1-color,
		h2-color:$eps-dark-theme-h2-color,
		h3-color:$eps-dark-theme-h3-color,
		h4-color:$eps-dark-theme-h4-color,
		h5-color:$eps-dark-theme-h5-color,
		h6-color:$eps-dark-theme-h6-color,
		text-base-color:$eps-dark-theme-text-base-color,
		text-xl-color:$eps-dark-theme-text-xl-color,
		text-lg-color:$eps-dark-theme-text-lg-color,
		text-sm-color:$eps-dark-theme-text-sm-color,
		text-xs-color:$eps-dark-theme-text-xs-color,
		text-xxs-color:$eps-dark-theme-text-xxs-color,
)
