$import-export-footer-border-color: tints(300);
$import-export-footer-dark-border-color: dark-tints(500);

:root {
	--import-export-footer-border-color: #{$import-export-footer-border-color};
}

.eps-theme-dark {
	--import-export-footer-border-color: #{$import-export-footer-dark-border-color};
}

.import-export-footer {
	padding: spacing(8);

	&__separator {
		border-top: 1px solid var(--import-export-footer-border-color);
	}
}
