.import-export-footer {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: spacing(8);
	background-color: tints(200);

	&__separator {
		border-top: 1px solid tints(300);
	}
}
//
