//
// Tabs v2
//

.elementor-widget-tabs-v2 {
	--tabs-v2-default-padding: 15px;

	--tabs-v2-display: flex;
	--tabs-v2-direction: column;
	--tabs-v2-gap: 10px;

	--tabs-v2-tabs-wrapper-display: flex;
	--tabs-v2-tabs-wrapper-direction: row;
	--tabs-v2-tabs-wrapper-grow: initial;
	--tabs-v2-tabs-wrapper-justify-content: initial;
	--tabs-v2-tabs-wrapper-width: initial;

	--tabs-v2-content-height: initial;
	--tabs-v2-content-overflow-x: hidden;
	--tabs-v2-content-overflow-y: auto;

	--tabs-v2-border-width: 1px;
	--tabs-v2-border-color: #{$gray-light};
	--tabs-v2-background-color: transparent;

	--tabs-v2-title-color: var( --e-global-color-secondary, #54595F );
	--tabs-v2-title-background-color: #{$editor-background-light};
	--tabs-v2-title-active-color: #{$white};
	--tabs-v2-title-active-background-color: var( --e-global-color-accent, #61CE70 );

	--tabs-v2-title-alignment: center;
	--tabs-v2-title-grow: 1;
	--tabs-v2-title-gap: 10px;
	--tabs-v2-title-padding-top: var( --tabs-v2-default-padding );
	--tabs-v2-title-padding-right: var( --tabs-v2-default-padding );
	--tabs-v2-title-padding-bottom: var( --tabs-v2-default-padding );
	--tabs-v2-title-padding-left: var( --tabs-v2-default-padding );

	--tabs-v2-title-typography-font-family: var( --e-global-typography-accent-font-family, var( --e-global-typography-primary-font-family ) ), Sans-serif;
	--tabs-v2-title-typography-font-size: initial;
	--tabs-v2-title-typography-font-weight: var( --e-global-typography-primary-font-weight );
	--tabs-v2-title-typography-text-transform: initial;
	--tabs-v2-title-typography-font-style: initial;
	--tabs-v2-title-typography-text-decoration: initial;
	--tabs-v2-title-typography-line-height: initial;
	--tabs-v2-title-typography-letter-spacing: initial;
	--tabs-v2-title-typography-word-spacing: initial;
	--tabs-v2-title-shadow: none;

	--tabs-v2-icon-color: var( --e-global-color-secondary, #54595F );
	--tabs-v2-icon-active-color: #{$white};

	max-width: 100%; /* Fix issue with new created tabs-v2 inside tabs-v2 with overflow */

	.elementor-tabs {
		display: var( --tabs-v2-display );
		flex-direction: var( --tabs-v2-direction );
		gap: var( --tabs-v2-gap );
		text-align: $start;

		&-wrapper {
			display: var( --tabs-v2-tabs-wrapper-display );
			flex-basis: var( --tabs-v2-tabs-wrapper-width );
			flex-direction: var( --tabs-v2-tabs-wrapper-direction );
			justify-content: var( --tabs-v2-tabs-wrapper-justify-content );
			gap: var( --tabs-v2-title-gap );
			overflow: hidden;
		}
	
		&-content-wrapper {
			background-color: var( --tabs-v2-background-color );
			flex-grow: 1;
			height: var( --tabs-v2-content-height );
			overflow-x: var( --tabs-v2-content-overflow-x );
			overflow-y: var( --tabs-v2-content-overflow-y );
		}	
	}

	.elementor-tab {

		&-title {
			color: var( --tabs-v2-title-color );
			background-color: var( --tabs-v2-title-background-color );
			cursor: pointer;
			outline: var( --focus-outline, none );
			padding-top: var( --tabs-v2-title-padding-top );
			padding-right: var( --tabs-v2-title-padding-right );
			padding-bottom: var( --tabs-v2-title-padding-bottom ); 
			padding-left: var( --tabs-v2-title-padding-left );
			font-family: var( --tabs-v2-title-typography-font-family );
			font-size: var( --tabs-v2-title-typography-font-size );
			font-weight: var( --tabs-v2-title-typography-font-weight );
			text-transform: var( --tabs-v2-title-typography-text-transform );
			font-style: var( --tabs-v2-title-typography-font-style );
			text-decoration: var( --tabs-v2-title-typography-text-decoration );
			line-height: var( --tabs-v2-title-typography-line-height );
			letter-spacing: var( --tabs-v2-title-typography-letter-spacing );
			word-spacing: var( --tabs-v2-title-typography-word-spacing );
			text-shadow: var( --tabs-v2-title-shadow );
			text-align: var( --tabs-v2-title-alignment );
			flex-grow: var( --tabs-v2-title-grow );

			&.elementor-active {
				color: var( --tabs-v2-title-active-color );
				background-color: var( --tabs-v2-title-active-background-color );
			}
		}
	}

	.elementor-tab-title,
	.elementor-tab-title:before,
	.elementor-tab-title:after,
	.e-container,
	.elementor-tabs-content-wrapper {
		border: 1px none var( --tabs-v2-border-color );
		border-width: var( --tabs-v2-border-width );
	}

	.elementor-tabs-content-wrapper > .e-container:not(.elementor-active) {
		display: none;
	}
}

// Responsive mode
// This code needs to be updated in the Responsive Tabs section task
@media (max-width: $screen-mobile-max) {
	.elementor-tabs {

		.elementor-tabs-wrapper {
			display: none;
		}
	}
}

@media (min-width: $screen-mobile-next) {
	.elementor-widget-tabs-v2 {

		.elementor-tabs {
			
			.elementor-tab-mobile-title {
				display: none;
			}
		}
	}
}
