//
// Tabs v2
//
.elementor-widget-tabs-v2 {
	--tabs-v2-color-accent-fallback: #61CE70;
	--tabs-v2-color-secondary-fallback: #54595F;
	--tabs-v2-default-padding: 15px;
	--tabs-v2-height: initial;
	--tabs-v2-overflow-x: hidden;
	--tabs-v2-overflow-y: auto;
	--tabs-v2-background-color: transparent;

	--tabs-v2-display: flex;
	--tabs-v2-direction: column;
	--tabs-v2-gap: 10px;

	--tabs-v2-tabs-wrapper-display: flex;
	--tabs-v2-tabs-wrapper-direction: row;
	--tabs-v2-tabs-wrapper-grow: initial;
	--tabs-v2-tabs-wrapper-justify-content: initial;
	--tabs-v2-tabs-wrapper-width: initial;

	--tabs-v2-border-width: initial;
	--tabs-v2-border-color: initial; 

	
	--tabs-v2-title-color: var( --e-global-color-secondary, var( --tabs-v2-color-secondary-fallback ) );
	--tabs-v2-title-color-hover: var( --tabs-v2-title-color );
	--tabs-v2-title-background-color: #{$editor-background-light};
	--tabs-v2-title-color-active: #{$white};
	--tabs-v2-title-background-color-active: var( --e-global-color-accent, var( --tabs-v2-color-accent-fallback ) );

	--tabs-v2-title-alignment: center;
	--tabs-v2-title-grow: 1;
	--tabs-v2-title-gap: 10px;
	--tabs-v2-title-padding-top: var( --tabs-v2-default-padding );
	--tabs-v2-title-padding-right: var( --tabs-v2-default-padding );
	--tabs-v2-title-padding-bottom: var( --tabs-v2-default-padding );
	--tabs-v2-title-padding-left: var( --tabs-v2-default-padding );
	--tabs-v2-title-border-style: initial;
	--tabs-v2-title-border-width: initial;
	--tabs-v2-title-border-color: initial;
	--tabs-v2-title-border-radius: initial;
	--tabs-v2-title-transition: 0.3s;

	--tabs-v2-title-typography-font-family: var( --e-global-typography-accent-font-family, var( --e-global-typography-primary-font-family ) ), Sans-serif;
	--tabs-v2-title-typography-font-size: initial;
	--tabs-v2-title-typography-font-weight: initial;
	--tabs-v2-title-typography-text-transform: initial;
	--tabs-v2-title-typography-font-style: initial;
	--tabs-v2-title-typography-text-decoration: initial;
	--tabs-v2-title-typography-line-height: initial;
	--tabs-v2-title-typography-letter-spacing: initial;
	--tabs-v2-title-typography-word-spacing: initial;
	--tabs-v2-title-typography-font-family-hover: var( --tabs-v2-title-typography-font-family ), Sans-serif;
	--tabs-v2-title-typography-font-size-hover: var( --tabs-v2-title-typography-font-size );
	--tabs-v2-title-typography-font-weight-hover: var( --tabs-v2-title-typography-font-weight );
	--tabs-v2-title-typography-text-transform-hover: var( --tabs-v2-title-typography-text-transform );
	--tabs-v2-title-typography-font-style-hover: var( --tabs-v2-title-typography-font-style );
	--tabs-v2-title-typography-text-decoration-hover: var( --tabs-v2-title-typography-text-decoration );
	--tabs-v2-title-typography-line-height-hover: var( --tabs-v2-title-typography-line-height );
	--tabs-v2-title-typography-letter-spacing-hover: var( --tabs-v2-title-typography-letter-spacing );
	--tabs-v2-title-typography-word-spacing-hover: var( --tabs-v2-title-typography-word-spacing );
	--tabs-v2-title-typography-font-family-active: var( --tabs-v2-title-typography-font-family ), Sans-serif;
	--tabs-v2-title-typography-font-size-active: var( --tabs-v2-title-typography-font-size );
	--tabs-v2-title-typography-font-weight-active: var( --tabs-v2-title-typography-font-weight );
	--tabs-v2-title-typography-text-transform-active: var( --tabs-v2-title-typography-text-transform );
	--tabs-v2-title-typography-font-style-active: var( --tabs-v2-title-typography-font-style );
	--tabs-v2-title-typography-text-decoration-active: var( --tabs-v2-title-typography-text-decoration );
	--tabs-v2-title-typography-line-height-active: var( --tabs-v2-title-typography-line-height );
	--tabs-v2-title-typography-letter-spacing-active: var( --tabs-v2-title-typography-letter-spacing );
	--tabs-v2-title-typography-word-spacing-active: var( --tabs-v2-title-typography-word-spacing );

	--tabs-v2-icon-color: var( --e-global-color-secondary, var( --tabs-v2-color-secondary-fallback ) );
	--tabs-v2-icon-color-active: #{$white};

	max-width: 100%; /* Fix issue with new created tabs-v2 inside tabs-v2 with overflow */

	.elementor-tabs {
		display: var( --tabs-v2-display );
		flex-direction: var( --tabs-v2-direction );
		gap: var( --tabs-v2-gap );
		text-align: $start;
		height: var( --tabs-v2-height );
		overflow-x: var( --tabs-v2-overflow-x );
		overflow-y: var( --tabs-v2-overflow-y );

		&-wrapper {
			display: var( --tabs-v2-tabs-wrapper-display );
			flex-basis: var( --tabs-v2-tabs-wrapper-width );
			flex-direction: var( --tabs-v2-tabs-wrapper-direction );
			justify-content: var( --tabs-v2-tabs-wrapper-justify-content );
			gap: var( --tabs-v2-title-gap );
		}
	
		&-content-wrapper {
			background-color: var( --tabs-v2-background-color );
			flex-grow: 1;
		}	
	}

	.elementor-tab {

		&-title {
			flex-grow: var( --tabs-v2-title-grow );
			color: var( --tabs-v2-title-color );
			background-color: var( --tabs-v2-title-background-color );
			position: relative;
			cursor: pointer;
			outline: var( --focus-outline, none );
			padding-top: var( --tabs-v2-title-padding-top );
			padding-right: var( --tabs-v2-title-padding-right );
			padding-bottom: var( --tabs-v2-title-padding-bottom ); 
			padding-left: var( --tabs-v2-title-padding-left );
			font-family: var( --tabs-v2-title-typography-font-family );
			font-size: var( --tabs-v2-title-typography-font-size );
			font-weight: var( --tabs-v2-title-typography-font-weight );
			text-transform: var( --tabs-v2-title-typography-text-transform );
			font-style: var( --tabs-v2-title-typography-font-style );
			text-decoration: var( --tabs-v2-title-typography-text-decoration );
			line-height: var( --tabs-v2-title-typography-line-height );
			letter-spacing: var( --tabs-v2-title-typography-letter-spacing );
			word-spacing: var( --tabs-v2-title-typography-word-spacing );
			text-align: var( --tabs-v2-title-alignment );
			border-style: var( --tabs-v2-title-border-style );
			border-width: var( --tabs-v2-title-border-width );
			border-color: var( --tabs-v2-title-border-color );
			border-radius: var( --tabs-v2-title-border-radius );
			transition: all var( --tabs-v2-title-transition );

			&:hover {
				background-color: var( --tabs-v2-title-background-color-hover, var( --tabs-v2-title-background-color ) );
				border-width: var( --tabs-v2-title-border-width-hover, var( --tabs-v2-title-border-width ) );
				border-color: var( --tabs-v2-title-border-color-hover, var( --tabs-v2-title-border-color ) );
				color: var( --tabs-v2-title-color-hover );
				transition: all var( --tabs-v2-title-transition );
				font-family: var( --tabs-v2-title-typography-font-family-hover );
				font-size: var( --tabs-v2-title-typography-font-size-hover );
				font-weight: var( --tabs-v2-title-typography-font-weight-hover );
				text-transform: var( --tabs-v2-title-typography-text-transform-hover );
				font-style: var( --tabs-v2-title-typography-font-style-hover );
				text-decoration: var( --tabs-v2-title-typography-text-decoration-hover );
				line-height: var( --tabs-v2-title-typography-line-height-hover );
				letter-spacing: var( --tabs-v2-title-typography-letter-spacing-hover );
				word-spacing: var( --tabs-v2-title-typography-word-spacing-hover );
			}

			.elementor-tab-icon {
				display: unset;
	
				>i {
					width: 20px;
				}
	
				&-active {
					display: none;
	
					>i {
						width: 20px;
					}
				}
			}

			&.elementor-active {
				color: var( --tabs-v2-title-color-active );
				background-color: var( --tabs-v2-title-background-color-active );
				border-width: var( --tabs-v2-title-border-width-active, var( --tabs-v2-title-border-width ) );
				border-color: var( --tabs-v2-title-border-color-active );
				font-family: var( --tabs-v2-title-typography-font-family-active );
				font-size: var( --tabs-v2-title-typography-font-size-active );
				font-weight: var( --tabs-v2-title-typography-font-weight-active );
				text-transform: var( --tabs-v2-title-typography-text-transform-active );
				font-style: var( --tabs-v2-title-typography-font-style-active );
				text-decoration: var( --tabs-v2-title-typography-text-decoration-active );
				line-height: var( --tabs-v2-title-typography-line-height-active );
				letter-spacing: var( --tabs-v2-title-typography-letter-spacing-active );
				word-spacing: var( --tabs-v2-title-typography-word-spacing-active );

				.elementor-tab-icon {
					display: none;
	
					&-active {
						display: unset;
					}
				}
			}
		}
	}

	.elementor-tabs-content-wrapper > .e-container:not(.elementor-active) {
		display: none;
	}
}

// Responsive mode
// This code needs to be updated in the Responsive Tabs section task
@media (max-width: $screen-mobile-max) {
	.elementor-tabs {

		.elementor-tabs-wrapper {
			display: none;
		}

		.elementor-tabs-content-wrapper,
		.elementor-tab-title,
		.elementor-tab-content {
			border: none;
		}
	}
}

@media (min-width: $screen-mobile-next) {
	.elementor-widget-tabs-v2 {

		.elementor-tabs {
			
			.elementor-tab-mobile-title {
				display: none;
			}
		}
	}
}
