//
// Panel Global
//

.elementor-panel-heading {
	display: table;
	table-layout: fixed;
	height: 40px;
	padding: 0 20px;
	width: 100%;
	border-bottom: 1px solid $editor-background;
	cursor: pointer;

	&:not(.elementor-open) {

		.elementor-panel-heading-toggle {

			.fa {

				&:before {
					content: getValueByDirection('\f0da', '\f0d9');
				}
			}
		}
	}

	&.elementor-open {

		.elementor-panel-heading-toggle {

			.fa {

				&:before {
					content: '\f0d7';
				}
			}
		}
	}

	> * {
		display: table-cell;
		vertical-align: middle;
	}
}

.elementor-panel-heading-toggle {
	width: 20px;
	color: $editor-darkest;
}

.elementor-panel-heading-title {
	color: $editor-darkest;
	font-weight: bold;
}

.elementor-panel-box {
	margin-top: 10px;
	background-color: #fff;
}

.elementor-panel-box-content {
	padding: 20px 20px 10px;
}

.elementor-control-title {
	font-size: 12px;
}

// select2

.select2-container {
	width: 100% !important;

	&:not(.select2-container--open):not(.select2-container--focus) {

		.select2-selection--single {
			border-color: $editor-lightest;
		}
	}

	&.select2-container--open, &.select2-container--focus {

		.select2-selection--single {
			border-color: $editor-light;
		}
	}

}

.select2-selection--single {
	height: 27px;
}

.select2-selection__rendered {
	line-height: 27px;
}

.select2-selection__arrow {
	height: 27px;
	top: 0;
}

// Pojo Theme Support
#elementor-panel {
	#elementor-panel-page-editor {
		.elementor-controls {
			.pojo-widget-button-collapse {
				display: none;
			}
		}
	}
}
