//
// Featued Image
//
.elementor-featured-icon-wrapper {
	overflow: hidden;

	.elementor-position-right {
		float: right;
	}

	.elementor-position-left {
		float: left;
	}

	.elementor-position-center {
		text-align: center;
	}
}
