//
// Icon Box
//
.elementor-widget-icon-box {

	&.elementor-view-stacked {

		.elementor-icon-box-icon {
			background-color: #000;
			color: #fff;
		}
	}

	&.elementor-view-framed {

		.elementor-icon-box-icon {
			color: #000;
			border: 3px solid #000;
		}
	}

	&.elementor-shape- {

		&circle {

			.elementor-icon-box-icon {
				border-radius: 50%;
			}
		}
	}

	.elementor-icon-box-wrapper {
		overflow: hidden;
	}

	@media (min-width: $screen-md-min) {

		&.elementor-position-left,
		&.elementor-position-right {

			.elementor-icon-box-wrapper {
				display: flex;
			}
		}

		&.elementor-position-right {

			.elementor-icon-box-wrapper {
				text-align: getEndDirection();
				flex-direction: getValueByDirection(row-reverse, row);
			}
		}

		&.elementor-position-left {

			.elementor-icon-box-wrapper {
				text-align: getStartDirection();
				flex-direction: getValueByDirection(row, row-reverse);
			}
		}

		.elementor-icon-box-img {
			margin: auto;
		}

		&.elementor-vertical-align- {

			&top {

				.elementor-icon-box-wrapper {
					align-items: flex-start;
				}
			}

			&middle {

				.elementor-icon-box-wrapper {
					align-items: center;
				}
			}

			&bottom {

				.elementor-icon-box-wrapper {
					align-items: flex-end;
				}
			}
		}
	}

	@media (max-width: $screen-sm-max) {

		// TEMP code to override the icon spacing
		.elementor-icon-box-icon {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	.elementor-icon-box-wrapper {
		text-align: center;
	}

	.elementor-icon-box-description {
		margin: 0;
	}

	.elementor-icon-box-icon {
		display: inline-block;
		line-height: 1;
		transition: $transition-hover;

		a {
			color: inherit;

			&:hover {
				color: inherit;
			}
		}

		i {
			width: 1em;
			height: 1em;
		}
	}
}