//
// Image Box
//
.elementor-widget-image-box {

	.elementor-image-box-wrapper {
		overflow: hidden;
	}

	&.elementor-position-left,
	&.elementor-position-right {

		.elementor-image-box-wrapper {
			display: flex;
		}
	}

	&.elementor-position-right {

		.elementor-image-box-wrapper {
			text-align: getEndDirection();
			flex-direction: getValueByDirection(row-reverse, row);
		}
	}

	&.elementor-position-left {

		.elementor-image-box-wrapper {
			text-align: getStartDirection();
			flex-direction: getValueByDirection(row, row-reverse);
		}
	}

	&.elementor-position-top {

		.elementor-image-box-wrapper {
			text-align: center;
		}

		.elementor-image-box-img {
			margin: auto;
		}
	}

	&.elementor-vertical-align- {

		&top {

			.elementor-image-box-wrapper {
				align-items: flex-start;
			}
		}

		&middle {

			.elementor-image-box-wrapper {
				align-items: center;
			}
		}

		&bottom {

			.elementor-image-box-wrapper {
				align-items: flex-end;
			}
		}
	}

	.elementor-image-box-description {
		margin: 0;
	}
}
