//
// Image Gallery
//
.elementor-image-gallery {

	figure  {
		.gallery-icon {
			padding: 0; // Reset Style for some themes
		}

		img {
			display: block;
		}

		figcaption {
			background-color: #dcdcdc;
			opacity: 0.7;
			width: 100%;
		}
	}
}