//
// Image
//

.elementor-widget-image {

	.elementor-image {
		overflow: hidden;

		img {
			vertical-align: middle;
		}

		&.elementor-image-shape- {

			&circle {
				border-radius: 50%;
			}
		}
	}
}
