//
// Person
//
.elementor-person-wrapper {
	text-align: center;

	&.elementor-person-text-align- {
		&center {
			text-align: center;
		}

		&right {
			text-align: right;
		}

		&left {
			text-align: left;
		}

		&justify {
			text-align: justify;
		}
	}

	&:hover {
		cursor: pointer;
	}

	&:hover > .elementor-person-content .elementor-person-detailes {
		display: block;
		background: rgba(0, 0, 0, 0.6);
	}

	.elementor-person-content {
		position: relative;

		.elementor-person-detailes {
			display: none;
			position: absolute;
			color: #FFFFFF;
			padding: 100px;
			top: 0;
			bottom: 0;
			width: 100%;

			.elementor-person-social-icons {
				.elementor-person-social-icon {
					display: inline-block;
				}
			}

		}
	}
}
