//
// Slideshow gallery
//

.elementor-slideshow-wrapper {

	div.slick-slide {
		img {
			margin: auto;
		}

		.elementor-slideshow-stretch {
			width: 100%;
		}
	}

	.slick-slider {

		.slick-prev,
		.slick-next {
			&:before {
				color: #000000;
			}
		}
	}
}