//
// Social Links
//
.elementor-social-links-wrapper {
	overflow: hidden;

	.elementor-social-links-items {
		list-style-type: none;
		float: left;

		li.elementor-social-links-item {
			float: left;

			a {
				display: inline-block;
			}
		}
	}
}
