//
// Social Icons
//

.elementor-widget {

	.elementor-icon {

		&.elementor-social-icon {
			background-color: black;
			color: white;
			text-align: center;
			padding: 0.6em;
			cursor: pointer;

			i {
				font-size: 20px;
			}

			&:hover {
				opacity: .5;
			}
		}
	}

	&.elementor-widget-social-icons {
		&.elementor-align- {

			&right {
				text-align: right;
			}

			&left {
				text-align: left;
			}

			&center {
				text-align: center;
			}
		}
	}

	&.elementor-shape-rounded {

		.elementor-icon {

			&.elementor-social-icon {
				border-radius: 20%;
			}
		}
	}

	&.elementor-shape-circle {

		.elementor-icon {

			&.elementor-social-icon {
				border-radius: 50%;
			}
		}
	}
}