//
// testimonial
//
.elementor-testimonial-wrapper {
	overflow: hidden;

	.elementor-testimonial-text {
		margin: 0 0 20px 0;

		&.elementor-testimonial-detailes-align- {
			&left {
				text-align: left;
			}

			&right {
				text-align: right;
			}

			&center {
				text-align: center;
			}
		}
	}

	.testimonial_description {
		width: 100%;
		text-align: center;

		&.elementor-testimonial-detailes-align- {

			&left {
				text-align: left;
			}

			&right {
				text-align: right;

				.elementor-testimonial-image {
					float: right;
				}

				.testimonial-detailes {
					text-align: right;
				}

				.testimonial-detailes.elementor-has-image {
					text-align: right;
					margin-right: 20px;
				}
			}

			&center {
				text-align: center;

				.testimonial-detailes.elementor-has-image {
					text-align: center;
					margin-left: 0;
				}

				.elementor-testimonial-image {
					display: block;
				}
			}
		}

		.elementor-testimonial-image {
			display: inline-block;

			figure img {
				border-radius: 50%;
			}
		}

		.testimonial-detailes {
			display: inline-block;
			text-align: left;
			vertical-align: top;
			margin-top: 20px;

			&.elementor-has-image {
				margin-left: 20px;
			}
		}
	}
}