.e-app-import-process {
	&__icon {
		font-size: 30px;
		margin-bottom: spacing(44);
	}

	&__title {
		font-weight: normal;
		margin: spacing(44) 0 spacing(24);
	}

	&__content {
		color: tints(500);
	}
}
