$root: e-kit-library;

.#{$root} {
	--e-kit-library-content-overview-group-title-color: #{tints(600)};
}

.eps-theme-dark {
	.#{$root} {
		--e-kit-library-content-overview-group-title-color: #{dark-tints(200)};
	}
}

.e-kit-library {
	&__content-overview-group-item {
		margin-bottom: spacing(44);
	}

	&__content-overview-group-title {
		margin-bottom: spacing(30);
		color: var(--e-kit-library-content-overview-group-title-color);
	}
}
