// Utilities: Background
// - generating background util classes from '$theme-colors' loop

@each $color, $value in $theme-colors {
	.u-bg-#{$color}{ background-color:$value;}
}

@each $color, $value in $tints {
	.u-bg-gray-#{$color}{ background-color:$value;}
}

.u-bg-transparent {
	background-color: transparent !important;
}
