$eps-list-item-separated-border-color: tints(200);
$eps-list-item-separated-dark-border-color: dark-tints(700);

$root: eps-list;

.#{$root} {
	--eps-list-item-separated-border-color: #{$eps-list-item-separated-border-color};

	padding: 0;
	margin: 0;
	list-style-type: none;

	&--padding {
		padding: var(--eps-list-padding);
	}

	&__item {
		padding: 0;

		&--padding {
			padding: var(--eps-list-item-padding);
		}
	}

	&--separated {
		.#{$root}__item:not(:last-child) {
			border-bottom: 1px solid var(--eps-list-item-separated-border-color);
		}
	}
}

.eps-theme-dark {
	.#{$root} {
		--eps-list-item-separated-border-color: #{$eps-list-item-separated-dark-border-color};
	}
}
