@import '../../../../../../../../assets/dev/scss/helpers/variables';

.e-app {
	&__view {
		&__header {
			&__buttons {
				display: flex;
				flex-direction: row-reverse;
			}

			&__actions {
				display: flex;
			}
		}
	}
}
