//
// Theme preview styles / Temp Tokens
//
@import "../../helpers/variables";

// CSS Vars
// Prefix e = elementor
// Prefix p = preview (Only preview editor facing)

:root {
	//Dragble colors
	--e-p-draggable-color: 			#{$e-pink-300};

	//Handle colors
	--e-p-border-section: 			#{$e-pink-200};
	--e-p-border-section-hover: 	#{$e-pink-300};
	--e-p-border-section-invert: 	#{$e-gray-900};

	--e-p-border-con: 				#{$e-pink-200};
	--e-p-border-con-hover: 		#{$e-pink-300};
	--e-p-border-con-invert: 		#{$e-gray-900};

	--e-p-border-column:			#{$e-gray-300};
	--e-p-border-column-hover: 		#{$e-gray-400};
	--e-p-border-column-invert: 	#{$e-gray-900};

	//Inner container handle like columns
	--e-p-border-con-in:			#{$e-gray-300};
	--e-p-border-con-in-hover: 		#{$e-gray-400};
	--e-p-border-con-in-invert: 	#{$e-gray-900};

	--e-p-border-widget: 			#{$e-pink-200};
	--e-p-border-widget-hover: 		#{$e-pink-300};
	--e-p-border-widget-invert: 	#{$e-gray-900};

	--e-p-border-global: 			#{$e-teal-300};
	--e-p-border-global-hover: 		#{$e-teal-400};
	--e-p-border-global-invert: 	#{$e-gray-900};
}
