@import "../../helpers/variables";
@import "../../helpers/mixins";
@import "../../helpers/direction";

@import "../container";

@import "../units";
@import "../breakpoints";
@import "../dynamic-tags";
@import "../panel/global";
@import "../panel/controls";
@import "../resizable";

@import "animations";
@import "compatibility";
@import "inline-editor";

//Eyedropper Experiment
@import "../../../../../modules/elements-color-picker/assets/scss/elements-color-picker";

@import "../_flex-icons.scss";

// Hidden WP Admin Bar
html.elementor-html {
	margin-top: 0 !important;
}

.elementor-edit-area {
	position: relative;
}

.elementor {

	&.loading {
		opacity: 0.5;
	}
}

.elementor-edit-area-active {

	--primary-color: #{ $editor-info };
	--secondary-color: #{ darken($editor-info, 20%) };
	--outline-color: var( --primary-color );

	.e-con {
		--primary-color: #{ $editor-container-primary };
		--secondary-color: #{ darken( $editor-container-primary, 10% ) };
		--outline-color: var( --primary-color );

		// Add an outline to the currently dragged over Container, so the user will be able to differentiate
		// between Containers.
		&.e-dragging-over,
		&.elementor-dragging-on-child,
		&.e-con-boxed.elementor-html5dnd-current-element {
			outline: 1px solid var( --outline-color );
		}
	}

	.elementor-inner-section {

		&:first-child {
			margin-top: 15px;
		}
	}

	.elementor-widget-wrap {

		&.elementor-element-empty {

			min-height: 30px; // In case of section with non-default content position

			@media (min-width: $editor-screen-md-min) {
				margin: 10px;
			}
		}
	}

	.elementor-column {
		min-width: 25px;
	}

	.elementor-widget {

		&.elementor-loading {
			opacity: .3;
		}

		&:not(.elementor-loading):not(.elementor-widget-menu-anchor) { // Don't apply transition on anchor widget - Safari hack
			//transition: all .1s;
		}

		&.elementor-element-editable,
		&.elementor-element-edit-mode:hover {
			box-shadow: 0 0 0 1px $editor-info;
		}

		&:not(:hover) {

			.elementor-editor-element-settings {
				display: none;
			}
		}

		&.ui-draggable-dragging {
			pointer-events: none;
		}
	}

	// It's here in order to override some themes default css
	.elementor-editor-element-setting {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 0;
		font-size: 11px;
		color: #fff;
		width: 25px;
		transition: margin .3s, width .3s, font .3s;
	}

	.elementor-inline-editing {
		min-height: 15px;
	}

	.elementor-edit-hidden {
		display: none;
	}
}

.elementor-section-wrap {
	&:empty {
		min-height: 25px;
	}

	// Make the first child's overlay higher than the others to fix bug ED-5010 where the overlays overlap each other.
	> :first-child > .elementor-element-overlay {
		z-index: $editor-layer;
	}
}

// Element
.elementor-element {

	> .elementor-element-overlay {
		position: absolute;
		top: 0;
		@include end(0);
		letter-spacing: 0; // Hack for front-end style themes
		z-index: $element-overlay;
		pointer-events: none;
	}

	&-empty {

		.elementor-sortable-placeholder {
			display: none;
		}
	}

	&.elementor-widget-empty {
		background-color: fade_out($editor-lightest, .2);

		.elementor-widget-empty-icon {
			color: $editor-lighter;
			font-size: 22px;
			display: block;
			text-align: center;
			padding: 10px 0;
		}
	}

	&:not(:hover) {

		&:not(.elementor-element-editable) {

			> .elementor-element-overlay {

				.elementor-editor-element-settings {
					display: none;
				}
			}
		}
	}

	&--toggle-edit-tools {

		> .elementor-element-overlay {

			.elementor-editor-element-edit {

				&:not(.elementor-active) {

					~ * {
						width: 0;
						font-size: 0;
					}
				}
			}
		}
	}

	&[data-side="top"], &[data-side="bottom"] + .elementor-element {

		&:before {
			content: '';
			background-color: $editor-info;
			transition-timing-function: ease-out;
			opacity: .9;
			height: $widget-placeholder-size;
			animation: placeholder-widget 500ms;
			display: block;
		}
	}

	&[data-side="bottom"]:last-child {

		&:after {
			content: '';
			background-color: $editor-info;
			transition-timing-function: ease-out;
			opacity: .9;
			height: $widget-placeholder-size;
			animation: placeholder-widget 500ms;
			display: block;
		}
	}

	&.elementor-absolute, &.elementor-fixed {
		cursor: grab;

		&:active {
			cursor: grabbing;
		}

		.eicon-edit {

			&:before {
				content: '\e902';
			}
		}
	}
}

// Section & Container
.elementor-section,
.e-con {

	> .elementor-element-overlay {
		@include start(0);
		bottom: 0;

		&:after {
			position: absolute;
			left: 2px;
			right: 2px;
			top: 2px;
			bottom: 2px;
			outline: 2px solid var( --outline-color );
			animation: section-outline .75s;
		}
	}

	&:hover,
	&.elementor-element-editable {

		> .elementor-element-overlay {

			&:after {
				content: '';
			}
		}
	}

	// Section Full (No more columns) - Overlay
	&-filled {

		.elementor-sortable-placeholder {

			&.elementor-column {
				display: none;
			}
		}

		.elementor-row {

			&.elementor-draggable-over {
				border: 1px solid $editor-danger;
			}
		}
	}
}

// Column
.elementor-column {

	> .elementor-element-overlay {
		@include start(0);
		bottom: 0;

		&:after {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			outline: 1px dashed $editor-dark;
		}
	}

	&:hover,
	&.elementor-element-editable {

		> .elementor-element-overlay {
			border: 1px solid $white;

			&:after {
				content: '';
			}
		}
	}

	&.elementor-dragging-on-child {

		> .elementor-element-overlay {
			border: 1px solid $editor-info;

			&:after {
				display: none;
			}
		}
	}

	> .ui-resizable-e, > .ui-resizable-w {
		cursor: col-resize;
		width: 7px;
		position: absolute;
		@include end(-5px);
		top: 0;
		height: 100%;
	}

	&:last-of-type {
		> .ui-resizable-e, > .ui-resizable-w {
			display: none !important;
		}
	}

	@media (max-width: $editor-screen-md-max) {
		> .ui-resizable-e, > .ui-resizable-w {
			display: none !important;
		}
	}
}

// General - Overlay Settings
.elementor-editor-element-settings {
	position: absolute;
	display: flex;
	height: 26px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	z-index: $first-layer;
	pointer-events: all;
}

.elementor-editor-element-edit {

	@media(min-width: $editor-screen-lg-min) {
		cursor: move;
	}
}

// Section & Container - Overlay Settings
.elementor-editor-section-settings,
.elementor-editor-container-settings {
	height: 24px;
	top: 1px;
  	left: 50%;
  	transform: translateX( -50% ) translateY( -100% );
	background-color: var( --primary-color );
	border-radius: 5px 5px 0 0;
	box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.05);

	i.eicon-handle {
		font-size: 16px;
	}

	.elementor-editor-element-setting {

		&:hover {
			background-color: var( --secondary-color );
		}

		&:first-child {
			border-radius: getValueByDirection(5px 0 0 0, 0 5px 0 0);

			&:before {
				content: '';
				position: absolute;
				border: solid transparent;
				top: 2px;
				@include border-end-property(color, var( --primary-color ));
				border-width: getValueByDirection(22px 12px 0 0, 22px 0 0 12px);
				@include end(calc(100% - 1px));
			}

			&:hover {

				&:before {
					@include border-end-property(color, var( --secondary-color ));
				}
			}
		}

		&:last-child {
			border-radius: getValueByDirection(0 5px 0 0, 5px 0 0 0);

			&:after {
				content: '';
				position: absolute;
				border: solid transparent;
				top: 2px;
				@include border-start-property(color, var( --primary-color ));
				border-width: getValueByDirection(22px 0 0 12px, 22px 12px 0 0);
				@include start(calc(100% - 1px));
			}

			&:hover {

				&:after {
					@include border-start-property(color, var( --secondary-color ));
				}
			}
		}
	}
}

// Top Section / Container (Handles inside)
.e-handles-inside,
.elementor-section--handles-inside {

	> .elementor-element-overlay > .elementor-editor-element-settings {
		transform: translateX(-50%);
		border-radius: 0 0 5px 5px;

		.elementor-editor-element-setting {
			&:first-child {
				border-radius: getValueByDirection(0 0 0 5px, 0 0 5px 0);

				&:before {
					top: 0;
					border-width: getValueByDirection(0 12px 22px 0, 0 0 22px 12px);
				}
			}

			&:last-child {
				border-radius: getValueByDirection(0 0 5px 0, 0 0 0 5px);

				&:after {
					top: 0;
					border-width: getValueByDirection(0 0 22px 12px, 0 12px 22px 0);
				}
			}
		}
	}
}

// Column - Overlay Settings
.elementor-editor-column-settings {
	top: -1px;
	@include start(-1px);
	border-radius: getValueByDirection(0 0 3px 0, 0 0 0 3px);
	overflow: hidden;

	.elementor-editor-element-setting {
		background-color: $editor-darkest;

		&:not(:hover) {
			background-image: linear-gradient(to bottom, $editor-dark, $editor-darker);
		}
	}
}

// Widget - Overlay Settings
.elementor-editor-widget-settings {
	z-index: $second-layer;
	top: -1px;
	@include end(-1px);
	flex-direction: row-reverse;
	border-radius: getValueByDirection(0 0 0 3px, 0 0 3px 0);
	overflow: hidden;

	.elementor-editor-element-setting {
		background-color: darken($editor-info, 20%);

		&:not(:hover) {
			background-image: linear-gradient(to top, darken($editor-info, 10%), $editor-info);
		}
	}
}

.elementor-empty-view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: $first-layer;
}

.elementor-first-add {
	text-align: center;
	border: 1px dashed $editor-lightest;
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	align-items: center;
	justify-content: center;

	.elementor-icon {
		font-size: 19px;
		color: $editor-light;
		cursor: pointer;
	}
}

.elementor-sortable-helper {
	position: absolute;
	border-radius: 3px;
	background-color: #fff;
	text-align: center;
	color: $editor-darker;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	cursor: move;

	.icon {
		font-size: 28px;
		padding-top: 15px;
		line-height: 1;
	}

	.elementor-element-title-wrapper {
		display: table;
		width: 100%;
	}

	.title {
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-style: normal;
		display: table-cell;
		vertical-align: middle;
		height: 40px;
	}
}

//Content Only (writing mode)
.elementor-editor-content-only {
	//Empty Section
	.elementor-first-add {
		display: none;
	}

	// Section
	.elementor-section {

		> .elementor-element-overlay {
			display: none;

			&:after {
				display: none;
			}
		}

		&:hover,
		&.elementor-element-editable {

			> .elementor-element-overlay {

				&:after {
					display: none;
				}
			}
		}
	}

	// Column
	.elementor-column {

		> .elementor-element-overlay {
			display: none;

			&:after {
				display: none;
			}
		}

		&:hover,
		&.elementor-element-editable {

			> .elementor-element-overlay {

				&:after {
					display: none;
				}
			}
		}
	}

	.elementor-editor-element-edit {

		@media(min-width: $editor-screen-lg-min) {
			cursor: pointer;
		}
	}
}

// Drag/sort placeholder
.elementor-sortable-placeholder {

	&:not(.elementor-column-placeholder) {
		background-color: $editor-info;
		animation-duration: 250ms;
		opacity: .9;
		width: 100%;
		align-self: stretch;

		// Make the placeholder centered in container element, like in other places.
		.e-con .elementor-first-add & {
			align-self: center;
		}

		// Hide the placeholder, since swappable containers don't need one.
		.e-swappable--active > & {
			display: none;
		}
	}
}

.elementor-section-placeholder {
	height: $section-placeholder-size;
	animation-name: placeholder-section;
}

.elementor-column-placeholder {
	position: relative;

	&:before, &:after {
		content: '';
		position: absolute;
		top: 10px;
		bottom: 10px;
		right: 10px;
		left: 10px;
	}

	&:before {
		border: 1px solid $editor-dark;
	}

	&:after {
		border: 1px dashed #fff;
	}
}

.elementor-widget-placeholder {
	height: $widget-placeholder-size;
	animation-name: placeholder-widget;
}

.elementor-draggable-over:not([data-dragged-element="section"]):not([data-dragged-is-inner="true"]) > .elementor-empty-view > .elementor-first-add,
.elementor-first-add.elementor-html5dnd-current-element {

	&:after {
		content: '';
		background-color: $editor-info;
		transition-timing-function: ease-out;
		opacity: .9;
		height: $widget-placeholder-size;
		animation: placeholder-widget 500ms;
		width: 100%;

		.e-con & {
			// Fix for multiple dragging placeholders in container element.
			display: none;
		}
	}

	.elementor-icon {
		display: none;
	}
}

.elementor-draggable-over[data-dragged-element="section"][data-dragged-is-inner="true"] {

	.elementor-inner-column {

		.elementor-sortable-placeholder {
			display: none;
		}
	}
}

// Add new Section
.elementor-add-section {
	// Avoid theme conflicts.
	all: initial;
	display: flex;
	max-width: 1160px;
	position: relative;
	margin-inline: auto;

	&:not(.elementor-dragging-on-child) {

		.elementor-add-section-inner {
			border: 2px dashed $editor-lightest;
			background-color: rgba(255, 255, 255, .5);
		}
	}

	&.elementor-dragging-on-child {

		.elementor-add-section-inner {
			border: 3px dashed $editor-info;
		}
	}

	&[data-view="choose-action"] {

		.e-view:not( .elementor-add-new-section ) {
			display: none;
		}
	}

	&[data-view="select-preset"] {

		.e-view:not( .elementor-select-preset ) {
			display: none;
		}
	}

	&[data-view="select-container-preset"] {

		.e-view:not( .e-con-select-preset ) {
			display: none;
		}
	}
}

.elementor-add-section-inner {
	text-align: center;
	margin: 20px;
	padding: 40px 0;
	flex-grow: 1;
}

.elementor-add-new-section {
	display: inline-block; // For smooth dragging above

	.elementor-add-section-area-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		color: #fff;
		font-size: 16px;
		border-radius: 50%;
		transition: all .3s;
		cursor: pointer;

		&:hover {
			opacity: 0.85;
			box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
		}

		&:active {
			box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .1);
		}
	}

	.elementor-add-section-button {
		background-color: $editor-accent;
		margin-inline-start: 5px;
	}

	.elementor-add-template-button {
		background-color: $editor-dark;
		@include margin-start(5px);
	}
}

.elementor-add-section-drag-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
	line-height: 1;
	color: $editor-darker;
	margin-top: 15px;
}

.elementor-add-section-close {
	position: absolute;
	right: 40px;
	top: 40px;
	font-size: 20px;
	cursor: pointer;
	line-height: 1;
	color: $editor-lightest;

	&:hover {
		color: $editor-dark;
	}
}

.elementor-select-preset-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	color: $editor-darker;
}

.elementor-select-preset-list {
	list-style: none;
	padding: 0 25px;
	margin: 20px auto 0;
	overflow: hidden;
	max-width: 700px;

	.elementor-preset {
		cursor: pointer;
		margin: 0;
		padding: 10px;
		float: $start;
		max-width: 33.333%;

		&:hover {

			path,
			rect {
				fill: $editor-dark;
			}
		}

		&:not(:hover) {

			path,
			rect {
				fill: $editor-lightest;
			}
		}

		.e-preset--container {
			position: relative;
			display: flex;

			&::before {
				content: var( --text );
				font-family: $admin-font-family;
				font-size: 13px;
				font-weight: 500;
				position: absolute;
				left: 50%;
				top: 50%;
				color: $white;
				transform: translate( -50%, -50% );
			}
		}

		svg {
			height: 50px;
			width: 100%;

			@if 'rtl' == $direction {
				transform: rotate(180deg);
			}
		}
	}
}

#elementor-add-new-section {
	margin: 60px auto;

	&[data-view="choose-action"] {

		.elementor-add-section-close {
			display: none;
		}
	}
}

.elementor-add-section-inline {
	margin: 10px auto;
	width: 100%;
}

.elementor-column-percents-tooltip {
	position: absolute;
	display: none;
	pointer-events: none;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 10px;
	background-color: $editor-darker;
	width: 40px;
	padding: 3.5px 0;
	text-align: center;
	z-index: 1;
	line-height: 1;

	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 8.5px solid transparent;
		top: 0;
	}

	&[data-side="left"] {
		border-radius: 3px 0 0 3px;
		right: 15px;

		&:after {
			left: 100%;
			border-left-color: $editor-darker;
			border-right-width: 0;
		}
	}

	&[data-side="right"] {
		border-radius: 0 3px 3px 0;
		left: 15px;

		&:after {
			right: 100%;
			border-right-color: $editor-darker;
			border-left-width: 0;
		}
	}
}

// Preview Mode
.elementor-editor-preview {

	.elementor-element-overlay,
	.elementor-empty,
	.elementor-add-section,
	.elementor-add-section-inline,
	.elementor-empty-view,
	.elementor-widget-empty {
		display: none;
	}
}

// Muted elements in the editor
.e-preview--show-hidden-elements[data-elementor-device-mode="widescreen"] .elementor-edit-area-active .elementor-hidden-widescreen,
.e-preview--show-hidden-elements[data-elementor-device-mode="desktop"] .elementor-edit-area-active .elementor-hidden-desktop,
.e-preview--show-hidden-elements[data-elementor-device-mode="laptop"] .elementor-edit-area-active .elementor-hidden-laptop,
.e-preview--show-hidden-elements[data-elementor-device-mode="tablet_extra"] .elementor-edit-area-active .elementor-hidden-tablet_extra,
.e-preview--show-hidden-elements[data-elementor-device-mode="tablet"] .elementor-edit-area-active .elementor-hidden-tablet,
.e-preview--show-hidden-elements[data-elementor-device-mode="mobile_extra"] .elementor-edit-area-active .elementor-hidden-mobile_extra,
.e-preview--show-hidden-elements[data-elementor-device-mode="mobile"] .elementor-edit-area-active .elementor-hidden-mobile {
	display: inherit; //to overcome the display:none;
	background: repeating-linear-gradient(125deg,rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.05) 1px,transparent 2px,transparent 9px);
	border: 1px solid rgba(0, 0, 0, 0.02);

	&.elementor-section,
	&.e-con {

		> .elementor-element-overlay {
			background-color: $editor-lightest;
			mix-blend-mode: color;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.6);
			z-index: 9997;
		}
	}

	&.e-con {
		// Containers inherit "display: block" from `elementor-hidden-{device}`'s `display: inherit` above.
		// This line makes sure containers maintain their intended display mode.
		display: var( --display );
	}

	&.elementor-inner-section {

		.elementor-container {
			width: 100%;//to handle with display: inherit; > issues#12376
		}
	}

	> .elementor-widget-container, > .elementor-widget-wrap {
		filter: opacity(0.4) saturate(0);
	}

	//Compatibility for hidden element by the navigator
	&.elementor-edit-hidden {
		display: none;
	}
}

.e-con {

	// Container presets.
	&-select-preset {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 25px;

		// Views.
		&[data-view="choose-preset"] > *:not( &__inner ) {
			display: none;
		}

		&[data-view="drop-area"] > *:not( .elementor-first-add ) {
			display: none;
		}

		&__title {
			font-family: $admin-font-family;
			font-size: 13px;
			font-weight: 500;
			text-transform: uppercase;
			color: $editor-darker;
		}

		&__list {
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			max-width: 650px;

			.e-con-preset {
				cursor: pointer;
				flex-basis: 90px;

				svg {
					width: 100%;
					height: auto;
				}

				path {
					fill: $white;
				}

				rect {
					fill: $editor-lightest;
					transition: .3s all;
				}

				&:hover {
					rect {
						fill: $editor-dark;
					}
				}

				&[data-preset="r100"] {
					@if 'rtl' == $direction {
						transform: scaleX(-1);
					}
				}
			}
		}
	}

	// To avoid horizontal scroll in `flex-direction: column`
	&.e-con--column {

		.ui-resizable {

			&-e {
				right: 0;
			}

			&-w {
				left: 0;
			}
		}
	}
}
