.e-onboarding__page-account {

	.e-onboarding__checkbox-label {
		margin-top: 50px;
	}
}

.e-onboarding__already-have-account-text {
	margin-top: 24px;
	width: 325px;
	text-align: center;

	a {
		text-decoration: underline;
		color: $platform-darker-gray;
	}
}
