$top-bar-height: 50px;

#e-admin-top-bar {
	background: #fff;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.0394871);
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 160px);
	z-index: 9999;


	#elementor-admin-top-bar {
		display: flex;
		height: $top-bar-height;
		justify-content: space-between;
		padding: 0 16px;
	}

	.bar-flex {
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	.page-title-action {
		background: #f6f7f7;
		border: 1px solid #2271b1;
		border-radius: 3px;
		box-sizing: border-box;
		color: #2271b1;
		cursor: pointer;
		display: inline-block;
		line-height: 30px;
		margin: 0 4px;
		min-height: 30px;
		padding: 0 10px;
		text-decoration: none;

		&:hover {
			background: #f0f0f1;
			border-color: #0a4b78;
			color: #0a4b78;
		}
	}

	.top-bar-heading-wrapper {
		margin-right: 40px;
	}

	.bar-main-area {
		button {
			margin: 0 4px
		}
	}

	.top-bar-heading-logo {
		width: 30px;
	}

	.top-bar-heading-title {
		color: #495157;
		font-size: 15px;
		font-weight: 700;
		font-family: 'Roboto';
		padding: 0 8px;
		line-height: normal;
		text-transform: uppercase;
	}

	~ #wpbody {
		#wpbody-content {
			margin-top: $top-bar-height;
		}
	}

	.top-bar-button-wrapper {
		//color: #6d7882;
		border: none;
		background: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin: 0 10px;
		cursor: pointer;

		&:hover {
			h1, i {
				color: #93003F;
			}
		}
	}

	.top-bar-button-title {
		font-size: 13px;
		font-weight: 500;
		font-family: 'Roboto';
		margin-left: 8px;
		line-height: normal;
	}
}

@media screen and (max-width: 960px) {
	#e-admin-top-bar {
		width: calc(100% - 36px);
	}
}

@media screen and (max-width: 782px) {
	#e-admin-top-bar {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	#e-admin-top-bar {
		top: 46px;
	}
}
