@import "../styles/common";
@import "../styles/base";
@import "../styles/components";
@import "../styles/shame";

$app-background-color: tints(200);
$app-sidebar-background-color: rgba(theme-colors(light), $opacity-05);
$box-shadow-color: rgba(theme-colors(dark), $opacity-005);
$app-sidebar-box-shadow: 0 2px 30px var(--box-shadow-color);

:root {
	--app-background-color: #{$app-background-color};
	--app-sidebar-background-color: #{$app-sidebar-background-color};
	--box-shadow-color: #{$box-shadow-color};
}

$app-dark-background-color: dark-tints(700);
$app-sidebar-dark-background-color: dark-tints(700);
$box-shadow-dark-color: rgba(theme-colors(dark), $opacity-015);

.dark {
	--app-background-color: #{$app-dark-background-color};
	--app-sidebar-background-color: #{$app-sidebar-dark-background-color};
	--box-shadow-color: #{$box-shadow-dark-color};
}


@media (min-width: 1440px) {
	.elementor-templates-modal .dialog-widget-content {
		max-width: 1440px;
	}
}

@media (max-width: 1439px) {
	.elementor-templates-modal .dialog-widget-content {
		max-width: 1200px;
	}
}

.dialog-type-lightbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

:root {
	--h1-font-size: #{type(h, "1")};
	--h1-margin-bottom: #{spacing(20)};

	--hr-color: #{tints(300)};
	--h1-color: #{tints(600)};
	--h3-color: #{tints(800)};
}

.dark {
	--hr-color: #{dark-tints(500)};
}

h1 {
	font-size: var(--h1-font-size);
	margin-bottom: var(--h1-margin-bottom);
}

hr {
	border: 0 none;
	border-bottom: 1px solid var(--hr-color);
}

.elementor-app {
	font-size: type(text, base);

	&__main {
		display: flex;
		height: 920px;
		max-height: 85vh;
		overflow: auto;
		background-color: var(--app-background-color);
	}

	&__sidebar {
		background-color: var(--app-sidebar-background-color);
		padding-top: spacing(20);
		width: 30%;
		max-width: 275px;
		flex-grow: 0;
		overflow: auto;
		box-shadow: $app-sidebar-box-shadow;
	}

	&__content {
		flex-grow: 1;
		padding: 2.8125rem;
		height: 100%;
		overflow: scroll;
	}
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
