@import "../styles/common";
@import "../styles/base";
@import "../styles/utilities";

$app-background-color: tints(200);
$app-dark-background-color: dark-tints(700);

:root {
	--app-background-color: #{$app-background-color};
}

.dark {
	--app-background-color: #{$app-dark-background-color};
}


* {
	box-sizing: border-box;
}

.elementor-app__main {
	display: flex;
	background-color: var(--app-background-color);
}

.elementor-app__sidebar {
	background-color: rgba(255, 255, 255, 0.5);
	width: 30%;
	max-width: 275px;
	flex-grow: 0;
}

.elementor-app__content {
	flex-grow: 1;
	padding: 2.8125rem;
	height: 100%;
	overflow: scroll;
}

.elementor-screen-only {
	display: none;
}

.dialog-type-lightbox:not(.elementor-popup-modal) {
	.dialog-message.elementor-app__main {
		text-align: unset;
		padding: 0;
	}
}
