@import "../../../../assets/dev/scss/helpers/variables";

.e-control-display-conditions-promotion {
	&__wrapper {
		display: flex;
		justify-content: space-between;

		&:hover {
			.eicon-lock.e-control-display-conditions-promotion {
				color: var(--e-a-color-accent)
			}
		}
	}

	&__description {
		display: flex;
		align-self: center;
	}

	&__text {
		display: inline-block;
	}

	&__lock-wrapper {
		width: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.eicon-flow {
		align-self: flex-end;
		cursor: pointer;
		border: var(--e-a-border-bold);
		border-radius: var(--e-a-border-radius);
		padding: 5px;

		&.filled {
			background-color: var(--e-a-bg-active);
			color: $e-pink-600;
		}
	}
}

.e-control-motion-effects-promotion, .e-control-promotion {
	&__wrapper {
		&:hover {
			.eicon-lock {
				color: var(--e-a-color-accent)
			}
		}

		.elementor-control-title {
			margin-inline-end: 0;
		}

		.select-promotion {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-inline-start: 5px;
			padding-inline-end: 20px;
			cursor: pointer;
			height: 27px;
			width: 100%;
			color: var(--e-a-color-txt);
			border-radius: var(--e-a-border-radius);
			background-color: var(--e-a-bg-default);
			box-shadow: none;
			border: var(--e-a-border-bold);
			font-size: var(--control-title-size);
		}
	}

	&__lock-wrapper {
		width: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.e-link-promotion {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: $e-accent;

	&:hover {
		color: $e-accent;
	}
}
