// Example of Utility Class
.u-flex {
	display: flex;
}

// Global tokens
$color-stack-gray-pale-sky: #6D7882;
$color-stack-gray-athens-gray: #f1f3f5;
$stock-color-white: #fff;
$stock-color-white-opacity-5: rgba(255,255,255,0.5);
$stock-color-black-opacity-2: rgba(0,0,0,0.2);

$global-portrait-image-aspect-ratio: calc(0.956 * 100%);

$global-border-radius-default: 3px;
$spacing: 10px;
$box-shadow-default: 0 4px 10px rgba(0,0,0,0.05);
$type-font-family: Roboto sans-serif;
$transition-duration-default: 0.3s;

// Local API. Will consume global tokens
$card-background-color: $stock-color-white-opacity-5;
$card-background-color-hover: $stock-color-white;
$card-box-shadow: $box-shadow-default;
$card-border-radius: $global-border-radius-default;
$card-transition: $transition-duration-default;

$card-header-padding-y: $spacing;
$card-header-padding-x: $spacing;
$card-header-border: solid 1px $color-stack-gray-athens-gray;

$card-headline-color: $color-stack-gray-pale-sky;
$card-headline-font-size: 0.75rem;
$card-headline-font-weight: 500;
$card-headline-font-family: $type-font-family;
$card-headline-line-height: $spacing * 2;

$card-body-padding-y: $spacing;
$card-body-padding-x: $spacing;

$card-figure-background-color: $color-stack-gray-athens-gray;
$card-figure-padding-bottom: $global-portrait-image-aspect-ratio;

$card-image-overlay-background-color: $stock-color-black-opacity-2;
$card-image-overlay-transition: $transition-duration-default;


.card {
	background-color: $card-background-color;
	box-shadow: $card-box-shadow;
	border-radius: $card-border-radius;
	transition: $card-transition;

	&__header {
		padding: $card-header-padding-y $card-header-padding-x;
		border-bottom: $card-header-border;
	}

	/*
	 TBD: Optionally remove headline styling in favor of a global atom
	 depending on variation needs
	*/

	&__headline {
		color: $card-headline-color;
		font-size: $card-headline-font-size;
		font-weight: $card-headline-font-weight;
		line-height: $card-headline-line-height;
	}

	&__body {
		padding: $card-body-padding-y $card-body-padding-x;
	}

	// figure is here to assist with aspect ratio, and dealing with different image sizes and bg-color for shorter images e.g. header, footer.
	&__figure {
		background-color: $card-figure-background-color;
		position: relative;
		padding-bottom: $card-figure-padding-bottom;
		overflow: scroll;
		height: 0;
	}

	&__image {
		width: 100%;
		object-fit: contain;
		object-position: top;
		position: relative;
		top: 0;
		left: 0;
	}

	&__image-overlay {
		position: absolute;
		background-color: $card-image-overlay-background-color;
		z-index: 1;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: $card-image-overlay-transition;

		&:hover {
			opacity: 1;
		}
	}

	&__footer {}

	&:hover {
		background-color: $card-background-color-hover;
	}

	h1 {
		margin: 0;
	}

	figure{
		margin: 0;
	}
}
