// this should emulate external packages consumption
@import "../../../styles/common";

// Private API. Will consume global tokens
// - Default tokens
$card-background-color: rgba(theme-colors(light), $opacity-05);
$card-background-color-hover: theme-colors(light);
$card-box-shadow: $eps-box-shadow-2;
$card-border-radius: $eps-radius;
$card-transition: $eps-transition-duration;
$card-font-size: type(text,xs);
$card-footer-font-size: type(text,xxs);
$card-padding: spacing(10);

$card-header-padding: $card-padding;
$card-header-footer-border: $eps-border;
$card-header-footer-active-border: $eps-border-width-md $eps-border-style $eps-border-color-dark;
$card-header-height: $card-padding * 4;

$card-headline-color: tints(600);

$card-headline-font-weight: $eps-font-weight-medium;
$card-headline-line-height: $line-height-2;

$card-body-padding-y: $card-padding;
$card-body-padding-x: $card-padding;

$card-figure-background-color: tints(200);
$card-image-aspect-ratio: var(--card-image-aspect-ratio, #{$ratio-portrait});

$card-image-overlay-background-color: rgba(theme-colors(dark), $opacity-02);
$card-image-overlay-transition: $card-transition;

// - Dark tokens
$card-dark-background-color: dark-tints(600);
$card-dark-background-color-hover: rgba( dark-tints(500), $opacity-08 );
$card-dark-box-shadow: $eps-box-shadow;
$card-dark-header-footer-border: $eps-border-width $eps-border-style dark-tints(700);
$card-dark-header-footer-active-border: $eps-border-width $eps-border-style dark-tints(800);
$card-dark-headline-color: dark-tints(100);
$card-dark-figure-background-color: dark-tints(700);
$card-dark-image-overlay-background-color: rgba(dark-tints(700), $opacity-05);


:root {
	--card-background-color: #{$card-background-color};
	--card-background-color-hover: #{$card-background-color-hover};
	--card-box-shadow: #{$card-box-shadow};
	--card-header-footer-border: #{$card-header-footer-border};
	--card-header-footer-active-border: #{$card-header-footer-active-border};
	--card-headline-color: #{$card-headline-color};
	--card-figure-background-color: #{$card-figure-background-color};
	--card-image-overlay-background-color: #{$card-image-overlay-background-color};
}

.eps-theme-dark {
	--card-background-color: #{$card-dark-background-color};
	--card-background-color-hover: #{$card-dark-background-color-hover};
	--card-box-shadow: #{$card-dark-box-shadow};
	--card-header-footer-border: #{$card-dark-header-footer-border};
	--card-header-footer-active-border: #{$card-dark-header-footer-active-border};
	--card-headline-color: #{$card-dark-headline-color};
	--card-figure-background-color: #{$card-dark-figure-background-color};
	--card-image-overlay-background-color: #{$card-dark-image-overlay-background-color};
}
