$e-app-export-kit-content-title-color: tints(700);
$e-app-export-kit-content-title-dark-color: dark-tints(100);
$e-app-export-kit-content-description-color: tints(600);
$e-app-export-kit-content-description-dark-color: dark-tints(200);

$root: e-app-export-kit-content;

.#{$root} {
	--e-app-export-kit-content-title-color: #{$e-app-export-kit-content-title-color};
	--e-app-export-kit-content-description-color: #{$e-app-export-kit-content-description-color};

	&__checkbox {
		flex-shrink: 0;
		margin-inline-end: spacing(12);
	}

	&__title {
		color: var(--e-app-export-kit-content-title-color);
	}

	&__description {
		color: var(--e-app-export-kit-content-description-color);
		margin-inline-end: spacing(20);
	}

	&__notice {
		margin-top: spacing(16);
	}

  	&__small-notice {
	  font-style: italic;
	  color: var(--e-app-export-kit-content-description-color);
	}
}

.eps-theme-dark {
	.#{$root} {
		--e-app-export-kit-content-title-color: #{$e-app-export-kit-content-title-dark-color};
		--e-app-export-kit-content-description-color: #{$e-app-export-kit-content-description-dark-color};
	}
}
