.elementor-control-type-button {
	.elementor-control-input-wrapper {
		text-align: $end;
	}

	.elementor-button {
		width: auto;

		&.elementor-button-center {
			display: block;
			margin: 0 auto;
		}
	}
}
