.elementor-control-type-choose {

	&.elementor-label-block {

		.elementor-choices {
			width: 100%;
		}
	}
}

.elementor-choices {
	display: flex;
	height: $control-unit;
	line-height: $control-unit;
	text-align: center;
	border-spacing: 1px;
	border-radius: var(--e-a-border-radius);
	overflow: hidden;

	.elementor-choices-label {
		border-block-start: var(--e-a-border-bold);
		border-block-end: var(--e-a-border-bold);
		border-inline-start: var(--e-a-border-bold);
		border-inline-end: none;
		font-size: 12px;
		transition: var(--e-a-transition-hover);
		cursor: pointer;
		overflow: hidden;

		&:nth-child(2) {
			border-start-start-radius: var(--e-a-border-radius);
			border-end-start-radius: var(--e-a-border-radius);
		}

		&:last-child {
			border-inline-end: var(--e-a-border-bold);
			border-start-end-radius: var(--e-a-border-radius);
			border-end-end-radius: var(--e-a-border-radius);
		}
	}

	input {
		display: none;

		&:hover {
			+ .elementor-choices-label {
				background-color: var(--e-a-bg-hover);
			}
		}

		&.e-choose-placeholder + .elementor-choices-label,
		&:checked + .elementor-choices-label {
			background-color: var(--e-a-bg-active-bold);
			color: var(--e-a-color-txt-accent);
		}
	}
}

.elementor-label-inline {

	.elementor-choices {
		justify-content: flex-end;
	}
}
