.elementor-control-type-color {

	&.e-control-global {

		.e-global__popover-toggle ~ .pickr {
			border-radius: getValueByDirection(0 var(--e-a-border-radius) var(--e-a-border-radius) 0, var(--e-a-border-radius) 0 0 var(--e-a-border-radius));
			flex-shrink: 0;
			border-color: var(--e-a-border-color-bold);
		}
	}

	.elementor-control-title {
		flex-grow: 1;
	}

	.elementor-control-input-wrapper {
		display: flex;
		justify-content: flex-end;
	}
}
