.elementor-control-type-dimensions {

	.elementor-control-dimensions {
		display: flex;
	}

	li {
		flex: 1;
		transition: flex-grow .3s ease-in-out;

		input,
		.elementor-link-dimensions {
			display: block;
			text-align: center;
			width: 100%;
			height: $control-unit;
		}

		input {
			@include border-start(none);
			border-radius: 0;
			padding: 3px;

			&:focus {
				@include border-start(1px solid $editor-light);
				@include margin-start(-1px);
				width: calc(100% + 1px);

				+ .elementor-control-dimension-label {
					color: $editor-light;
				}
			}
		}

		.elementor-link-dimensions {
			border: 1px solid $editor-lightest;
			@include border-start(none);
			background-color: #fff;
			padding: 0;
			outline: none;
			border-radius: getValueByDirection(0 3px 3px 0, 3px 0 0 3px);
			cursor: pointer;
		}

		&:first-child {

			input {
				@include border-start(1px solid $editor-lightest);
				border-radius: getValueByDirection(3px 0 0 3px, 0 3px 3px 0);

				&:focus {
					border-color: $editor-light;
					@include margin-start(0);
					width: 100%;
				}
			}
		}

		&:last-child {
			max-width: $control-unit;
		}
	}

	&.e-units-custom {

		li {

			&.elementor-control-dimension:focus-within {
				flex: 2.5;
			}
		}
	}

	.elementor-control-dimension-label {
		display: block;
		text-align: center;
		color: $editor-lightest;
		font-size: 9px;
		text-transform: uppercase;
		padding-top: 5px;
	}

	.elementor-link-dimensions {

		&.unlinked {
			background-color: #fff;

			.elementor-linked {
				display: none;
			}
		}

		&:not(.unlinked) {
			background-color: $editor-light;
			border-color: $editor-light;

			.elementor-unlinked {
				display: none;
			}
		}

		.elementor-linked {
			color: #fff;
		}

	}
}
