.elementor-control-type-dimensions {

	.elementor-control-dimensions {
		overflow: hidden;
	}

	li {
		float: left;
		width: 20%;

		input,
		.elementor-link-dimensions {
			display: block;
			text-align: center;
			width: 100%;
			border-color: $editor-lightest;
			height: 27px;
		}

		input {
			border-left: none;
			border-radius: 0;
			padding: 4px 0;

			&:focus {
				border-left: solid 1px;
				border-color: $editor-light;
				margin-left: -1px;
				width: calc(100% + 1px);

				+ .elementor-control-dimension-label {
					color: $editor-light;
				}
			}
		}

		.elementor-link-dimensions {
			border: 1px solid $editor-lightest;
			border-left: none;
			background-color: #fff;
			padding: 0;
			outline: none;
			border-radius: 0 3px 3px 0;
			cursor: pointer;
		}

		&:first-child {

			input {
				border-left: 1px solid $editor-lightest;
				border-radius: 3px 0 0 3px;

				&:focus {
					border-color: $editor-light;
					margin-left: 0;
					width: 100%;
				}
			}
		}
	}

	.elementor-control-dimension-label {
		display: block;
		text-align: center;
		color: $editor-lightest;
		font-size: 9px;
		text-transform: uppercase;
		padding-top: 5px;
	}

	.elementor-link-dimensions {

		&.unlinked {
			background-color: #fff;

			.elementor-linked {
				display: none;
			}
		}

		&:not(.unlinked) {
			background-color: $editor-light;
			border-color: $editor-light;

			.elementor-unlinked {
				display: none;
			}
		}

		.elementor-linked {
			color: #fff;
		}

	}
}