@import '/dimensions';

.elementor-control-type-gap {

	.elementor-control-gaps {
		display: flex;
	}

	li {
		.elementor-link-gaps {
			display: block;
			text-align: center;
			width: 100%;
			height: $control-unit;
		}

		input {

			&:focus {

				+ .elementor-control-gap-label {
					color: var(--e-a-color-txt);
				}
			}
		}

		.elementor-link-gaps {
			border: var(--e-a-border-bold);
			@include border-start(none);
			background-color: var(--e-a-bg-default);
			padding: 0;
			outline: none;
			border-radius: getValueByDirection(0 var(--e-a-border-radius) var(--e-a-border-radius) 0, var(--e-a-border-radius) 0 0 var(--e-a-border-radius));
			cursor: pointer;
		}
	}

	&.e-units-custom {

		li {

			&.elementor-control-gap:focus-within {
				flex: 2.5;
			}
		}
	}

	.elementor-control-gap-label {
		color: var(--e-a-color-txt-disabled);
		display: block;
		text-align: center;
		font-size: 9px;
		padding-top: 5px;
	}

	.elementor-link-gaps {

		&.unlinked {
			background-color: var(--e-a-bg-default);

			.elementor-linked {
				display: none;
			}
		}
	}
}
