.elementor-control-type-icons {

	.elementor-control-media__preview {

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 70px;
			color: $editor-lighter;
		}
	}
}

.elementor-icon-manager-tabs {

	display: flex;
	height: 100%;

	.elementor-icon-manager__sidebar {
		width: 25%;
		min-width: 25%;
		background-color: #fbfcfd;
		padding-top: 50px;
	}
	.elementor-icon-manager-tabs__container {
		padding: 50px;
		width: 100%;
	}
}

.elementor-icon-manager-tabs-list {

	list-style: none;
	margin-bottom: 0;
	padding-left: 0;

	li {
		flex-direction: column;
		justify-content: center;
		font-size: 12px;
		min-width: 100px;
		padding: 12px;
		cursor: pointer;;
		border-right: 0;
		text-align: $start;

		&.active {
			background-color: #fff;
			border-left: 5px solid #71d7f7;
			color: #000;
			font-weight: bold;
			box-shadow: 0 6px 20px rgba( 0, 0, 0, 0.07 );
		}

		&last-of-type {
			border-right: 1px solid;
		}
	}
}

.elementor-icon-manager-tabs-content {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	height: 70vh;
	align-content: flex-start;
	overflow: scroll;

	li {
		flex-direction: column;
		justify-content: center;
		font-size: 30px;
		width: 100px;
		text-align: center;
		padding: 12px;
		height: 90px;
		margin: 7px;
		color: #000;
		background: #fff;

		&:hover,
		&.selected {
			color: #71d7f7;
			border: 1px solid;
		}

		span {
			display: block;
			font-size: 10px;
			text-overflow: ellipsis;
			margin-top: 12px;
			color: #8b8b8b;
		}
	}
}

#elementor-icons-manager {

	&-modal {

		.dialog-message {
			padding: 0;
		}

		.dialog-content {
			display: flex;
		}

		.dialog-buttons-wrapper {
			display: flex;
			justify-content: flex-end;
			padding: 5px;
			background: #fff;

			.dialog-insert_icon {
				padding: 12px 26px;
				font-size: 14px;
				color: #fff;
				width: 10%;
				background-color: #39b54a;
				text-transform: uppercase;
				border-radius: 3px;
				transition-property: background, color, box-shadow, opacity;
				transition-duration: .3s;
			}
		}
	}

	&__wrapper {
		display: flex;
	}

	&__sidebar {
		 width: 25%;
		 background-color: #fbfcfd; // @TODO: Needs to change
	}

	&__tab-links {
		margin-top: 50px;
	}

	&__main {
		padding: 50px 80px;
		width: 75%;
	}

	&__search {
		position: relative;

		input {
			padding: 8px 15px;
			background-color: #fff;
			border: none;

			&::placeholder {
				font-style: italic;
			}
		}

		i {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@include end(15px);
		}
	}

	&__tab {

		&__title {
			color: $editor-darker;
			font-size: 16px;
			font-weight: 500;
			text-align: $start;
			margin-top: 30px;
		}

		&__content {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-gap: 15px;
			height: 70vh;
			overflow: scroll;
			margin: 0px -15px;
			padding: 15px;
		}
	}
}

.elementor-icons-manager {

	&__tab-link {
		@include padding(15px, 0, 15px, 45px);
		font-size: 14px;
		color: $editor-dark;
		text-align: $start;
		cursor: pointer;
		position: relative;

		&.elementor-active {
			background-color: #fff;
			box-shadow: 0 6px 20px 0 rgba(0,0,0,0.1);

			&:after {
				content: '';
				position: absolute;
				height: 100%;
				width: 5px;
				top: 0;
				@include start(0);
				background-color: $editor-info;
			}
		}
	}

	&__tab__item {
		position: relative;
		height: 0;
		padding-bottom: 100%;
		background-color: #fff;
		box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);

		&:hover,
		&.elementor-selected {
			outline: 1px solid $editor-info;
		}

		&__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 1px;
		}

		&__icon {
			font-size: 23px;
			color: $editor-darkest;
		}

		&__name {
			color: $editor-lighter;
			font-size: 9px;
			padding-top: 5px;
			white-space: nowrap;
		}
	}

}