.elementor-control-type-icons {

	.elementor-control-media {

		&__preview {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;

			> * {
				@include absolute-center;
			}

			i {
				font-size: 70px;
				color: $editor-dark;
			}

			svg {
				height: 75%;
			}
		}

		&-area,
		&-upload-button {
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:100%;
		}
	}

	.elementor-control-icons--inline__svg {

		i.eicon-upload {
			font-size: 15px;
		}
	}
}
