.elementor-control-type-media {

	.elementor-control-input-wrapper {
		border: 1px solid;
		transition: all .2s ease-in-out;

		&:not(:hover) {
			border-color: $editor-lightest;

			.elementor-control-media-upload-button {
				background-color: $editor-lightest;
			}
		}

		&:hover {
			border-color: $editor-light;

			.elementor-control-media-upload-button {
				background-color: $editor-light;
			}
		}
	}

	.eicon-plus-circle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		color: #fff;
		font-size: 20px;
	}
}

.elementor-control-media {
	cursor: pointer;

	&.elementor-media-empty {

		.elementor-control-media-area {
			display: none;
		}
	}

	&:not(.elementor-media-empty) {

		.elementor-control-media-upload-button {
			display: none;
		}
	}

	&-image {
		height: 100%;
		background-size: cover;
		background-position: center;
	}

	&-area {
		background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
		background-size: 16px 16px;
		background-position: 0 0, 8px 8px;
		background-color: #f6f6f6;
		overflow: hidden;

		&:not(:hover) {

			.elementor-control-media__replace {
				box-shadow: none;
				bottom: -30px;
			}

			.elementor-control-media__remove {
				display: none;
			}
		}

		&:hover {

			.elementor-control-media-image {
				opacity: .9;
			}
		}

		.eicon-video-camera {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: rgba(255, 255, 255, 0.7);
			font-size: 21px;
		}
	}

	&__replace {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		padding: 9.5px;
		font-size: 11px;
		color: #fff;
		background-color: rgba($editor-dark, .6);
		transition: all .2s ease-in-out;
		box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
	}

	&__remove {
		position: absolute;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 10px;
		right: 10px;
		width: 22px;
		height: 22px;
		background-color: rgba(#fff, .8);
		color: $editor-light;
		border-radius: 3px;
	}
}