.elementor-control-type-order {

	.elementor-control-oreder-wrapper {
		display: flex;
	}

	input {
		display: none;

		&:checked {

			+ .elementor-control-order-label {
				transform: scale(1, -1);
			}
		}
	}

	select {
		border-radius: 3px 0 0 3px;

		&:not(:focus) {

			~ .elementor-control-order-label {
				border-color: $editor-lightest;
			}
		}

		&:focus {

			~ .elementor-control-order-label {
				border-color: $editor-light;
			}
		}
	}

	.elementor-control-order-label {
		position: relative;
		padding: 0;
		width: 40px;
		border: 1px solid;
		font-size: 10px;
		border-radius: 0 3px 3px 0;
		margin-left: -3px;
		background-color: #fff;
		cursor: pointer;

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}