.elementor-control-type-popup_starter {

	.elementor-control-input-wrapper {
		text-align: right;
	}

	.elementor-control-popup-starter-toggle {
		display: inline-block;
		width: 50px;
		text-align: center;
		padding: 6px 0;
		color: $editor-lightest;
		text-transform: uppercase;
		border-radius: 3px;
		border: 1px solid;
		cursor: pointer;
	}
}