.elementor-control-type-popover_toggle {

	input {
		display: none;
	}

	label {
		cursor: pointer;
	}

	.elementor-control-input-wrapper {
		direction: getInverseDirection();
	}

	.elementor-control-popover-toggle-toggle {

		&:checked {

			+ .elementor-control-popover-toggle-toggle-label {
				color: var(--e-a-color-txt-active);
				background-color: var(--e-a-bg-active-bold);
			}
		}

		&:not(:checked) {

			~ .elementor-control-popover-toggle-reset-label {
				display: none;
			}
		}
	}

	.elementor-control-popover-toggle-toggle-label {
		height: $control-unit;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--e-a-border-radius);
		border: var(--e-a-border-bold);
		transition: var(--e-a-transition-hover);

		&:hover {
			background-color: var(--e-a-bg-hover);
		}
	}

	.elementor-control-popover-toggle-reset-label {
		color: var(--e-a-color-txt-muted);
		margin-inline-start: 5px; //Considering the direction hack

		&:hover {
			color: var(--e-a-color-txt);
		}
	}
}

.elementor-controls-popover {

	&.e-controls-popover--typography {
		padding-top: 0;
	}
}

.e-control-global {

	.elementor-control-popover-toggle-toggle-label {
		border-radius: getValueByDirection(0 var(--e-a-border-radius) var(--e-a-border-radius) 0, var(--e-a-border-radius) 0 0 var(--e-a-border-radius));
		flex-shrink: 0;
	}
}
