//
// Repeater
//

.elementor-control-type-repeater {

	.elementor-control:not(.elementor-control-type-tab) {
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	&.elementor-repeater-has-minimum-rows {

		.elementor-repeater-tool-remove {
			display: none;
		}
	}

	.elementor-repeater-fields {
		margin: 10px 0;
	}

	.elementor-repeater-row-controls {
		border: var(--e-a-border-bold);
		border-top-width: 0;
		padding-top: 15px;

		&:not(.editable) {
			display: none;
		}
	}

	.elementor-repeater-row-tools {
		display: table;
		table-layout: fixed;
		width: 100%;
		background-color: var(--e-a-border-color-bold);
		height: 40px;
		border-spacing: 1px;
		transition: all .5s;

		&:hover {
			background-color: var(--e-a-border-color-focus);
		}

		> div {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;

			&:not(.elementor-repeater-row-handle-sortable) {
				background-color: var(--e-a-bg-default);
			}

			&:hover {
				background-color: var(--e-a-bg-hover);
			}
		}

		.elementor-repeater-row-item-title {
			text-align: $start;
			padding: 0 10px;
			font-size: var(--control-title-size);
			@include ellipsis;

			.eicon,
			i,
			svg {
				@include margin-end(5px);
			}

			img[src$="svg"] {
				width: 1em;
			}
		}

		.elementor-repeater-row-tool {
			width: 40px;
		}

		.elementor-repeater-row-handle-sortable {
			cursor: move;
			width: 10px;
			color: #fff;
		}
	}

	.elementor-button-wrapper {
		text-align: center;
		padding-top: 5px;
	}
}
