//
// Repeater
//

.elementor-control-type-repeater {

	.elementor-control:not(.elementor-control-type-tab) {
		padding-inline-start: 10px;
		padding-inline-end: 10px;
		padding-block-end: 10px;
	}

	&.elementor-repeater-has-minimum-rows {

		.elementor-repeater-tool-remove {
			display: none;
		}
	}

	.elementor-repeater-fields {
		margin: 10px 0;
	}

	.elementor-repeater-row-controls {
		border: var(--e-a-border-bold);
		border-block-start-width: 0;
		padding-block-start: 15px;

		&:not(.editable) {
			display: none;
		}
	}

	.elementor-repeater-row-tools {
		display: flex;
		align-items: center;
		width: 100%;
		border: 1px solid var(--e-a-border-color-bold);
		transition: var(--e-a-transition-hover);

		> button {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			border: none;
			background-color: transparent;
			color: currentColor;
			cursor: pointer;

			&:hover,
			&:focus {
				background-color: var(--e-a-bg-hover);
			}
		}

		.elementor-repeater-row-item-title {
			flex: 1;
			justify-content: flex-start;
			padding: 0 10px;
			font-size: var(--control-title-size);
			@include ellipsis;

			.eicon,
			i,
			svg {
				margin-inline-end: 5px;
			}

			img[src$="svg"] {
				width: 1em;
			}
		}

		.elementor-repeater-row-tool {
			width: 40px;
			border-inline-start: 1px solid var(--e-a-border-color-bold);
		}

		.elementor-repeater-row-handle-sortable {
			width: 10px;
			border-inline-end: 1px solid var(--e-a-border-color-bold);
			cursor: move;
		}
	}

	.elementor-button-wrapper {
		text-align: center;
		padding-block-start: 5px;
	}
}
