#elementor-controls {
	padding-top: 15px;
}

.elementor-control-type-section {
	padding: 0;

	&.e-open {
		padding-bottom: 10px;
	}

	+ .elementor-control {

		&:not(.elementor-control-type-section) {

			&:before {
				display: none;
			}
		}
	}

	&:not(:first-child):not(.elementor-control-type-section + .elementor-control-type-section) {
		margin-top: 25px;
	}
}
