
// Inner Tabs
.elementor-control-type-tabs {
	font-size: 0.8em;
	color: $e-gray-600;
	text-transform: uppercase;
	display: flex;
}

.elementor-control-type-tab {
	text-align: center;
	width: 100%;
	padding: 0;
	line-height: $control-unit - 2;
	border-top: var(--e-admin-border);
	border-bottom: var(--e-admin-border);
	@include border-end(var(--e-admin-border));
	cursor: pointer;

	&:first-child {
		@include border-start(var(--e-admin-border));
		@include _dimension_side_property(border-top, start, radius, 3px);
		@include _dimension_side_property(border-bottom, start, radius, 3px);
	}

	&:last-child {
		@include _dimension_side_property(border-top, end, radius, 3px);
		@include _dimension_side_property(border-bottom, end, radius, 3px);
	}

	&.e-tab-active {
		background-color: var(--e-admin-bg-active);;
		border-color: var(--e-admin-border-color);
	}
}

.elementor-tab-close {
	display: none !important;
}
