
// Inner Tabs
.elementor-control-type-tabs {
	display: flex;
	font-size: var(--control-title-size);
}

.elementor-control-type-tab {
	text-align: center;
	width: 100%;
	padding: 0;
	line-height: $control-unit - 2;
	border-top: var(--e-a-border-bold);
	border-bottom: var(--e-a-border-bold);
	@include border-end(var(--e-a-border-bold));
	transition: var(--e-a-transition-hover);
	cursor: pointer;

	&:first-child {
		@include border-start(var(--e-a-border-bold));
		@include _dimension_side_property(border-top, start, radius, var(--e-a-border-radius));
		@include _dimension_side_property(border-bottom, start, radius, var(--e-a-border-radius));
	}

	&:last-child {
		@include _dimension_side_property(border-top, end, radius, var(--e-a-border-radius));
		@include _dimension_side_property(border-bottom, end, radius, var(--e-a-border-radius));
	}

	&:hover {
		background-color: var(--e-a-bg-hover);
	}

	&.e-tab-active {
		background-color: var(--e-a-bg-active-bold);
		color: var(--e-a-color-txt-accent);
	}
}

.e-tab-close {
	display: none !important;
}
