
// Inner Tabs
.elementor-control-type-tabs {
	font-size: 0.8em;
	text-transform: uppercase;
	display: flex;
}

.elementor-control-type-tab {
	background: $theme-color-input-bg;
	text-align: center;
	width: 100%;
	padding: 0;
	line-height: $control-unit;
	border-top: 1px solid $theme-color-input-border;
	border-bottom: 1px solid $theme-color-input-border;
	@include border-end(1px solid $theme-color-input-border);
	cursor: pointer;

	&:first-child {
		@include border-start(1px solid $theme-color-input-border);
		@include _dimension_side_property(border-top, start, radius, 3px);
		@include _dimension_side_property(border-bottom, start, radius, 3px);
	}

	&:last-child {
		@include _dimension_side_property(border-top, end, radius, 3px);
		@include _dimension_side_property(border-bottom, end, radius, 3px);
	}

	&.elementor-tab-active {
		background-color: $theme-color-input-choose-bg-active;
		border-color: $theme-color-input-choose-bg-active;
		color: $theme-color-input-choose-text-active;
	}
}

.elementor-tab-close {
	display: none !important;
}
