.elementor-control-type-textarea,
.elementor-control-type-code {

	&.elementor-control-dynamic-value {

		.elementor-control-dynamic-switcher {
			border-radius: getValueByDirection(0 3px 3px 0, 3px 0 0 3px);
			@include border-start-property(width, 0);
		}
	}

	.elementor-control-dynamic-switcher {
		border-radius: 0px 3px;
	}

	&:not(.elementor-control-dynamic-value) {

		.elementor-control-dynamic-switcher {
			position: absolute;
			top: 0;
			@include end(0);
		}
	}

	.elementor-control-input-wrapper {
		position: relative;
	}

	textarea {
		display: block;
		font-family: inherit;

		&:focus {

			+ .elementor-control-dynamic-switcher {
				display: none;
			}
		}
	}
}
