// It's in body, not within the panel.
.elementor-control-url-autocomplete-menu {
	position: absolute;
	cursor: default;
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;

	.ui-menu-item {
		margin:0;
		padding: 0;
		zoom: 1;
		float: left;
		clear: left;
		width: 100%;

		a {
			text-decoration:none;
			display:block;
			padding:.2em .4em;
			line-height:1.5;
			zoom:1;
			color: #222222;
		}

		.ui-state-hover,
		.ui-state-active {
			font-weight: normal;
			margin: -1px;
		}
	}

	.elementor-control-url-autocomplete-item-info {
		float: $end;
	}

	.ui-state-hover,
	.ui-state-focus {
		border: 1px solid #999999;
		background: #dadada;
		font-weight: normal;
		color: #212121;
	}

	.ui-state-hover a, .ui-state-hover a:hover {
		color: #212121;
		text-decoration: none;
	}

	.ui-state-active {
		border: 1px solid #aaaaaa;
		background: #ffffff;
		font-weight: normal;
		color: #212121;
	}

	.ui-state-active a,
	.ui-state-active a:link,
	.ui-state-active a:visited {
		color: #212121;
		text-decoration: none;
	}
}

.elementor-control-type-url {

	.elementor-control-url-external-hide {

		.elementor-control-url-more {
			display: none;
		}
	}

	.elementor-control-url-external-show {

		.elementor-input,
		.elementor-input-style {
			padding-right: 46px;
			height: 26px;
		}
	}

	.elementor-control-input-wrapper {
		position: relative;
	}

	.elementor-control-url {

		&-more {
			position: absolute;
			top: 0;
			right: 0;
			height: 26px;
			width: 40px;
			border-left: 1px solid $editor-lightest;
			cursor: pointer;
			font-size: 10px;
			border-radius: 0 3px 3px 0;
			display: flex;
			align-items: center;
			justify-content: center;

			i {
				font-size: 13px;
			}

			&-input {
				display: none;

				&:not(:checked) {

					+ .elementor-control-url-more-options {
						display: none;
					}
				}
			}

			&-options {
				padding-top: 10px;
			}
		}

		&-option {
			padding: 5px;
			font-size: 12px;
		}
	}

	.elementor-control-url-autocomplete-spinner {
		display: none;
		position: absolute;
		width: 12px;
		height: 12px;
		top: 7px;
		@include end( 44px );
	}

	.elementor-input {
		direction: ltr; // Force LTR also in RTL languages

		&:not(:focus) {

			+ .elementor-control-url-more {
				border-color: $editor-lightest;
			}
		}

		&:focus {

			+ .elementor-control-url-more {
				border-color: $editor-light;
			}
		}
	}
}