@import "../../../helpers/variables.scss";

.elementor-control-type-visual_choice {
	width: 100%;
}

.elementor-visual-choice-choices {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(var(--elementor-visual-choice-columns), 1fr);
	text-align: center;
	border-radius: var(--e-a-border-radius);
	overflow: hidden;
}

.elementor-visual-choice {
	&-element {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
		width: auto;

		input {

			&.e-visual-choice-placeholder + .elementor-visual-choice-label,
			&:checked + .elementor-visual-choice-label,
			&:hover + .elementor-visual-choice-label {
				background-color: var(--e-a-bg-active-bold);
				opacity: 1;
			}

			&:not(:checked) + .elementor-visual-choice-label {
				opacity: 0.5;
			}
		}

		&-button {
			grid-column: span var(--elementor-visual-choice-columns);

			label {
				width: 100%;
			}
		}

		&-image {
			img {
				height: auto;
				width: 100%;
			}
		}
	}

	&-label {
		border: var(--e-a-border-bold);
		border-radius: var(--e-a-border-radius);
		font-size: 12px;
		transition: var(--e-a-transition-hover);
		cursor: pointer;
		overflow: hidden;
		padding: 8px;
	}
}

.elementor-label-inline {

	.elementor-visual-choice-choices {
		justify-content: flex-end;
	}
}

.tipsy-inner {
	white-space: pre-line;
}
