.elementor-control-type-wysiwyg {

	&.elementor-rich-editing-disabled {

		.wp-editor-container {
			margin-top: 10px;
		}
	}

	* {
		box-sizing: content-box;
	}

	.wp-editor-container {
		border: 1px solid $theme-color-wysiwyg-editor-bg;
	}

	.wp-editor-tabs {
		border: 1px solid $theme-color-wysiwyg-editor-border;
		border-bottom: none;
		border-radius: 3px 3px 0 0;
	}

	#insert-media-button {
		height: initial;
		line-height: 24px;
		font-size: 10px;
		background-color: $theme-color-wysiwyg-editor-bg;
		min-height: initial;
	}

	.ed_button {
		height: 22px;
		width: initial;
	}

	.wp-media-buttons-icon {
		height: 14px;
		margin: 0;

		&:before {
			font-size: 14px;
		}
	}

	.wp-switch-editor {
		position: static;
		border: none;
		margin: 0;
		color: $theme-color-wysiwyg-editor-text;
		font-size: 10px;
		padding: 3px 9px 4px;
	}

	.switch-html {
		border: solid $theme-color-wysiwyg-editor-border;
		border-width: 0 1px;
	}

	.html-active {

		.switch-tmce {
			background-color: transparent;
		}

		.switch-html {
			background-color: $theme-color-wysiwyg-editor-bg;
		}
	}

	.tmce-active {

		.switch-tmce {
			background-color: $theme-color-wysiwyg-editor-bg;
		}

		.switch-html {
			background-color: transparent;
		}
	}

	.mce-toolbar-grp, .quicktags-toolbar {
		background-color: $theme-color-wysiwyg-editor-bg;
	}

	.mce-toolbar-grp {

		> div {
			padding: 0 3px;
		}
	}

	.elementor-wp-editor {
		box-sizing: border-box;
	}

	.mce-ico {
		color: $theme-color-wysiwyg-editor-text;
		font-size: 16px;
	}

	.mce-btn-group .mce-btn {
		margin-right: 0;
		margin-left: 0;

		&:hover, &:active, &.mce-active {
			background-color: $theme-color-panel-front-bg;
			box-shadow: none;
		}
	}

	.mce-path {
		padding: 5px 10px;
	}

	.mce-path-item {
		font-size: 12px;
		color: $theme-color-wysiwyg-editor-text;
	}

	.elementor-control-dynamic-switcher {
		border: none;
	}

	.mce-toolbar .mce-btn-group .mce-btn.mce-listbox {
		border-radius: 3px;
		border-color: $theme-color-wysiwyg-editor-border;
		background: $theme-color-input-bg;

		button {
			color: $theme-color-input-text;
		}

		i.mce-caret {
			border-top-color: $theme-color-input-text;
			border-bottom-color: $theme-color-input-text;
		}

		&:focus {
			border-color: $theme-color-input-border-focus;
		}
	}

	.button {
		border-color: $theme-color-wysiwyg-editor-border;
		color: $theme-color-wysiwyg-editor-text;
		background-color: $theme-color-wysiwyg-editor-bg;

		&:hover {
			border-color: $theme-color-panel-highlight;
			color: $theme-color-panel-highlight;
		}
	}
}
