.elementor-control-type-wysiwyg {

	* {
		box-sizing: content-box;
	}

	.wp-editor-container {
		border: var(--e-a-border);
	}

	.wp-editor-tabs {
		border: var(--e-a-border-bold);
		border-bottom: none;
		border-start-start-radius: var(--e-a-border-radius);
		border-start-end-radius: var(--e-a-border-radius);
		border-end-end-radius: 0;
		border-end-start-radius: 0;

		button:hover {
			background-color: var(--e-a-bg-hover);
		}
	}

	#insert-media-button {
		height: initial;
		line-height: 24px;
		font-size: 10px;
		color: var(--e-a-color-txt);
		border-color: var(--e-a-border-color-bold);
		background-color: var(--e-a-bg-default);
		min-height: initial;
	}

	.ed_button {
		height: 22px;
		width: initial;
	}

	.wp-media-buttons-icon {
		height: 14px;
		margin: 0;

		&:before {
			font-size: 14px;
		}
	}

	.wp-switch-editor {
		position: static;
		border: none;
		margin: 0;
		color: var(--e-a-color-txt);
		font-size: 10px;
		padding: 3px 9px 4px;
	}

	.switch-html {
		border: solid var(--e-a-border-color-bold);
		border-width: 0 1px;
	}

	.html-active {

		.switch-tmce {
			background-color: transparent;
		}

		.switch-html {
			background-color: var(--e-a-bg-active);
		}
	}

	.tmce-active {

		.switch-tmce {
			background-color: var(--e-a-bg-active);
		}

		.switch-html {
			background-color: transparent;
		}
	}

	.mce-toolbar-grp,
	.quicktags-toolbar {
		background-color: var(--e-a-bg-default);
	}

	.mce-toolbar {

		.mce-btn-group .mce-btn.mce-listbox {
			background-color: var(--e-a-bg-default);

			button {
				color: var(--e-a-color-txt);
			}
		}
	}

	.mce-toolbar-grp {

		> div {
			padding: 0 3px;
		}
	}

	.elementor-wp-editor {
		box-sizing: border-box;
	}

	.mce-ico {
		color: var(--e-a-color-txt);
		font-size: 16px;
	}

	.mce-btn-group {

		.mce-btn {

			&:hover,
			&:active,
			&.mce-active {
				color: var(--e-a-color-txt-active);

				i {
					color: var(--e-a-color-txt-active);
				}
			}
		}
	}

	.mce-path {
		padding: 5px 10px;
	}

	.mce-path-item {
		font-size: 12px;
		color: var(--e-a-color-txt);
	}

	.mce-top-part {

		&:before {
			box-shadow: none;
		}
	}

	.elementor-control-dynamic-switcher {
		border: none;
	}
}
