.e-app-import {
	&__select-file {
		text-align: center;
		background: theme-colors(light);
		outline: 2px dashed tints(300);
		outline-offset: spacing(12) * -1;
		margin-bottom: spacing(24);
		padding: spacing(44);
	}
}
