#elementor-hidden-area {
	display: none;
}

#elementor-import-templates-trigger {
	cursor: pointer;
}

#elementor-import-templates-form {
	display: none;
	position: relative;
	height: 200px;
	border: 4px dashed $editor-light;
	margin: 15px 0;
}

#elementor-import-templates-form-inputs {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
