$editor-color-level-0:  var(--editor-color-level-0);
$editor-color-level-10: var(--editor-color-level-10);
$editor-color-level-20: var(--editor-color-level-20);
$editor-color-level-30: var(--editor-color-level-30);
$editor-color-level-40: var(--editor-color-level-40);
$editor-color-level-50: var(--editor-color-level-50);
$editor-color-level-60: var(--editor-color-level-60);
$editor-color-level-70: var(--editor-color-level-70);
$editor-color-level-80: var(--editor-color-level-80);
$editor-color-level-90: var(--editor-color-level-90);
$editor-color-level-100: var(--editor-color-level-100);

$theme-color-editor-accent: var(--theme-color-editor-accent);
$theme-color-panel-back-bg: var(--theme-color-panel-back-bg);
$theme-color-panel-front-bg: var(--theme-color-panel-front-bg);
$theme-color-panel-text: var(--theme-color-panel-text);
$theme-color-panel-highlight: var(--theme-color-panel-highlight);
$theme-color-panel-super-highlight: var(--theme-color-panel-super-highlight);
$theme-color-panel-neutral: var(--theme-color-panel-neutral);
$theme-color-panel-highlight-bg: var(--theme-color-panel-highlight-bg);

$theme-color-dialog-highlight: var(--theme-color-dialog-highlight);
$theme-color-dialog-header-border: var(--theme-color-dialog-header-border);
$theme-color-dialog-bg:  var(--theme-color-dialog-bg);
$theme-color-dialog-header-bg: var(--theme-color-dialog-header-bg);
$theme-color-loading-screen-bg: var(--theme-color-loading-screen-bg);
$theme-color-loading-loader-bg: var(--theme-color-loading-loader-bg);
$theme-color-loading-loader-boxes: var(--theme-color-loading-loader-boxes);
$theme-color-loading-text: var(--theme-color-loading-text);
$theme-color-loading-preview-bg: var(--theme-color-loading-preview-bg);
$theme-color-loading-preview-icon: var(--theme-color-loading-preview-icon);
$theme-color-panel-nav-bg: var(--theme-color-panel-nav-bg);
$theme-color-panel-search-bar-bg: var(--theme-color-panel-search-bar-bg);
$theme-color-panel-search-bar-bg-focus: var(--theme-color-panel-search-bar-bg-focus);
$theme-color-panel-search-bar-text: var(--theme-color-panel-search-bar-text);
$theme-color-panel-search-bar-placeholder: var(--theme-color-panel-search-bar-placeholder);
$theme-color-input-bg: var(--theme-color-input-bg);
$theme-color-input-bg-disabled: var(--theme-color-input-bg-disabled);
$theme-color-input-text: var(--theme-color-input-text);
$theme-color-input-placeholder: var(--theme-color-input-placeholder);
$theme-color-input-border: var(--theme-color-input-border);
$theme-color-input-border-focus: var(--theme-color-input-border-focus);
$theme-color-input-choose-bg: var(--theme-color-input-choose-bg);
$theme-color-input-choose-bg-active: var(--theme-color-input-choose-bg-active);
$theme-color-input-choose-text-active: var(--theme-color-input-choose-text-active);
$theme-color-responsive-switcher: var(--theme-color-responsive-switcher);
$theme-color-responsive-switchers-bg: var(--theme-color-responsive-switchers-bg);
$theme-color-responsive-switchers-bg-open: var(--theme-color-responsive-switchers-bg-open);
$theme-color-header-bg: var(--theme-color-header-bg);
$theme-color-header-text: var(--theme-color-header-text);
$theme-color-header-text-hover: var(--theme-color-header-text-hover);
$theme-color-footer-bg: var(--theme-color-footer-bg);
$theme-color-footer-icons: var(--theme-color-footer-icons);
$theme-color-footer-icons-hover: var(--theme-color-footer-icons-hover);
$theme-color-footer-icons-open: var(--theme-color-footer-icons-open);
$theme-color-widget-tile-bg: var(--theme-color-widget-tile-bg);
$theme-color-widget-tile-text: var(--theme-color-widget-tile-text);
$theme-color-widget-tile-lock: var(--theme-color-widget-tile-lock);
$theme-color-repeater-bg: var(--theme-color-repeater-bg);
$theme-color-repeater-border: var(--theme-color-repeater-border);
$theme-color-repeater-border-hover: var(--theme-color-repeater-border-hover);
$theme-color-media-control-plus_sign: var(--theme-color-media-control-plus-sign);
$theme-color-btn-default-bg: var(--theme-color-btn-default-bg);
$theme-color-btn-default-bg-hover: var(--theme-color-btn-default-bg-hover);
$theme-color-btn-default-text: var(--theme-color-btn-default-text);
$theme-color-btn-success-text: var(--theme-color-btn-success-text);
$theme-color-btn-update-disabled-bg: var(--theme-color-btn-update-disabled-bg);
$theme-color-btn-update-disabled-text: var(--theme-color-btn-update-disabled-text);
$theme-color-slider-track: var(--theme-color-slider-track);
$theme-color-slider-track-highlight: var(--theme-color-slider-track-highlight);
$theme-color-slider-handle: var(--theme-color-slider-handle);
$theme-color-switch-handle: var(--theme-color-switch-handle);
$theme-color-dimensions-label: var(--theme-color-dimensions-label);
$theme-color-panel-menu-item-bg: var(--theme-color-panel-menu-item-bg);
$theme-color-panel-menu-item-bg-hover: var(--theme-color-panel-menu-item-bg-hover);
$theme-color-panel-menu-item-icon: var(--theme-color-panel-menu-item-icon);
$theme-color-panel-menu-item-text: var(--theme-color-panel-menu-item-text);
$theme-color-footer-submenu-bg: var(--theme-color-footer-submenu-bg);
$theme-color-footer-submenu-item-bg: var(--theme-color-footer-submenu-item-bg);
$theme-color-footer-submenu-item-bg-hover: var(--theme-color-footer-submenu-item-bg-hover);
$theme-color-footer-submenu-item-text: var(--theme-color-footer-submenu-item-text);
$theme-color-footer-submenu-item-icon: var(--theme-color-footer-submenu-item-icon);
$theme-color-footer-submenu-item-description: var(--theme-color-footer-submenu-item-description);
$theme-color-footer-submenu-item-disabled: var(--theme-color-footer-submenu-item-disabled);
$theme-color-units-choices: var(--theme-color-units-choices);
$theme-color-units-choices-active: var(--theme-color-units-choices-active);
$theme-color-popover-bg: var(--theme-color-popover-bg);
$theme-color-select2-highlighted-option-bg: var(--theme-color-select2-highlighted-option-bg);
$theme-color-select2-multiple-selection-choice-bg: var(--theme-color-select2-multiple-selection-choice-bg);
$theme-color-navigator-header-footer-bg: var(--theme-color-navigator-header-footer-bg);
$theme-color-navigator-item-active-bg: var(--theme-color-navigator-item-active-bg);
$theme-color-navigator-item-active-text: var(--theme-color-navigator-item-active-text);
$theme-color-wysiwyg-editor-bg: var(--theme-color-wysiwyg-editor-bg);
$theme-color-wysiwyg-editor-text: var(--theme-color-wysiwyg-editor-text);
$theme-color-wysiwyg-editor-border: var(--theme-color-wysiwyg-editor-border);

$theme-gradient-navigation-tab: var(--theme-gradient-navigation-tab);
$theme-gradient-modal-tab: var(--theme-gradient-modal-tab);
$theme-color-checkersboard-bg: var(--theme-color-checkersboard-bg);
$theme-color-checkersboard-front: var(--theme-color-checkersboard-front);
$theme-checkersboard-pattern:
	linear-gradient(45deg, $theme-color-checkersboard-front 25%, transparent 0, transparent 75%, $theme-color-checkersboard-front 0, $theme-color-checkersboard-front),
	linear-gradient(45deg, $theme-color-checkersboard-front 25%, transparent 0, transparent 75%, $theme-color-checkersboard-front 0, $theme-color-checkersboard-front);
