@import "light";

$editor-color-level-0:  var(--editor-color-level-0);
$editor-color-level-10: var(--editor-color-level-10);
$editor-color-level-20: var(--editor-color-level-20);
$editor-color-level-30: var(--editor-color-level-30);
$editor-color-level-40: var(--editor-color-level-40);
$editor-color-level-50: var(--editor-color-level-50);
$editor-color-level-60: var(--editor-color-level-60);
$editor-color-level-70: var(--editor-color-level-70);
$editor-color-level-80: var(--editor-color-level-80);
$editor-color-level-90: var(--editor-color-level-90);
$editor-color-level-100: var(--editor-color-level-100);

$theme-color-editor-accent: var(--theme-color-editor-accent);
$theme-color-panel-back-bg: var(--theme-color-panel-back-bg);
$theme-color-panel-front-bg: var(--theme-color-panel-front-bg);
$theme-color-panel-text: var(--theme-color-panel-text);
$theme-color-panel-highlight: var(--theme-color-panel-highlight);
$theme-color-panel-nav-bg: var(--theme-color-panel-nav-bg);
$theme-color-panel-search-bar-bg: var(--theme-color-panel-search-bar-bg);
$theme-color-panel-search-bar-bg-focus: var(--theme-color-panel-search-bar-bg-focus);
$theme-color-panel-search-bar-text: var(--theme-color-panel-search-bar-text);
$theme-color-panel-search-bar-placeholder: var(--theme-color-panel-search-bar-placeholder);
$theme-color-panel-search-bar: var(--theme-color-panel-search-bar);
$theme-color-input-bg: var(--theme-color-input-bg);
$theme-color-input-bg-disabled: var(--theme-color-input-bg-disabled);
$theme-color-input-text: var(--theme-color-input-text);
$theme-color-input-placeholder: var(--theme-color-input-placeholder);
$theme-color-input-border: var(--theme-color-input-border);
$theme-color-input-border-focus: var(--theme-color-input-border-focus);
$theme-color-input-choose-bg: var(--theme-color-input-choose-bg);
$theme-color-input-choose-bg-active: var(--theme-color-input-choose-bg-active);
$theme-color-input-choose-text-active: var(--theme-color-input-choose-text-active);
$theme-color-responsive-switcher: var(--theme-color-responsive-switcher);
$theme-color-responsive-switchers-bg: var(--theme-color-responsive-switchers-bg);
$theme-color-responsive-switchers-bg-open: var(--theme-color-responsive-switchers-bg-open);
$theme-color-header-bg: var(--theme-color-header-bg);
$theme-color-header-text: var(--theme-color-header-text);
$theme-color-header-text-hover: var(--theme-color-header-text-hover);
$theme-color-footer-bg: var(--theme-color-footer-bg);
$theme-color-widget-tile-bg: var(--theme-color-widget-tile-bg);
$theme-color-repeater-bg: var(--theme-color-repeater-bg);
$theme-color-repeater-border: var(--theme-color-repeater-border);
$theme-color-repeater-border-hover: var(--theme-color-repeater-border-hover);
$theme-color-btn-default-bg: var(--theme-color-btn-default-bg);
$theme-color-btn-default-bg-hover: var(--theme-color-btn-default-bg-hover);
$theme-color-btn-default-text: var(--theme-color-btn-default-text);
$theme-color-btn-success-text: var(--theme-color-btn-success-text);
$theme-color-btn-update-disabled-bg: var(--theme-color-btn-update-disabled-bg);
$theme-color-btn-update-disabled-text: var(--theme-color-btn-update-disabled-text);
$theme-color-slider-handle: var(--theme-color-slider-handle);
$theme-color-switch-handle: var(--theme-color-switch-handle);
$theme-color-dimensions-label: var(--theme-color-dimensions-label);
$theme-color-panel-menu-item-bg: var(--theme-color-panel-menu-item-bg);
$theme-color-panel-menu-item-bg-hover: var(--theme-color-panel-menu-item-bg-hover);
$theme-color-panel-menu-item-icon: var(--theme-color-panel-menu-item-icon);
$theme-color-panel-menu-item-text: var(--theme-color-panel-menu-item-text);
$theme-color-units-choices: var(--theme-color-units-choices);
$theme-color-units-choices-active: var(--theme-color-units-choices-active);
$theme-color-popover-bg: var(--theme-color-popover-bg);
$theme-color-select2-highlighted-option-bg: var(--theme-color-select2-highlighted-option-bg);

$theme-gradient-navigation-tab: var(--theme-gradient-navigation-tab);
$theme-color-checkersboard-bg: var(--theme-color-checkersboard-bg);
$theme-color-checkersboard-front: var(--theme-color-checkersboard-front);
