@import "../../helpers/variables";

.elementor-slideshow {
	&__counter {
		color: currentColor;
		font-size: .75em;
		width: max-content;
	}

	&__header, &__footer {
		position: absolute;
		left: 0;
		width: 100%;
		padding: 15px 20px;
		transition: 0.3s;
	}

	&__footer {
		color: var(--lightbox-text-color);
	}

	&__header {
		color: var(--lightbox-ui-color);
		display: flex;
		flex-direction: row-reverse;
		font-size: var(--lightbox-header-icons-size);
		padding-inline-start: 1em;
		padding-inline-end: 2.6em;
		top: 0;
		align-items: center;
		z-index: 10;

		> i,
		> svg {
			cursor: pointer;
			padding: .25em;
			margin: 0 .35em;
		}

		> i {
			font-size: inherit;

			&:hover {
				color: var(--lightbox-ui-color-hover);
			}
		}

		> svg {
			box-sizing: content-box;
			fill: var(--lightbox-ui-color);
			height: 1em;
			width: 1em;

			&:hover {
				fill: var(--lightbox-ui-color-hover);
			}
		}

		.elementor-slideshow__counter {
			margin-inline-end: auto;
		}

		.elementor-icon-share {
			z-index: 5;
		}
	}

	&__share-menu {
		background-color: rgba(0, 0, 0, 0);
		width: 0;
		height: 0;
		position: absolute;
		overflow: hidden;
		transition: background-color 400ms;

		// This is to overcome a specificity override by Theme Style
		.elementor-slideshow__share-links a {
			color: $gray-darkest;
		}
	}

	&__share-links {
		display: block;
		position: absolute;
		min-width: 200px;
		inset-inline-end: 2.8em;
		top: 3em;
		background-color: #fff;
		border-radius: 3px;
		padding: 14px 20px;
		transform: scale(0);
		opacity: 0;
		transform-origin: 90% 10%;
		transition: all 250ms 100ms;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

		a {
			text-align: start;
			color: $gray-dark;
			font-size: 12px;
			line-height: 2.5;
			display: block;
			opacity: 0;
			transition: opacity 500ms 100ms;

			&:hover {
				color: #000;
			}

			i,
			svg {
				margin-inline-end: 0.75em;
			}

			i {
				font-size: 1.25em;
			}

			svg {
				height: 1.25em;
				width: 1.25em;
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 1px;
			inset-inline-end: 0.5em;
			border: .45em solid;
			border-color: transparent transparent #fff transparent;
			transform: translateY(-100%) scaleX(0.7);
		}
	}

	&__footer {
		bottom: 0;
		z-index: 5;
		position: fixed;
	}

	&__title, &__description {
		margin: 0;
	}

	&__title {
		font-size: 16px;
		font-weight: bold;
	}

	&__description {
		font-size: 14px;
	}

	&--ui-hidden {
		.elementor-slideshow {
			&__header, &__footer {
				opacity: 0;
				pointer-events: none;
			}
		}

		.elementor-swiper-button {
			&-prev, &-next {
				opacity: 0;
			}
		}
	}

	&--fullscreen-mode {
		.elementor-video-container {
			width: 100%;
		}
	}

	&--zoom-mode {
		.elementor-slideshow {
			&__header, &__footer {
				background-color: rgba(0, 0, 0, 0.5);
			}
		}

		.elementor-swiper-button {
			&-prev, &-next {
				opacity: 0;
				pointer-events: none;
			}
		}
	}

	&--share-mode {

		.elementor-slideshow {

			&__share-menu {
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				opacity: 1;
				cursor: default;
				background-color: rgba(0, 0, 0, 0.5);
			}

			&__share-links {
				transform: scale(1);

				&, & a {
					opacity: 1;
				}

				.eicon {

					&-twitter {
						color: $twitter;
					}

					&-facebook {
						color: $facebook;
					}

					&-pinterest {
						color: $pinterest;
					}

					&-download-bold {
						color: $editor-light;
					}
				}

				// SVG Icons.
				.e-eicon {

					&-twitter {
						fill: $twitter;
					}

					&-facebook {
						fill: $facebook;
					}

					&-pinterest {
						fill: $pinterest;
					}

					&-download-bold {
						fill: $editor-light;
					}
				}
			}
		}

		.eicon-share-arrow {
			z-index: 2;
		}
	}
}
