@import "../../helpers/variables";
@import "../breakpoints/breakpoints";

.elementor-lightbox {
	--lightbox-ui-color: #{$slides_gui};
	--lightbox-ui-color-hover: #fff;
	--lightbox-text-color: var(--lightbox-ui-color);
	--lightbox-header-icons-size: 20px;
	--lightbox-navigation-icons-size: 25px;

	&:not(.elementor-popup-modal) {

		.dialog-header,
		.dialog-message {
			text-align: center;
		}
	}

	.dialog {

		&-header {
			display: none;
		}

		&-widget-content {
			background: none;
			box-shadow: none;
			width: 100%;
			height: 100%;
		}

		&-message {
			animation-duration: .3s; // Open lightbox transition
			height: 100%;

			&.dialog-lightbox-message {
				padding: 0;
			}
		}

		&-lightbox-close-button {
			cursor: pointer;
			position: absolute;
			font-size: var(--lightbox-header-icons-size);
			#{$end}: 0.75em;
			margin-top: 13px;
			padding: .25em;
			z-index: 2;
			line-height: 1;
			display: flex;

			svg {
				height: 1em;
				width: 1em;
			}
		}
	}

	.dialog-lightbox-close-button,
	.elementor-swiper-button {
		color: var(--lightbox-ui-color);
		transition: $transition-hover;
		opacity: 1;

		svg {
			fill: var(--lightbox-ui-color);
		}

		&:hover {
			color:  var(--lightbox-ui-color-hover);

			svg {
				fill: var(--lightbox-ui-color-hover);
			}
		}
	}

	.swiper,
	.swiper-container {
		height: 100%;
	}

	.elementor-lightbox-item {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 70px;
		box-sizing: border-box;
		height: 100%;
		margin: auto;

		@media (max-width: $screen-mobile-max) {
			padding: 70px 0;
		}
	}

	.elementor-lightbox-image {
		max-height: 100%;
		user-select: none;

		// Override theme style settings
		&, &:hover {
			opacity: 1;
			filter: none;
			border: none;
		}
	}

	.elementor-lightbox-image {
		box-shadow: 0 0 30px rgba( 0,0,0,0.3 ), 0 0 8px -5px rgba( 0,0,0,0.3 );
		border-radius: 2px;
	}

	.elementor-video-container {
		width: 100%;
		@include absolute-center;

		.elementor-video-square,
		.elementor-video-landscape,
		.elementor-video-portrait {
			width: 100%;
			height: 100%;
			margin: auto;

			iframe {
				border: 0;
				background-color: #000;
			}

			iframe,
			video {
				aspect-ratio: var( --video-aspect-ratio, 1.77777 ); // Default value 1.77777 = 16/9
			}

			// BC for browsers that don't support `aspect-ratio` (like Safari 14.1)
			@supports not ( aspect-ratio: 1 / 1 ) {

				& {
					position: relative;
					overflow: hidden;
					height: 0;
					padding-bottom: calc( 100% / var( --video-aspect-ratio, 1.77777 ) );

					iframe,
					video {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
					}
				}
			}
		}

		.elementor-video-square {

			iframe,
			video {
				width: min( 90vh, 90vw );
				height: min( 90vh, 90vw );
			}
		}

		.elementor-video-landscape {

			iframe,
			video {
				width: 100%;
				max-height: 90vh;
			}
		}

		.elementor-video-portrait {

			iframe,
			video {
				height: 100%;
				max-width: 90vw;
			}
		}

		@media (min-width: $screen-tablet-next) {

			.elementor-video-landscape {
				width: 85vw;
				max-height: 85vh;
			}

			.elementor-video-portrait {
				height: 85vh;
				max-width: 85vw;
			}
		}

		@media (max-width: $screen-tablet-max) {

			.elementor-video-landscape {
				width: 95vw;
				max-height: 95vh;
			}

			.elementor-video-portrait {
				height: 95vh;
				max-width: 95vw;
			}
		}
	}

	.swiper,
	.swiper-container {

		.elementor-swiper-button {

			&-prev {
				left: 0;
			}

			&-next {
				right: 0;
			}
		}

		.swiper-pagination-fraction {
			width: max-content;
			color: $white;
		}
	}

	.elementor-swiper-button {
		&:focus {
			outline-width: 1px;
		}

		&-prev, &-next {
			height: 100%;
			display: flex;
			align-items: center;
			width: 15%;
			justify-content: center;
			font-size: var(--lightbox-navigation-icons-size);
		}

		@media (max-width: $screen-mobile-max) {
			&:focus {
				outline: none;
			}

			&-prev, &-next {
				width: 20%;
				i {
					padding: 10px;
					background-color: rgba(0, 0, 0, 0.5);
				}
			}

			&-prev {
				left: 0;
				justify-content: flex-start;
			}

			&-next {
				right: 0;
				justify-content: flex-end;
			}
		}
	}
}
