$import-export-title-border-bottom-color: tints(300);
$import-export-title-border-bottom-dark-color: dark-tints(500);
$import-export-title-primary-color: tints(600);
$import-export-title-primary-dark-color: dark-tints(100);
$import-export-title-secondary-color: tints(500);
$import-export-title-secondary-dark-color: dark-tints(100);

$root: import-export-title;

.#{$root} {
	--import-export-title-border-bottom-color: #{$import-export-title-border-bottom-color};
	--import-export-title-primary-color: #{$import-export-title-primary-color};
	--import-export-title-secondary-color: #{$import-export-title-secondary-color};

	border-bottom: 1px solid var(--import-export-title-border-bottom-color);
	margin-bottom: spacing(44);

	&__primary {
		color: var(--import-export-title-primary-color);
	}

	&__secondary {
		color: var(--import-export-title-secondary-color);
		margin-top: spacing(20);
	}

}

.eps-theme-dark {
	.#{$root} {
		--import-export-title-border-bottom-color: #{$import-export-title-border-bottom-dark-color};
		--import-export-title-primary-color: #{$import-export-title-primary-dark-color};
		--import-export-title-secondary-color: #{$import-export-title-secondary-dark-color};
	}
}
