$import-success-list-item-border-color: tints(300);
$import-success-list-item-dark-border-color: dark-tints(500);

:root {
	--import-success-list-item-border: #{$import-success-list-item-border-color};
}

.eps-theme-dark {
	--import-success-list-item-border: #{$import-success-list-item-dark-border-color};
}

$import-success-list-item-border: 1px solid var(--import-success-list-item-border);

.import-success-list {
	&__item {
		border-top: $import-success-list-item-border;

		&:last-child {
			border-bottom: $import-success-list-item-border;
		}
	}

	&__title {
		margin-inline-end: spacing(5);
	}
}
