$export-complete-secondary-sentence-color: tints(500);
$export-complete-secondary-sentence-dark-color: dark-tints(200);

$root: e-app-export-complete;

.#{$root} {
	--export-complete-secondary-sentence-color: #{$export-complete-secondary-sentence-color};

	height: 100%;

	&__main-image {
		margin-bottom: spacing(30);
	}

	&__secondary-sentence {
		color: var(--export-complete-secondary-sentence-color);
	}

	&__learn-more {
		margin-bottom: spacing(44);
	}
}

.eps-theme-dark {
	.#{$root} {
		--export-complete-secondary-sentence-color: #{$export-complete-secondary-sentence-dark-color};
	}
}
