$export-complete-message-line-color: tints(500);
$export-complete-message-line-dark-color: dark-tints(200);

$root: e-app-export-complete;

.#{$root} {
	--export-complete-message-line-color: #{$export-complete-message-line-color};

	height: 100%;

	&__main-image {
		margin-bottom: spacing(44);
	}

	&__message-title {
		font-weight: normal;
		margin-bottom: spacing(24);
	}

	&__message-line {
		color: var(--export-complete-message-line-color);
		margin-bottom: spacing(10);
	}

	&__learn-more {
		margin-bottom: spacing(44);
	}
}

.eps-theme-dark {
	.#{$root} {
		--export-complete-message-line-color: #{$export-complete-message-line-dark-color};
	}
}
