@import "assets/dev/scss/helpers/variables.scss";

body.elementor_page_elementor-marketplace {

	& {
		background: var(--e-a-color-white);
	}
}

.e-a-marketplace {

	p {
		margin-top: 0;
		font-size: 14px;
	}

	.e-a-list {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat( auto-fill, minmax(380px, 3fr) );
	}

	.e-a-page-title {
		margin: 30px auto;

		h2 {
			font-size: 28px;
			margin: 0;
			line-height: 1.6;
		}
	}

	.e-a-item {
		border: var(--e-a-border);
		border-radius: var(--e-a-border-radius);
		display: flex;
		padding: 20px 24px;
		flex-direction: column;
		align-items: flex-start;
		transition: var(--e-a-transition-hover);

		&:hover {
			border-color: var(--e-a-border-color-bold);
		}
	}

	.e-a-img {
		border: var(--e-a-border);
		border-radius: var(--e-a-border-radius);
		width: 70px;
		display: flex;
		margin-bottom: 16px;
	}

	.e-a-title,
	.e-a-author {
		margin: 0;
		line-height: 1.6;
	}

	.e-a-desc {
		flex-grow: 1;
	}

	.e-a-actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 100%;
		margin-top: 20px;
	}
}


