$kit-content-list-title-color: tints(700);
$kit-content-list-title-dark-color: dark-tints(100);
$kit-content-list-description-color: tints(600);
$kit-content-list-description-dark-color: dark-tints(200);
$kit-content-list-locked-features-color: tints(500);
$kit-content-list-locked-features-dark-color: dark-tints(300);

$root: kit-content-list;

.#{$root} {
	--kit-content-list-title-color: #{$kit-content-list-title-color};
	--kit-content-list-description-color: #{$kit-content-list-description-color};
	--kit-content-list-locked-features-color: #{$kit-content-list-locked-features-color};

	&__checkbox {
		flex-shrink: 0;
		margin-inline-end: spacing(12);
	}

	&__title {
		color: var(--kit-content-list-title-color);
	}

	&__description {
		color: var(--kit-content-list-description-color);
	}

	&__pro-indication {
		margin-inline-start: spacing(20);
		color: theme-colors(cta);
	}

	&__locked-features {
		color: var(--kit-content-list-locked-features-color);
	}

	&__notice {
		margin-top: spacing(16);
	}

	.kit-content-list-grid {
		&--expand {
			flex-grow: 1;
		}
	}
}

.eps-theme-dark {
	.#{$root} {
		--kit-content-list-title-color: #{$kit-content-list-title-dark-color};
		--kit-content-list-description-color: #{$kit-content-list-description-dark-color};
		--kit-content-list-locked-features-color: #{$kit-content-list-locked-features-dark-color};
	}
}
