//Variables
@import "../helpers/variables";
@import "../helpers/mixins";

$theme-dark-gray-darkest: #34383C;
$theme-dark-gray-darker: #475158;
$theme-dark-gray-dark: #404349;
$theme-dark-gray: #4C4F56;
$theme-dark-gray-light: #64666A;
$theme-dark-gray-lighter: #7D7E82;
$theme-dark-gray-lightest: #B4B5B7;

$theme-dark-light: #E0E1E3;
$theme-dark-dark: #26292C;
$theme-dark-accent: #71D7F7;
$theme-dark-success: $editor-success;
$theme-dark-danger: #F84343;

$theme-dark-gradient-start: $theme-dark-gray-darkest;
$theme-dark-gradient-end: $theme-dark-gray;
$theme-dark-panel-bottom-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

//General
:root {
	color-scheme: dark;
}

body {
	color: $theme-dark-light;

	//Color Picker
	.pcr-app {
		background-color: $theme-dark-gray;
		box-shadow: 0 .15em 1.5em 0 rgba(0,0,0,.5), 0 0 1em 0 rgba(0,0,0,.05);

		.pcr-swatches > button {

			&:after {
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
			}
		}

		.pcr-clear {
			color: $theme-dark-light;
			background-color: $theme-dark-gray-light;
		}

		.pcr-interaction {

			.pcr-result {
				color: $theme-dark-light;
				border-color: $theme-dark-gray-light;

				&:focus {
					border-color: $theme-dark-gray-lighter;
				}
			}
		}
	}

	.pcr-swatch {

		&.pcr-active {

			&:after {
				box-shadow: 0 0 0 1px #71d7f7, inset 0 0 0 1px $theme-dark-gray;
			}

			~ .elementor-color-picker__add-swatch {
				background-color: $theme-dark-gray-light;

				i {
					color: $theme-dark-light;
				}
			}
		}
	}
}

.pickr {
	background-color: $theme-dark-gray-darkest;
	border-color: $theme-dark-gray-light;
}

.e-control-color {

	&--no-value {

		.pcr-button {
			border-color: $theme-dark-gray-light;
		}
	}
}

// Globals
.e-global {

	&__popover {

		&-toggle {
			border-color: $theme-dark-gray-light;
			background-color: $theme-dark-gray-darkest;
		}

		&-container {
			background-color: $theme-dark-gray;
			color: $theme-dark-light;
		}

		&-title {
			border-bottom-color: $theme-dark-gray-dark;
		}
	}

	&__color-title,
	&__manage-button,
	&__popover-title {
		color: $theme-dark-light;
	}

	&__manage-button {
		border-top-color: $theme-dark-gray-dark;
	}

	&__preview-item {

		&:hover {
			background-color: $theme-dark-gray-dark;
		}
	}
}

// Global Settings
.elementor-control {

	&-type-global-style-repeater {

		.elementor-button-wrapper {
			border-top-color: $theme-dark-gray-darkest;
		}

		.elementor-repeater-fields {

			&.ui-sortable-helper {
				background-color: $theme-dark-gray-dark;
			}
		}
	}
}

// Elementor control tools - Typography popover header and Color Picker Header
.e-control-tool {
	background-color: $theme-dark-gray-darkest;
	border-color: $theme-dark-light;

	i {
		color: $theme-dark-light;
	}
}

//Loader
#elementor-loading {
	background-color: $theme-dark-gray-darkest;
}

.elementor-loader {
	background-color: $theme-dark-gray;
}

//Safemode Toast
.elementor-safe-mode-toast {
	background-color: $theme-dark-gray;

	header h2,
	.elementor-toast-content {
		color: $theme-dark-light;
	}
}
.elementor-units-choices {
	input {
		&.e-units-placeholder + label {
			color: $theme-dark-gray-lightest;
		}
	}
}

input, select, textarea, .elementor-input-style {
	color: $theme-dark-light;
	background-color: $theme-dark-gray-darkest;

	&:not(:focus) {
		border-color: $theme-dark-gray-light;
	}

	&:focus {
		border-color: $theme-dark-gray-lighter;
	}

	&[disabled] {
		background-color: $theme-dark-gray;
	}

	&::placeholder {
		color: $theme-dark-gray-light;
	}
}

select {
	background-color: $theme-dark-gray-darkest;
}

.elementor-button {

	&.elementor-button-default {
		background-color: $theme-dark-gray-light;

		&:hover {
			background-color: $theme-dark-gray;
		}
	}

	&.elementor-button-success[disabled] {
		background-color: $theme-dark-gray-light;
	}

	&.elementor-button-danger {
		background-color: $theme-dark-danger;
	}
}

//Mode Switcher
#elementor-mode-switcher {
	background-color: $theme-dark-gray-darkest;

	&:hover {
		background-color: $theme-dark-accent;
	}
}

//Dynamic Tags
.elementor-control-dynamic-switcher {
	background-color: $theme-dark-gray-darkest;
	border-color: $theme-dark-gray-light;
	color: $theme-dark-light;
}

.elementor-tags-list {
	background-color: $theme-dark-gray;
	border-color: $theme-dark-gray-light;

	&__group-title {
		color: $theme-dark-gray-lightest;
	}

	&__item {

		&:hover {
			background-color: $theme-dark-gray-dark;
		}
	}
}

.elementor-tag-settings-popup {
	background-color: $theme-dark-gray-darkest;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);

	&:before {
		border-bottom-color: $theme-dark-gray-dark;
	}
}

//Panel
.elementor-panel {
	background-color: $theme-dark-gray-darkest;

	a {
		color: $theme-dark-accent;
	}

	//Header
	#elementor-panel-header {
		background-color: $theme-dark-dark;
	}

	.elementor-panel-navigation {
		background-color: $theme-dark-gray-dark;

		.elementor-panel-navigation-tab {

			&.elementor-active {
				background-image: linear-gradient(to bottom, $theme-dark-gradient-start, $theme-dark-gradient-end);
				border-bottom-color: $theme-dark-accent;
			}

			a {
				color: $theme-dark-light;
			}
		}
	}

	#elementor-panel-elements-search-area {
		background-color: $theme-dark-gray-darkest;
	}

	#elementor-panel-elements-search-input {
		background-color: $theme-dark-gray;
		color: $theme-dark-light;

		&:focus {
			background-color: $theme-dark-gray-dark;
			color: $theme-dark-light;

			+ i {
				color: $theme-dark-light;
			}
		}
	}

	.elementor-element {
		background-color: $theme-dark-gray-dark;

		.title,
		.icon {
			color: $theme-dark-light;
		}

		&:hover {

			.title,
			.icon {
				color: $theme-dark-accent;
			}
		}

		& > .eicon-lock {
			color: $theme-dark-gray-light;
		}
	}

	//WordPress Widgets
	.widget-inside {
		background-color: inherit;
	}

	//Footer
	#elementor-panel-footer {
		background-color: $theme-dark-dark;
	}

	.elementor-panel-footer-sub-menu-wrapper {
		background-color: $theme-dark-gray-darkest;
		border-top: 1px solid $theme-dark-gray;
	}

	.elementor-panel-footer-sub-menu-item {
		background-color: $theme-dark-gray-dark;

		&:hover,
		&.active {
			background-color: $theme-dark-gray;
		}
	}

	#elementor-panel-footer-saver-options {
		border-color: $theme-dark-dark;
	}

	//Popover Control
	.elementor-controls-popover {
		background-color: $theme-dark-gray;
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);

		&:before {
			border-bottom-color: $theme-dark-gray;
		}

		.elementor-control-responsive-switchers {

			&__holder {
				background-color: $theme-dark-gray;
			}
		}
	}

	//Alert
	.elementor-panel-alert {
		background-color: $theme-dark-gray;

		&.elementor-panel-alert- {

			&info {
				background-color: $theme-dark-gray;
			}
		}
	}

	//Help Link
	#elementor-panel__editor__help__link {
		color: $theme-dark-gray-lightest;

		&:hover {
			color: $theme-dark-light;
		}
	}

	//Global Widget
	#elementor-panel-global-widget > * {
		background-color: $theme-dark-gray-dark;
	}

	#elementor-global-widget-locked-unlink {
		border-top-color: $theme-dark-gray-darkest;
	}

	//Schemes
	.elementor-panel-scheme-color-system-items {
		background-color: $theme-dark-gray-darkest;
		border-color: $theme-dark-gray-light;
	}

	//Menu
	.elementor-panel-menu-item {

		background-color: $theme-dark-gray-dark;

		&:hover {
			background-color: $theme-dark-gray;
		}

		a {
			color: $theme-dark-light;
		}

		&-icon {
			color: $theme-dark-gray-lightest;
		}
	}
}

//Controls
.elementor-control {
	background-color: $theme-dark-gray-dark;

	&.elementor-control-separator-before:before,
	&.elementor-control-separator-after:after {
		background-color: $theme-dark-gray-darkest;
	}

	&.elementor-control-type-divider {

		.elementor-control-content {
			background-color: $theme-dark-gray-dark;
			border-color: $theme-dark-gray-darkest;
		}
	}

	&.elementor-control-type-select {

		.elementor-control-input-wrapper {

			select {
				&.e-select-placeholder {
					color: $theme-dark-gray-light;
				}
			}
		}
	}
}

.elementor-control-responsive-switchers {

	&__holder {
		background-color: $theme-dark-gray-dark;
	}

	&.elementor-responsive-switchers-open {

		.elementor-control-responsive-switchers__holder {
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
		}
	}
}

a.elementor-responsive-switcher {
	color: $theme-dark-light;

	&:hover {
		color: $theme-dark-accent;
	}
}

@each $device in $devices {
	.elementor-device-#{ $device } {
		.elementor-responsive-switchers-open:not(:hover) {
			.elementor-responsive-switcher.elementor-responsive-switcher-#{ $device } {
				color: $theme-dark-accent;
			}
		}
	}
}

.elementor-control-type-popover_toggle {

	.elementor-control-popover-toggle-toggle-label {
		background-color: $theme-dark-gray-darkest;
		border-color: $theme-dark-gray-light;
	}

	.elementor-control-responsive-switchers__holder {
		background-color: $theme-dark-gray;
	}
}

//Media Control
.elementor-control-media-upload-button {
	background-color: $theme-dark-gray-darkest;
}

.elementor-control-media__remove {
	background-color: $theme-dark-gray-light;
	color: $theme-dark-gray-lightest;
}

.elementor-control-media {

	.elementor-control-input-wrapper {
		border-color: $theme-dark-gray-light;
	}

	.eicon-plus-circle {
		color: $theme-dark-light;
	}

	.elementor-control-media__tool {
		background-color: $theme-dark-gray-lighter;
	}

	&__file {

		&,
		&__controls {
			border-color: $theme-dark-gray-light;
		}
	}
}

.elementor-control-media-area, .pcr-app[data-theme=monolith] .pcr-color-palette, .pcr-button {
	@include checkers-background(12px, $theme-dark-gray-darkest);
	background-color: $theme-dark-gray-light;
}

.elementor-control-type-icons {

	.elementor-control-media__preview i {
		color: $theme-dark-gray-lightest;
	}
}

.elementor-control-type-media {

	.elementor-control-media-area {
		.elementor-control-media__preview {
			background-color: $theme-dark-gray-darkest;
		}
	}
}

.elementor-control-type-gallery {

	.elementor-control-gallery-clear {

		&:hover {
			color: $theme-dark-danger;
		}
	}

	.elementor-control-gallery-add {
		background-color: $theme-dark-gray-darkest;

		&:hover {
			background-color: $theme-dark-gray;
		}
	}

	.elementor-control-gallery-status,
	.elementor-control-media__content {
		border-color: $theme-dark-gray-light;
	}

	&.elementor-control-dynamic {

		.elementor-control-gallery-clear {
			border-color: $theme-dark-gray-light;
		}
	}

	.elementor-control-dynamic-switcher {
		border-bottom: 1px solid $theme-dark-gray-light;
		border-left: 1px solid $theme-dark-gray-light;
		border-radius: 0 3px 0 0;
	}
}

body.rtl .elementor-control-type-gallery {
	.elementor-control-dynamic-switcher {
		border-right: 1px solid $theme-dark-gray-light;
		border-left: none;
	}
}

//URL Control
.elementor-control-type-url {

	.elementor-control-url {

		&-more {
			background-color: $theme-dark-gray-darkest;
			border-color: $theme-dark-gray-light;
		}

		&-option {

			&-input {
				border-color: $theme-dark-gray-light;

				&:checked {
					background-color: $theme-dark-gray-light;
				}
			}
		}
	}

	.elementor-input {

		&:focus ~ div {
			border-color: $theme-dark-gray-lighter;
		}
	}
}

.elementor-control-type-wysiwyg {

	.wp-editor-container {
		border-color: $theme-dark-gray-light;
	}

	.mce-menubtn button,
	.mce-ico,
	.wp-switch-editor {
		color: $theme-dark-light;
	}

	.wp-editor-tabs {
		border-color: $theme-dark-gray-lighter;
	}

	.switch-html {
		border-color: $theme-dark-gray-lighter;
	}

	#insert-media-button,
	.html-active .switch-html,
	.mce-toolbar-grp,
	.quicktags-toolbar,
	.tmce-active .switch-tmce {
		background-color: $theme-dark-gray-light;
	}

	#insert-media-button {
		color: $theme-dark-light;
		border-color: $theme-dark-gray-lighter;
	}

	.mce-toolbar .mce-btn-group .mce-btn.mce-active,
	.mce-toolbar .mce-btn-group .mce-btn:active,
	.qt-dfw.active,
	.mce-toolbar .mce-btn-group .mce-btn:hover,
	.mce-toolbar .mce-btn-group .mce-btn:focus,
	.qt-dfw:hover,
	.qt-dfw:focus {
		background-color: $theme-dark-gray-dark;
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 rgba(0, 0, 0, 0.08);
	}

	.mce-toolbar .mce-btn-group .mce-btn.mce-listbox {
		background-color: $theme-dark-gray-dark;
		border-color: $theme-dark-gray-lighter;
		border-radius: 3px;
	}

	.quicktags-toolbar {
		border-color: $theme-dark-gray-lighter;
	}

	.wp-core-ui .button,
	.wp-core-ui .button-secondary {
		background-color: $theme-dark-gray;
		color: $theme-dark-light;
		border-color: $theme-dark-gray-lighter;

		&:hover {
			background-color: $theme-dark-gray-dark;
			border-color: $theme-dark-gray-lighter;
		}
	}
}

//Choices Control
.elementor-choices {

	.elementor-choices-label {

		&,
		&:last-child {
			background-color: $theme-dark-gray-darkest;
			border-color: $theme-dark-gray-light;
		}
	}

	& input {

		&.e-choose-placeholder + .elementor-choices-label {
			background-color: $theme-dark-gray-light;
			border-color: $theme-dark-gray-light;
		}

		&:checked + .elementor-choices-label {
			background-color: $theme-dark-gray-lighter;
			border-color: $theme-dark-gray-lighter;
		}
	}
}

//Repeater Control
.elementor-control-type-repeater {

	.elementor-repeater-row-tools {
		background-color: $theme-dark-gray-light;
		color: $theme-dark-light;

		&:hover {
			background-color: $theme-dark-gray-lighter;
		}

		> div:not(.elementor-repeater-row-handle-sortable) {
			background-color: $theme-dark-gray-dark;

			&:hover {
				background-color: lighten($theme-dark-gray-dark, 2.5%);
			}
		}
	}

	.elementor-repeater-row--form-step {
		.elementor-repeater-row-tools {
			&:hover {
				background-color: $theme-dark-gray-lighter;
			}

			div:not(.elementor-repeater-row-handle-sortable) {
				background-color: $theme-dark-gray;

				&:hover {
					background-color: $theme-dark-gray-light;
				}
			}
		}
	}

	.elementor-repeater-row-controls {
		border-color: $theme-dark-gray-light;
	}
}

//Tab Control
.elementor-control-type-tab {
	background-color: $theme-dark-gray-darkest;
	border-color: $theme-dark-gray-light;

	&:first-child {
		border-color: $theme-dark-gray-light;
	}

	&.elementor-tab-active {
		background-color: $theme-dark-gray-lighter;
		border-color: $theme-dark-gray-lighter;
	}
}

//Slider Control
.elementor-control-type-slider--handles-range {

	.elementor-slider {

		.noUi-handle {

			&:after {
				background-color: $theme-dark-light;
			}
		}
	}
}

.elementor-slider {
	background-color: $theme-dark-gray-light;

	.noUi-handle {
		background-color: $theme-dark-light;
	}
}


//Dimensions Control
.elementor-control-type-dimensions {

	li {

		input,
		.elementor-link-dimensions {
			border-color: $theme-dark-gray-light;
		}

		input {

			&:focus {
				border-color: $theme-dark-gray-lighter;
			}
		}

		&:first-child {

			input {
				border-color: $theme-dark-gray-light;

				&:focus {
					border-color: $theme-dark-gray-lighter;
				}
			}
		}
	}

	.elementor-link-dimensions.unlinked {
		background-color: $theme-dark-gray-darkest;
		color: $theme-dark-light;
	}

	.elementor-link-dimensions:not(.unlinked) {
		background-color: $theme-dark-gray-lighter;
		border-color: $theme-dark-gray-lighter;
	}
}

//Switcher Control
.elementor-control-type-switcher {

	.elementor-switch-label {
		background-color: $theme-dark-gray-darkest;

		&:before {
			text-shadow: 0 1px rgba(0, 0, 0, 0.8);
		}
	}

	.elementor-switch-input:checked ~ .elementor-switch-label {
		background-color: $theme-dark-accent;
	}

	.elementor-switch-handle {
		background-color: $theme-dark-light;
	}
}


//Structure Control
.elementor-control-type-structure {

	.elementor-control-structure-preset {

		path {
			fill: $theme-dark-gray-darkest;
		}
	}

	.elementor-control-structure-presets {

		input:checked + .elementor-control-structure-preset {

			path {
				fill: $theme-dark-gray-light;
			}
		}
	}

	.elementor-control-structure-reset {
		border-top-color: $theme-dark-gray-darkest;
	}
}

//Section Control
.elementor-panel-heading {
	border-bottom-color: $theme-dark-gray-darkest;

	&-toggle,
	&-title {
		color: $theme-dark-light;
	}
}

//Select2 Control
.select2-container {

	.e-select2-placeholder {
		color: $theme-dark-gray-light;
	}

	&:not(.select2-container--open):not(.select2-container--focus) {

		.select2-selection--single,
		.select2-selection--multiple {
			background-color: $theme-dark-gray-darkest;
			color: $theme-dark-light;
			border-color: $theme-dark-gray-light;
		}
	}

	&:not(.select2-container--all-selected) .select2-selection--multiple .select2-search--inline::before {
		background-color: $theme-dark-gray;
		color: $theme-dark-gray-lightest;
	}

	&.select2-container--open,
	&.select2-container--focus {

		.select2-selection--single,
		.select2-selection--multiple {
			border-color: $theme-dark-gray-lighter;
		}
	}

	&.select2-container--default {

		.select2-selection--single {

			.select2-selection__rendered {
				color: $theme-dark-light;
			}
		}
	}

	&.select2-container--default {

		.select2-selection--single {
			background-color: $theme-dark-gray-darkest;
			border-color: $theme-dark-gray;
		}

		.select2-selection--multiple {
			background-color: $theme-dark-gray-darkest;

			.select2-selection__choice {
				background-color: $theme-dark-gray;
				border-color: $theme-dark-gray;

				&__remove {
					color: $theme-dark-gray-lightest;
				}
			}
		}

		.select2-results__option--highlighted[aria-selected] {
			background-color: $theme-dark-gray;
			color: $theme-dark-light;
		}
	}

	.select2-results__option[aria-selected=true] {
		color: #FFF;
	}

	.select2-dropdown {
		background-color: $theme-dark-gray-darkest;
		border-color: $theme-dark-gray-lighter;
	}

}

// Widget Pro Promotion Tooltip
#elementor-element--promotion__dialog {
	background-color: $theme-dark-gray-dark;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);

	&:after {
		border-right-color: $theme-dark-gray-dark;
	}

	.dialog {

		&-header {
			color: $theme-dark-light;
			border-bottom-color: $theme-dark-gray-light;

			.eicon-pro-icon {
				color: $theme-dark-gray-lightest;
			}

			.eicon-close {
				color: $theme-dark-gray-lightest;
			}
		}
	}
}

body.rtl #elementor-element--promotion__dialog {

	&:after {
		border-left-color: $theme-dark-gray-darker;
	}
}


//Library Modal
.dialog-type-lightbox {
	background-color: rgba(0, 0, 0, 0.65);

	.dialog-header {
		color: $theme-dark-light;
	}

	.dialog-widget-content {
		background-color: $theme-dark-gray-darkest;
	}

	.dialog-buttons-wrapper > .dialog-button {
		color: $theme-dark-light;

		&.dialog-ok {
			color: $theme-dark-danger;
		}

		&:hover {
			background-color: $theme-dark-gray;
		}
	}

	.dialog-buttons-wrapper,
	.dialog-button:first-child {
		border-color: $theme-dark-gray;
	}

	.elementor-publish__tab {

		&__title {
			color: $theme-dark-light;
		}

		&.elementor-active {
			background-color: $theme-dark-gray-dark;
		}
	}

	.elementor-popup__display-settings_controls_group {
		background-color: $theme-dark-gray-dark;

		&__icon {
			border-color: $theme-dark-gray-darkest;
		}
	}
}

.elementor-templates-modal {

	.dialog-header {
		background-color: $theme-dark-dark;
		color: $theme-dark-light;
		box-shadow: $theme-dark-panel-bottom-shadow;
	}

	&__header__close--normal {
		border-color: $theme-dark-gray-lighter;
	}

	&__sidebar {
		background-color: transparent;
	}

	&__content {
		box-shadow: 0 0 13px inset rgba(0, 0, 0, 0.08);
	}

	.dialog-buttons-wrapper {
		background-color: $theme-dark-gray-darkest;
	}
}

#elementor-template-library-header-menu {
	color: $theme-dark-light;
}

.elementor-template-library-menu-item {

	&.elementor-active {
		background-image: linear-gradient(to bottom, $theme-dark-dark, $theme-dark-gradient-start);
		border-color: $theme-dark-accent;
	}
}

#elementor-template-library-filter {
	border-color: $theme-dark-gray-darkest;

	&-text {
		background-color: transparent;

		&:focus + i {
			color: $theme-dark-light;
		}
	}
}

label.elementor-template-library-order-label,
#elementor-template-library-filter-my-favorites {

	&:hover {
		color: $theme-dark-gray-lightest;
	}
}

#elementor-template-library-templates[data-template-source="remote"] {

	.elementor-template-library-order-input:checked + .elementor-template-library-order-label {
		color: $theme-dark-gray-lighter;
	}
}

#elementor-template-library-filter-my-favorites:checked + #elementor-template-library-filter-my-favorites-label {
	color: $theme-dark-gray-lighter;
}

#elementor-template-library-header-preview-back {
	border-color: $theme-dark-gray;
}

.elementor-template-library-template-remote {
	background-color: $theme-dark-gray-dark;

	.elementor-template-library-template-name {
		color: $theme-dark-light;
	}

	&:not(.elementor-template-library-template-page) {

		.elementor-template-library-template-footer {
			background-color: $theme-dark-gray-dark;
		}
	}
}

.elementor-template-library-template-local {
	background-color: $theme-dark-gray;

	&:hover {
		background-color: $theme-dark-gray-light;
	}

	.elementor-template-library-template-controls {

		> div {

			&:not(:hover),
			& a {
				color: $theme-dark-gray-lightest;
			}
		}
	}

	.elementor-template-library-template-more {
		background-color: $theme-dark-gray;

		&:before {
			border-bottom-color: $theme-dark-gray;
		}

		&:hover,
		a:hover {
			color: $theme-dark-light;
		}

		.elementor-template-library-template-delete {

			&:hover {
				color: $theme-dark-danger;
			}
		}
	}
}

#elementor-template-library-save-template-name {
	background-color: $theme-dark-dark;
}

#elementor-template-library-import-form {
	background-color: transparent;

	&:hover {
		background-color: rgba(0, 0, 0, 0.3);
	}
}

// Theme Builder
#elementor-publish {

	#elementor-theme-builder-conditions {

		select,
		input {
			background-color: $theme-dark-gray;
			color: $theme-dark-light;
		}

		.elementor-control-type[data-elementor-condition-type="include"],
		.elementor-control-type[data-elementor-condition-type="exclude"] {
			background-color: $theme-dark-gray-light;

			select,
			option {
				background-color: $theme-dark-gray-dark;
				color: $theme-dark-light;
			}
		}

		.elementor-control-type-select {

			.elementor-control-input-wrapper:after {
				color: inherit;
			}
		}

		.elementor-theme-builder-conditions-repeater-row-controls {

			.elementor-control:not(:first-child) {


			}

			.select2-dropdown,
			.select2-container--default .select2-selection--single {
				background-color: $theme-dark-gray;
			}
		}
	}
}

#elementor-toast {

	.e-toast-button {
		background-color: $theme-dark-gray;
	}
}


//Icon Modal
#elementor-icons-manager__search input {
	background-color: $theme-dark-gray-dark;
	transition: $transition-hover;

	&:focus {
		background-color: $theme-dark-gray;
	}
}

.elementor-icons-manager__tab {

	&__item {
		background-color: $theme-dark-gray-dark;

		&__icon,
		&__name {
			color: $theme-dark-light;
		}
	}

	&-link {
		color: $theme-dark-light;

		&.elementor-active {
			background-color: $theme-dark-gray-dark;
		}
	}
}

//Context Menu (Right Click)
.elementor-context-menu {
	background-color: $theme-dark-gray-dark;
	border-color: $theme-dark-gray-darkest;

	.elementor-context-menu-list__group:not(:last-child) {
		border-color: $theme-dark-gray-darkest;
	}
}

.elementor-context-menu-list__item {

	&:not(.elementor-context-menu-list__item--disabled):hover {
		background-color: $theme-dark-gray;
	}

	&.elementor-context-menu-list__item-delete:not(.elementor-context-menu-list__item--disabled):hover {
		background-color: $theme-dark-danger;
	}
}

//Navigator
#elementor-navigator {
	background-color: $theme-dark-gray-darkest;

	&__header,
	&__inner,
	&__footer {
		background-color: $theme-dark-gray-darkest;
	}

	&__header,
	&__footer {
		border-color: $theme-dark-gray;
	}

	&__header {

		#elementor-navigator__close,
		#elementor-navigator__toggle-all {
			color: $theme-dark-gray-lightest;
		}
	}
}

.elementor-navigator {

	&__element-section {
		background-color: transparent;
	}

	&__item,
	&__elements {
		background-color: $theme-dark-gray-dark;
		border-color: $theme-dark-gray-darkest;

		&:hover {
			background-color: lighten($theme-dark-gray-dark, 5%);
		}
	}

	&__element {

		&__indicator {
			color: $theme-dark-light;
			background-color: $theme-dark-gray;

			&:hover {
				color: $theme-dark-gray-lightest;
			}

			&:not(:first-child) {
				border-color: $theme-dark-gray-darkest;
			}
		}

		&-column {
			background-color: lighten($theme-dark-gray-dark, 3%);
		}

		&:not(.elementor-navigator__element--hidden) > .elementor-navigator__item.elementor-editing {
			background-color: lighten($theme-dark-gray-dark, 5%);

			.elementor-navigator__element__toggle {
				color: $theme-dark-accent;
			}
		}
	}

	&__elements {

		.elementor-empty-view {
			border-color: $theme-dark-gray-darkest;
		}

		.ui-sortable-helper {
			background-color: $theme-dark-gray-darkest;
			border-color: $theme-dark-gray-darkest;
		}

		.ui-sortable-placeholder {
			background-color: $theme-dark-gray-darkest;
		}
	}
}

//History
#elementor-panel-history:not(.elementor-empty),
.elementor-panel .elementor-panel-box,
.elementor-panel .elementor-panel-scheme-buttons {
	background-color: $theme-dark-gray-dark;
}

.elementor-revision-item__wrapper,
.elementor-history-item {
	background-color: $theme-dark-gray;
	border-color: $theme-dark-gray;

	&:hover {
		background-color: $theme-dark-gray-light;
	}
}

//Finder
#elementor-finder {

	&__search__input {
		color: $theme-dark-light;
	}
}

.elementor-finder {

	&__results__category__title {
		background-color: $theme-dark-dark;
		color: $theme-dark-light;
	}

	&__results__item__title {
		color: $theme-dark-light;
	}

	&__results__item {

		&.elementor-active {
			background-color: $theme-dark-gray-dark;
		}
	}
}

//Hotkeys Modal (Shortcuts)
.elementor-hotkeys {

	&__list {
		background-color: $theme-dark-gray;
	}

	&__item {
		border-color: $theme-dark-gray-light;

		&--shortcut span {
			background-color: $theme-dark-gray-light;
		}
	}
}

//WP Media Modal
.media-modal {
	color-scheme: light;
	color: $editor-dark;
}

//WP Link Modal
#wp-link {
	color: $editor-dark;

	input,
	select,
	textarea,
	.elementor-input-style {
		color: $editor-dark;
		background-color: transparent;

		&:not(:focus) {
			border-color: $editor-lightest;
		}

		&:focus {
			border-color: $editor-light;
		}
	}
}

.ui-autocomplete {
	color: $editor-dark;
}

.elementor-color-picker__tool {
	background-color: $theme-dark-light;

	i {
		color: $theme-dark-gray-light;
	}
}

// Nerd box icons
.elementor-nerd-box-icon {
	filter: contrast(0.8);
}
